@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
* {
	background:#1a1d23;
    font-family: 'Inter', sans-serif;
	font-size: 15px;
	font-weight: 400;
}

span {
	line-height: 1px;
}

.keyword {
	color:#ff595e;
}


.functionName {
	color:#3bcec9;
}
.defFunction {
	color:#5bc0eb;
}
.parameter {
	color:#00cc66;
}

.gray {
	color:#ebebeb;
}

.atomo {
	color:#e0a500;
}

.gray2 {
	color:#b8b8b8;
}
.comment {
	color:#525252;
}

.tabulador {
	margin-left: 20px;
	padding-left: 4px;
	border-left: 1px solid #3d3d3d;
}