 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Display</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>use</span> <span class='gray2'>GenServer</span>
  
    <span class='gray2'>alias</span> <span class='defFunction'>IO.</span><span class='gray2'>ANSI</span>
    <span class='gray2'>alias</span> <span class='defFunction'>Display.</span><span class='gray2'>{</span><span class='gray2'>ProgressBar</span><span class='gray'>,</span> <span class='gray2'>Intro</span><span class='gray'>,</span> <span class='gray2'>Failure</span><span class='gray'>,</span> <span class='gray2'>Notifications</span><span class='gray2'>}</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>start</span><span class='functionName'>_</span><span class='functionName'>link</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>GenServer.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>clear</span><span class='gray2'>_</span><span class='gray2'>screen:</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>name:</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>init</span><span style='color:white;'>(</span><span class='parameter'><i>args</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>args</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>disable</span><span class='functionName'>_</span><span class='functionName'>clear</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>GenServer.</span><span class='gray2'>cast</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span style='color:yellow;'>:disable</span><span class='gray2'>_</span><span class='gray2'>clear</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>handle</span><span class='functionName'>_</span><span class='functionName'>cast</span><span style='color:white;'>(</span><span class='atomo'>:disable</span><span class='parameter'><i>_</i></span><span class='parameter'><i>clear</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:noreply</span><span class='gray'>,</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>state</span> <span class='gray2'>|</span> <span class='gray2'>clear</span><span class='gray2'>_</span><span class='gray2'>screen:</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray2'>}</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>handle</span><span class='functionName'>_</span><span class='functionName'>cast</span><span style='color:white;'>(</span><span class='atomo'>:clear</span><span class='parameter'><i>_</i></span><span class='parameter'><i>screen</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>=</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>%</i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>clear</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>screen:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>true</i></span><span class='parameter'><i>}</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>IO.</span><span class='gray2'>puts</span><span class='gray2'>(</span><span class='defFunction'>ANSI.</span><span class='gray2'>clear</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='defFunction'>IO.</span><span class='gray2'>puts</span><span class='gray2'>(</span><span class='defFunction'>ANSI.</span><span class='gray2'>home</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span style='color:yellow;'>:noreply</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>handle</span><span class='functionName'>_</span><span class='functionName'>cast</span><span style='color:white;'>(</span><span class='atomo'>:clear</span><span class='parameter'><i>_</i></span><span class='parameter'><i>screen</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:noreply</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>invalid</span><span class='functionName'>_</span><span class='functionName'>koan</span><span style='color:white;'>(</span><span class='parameter'><i>koan</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>modules</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Notifications.</span><span class='gray2'>invalid</span><span class='gray2'>_</span><span class='gray2'>koan</span><span class='gray2'>(</span><span class='gray2'>koan</span><span class='gray'>,</span> <span class='gray2'>modules</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>IO.</span><span class='gray2'>puts</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>show</span><span class='functionName'>_</span><span class='functionName'>failure</span><span style='color:white;'>(</span><span class='parameter'><i>failure</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>format</span><span class='gray2'>(</span><span class='gray2'>failure</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>IO.</span><span class='gray2'>puts</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>show</span><span class='functionName'>_</span><span class='functionName'>compile</span><span class='functionName'>_</span><span class='functionName'>error</span><span style='color:white;'>(</span><span class='parameter'><i>error</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Failure.</span><span class='gray2'>show</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>error</span><span class='gray2'>(</span><span class='gray2'>error</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>IO.</span><span class='gray2'>puts</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>congratulate</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Notifications.</span><span class='gray2'>congratulate</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>IO.</span><span class='gray2'>puts</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>clear</span><span class='functionName'>_</span><span class='functionName'>screen</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>GenServer.</span><span class='gray2'>cast</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span style='color:yellow;'>:clear</span><span class='gray2'>_</span><span class='gray2'>screen</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>format</span><span class='gray2'>(</span><span class='gray2'>failure</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
      <span class='comment'>#</span><span class='gray2'>{</span><span class='defFunction'>Intro.</span><span class='gray2'>intro</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='defFunction'>Tracker.</span><span class='gray2'>visited</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>}</span>
      <span class='gray2'>Now</span> <span class='gray2'>meditate</span> <span class='gray2'>upon</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>format</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span><span class='gray2'>}</span>
      <span class='comment'>#</span><span class='gray2'>{</span><span class='defFunction'>ProgressBar.</span><span class='gray2'>progress</span><span class='gray2'>_</span><span class='gray2'>bar</span><span class='gray2'>(</span><span class='defFunction'>Tracker.</span><span class='gray2'>summarize</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>}</span>
      <span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span>
      <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray2'>}</span>
      <span class='comment'>#</span><span class='gray2'>{</span><span class='defFunction'>Failure.</span><span class='gray2'>format</span><span class='gray2'>_</span><span class='gray2'>failure</span><span class='gray2'>(</span><span class='gray2'>failure</span><span class='gray2'>)</span><span class='gray2'>}</span>
      <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>format</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Module.</span><span class='gray2'>split</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>last</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>