 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Blanks</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>replace</span><span style='color:white;'>(</span><span class='parameter'><i>ast</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>replacements</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>replacements</span> <span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>replacements</span><span class='gray2'>)</span>

    <span class='gray2'>ast</span>
    <span class='keyword'>|></span> <span class='defFunction'>Macro.</span><span class='gray2'>prewalk</span><span class='gray2'>(</span><span class='gray2'>replacements</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>pre</span><span class='gray2'>/</span><span class='gray2'>2</span><span class='gray2'>)</span>
    <span class='keyword'>|></span> <span class='gray2'>elem</span><span class='gray2'>(</span><span class='gray2'>0</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>pre</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:assert</span><span class='gray2'>_</span><span class='gray2'>receive</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>args</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>replacements</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>{</span><span class='gray2'>args</span><span class='gray'>,</span> <span class='gray2'>replacements</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Macro.</span><span class='gray2'>prewalk</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray'>,</span> <span class='gray2'>replacements</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>pre</span><span class='gray2'>_</span><span class='gray2'>pin</span><span class='gray2'>/</span><span class='gray2'>2</span><span class='gray2'>)</span>
    <span class='gray2'>{</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>elem</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>args</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>replacements</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>pre</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>first</span> <span class='gray2'>|</span> <span class='gray2'>remainder</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>{</span><span class='gray2'>first</span><span class='gray'>,</span> <span class='gray2'>remainder</span><span class='gray2'>}</span>
  <span class='gray2'>defp</span> <span class='gray2'>pre</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>{</span><span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray2'>}</span>

  <span class='gray2'>defp</span> <span class='gray2'>pre</span><span class='gray2'>_</span><span class='gray2'>pin</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>first</span> <span class='gray2'>|</span> <span class='gray2'>remainder</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>{</span><span class='gray2'>pin</span><span class='gray2'>(</span><span class='gray2'>first</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>remainder</span><span class='gray2'>}</span>
  <span class='gray2'>defp</span> <span class='gray2'>pre</span><span class='gray2'>_</span><span class='gray2'>pin</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>{</span><span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray2'>}</span>

  <span class='gray2'>defp</span> <span class='gray2'>pin</span><span class='gray2'>(</span><span class='gray2'>var</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>tuple</span><span class='gray2'>(</span><span class='gray2'>var</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>quote</span> <span class='keyword'>do</span>
      <span class='gray2'>^</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>var</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>pin</span><span class='gray2'>(</span><span class='gray2'>var</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>var</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>count</span><span style='color:white;'>(</span><span class='parameter'><i>ast</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>ast</span>
    <span class='keyword'>|></span> <span class='defFunction'>Macro.</span><span class='gray2'>prewalk</span><span class='gray2'>(</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>count</span><span class='gray2'>/</span><span class='gray2'>2</span><span class='gray2'>)</span>
    <span class='keyword'>|></span> <span class='gray2'>elem</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>count</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>{</span><span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>acc</span> <span class='gray2'>+</span> <span class='gray2'>1</span><span class='gray2'>}</span>
  <span class='gray2'>defp</span> <span class='gray2'>count</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>{</span><span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray2'>}</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>replace</span><span class='functionName'>_</span><span class='functionName'>line</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>block</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>meta</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>lines</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>replacement</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>fn</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>replaced</span><span class='gray2'>_</span><span class='gray2'>lines</span> <span class='keyword'>=</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>lines</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>line</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>replace</span><span class='gray2'>_</span><span class='gray2'>line</span><span class='gray2'>(</span><span class='gray2'>line</span><span class='gray'>,</span> <span class='gray2'>replacement</span><span class='gray2'>_</span><span class='keyword'>fn</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>

    <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>meta</span><span class='gray'>,</span> <span class='gray2'>replaced</span><span class='gray2'>_</span><span class='gray2'>lines</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>replace</span><span class='functionName'>_</span><span class='functionName'>line</span><span style='color:white;'>(</span><span class='parameter'><i>line</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>replacement</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>fn</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>if</span> <span class='gray2'>count</span><span class='gray2'>(</span><span class='gray2'>line</span><span class='gray2'>)</span> <span class='keyword'>></span> <span class='gray2'>0</span> <span class='keyword'>do</span>
      <span class='gray2'>replacement</span><span class='gray2'>_</span><span class='keyword'>fn</span><span class='gray'>.</span><span class='gray2'>(</span><span class='gray2'>line</span><span class='gray2'>)</span>
    <span class='keyword'>else</span>
      <span class='gray2'>line</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>
</pre>