 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>String</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span class='gray2'>import</span> <span class='gray2'>Kernel</span><span class='gray'>,</span> <span class='gray2'>except:</span> <span class='gray2'>[</span><span class='gray2'>length:</span> <span class='gray2'>1</span><span class='gray2'>]</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>to</span><span class='functionName'>_</span><span class='functionName'>atom</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>binary</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span style='color:yellow;'>:utf8</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>to</span><span class='functionName'>_</span><span class='functionName'>existing</span><span class='functionName'>_</span><span class='functionName'>atom</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>binary</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>existing</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span style='color:yellow;'>:utf8</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>to</span><span class='functionName'>_</span><span class='functionName'>char</span><span class='functionName'>_</span><span class='functionName'>list</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>str</span><span class='gray'>.</span><span class='gray2'>split</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>to</span><span class='functionName'>_</span><span class='functionName'>float</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>binary</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>float</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>to</span><span class='functionName'>_</span><span class='functionName'>integer</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>binary</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>integer</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>to</span><span class='functionName'>_</span><span class='functionName'>integer</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>base</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>binary</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>integer</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>base</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>upcase</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>str</span><span class='gray'>.</span><span class='gray2'>toUpperCase</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>downcase</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>str</span><span class='gray'>.</span><span class='gray2'>toLowerCase</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>at</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>pos</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='gray2'>pos</span> <span class='keyword'>></span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:darkcyan;'><i>nil</i></span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>str</span><span class='gray2'>[</span><span class='gray2'>pos</span><span class='gray2'>]</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>capitalize</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>first</span> <span class='keyword'>=</span> <span class='gray2'>str</span><span class='gray2'>[</span><span class='gray2'>0</span><span class='gray2'>]</span><span class='gray'>.</span><span class='gray2'>toUpperCase</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='gray2'>rest</span> <span class='keyword'>=</span> <span class='gray2'>str</span><span class='gray'>.</span><span class='gray2'>substr</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray2'>)</span><span class='gray'>.</span><span class='gray2'>toLowerCase</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
      <span class='gray2'>first</span> <span class='keyword'><</span><span class='keyword'>></span> <span class='gray2'>rest</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>split</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>str</span><span class='gray'>.</span><span class='gray2'>split</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>split</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>replace</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>options</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>limit</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span style='color:yellow;'>:parts</span><span class='gray'>,</span> <span class='gray2'>-</span><span class='gray2'>1</span><span class='gray2'>)</span>
      <span class='gray2'>trim</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span style='color:yellow;'>:trim</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray2'>)</span>
      <span class='gray2'>split</span> <span class='keyword'>=</span> <span class='gray2'>str</span><span class='gray'>.</span><span class='gray2'>split</span><span class='gray2'>(</span><span class='gray2'>replace</span><span class='gray'>,</span> <span class='gray2'>limit</span><span class='gray2'>)</span>
  
      <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>split</span><span class='gray'>,</span> <span class='keyword'>fn</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='keyword'>if</span> <span class='gray2'>trim</span> <span class='keyword'>do</span>
          <span class='gray2'>x</span><span class='gray'>.</span><span class='gray2'>trim</span><span class='gray2'>(</span><span class='gray2'>)</span>
        <span class='keyword'>else</span>
          <span class='gray2'>x</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>next</span><span class='functionName'>_</span><span class='functionName'>grapheme</span><span style='color:white;'>(</span><span class='parameter'><i>nil</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span style='color:darkcyan;'><i>nil</i></span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>next</span><span class='functionName'>_</span><span class='functionName'>grapheme</span><span style='color:white;'>(</span><span class='parameter'><i>"</i></span><span class='parameter'><i>"</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span style='color:darkcyan;'><i>nil</i></span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>next</span><span class='functionName'>_</span><span class='functionName'>grapheme</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>str</span><span class='gray2'>[</span><span class='gray2'>0</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>str</span><span class='gray'>.</span><span class='gray2'>substr</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray2'>)</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>first</span><span style='color:white;'>(</span><span class='parameter'><i>nil</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span style='color:darkcyan;'><i>nil</i></span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>first</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>str</span><span class='gray2'>[</span><span class='gray2'>0</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>last</span><span style='color:white;'>(</span><span class='parameter'><i>nil</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span style='color:darkcyan;'><i>nil</i></span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>last</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>str</span><span class='gray2'>[</span><span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray2'>)</span> <span class='gray2'>-</span> <span class='gray2'>1</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>graphemes</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Core.</span><span class='defFunction'>Functions.</span><span class='gray2'>graphemes</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>length</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>graphemes</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray2'>)</span><span class='gray'>.</span><span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>match?</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>regex</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>str</span><span class='gray'>.</span><span class='gray2'>match</span><span class='gray2'>(</span><span class='gray2'>regex</span><span class='gray2'>)</span> <span class='keyword'>!</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>next</span><span class='functionName'>_</span><span class='functionName'>codepoint</span><span style='color:white;'>(</span><span class='parameter'><i>nil</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span style='color:darkcyan;'><i>nil</i></span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>next</span><span class='functionName'>_</span><span class='functionName'>codepoint</span><span style='color:white;'>(</span><span class='parameter'><i>"</i></span><span class='parameter'><i>"</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span style='color:darkcyan;'><i>nil</i></span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>next</span><span class='functionName'>_</span><span class='functionName'>codepoint</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>str</span><span class='gray2'>[</span><span class='gray2'>0</span><span class='gray2'>]</span><span class='gray'>.</span><span class='gray2'>codePointAt</span><span class='gray2'>(</span><span class='gray2'>0</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>str</span><span class='gray'>.</span><span class='gray2'>substr</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray2'>)</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>reverse</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>reverse</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>reverse</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>str</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>str</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>reverse</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>reverse</span><span class='gray2'>_</span><span class='gray2'>str</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>reverse</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>.</span><span class='gray2'>substr</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>reverse</span><span class='gray2'>_</span><span class='gray2'>str</span> <span class='keyword'><</span><span class='keyword'>></span> <span class='gray2'>last</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>starts</span><span class='functionName'>_</span><span class='functionName'>with?</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>prefix</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>binary</span><span style='color:white;'>(</span><span class='parameter'><i>prefix</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>str</span><span class='gray'>.</span><span class='gray2'>startsWith</span><span class='gray2'>(</span><span class='gray2'>prefix</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>starts</span><span class='functionName'>_</span><span class='functionName'>with?</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>prefixes</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>list</span><span style='color:white;'>(</span><span class='parameter'><i>prefixes</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>starts</span><span class='gray2'>_</span><span class='gray2'>with?</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>prefixes</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>starts</span><span class='gray2'>_</span><span class='gray2'>with?</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span style='color:darkcyan;'><i>false</i></span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>starts</span><span class='gray2'>_</span><span class='gray2'>with?</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>prefixes</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='gray2'>starts</span><span class='gray2'>_</span><span class='gray2'>with?</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>prefixes</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:darkcyan;'><i>true</i></span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>starts</span><span class='gray2'>_</span><span class='gray2'>with?</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>tl</span><span class='gray2'>(</span><span class='gray2'>prefixes</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>ends</span><span class='functionName'>_</span><span class='functionName'>with?</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>suffix</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>binary</span><span style='color:white;'>(</span><span class='parameter'><i>suffix</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>str</span><span class='gray'>.</span><span class='gray2'>endsWith</span><span class='gray2'>(</span><span class='gray2'>suffix</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>ends</span><span class='functionName'>_</span><span class='functionName'>with?</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>suffixes</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>list</span><span style='color:white;'>(</span><span class='parameter'><i>suffixes</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>ends</span><span class='gray2'>_</span><span class='gray2'>with?</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>suffixes</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>ends</span><span class='gray2'>_</span><span class='gray2'>with?</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span style='color:darkcyan;'><i>false</i></span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>ends</span><span class='gray2'>_</span><span class='gray2'>with?</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>suffixes</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='gray2'>ends</span><span class='gray2'>_</span><span class='gray2'>with?</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>suffixes</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:darkcyan;'><i>true</i></span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>ends</span><span class='gray2'>_</span><span class='gray2'>with?</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>tl</span><span class='gray2'>(</span><span class='gray2'>suffixes</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>duplicate</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>n</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>str</span><span class='gray'>.</span><span class='gray2'>repeat</span><span class='gray2'>(</span><span class='gray2'>n</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>contains?</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>s</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>binary</span><span style='color:white;'>(</span><span class='parameter'><i>s</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>str</span><span class='gray'>.</span><span class='gray2'>indexOf</span><span class='gray2'>(</span><span class='gray2'>s</span><span class='gray2'>)</span> <span class='keyword'>></span> <span class='gray2'>-</span><span class='gray2'>1</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>contains?</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>s</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>list</span><span style='color:white;'>(</span><span class='parameter'><i>s</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>contains?</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>s</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>contains?</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span style='color:darkcyan;'><i>false</i></span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>contains?</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>prefixes</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='gray2'>contains?</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>prefixes</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:darkcyan;'><i>true</i></span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>contains?</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>tl</span><span class='gray2'>(</span><span class='gray2'>prefixes</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>codepoints</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>codepoints</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>codepoints</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>codepoint</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>codepoint</span><span class='gray2'>_</span><span class='gray2'>list</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>codepoints</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>,</span> <span class='gray2'>codepoint</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>codepoints</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray'>.</span><span class='gray2'>substr</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>codepoint</span><span class='gray2'>_</span><span class='gray2'>list</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>first</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray2'>)</span><span class='gray'>.</span><span class='gray2'>codePointAt</span><span class='gray2'>(</span><span class='gray2'>0</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>valid?</span><span style='color:white;'>(</span><span class='parameter'><i>str</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>binary</span><span class='gray2'>(</span><span class='gray2'>str</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>split</span><span class='functionName'>_</span><span class='functionName'>at</span><span style='color:white;'>(</span><span class='parameter'><i>value</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>position</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Core.</span><span class='defFunction'>Functions.</span><span class='gray2'>split</span><span class='gray2'>_</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>value</span><span class='gray'>,</span> <span class='gray2'>position</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>