 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Output</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
  
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='gray2'>State</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>ModuleState</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>{</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>Generator</span><span class='gray2'>}</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Takes</span> <span class='gray2'>outputs</span> <span class='gray2'>the</span> <span class='gray2'>JavaScript</span> <span class='gray2'>code</span> <span class='gray2'>in</span> <span class='gray2'>the</span> <span class='gray2'>specified</span> <span class='gray2'>output</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>atom</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>map</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>atom</span><span class='gray'>,</span> <span class='gray2'>binary</span><span class='gray2'>}</span><span class='gray2'>]</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>execute</span><span style='color:white;'>(</span><span class='parameter'><i>modules</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>pid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>opts</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span> <span class='keyword'>=</span>
        <span class='defFunction'>ModuleState.</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>filter</span><span class='gray2'>(</span><span class='keyword'>fn</span>
          <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>false</i></span>
          <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>true</i></span>
        <span class='keyword'>end</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>path</span> <span class='keyword'>=</span> <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray'>.</span><span class='gray2'>root</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray2'>)</span>
          <span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>}</span>
        <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>prepared</span><span class='gray2'>_</span><span class='gray2'>modules</span> <span class='keyword'>=</span>
        <span class='gray2'>modules</span>
        <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>filter</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Map.</span><span class='gray2'>has</span><span class='gray2'>_</span><span class='gray2'>key?</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:js</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray2'>)</span> <span class='keyword'>end</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>filter</span><span class='gray2'>_</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>.</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span><span class='gray2'>}</span>
        <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>create</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>(</span><span class='gray2'>prepared</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>opts</span><span class='gray'>,</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>filter</span><span class='gray2'>_</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>(</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>modules</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>filter</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>module</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>module</span> <span class='gray2'>in</span> <span class='defFunction'>ModuleState.</span><span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>javascript</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>false</i></span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>concat</span><span class='gray2'>(</span><span class='gray2'>code</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
      <span class='gray2'>'</span><span class='keyword'>use</span> <span class='gray2'>strict</span><span class='gray2'>'</span><span class='gray2'>;</span>
      <span class='gray2'>import</span> <span class='gray2'>ElixirScript</span> <span class='gray2'>from</span> <span class='gray2'>'</span><span class='gray'>.</span><span class='gray2'>/</span><span class='defFunction'>ElixirScript.</span><span class='defFunction'>Core.</span><span class='gray2'>js</span><span class='gray2'>'</span><span class='gray2'>;</span>
      <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>code</span><span class='gray2'>}</span>
      <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>create</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>(</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>opts</span><span class='gray'>,</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>modules</span>
      <span class='keyword'>|></span> <span class='defFunction'>Task.</span><span class='gray2'>async</span><span class='gray2'>_</span><span class='gray2'>stream</span><span class='gray2'>(</span>
        <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>exports</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>modules</span> <span class='keyword'>=</span> <span class='gray2'>modules</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>import</span><span class='gray2'>(</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>)</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span>
  
          <span class='gray2'>imports</span> <span class='keyword'>=</span> <span class='gray2'>opts</span><span class='gray'>.</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>formatter</span><span class='gray'>.</span><span class='gray2'>build</span><span class='gray2'>_</span><span class='gray2'>imports</span><span class='gray2'>(</span><span class='gray2'>modules</span><span class='gray2'>)</span>
          <span class='gray2'>exports</span> <span class='keyword'>=</span> <span class='gray2'>opts</span><span class='gray'>.</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>formatter</span><span class='gray'>.</span><span class='gray2'>build</span><span class='gray2'>_</span><span class='gray2'>export</span><span class='gray2'>(</span><span class='gray2'>exports</span><span class='gray2'>)</span>
  
          <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>parts</span> <span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>imports</span><span class='gray2'>)</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>body</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>exports</span><span class='gray2'>)</span>
  
          <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>parts</span>
          <span class='keyword'>|></span> <span class='defFunction'>Builder.</span><span class='gray2'>program</span><span class='gray2'>(</span><span class='gray2'>)</span>
          <span class='keyword'>|></span> <span class='defFunction'>Generator.</span><span class='gray2'>generate</span><span class='gray2'>(</span><span class='gray2'>)</span>
          <span class='keyword'>|></span> <span class='gray2'>concat</span>
          <span class='keyword'>|></span> <span class='gray2'>output</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray'>,</span> <span style='color:yellow;'>:output</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>)</span>
        <span class='keyword'>end</span><span class='gray'>,</span>
        <span class='gray2'>timeout:</span> <span class='gray2'>10</span><span class='gray2'>_</span><span class='gray2'>0</span>
      <span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Stream.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>code</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>code</span> <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>flatten</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>uniq</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>modules</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>import</span><span class='gray2'>(</span><span class='gray2'>modules</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>import</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>import</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray'>.</span><span class='gray2'>/</span><span class='defFunction'>Elixir.</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span><span class='gray2'>}</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>"</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>module</span><span class='functionName'>_</span><span class='functionName'>to</span><span class='functionName'>_</span><span class='functionName'>name</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>"</span><span class='gray2'>$</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span><span class='gray2'>}</span><span class='gray2'>$</span><span class='gray2'>"</span>
      <span class='keyword'>|></span> <span class='defFunction'>String.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray'>.</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>$</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>output</span><span class='gray2'>(</span><span class='gray2'>code</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>code</span><span class='gray2'>}</span><span class='gray2'>]</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>output</span><span class='gray2'>(</span><span class='gray2'>code</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span style='color:yellow;'>:stdout</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>IO.</span><span class='gray2'>puts</span><span class='gray2'>(</span><span class='gray2'>code</span><span class='gray2'>)</span>
      <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>code</span><span class='gray2'>}</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>output</span><span class='gray2'>(</span><span class='gray2'>code</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>dir</span> <span class='keyword'>=</span>
        <span class='gray2'>case</span> <span class='defFunction'>Path.</span><span class='gray2'>extname</span><span class='gray2'>(</span><span class='gray2'>path</span><span class='gray2'>)</span> <span class='keyword'>do</span>
          <span class='gray2'>"</span><span class='gray2'>"</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>path</span>
  
          <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>Path.</span><span class='gray2'>dirname</span><span class='gray2'>(</span><span class='gray2'>path</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
  
      <span class='gray2'>file</span><span class='gray2'>_</span><span class='gray2'>name</span> <span class='keyword'>=</span> <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>dir</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='defFunction'>Elixir.</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span><span class='gray2'>}</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>"</span><span class='gray2'>)</span>
  
      <span class='keyword'>if</span> <span class='keyword'>!</span><span class='defFunction'>File.</span><span class='gray2'>exists?</span><span class='gray2'>(</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>dir</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='defFunction'>File.</span><span class='gray2'>mkdir</span><span class='gray2'>_</span><span class='gray2'>p</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>dir</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>apps</span> <span class='keyword'>=</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>app</span><span class='gray2'>_</span><span class='gray2'>names</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
      <span class='gray2'>ffi</span><span class='gray2'>_</span><span class='gray2'>modules</span> <span class='keyword'>=</span>
        <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>acc</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>acc</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>copy</span><span class='gray2'>_</span><span class='gray2'>javascript</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>apps</span><span class='gray'>,</span> <span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>dir</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray2'>)</span>
        <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>copy</span><span class='gray2'>_</span><span class='gray2'>bootstrap</span><span class='gray2'>_</span><span class='gray2'>js</span><span class='gray2'>(</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>dir</span><span class='gray2'>)</span>
      <span class='defFunction'>File.</span><span class='gray2'>write</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>file</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>code</span><span class='gray2'>)</span>
  
      <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>code</span><span class='gray2'>}</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>ffi</span><span class='gray2'>_</span><span class='gray2'>modules</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>copy</span><span class='gray2'>_</span><span class='gray2'>bootstrap</span><span class='gray2'>_</span><span class='gray2'>js</span><span class='gray2'>(</span><span class='gray2'>directory</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>operating</span><span class='gray2'>_</span><span class='gray2'>path</span> <span class='keyword'>=</span> <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='defFunction'>Mix.</span><span class='defFunction'>Project.</span><span class='gray2'>build</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>lib</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>priv</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='gray2'>path</span> <span class='keyword'>=</span> <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>operating</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>build</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>es</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='defFunction'>ElixirScript.</span><span class='defFunction'>Core.</span><span class='gray2'>js</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='defFunction'>File.</span><span class='gray2'>cp</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>directory</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='defFunction'>ElixirScript.</span><span class='defFunction'>Core.</span><span class='gray2'>js</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>app</span><span class='gray2'>_</span><span class='gray2'>names</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Mix.</span><span class='defFunction'>Project.</span><span class='gray2'>config</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>[</span><span style='color:yellow;'>:app</span><span class='gray2'>]</span>
  
      <span class='gray2'>deps</span> <span class='keyword'>=</span>
        <span class='defFunction'>Mix.</span><span class='defFunction'>Project.</span><span class='gray2'>deps</span><span class='gray2'>_</span><span class='gray2'>paths</span><span class='gray2'>(</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>keys</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
      <span class='gray2'>[</span><span class='defFunction'>Mix.</span><span class='defFunction'>Project.</span><span class='gray2'>config</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>[</span><span style='color:yellow;'>:app</span><span class='gray2'>]</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>deps</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>copy</span><span class='gray2'>_</span><span class='gray2'>javascript</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>apps</span><span class='gray'>,</span> <span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>dir</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>apps</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>app</span><span class='gray'>,</span> <span class='gray2'>acc</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>base</span><span class='gray2'>_</span><span class='gray2'>path</span> <span class='keyword'>=</span> <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>[</span><span style='color:yellow;'>:code</span><span class='gray'>.</span><span class='gray2'>priv</span><span class='gray2'>_</span><span class='gray2'>dir</span><span class='gray2'>(</span><span class='gray2'>app</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>)</span>
  
        <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>input</span><span class='gray2'>_</span><span class='gray2'>path</span> <span class='keyword'>=</span>
          <span class='gray2'>cond</span> <span class='keyword'>do</span>
            <span class='defFunction'>File.</span><span class='gray2'>exists?</span><span class='gray2'>(</span><span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>base</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>base</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>]</span><span class='gray2'>)</span>
  
            <span class='defFunction'>File.</span><span class='gray2'>exists?</span><span class='gray2'>(</span><span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>base</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>slashes</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>dots</span><span class='gray2'>(</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>base</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>slashes</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>dots</span><span class='gray2'>(</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray2'>)</span>
  
            <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span style='color:darkcyan;'><i>nil</i></span>
          <span class='keyword'>end</span>
  
        <span class='keyword'>if</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>input</span><span class='gray2'>_</span><span class='gray2'>path</span> <span class='keyword'>!</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span> <span class='keyword'>do</span>
          <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>path</span> <span class='keyword'>=</span> <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>dir</span><span class='gray'>,</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span>
          <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>dir</span> <span class='keyword'>=</span> <span class='defFunction'>Path.</span><span class='gray2'>dirname</span><span class='gray2'>(</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span>
  
          <span class='keyword'>if</span> <span class='keyword'>!</span><span class='defFunction'>File.</span><span class='gray2'>exists?</span><span class='gray2'>(</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>dir</span><span class='gray2'>)</span> <span class='keyword'>do</span>
            <span class='defFunction'>File.</span><span class='gray2'>mkdir</span><span class='gray2'>_</span><span class='gray2'>p</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>dir</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
  
          <span class='defFunction'>File.</span><span class='gray2'>cp</span><span class='gray2'>(</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>input</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span>
          <span class='gray2'>acc</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>input</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>]</span>
        <span class='keyword'>else</span>
          <span class='gray2'>acc</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>slashes</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>dots</span><span class='gray2'>(</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>path</span>
      <span class='keyword'>|></span> <span class='defFunction'>String.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>/</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray'>.</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>