 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Translate.</span><span class='functionName'>Forms.</span><span class='functionName'>Match</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
  
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>J</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>Helpers</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>Form</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Forms.</span><span class='gray2'>Pattern</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>=</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>left</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>right</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>build</span><span class='gray2'>_</span><span class='gray2'>matches</span><span class='gray2'>(</span><span class='gray2'>left</span><span class='gray'>,</span> <span class='gray2'>right</span><span class='gray'>,</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>patterns:</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>match</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>ref</span><span class='gray2'>(</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span class='gray2'>ref</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>params</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray2'>)</span>
      <span class='gray2'>ref</span><span class='gray2'>_</span><span class='gray2'>declaration</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>declare</span><span class='gray2'>(</span><span class='gray2'>ref</span><span class='gray'>,</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
      <span class='gray2'>[</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>ref</span><span class='gray2'>_</span><span class='gray2'>declaration</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>tuple</span><span class='gray2'>_</span><span class='gray2'>ref</span><span class='gray2'>(</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span class='gray2'>ref</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>params</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray2'>)</span>
  
      <span class='gray2'>ref</span><span class='gray2'>_</span><span class='gray2'>declaration</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>declare</span><span class='gray2'>(</span><span class='gray2'>ref</span><span class='gray'>,</span> <span class='defFunction'>Helpers.</span><span class='gray2'>new</span><span class='gray2'>(</span>
        <span class='defFunction'>Helpers.</span><span class='gray2'>tuple</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>params</span>
      <span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='gray2'>[</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>ref</span><span class='gray2'>_</span><span class='gray2'>declaration</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  
  
    <span class='gray2'>defp</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>params</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>ref</span> <span class='keyword'>=</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>ref</span><span class='comment'>#</span><span class='gray2'>{</span><span style='color:yellow;'>:rand</span><span class='gray'>.</span><span class='gray2'>uniform</span><span class='gray2'>(</span><span class='gray2'>10000000</span><span class='gray2'>)</span><span class='gray2'>}</span><span class='gray2'>"</span><span class='gray2'>)</span>
  
      <span class='gray2'>params</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='keyword'>fn</span>
        <span class='gray2'>(</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span style='color:yellow;'>:undefined</span><span class='gray2'>)</span>
        <span class='gray2'>(</span><span class='gray2'>x</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>x</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span> <span class='gray2'>ref</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>build</span><span class='gray2'>_</span><span class='gray2'>matches</span><span class='gray2'>(</span><span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>:</span><span class='keyword'>=</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>left</span><span class='gray'>,</span> <span class='gray2'>right</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>parts</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>parts</span> <span class='keyword'>=</span> <span class='gray2'>parts</span>
      <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>update</span><span class='keyword'>!</span><span class='gray2'>(</span><span style='color:yellow;'>:patterns</span><span class='gray'>,</span> <span class='keyword'>fn</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>x</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>pattern</span><span class='gray2'>]</span> <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>build</span><span class='gray2'>_</span><span class='gray2'>matches</span><span class='gray2'>(</span><span class='gray2'>left</span><span class='gray'>,</span> <span class='gray2'>right</span><span class='gray'>,</span> <span class='gray2'>parts</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>build</span><span class='gray2'>_</span><span class='gray2'>matches</span><span class='gray2'>(</span><span class='gray2'>left</span><span class='gray'>,</span> <span class='gray2'>right</span><span class='gray'>,</span> <span class='gray2'>parts</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>parts</span>
      <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>update</span><span class='keyword'>!</span><span class='gray2'>(</span><span style='color:yellow;'>:patterns</span><span class='gray'>,</span> <span class='keyword'>fn</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>x</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>left</span><span class='gray2'>]</span> <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:expression</span><span class='gray'>,</span> <span class='gray2'>right</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>match</span><span class='gray2'>(</span><span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>patterns:</span> <span class='gray2'>[</span><span class='gray2'>left</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>expression:</span> <span class='gray2'>right</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>right</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>right</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span class='gray2'>var</span><span class='gray2'>_</span><span class='gray2'>decs</span><span class='gray'>,</span> <span class='gray2'>right</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>case</span> <span class='gray2'>right</span><span class='gray2'>_</span><span class='gray2'>ast</span> <span class='keyword'>do</span>
        <span class='gray2'>x</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>l</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray2'>)</span>
          <span class='gray2'>[</span><span class='gray2'>head</span> <span class='gray2'>|</span> <span class='gray2'>tail</span><span class='gray2'>]</span> <span class='keyword'>=</span> <span class='gray2'>l</span>
          <span class='gray2'>l</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span><span class='gray2'>(</span><span class='gray2'>tail</span><span class='gray2'>)</span>
  
          <span class='gray2'>{</span><span class='gray2'>l</span><span class='gray'>,</span> <span class='gray2'>head</span><span class='gray2'>}</span>
        <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>x</span><span class='gray2'>}</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>{</span> <span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Pattern.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>left</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>declare</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
          <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>match</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>patterns</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>right</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray2'>]</span>
      <span class='gray2'>)</span><span class='gray2'>)</span>
  
      <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='gray2'>case</span> <span class='gray2'>left</span> <span class='keyword'>do</span>
        <span class='gray2'>list</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>ref</span><span class='gray2'>(</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>)</span>
        <span class='gray2'>{</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>tuple</span><span class='gray2'>_</span><span class='gray2'>ref</span><span class='gray2'>(</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>)</span>
        <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>tuple</span><span class='gray2'>_</span><span class='gray2'>ref</span><span class='gray2'>(</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>)</span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>{</span> <span class='gray2'>var</span><span class='gray2'>_</span><span class='gray2'>decs</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>match</span><span class='gray2'>(</span><span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>patterns:</span> <span class='gray2'>lefts</span><span class='gray'>,</span> <span class='gray2'>expression:</span> <span class='gray2'>right</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>right</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>right</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span class='gray2'>var</span><span class='gray2'>_</span><span class='gray2'>dec</span><span class='gray'>,</span> <span class='gray2'>right</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>case</span> <span class='gray2'>right</span><span class='gray2'>_</span><span class='gray2'>ast</span> <span class='keyword'>do</span>
        <span class='gray2'>[</span><span class='gray2'>variable</span><span class='gray2'>_</span><span class='gray2'>declaration</span><span class='gray'>,</span> <span class='gray2'>x</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span class='gray2'>variable</span><span class='gray2'>_</span><span class='gray2'>declaration</span><span class='gray'>,</span> <span class='gray2'>x</span><span class='gray2'>}</span>
        <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>x</span><span class='gray2'>}</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>intermediate</span><span class='gray2'>_</span><span class='gray2'>assign</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>assign</span><span class='gray2'>(</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>intermediate</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>right</span><span class='gray2'>_</span><span class='gray2'>ast</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>_</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>lefts</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>,</span> <span class='keyword'>fn</span><span class='gray2'>(</span><span class='gray2'>left</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>{</span> <span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Pattern.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>left</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
        <span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>declare</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
            <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>match</span><span class='gray2'>"</span><span class='gray2'>)</span>
          <span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>[</span><span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>patterns</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>intermediate</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>]</span>
        <span class='gray2'>)</span><span class='gray2'>)</span>
  
        <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='gray2'>case</span> <span class='gray2'>left</span> <span class='keyword'>do</span>
          <span class='gray2'>list</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>ref</span><span class='gray2'>(</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>)</span>
          <span class='gray2'>{</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>tuple</span><span class='gray2'>_</span><span class='gray2'>ref</span><span class='gray2'>(</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>)</span>
          <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>tuple</span><span class='gray2'>_</span><span class='gray2'>ref</span><span class='gray2'>(</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>)</span>
          <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
  
        <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='gray2'>case</span> <span class='gray2'>var</span><span class='gray2'>_</span><span class='gray2'>dec</span> <span class='keyword'>do</span>
          <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span>
          <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>[</span><span class='gray2'>x</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span>
        <span class='keyword'>end</span>
  
        <span class='gray2'>{</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>intermediate</span><span class='gray2'>_</span><span class='gray2'>assign</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='defFunction'>List.</span><span class='gray2'>flatten</span><span class='gray2'>(</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
  <span class='keyword'>end</span></pre>