 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Koans</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>defp</span> <span class='gray2'>valid</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Regex.</span><span class='gray2'>match?</span><span class='gray2'>(</span><span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>A</span><span class='gray2'>-</span><span class='gray2'>Z</span><span class='gray2'>]</span><span class='gray2'>|</span><span class='comment'>\</span><span class='gray'>.</span><span class='comment'>\</span><span class='gray'>.</span><span class='comment'>\</span><span class='gray'>.</span><span class='gray2'>)</span><span class='gray'>.</span><span class='gray2'>+</span><span class='gray2'>/</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defmacro</span> <span class='gray2'>koan</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>body</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='keyword'>if</span> <span class='gray2'>not</span> <span class='gray2'>valid</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>raise</span> <span class='gray2'>"</span><span class='gray2'>Name</span> <span class='gray2'>does</span> <span class='gray2'>not</span> <span class='gray2'>start</span> <span class='gray2'>with</span> <span class='gray2'>a</span> <span class='gray2'>capital</span> <span class='gray2'>letter:</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray2'>}</span><span class='gray2'>"</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>compiled</span><span class='gray2'>_</span><span class='gray2'>name</span> <span class='keyword'>=</span> <span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span>
      <span class='gray2'>number</span><span class='gray2'>_</span><span class='gray2'>of</span><span class='gray2'>_</span><span class='gray2'>args</span> <span class='keyword'>=</span> <span class='defFunction'>Blanks.</span><span class='gray2'>count</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray2'>)</span>
      <span class='gray2'>compiled</span><span class='gray2'>_</span><span class='gray2'>body</span> <span class='keyword'>=</span> <span class='defFunction'>Blanks.</span><span class='gray2'>replace</span><span class='gray2'>_</span><span class='gray2'>line</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>blank</span><span class='gray2'>_</span><span class='gray2'>line</span><span class='gray2'>_</span><span class='gray2'>replacement</span><span class='gray2'>/</span><span class='gray2'>1</span><span class='gray2'>)</span>
  
      <span class='gray2'>quote</span> <span class='keyword'>do</span>
        <span style='color:peru;'>@koans</span> <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>compiled</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>)</span>
  
        <span class='gray2'>generate</span><span class='gray2'>_</span><span class='gray2'>test</span><span class='gray2'>_</span><span class='gray2'>method</span><span class='gray2'>(</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>compiled</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>number</span><span class='gray2'>_</span><span class='gray2'>of</span><span class='gray2'>_</span><span class='gray2'>args</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
        <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='parameter'><i>compiled</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span style='color:white;'>(</span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
          <span class='gray2'>try</span> <span class='keyword'>do</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>compiled</span><span class='gray2'>_</span><span class='gray2'>body</span><span class='gray2'>)</span>
            <span style='color:yellow;'>:ok</span>
          <span class='gray2'>rescue</span>
            <span class='gray2'>e</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>STACKTRACE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>e</span><span class='gray2'>}</span>
          <span class='keyword'>end</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defmacro</span> <span class='gray2'>generate</span><span class='gray2'>_</span><span class='gray2'>test</span><span class='gray2'>_</span><span class='gray2'>method</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>body</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span style='color:darkcyan;'><i>false</i></span>
  
    <span class='gray2'>defmacro</span> <span class='gray2'>generate</span><span class='gray2'>_</span><span class='gray2'>test</span><span class='gray2'>_</span><span class='gray2'>method</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>single</span><span class='gray2'>_</span><span class='gray2'>var</span> <span class='keyword'>=</span> <span class='defFunction'>Blanks.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray'>,</span> <span class='defFunction'>Macro.</span><span class='gray2'>var</span><span class='gray2'>(</span><span style='color:yellow;'>:answer</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
      <span class='gray2'>quote</span> <span class='keyword'>do</span>
        <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span style='color:white;'>(</span><span class='parameter'><i>answer</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
          <span class='gray2'>try</span> <span class='keyword'>do</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>single</span><span class='gray2'>_</span><span class='gray2'>var</span><span class='gray2'>)</span>
            <span style='color:yellow;'>:ok</span>
          <span class='gray2'>rescue</span>
            <span class='gray2'>e</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>STACKTRACE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>e</span><span class='gray2'>}</span>
          <span class='keyword'>end</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defmacro</span> <span class='gray2'>generate</span><span class='gray2'>_</span><span class='gray2'>test</span><span class='gray2'>_</span><span class='gray2'>method</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>number</span><span class='gray2'>_</span><span class='gray2'>of</span><span class='gray2'>_</span><span class='gray2'>args</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>answer</span><span class='gray2'>_</span><span class='gray2'>vars</span> <span class='keyword'>=</span>
        <span class='gray2'>for</span> <span class='gray2'>id</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>1</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>number</span><span class='gray2'>_</span><span class='gray2'>of</span><span class='gray2'>_</span><span class='gray2'>args</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='defFunction'>Macro.</span><span class='gray2'>var</span><span class='gray2'>(</span><span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>answer</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>id</span><span class='gray2'>}</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>)</span>
  
      <span class='gray2'>multi</span><span class='gray2'>_</span><span class='gray2'>var</span> <span class='keyword'>=</span> <span class='defFunction'>Blanks.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>answer</span><span class='gray2'>_</span><span class='gray2'>vars</span><span class='gray2'>)</span>
  
      <span class='gray2'>quote</span> <span class='keyword'>do</span>
        <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='atomo'>:multiple</span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>unquote</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>answer</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>vars</i></span><span style='color:white;'>)</span><span class='functionName'>}</span><span class='functionName'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
          <span class='gray2'>try</span> <span class='keyword'>do</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>multi</span><span class='gray2'>_</span><span class='gray2'>var</span><span class='gray2'>)</span>
            <span style='color:yellow;'>:ok</span>
          <span class='gray2'>rescue</span>
            <span class='gray2'>e</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>STACKTRACE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>e</span><span class='gray2'>}</span>
          <span class='keyword'>end</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>blank</span><span class='gray2'>_</span><span class='gray2'>line</span><span class='gray2'>_</span><span class='gray2'>replacement</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:assert</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>meta</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>expr</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>code</span> <span class='keyword'>=</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>expr</span><span class='gray2'>)</span>
      <span class='gray2'>quote</span> <span class='keyword'>do:</span> <span class='gray2'>raise</span><span class='gray2'>(</span><span class='defFunction'>ExUnit.</span><span class='gray2'>AssertionError</span><span class='gray'>,</span> <span class='gray2'>expr:</span> <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>code</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>blank</span><span class='gray2'>_</span><span class='gray2'>line</span><span class='gray2'>_</span><span class='gray2'>replacement</span><span class='gray2'>(</span><span class='gray2'>line</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>code</span> <span class='keyword'>=</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>line</span><span class='gray2'>)</span>
      <span class='gray2'>quote</span> <span class='keyword'>do:</span> <span class='gray2'>raise</span><span class='gray2'>(</span><span class='defFunction'>ExUnit.</span><span class='gray2'>AssertionError</span><span class='gray'>,</span> <span class='gray2'>expr:</span> <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>code</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defmacro</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>using</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>opts</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>quote</span> <span class='keyword'>do</span>
        <span style='color:peru;'>@compile</span> <span style='color:yellow;'>:nowarn</span><span class='gray2'>_</span><span class='gray2'>unused</span><span class='gray2'>_</span><span class='gray2'>vars</span>
        <span class='defFunction'>Module.</span><span class='gray2'>register</span><span class='gray2'>_</span><span class='gray2'>attribute</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span style='color:yellow;'>:koans</span><span class='gray'>,</span> <span class='gray2'>accumulate:</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray2'>)</span>
  
        <span class='gray2'>require</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Assertions</span>
        <span class='gray2'>import</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Assertions</span>
        <span class='gray2'>import</span> <span class='gray2'>Koans</span>
  
        <span style='color:peru;'>@before</span><span class='gray2'>_</span><span class='gray2'>compile</span> <span class='gray2'>Koans</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defmacro</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>before</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>(</span><span class='gray2'>env</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>koans</span> <span class='keyword'>=</span> <span class='gray2'>koans</span><span class='gray2'>(</span><span class='gray2'>env</span><span class='gray2'>)</span>
  
      <span class='gray2'>quote</span> <span class='keyword'>do</span>
        <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>all</span><span class='functionName'>_</span><span class='functionName'>koans</span><span class='functionName'> </span><span class='keyword'>do</span>
          <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>koans</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
  
        <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>intro</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span style='color:peru;'>@intro</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>koans</span><span class='gray2'>(</span><span class='gray2'>env</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>env</span><span class='gray'>.</span><span class='gray2'>module</span>
      <span class='keyword'>|></span> <span class='defFunction'>Module.</span><span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>attribute</span><span class='gray2'>(</span><span style='color:yellow;'>:koans</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>