 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Cards.</span><span class='functionName'>Mixfile</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>use</span> <span class='defFunction'>Mix.</span><span class='gray2'>Project</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>project</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>[</span><span class='gray2'>app:</span> <span style='color:yellow;'>:cards</span><span class='gray'>,</span>
       <span class='gray2'>version:</span> <span class='gray2'>"</span><span class='gray2'>0</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>0</span><span class='gray2'>"</span><span class='gray'>,</span>
       <span class='gray2'>elixir:</span> <span class='gray2'>"</span><span class='gray2'>~</span><span class='keyword'>></span> <span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>3</span><span class='gray2'>"</span><span class='gray'>,</span>
       <span class='gray2'>build</span><span class='gray2'>_</span><span class='gray2'>embedded:</span> <span class='defFunction'>Mix.</span><span class='gray2'>env</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:yellow;'>:prod</span><span class='gray'>,</span>
       <span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>permanent:</span> <span class='defFunction'>Mix.</span><span class='gray2'>env</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:yellow;'>:prod</span><span class='gray'>,</span>
       <span class='gray2'>deps:</span> <span class='gray2'>deps</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  
    <span class='comment'># Configuration for the OTP application</span>
    <span class='comment'>#</span>
    <span class='comment'># Type </span><span class='gray2'>"</span><span class='gray2'>mix</span> <span class='gray2'>help</span> <span class='gray2'>compile</span><span class='gray'>.</span><span class='gray2'>app</span><span class='gray2'>"</span> <span class='gray2'>for</span> <span class='gray2'>more</span> <span class='gray2'>information</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>application</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>[</span><span class='gray2'>applications:</span> <span class='gray2'>[</span><span style='color:yellow;'>:logger</span><span class='gray2'>]</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  
    <span class='comment'># Dependencies can be Hex packages</span><span class='gray2'>:</span>
    <span class='comment'>#</span>
    <span class='comment'>#   </span><span class='gray2'>{</span><span style='color:yellow;'>:mydep</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>~</span><span class='keyword'>></span> <span class='gray2'>0</span><span class='gray'>.</span><span class='gray2'>3</span><span class='gray'>.</span><span class='gray2'>0</span><span class='gray2'>"</span><span class='gray2'>}</span>
    <span class='comment'>#</span>
    <span class='comment'># Or git</span><span class='gray2'>/</span><span class='gray2'>path</span> <span class='gray2'>repositories:</span>
    <span class='comment'>#</span>
    <span class='comment'>#   </span><span class='gray2'>{</span><span style='color:yellow;'>:mydep</span><span class='gray'>,</span> <span class='gray2'>git:</span> <span class='gray2'>"</span><span class='gray2'>https:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>github</span><span class='gray'>.</span><span class='gray2'>com</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>-</span><span class='gray2'>lang</span><span class='gray2'>/</span><span class='gray2'>mydep</span><span class='gray'>.</span><span class='gray2'>git</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>tag:</span> <span class='gray2'>"</span><span class='gray2'>0</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>0</span><span class='gray2'>"</span><span class='gray2'>}</span>
    <span class='comment'>#</span>
    <span class='comment'># Type </span><span class='gray2'>"</span><span class='gray2'>mix</span> <span class='gray2'>help</span> <span class='gray2'>deps</span><span class='gray2'>"</span> <span class='gray2'>for</span> <span class='gray2'>more</span> <span class='gray2'>examples</span> <span class='gray2'>and</span> <span class='gray2'>options</span>
    <span class='gray2'>defp</span> <span class='gray2'>deps</span> <span class='keyword'>do</span>
      <span class='gray2'>[</span>
        <span class='gray2'>{</span><span style='color:yellow;'>:ex</span><span class='gray2'>_</span><span class='gray2'>doc</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>~</span><span class='keyword'>></span> <span class='gray2'>0</span><span class='gray'>.</span><span class='gray2'>12</span><span class='gray2'>"</span><span class='gray2'>}</span>
      <span class='gray2'>]</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>