 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirKoans</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>use</span> <span class='gray2'>Application</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>start</span><span style='color:white;'>(</span><span class='parameter'><i>_</i></span><span class='parameter'><i>type</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>args</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>import</span> <span class='defFunction'>Supervisor.</span><span class='gray2'>Spec</span>
  
      <span class='gray2'>children</span> <span class='keyword'>=</span> <span class='gray2'>[</span>
        <span class='gray2'>worker</span><span class='gray2'>(</span><span class='gray2'>Display</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>worker</span><span class='gray2'>(</span><span class='gray2'>Tracker</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>worker</span><span class='gray2'>(</span><span class='gray2'>Runner</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>worker</span><span class='gray2'>(</span><span class='gray2'>Watcher</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='gray2'>]</span>
  
      <span class='gray2'>opts</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>strategy:</span> <span style='color:yellow;'>:one</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>one</span><span class='gray'>,</span> <span class='gray2'>name:</span> <span class='defFunction'>ElixirKoans.</span><span class='gray2'>Supervisor</span><span class='gray2'>]</span>
      <span class='defFunction'>Supervisor.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='gray2'>children</span><span class='gray'>,</span> <span class='gray2'>opts</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>