 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Mix.</span><span class='functionName'>Tasks.</span><span class='functionName'>Compile.</span><span class='functionName'>ElixirScript</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>use</span> <span class='defFunction'>Mix.</span><span class='defFunction'>Task.</span><span class='gray2'>Compiler</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='gray2'>Manifest</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='gray2'>Compiler</span>
  
    <span style='color:peru;'>@recursive</span> <span style='color:darkcyan;'><i>true</i></span>
    <span style='color:peru;'>@manifest</span> <span class='gray2'>"</span><span class='gray'>.</span><span class='gray2'>compile</span><span class='gray'>.</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>"</span>
    <span style='color:peru;'>@manifest</span><span class='gray2'>_</span><span class='gray2'>vsn</span> <span class='gray2'>1</span>
  
    <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Mix</span> <span class='gray2'>compiler</span> <span class='gray2'>to</span> <span class='gray2'>allow</span> <span class='gray2'>mix</span> <span class='gray2'>to</span> <span class='gray2'>compile</span> <span class='gray2'>Elixirscript</span> <span class='gray2'>source</span> <span class='gray2'>files</span> <span class='gray2'>into</span> <span class='gray2'>JavaScript</span>
    <span class='gray2'>Looks</span> <span class='gray2'>for</span> <span class='gray2'>an</span> <span class='gray2'>`</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>`</span> <span class='gray2'>or</span> <span class='gray2'>`</span><span class='gray2'>elixirscript</span><span class='gray2'>`</span> <span class='gray2'>key</span> <span class='gray2'>in</span> <span class='gray2'>your</span> <span class='gray2'>mix</span> <span class='gray2'>project</span> <span class='gray2'>config</span>
        <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>project</span><span class='functionName'> </span><span class='keyword'>do</span>
          <span class='gray2'>[</span>
            <span class='gray2'>app:</span> <span style='color:yellow;'>:my</span><span class='gray2'>_</span><span class='gray2'>app</span><span class='gray'>,</span>
            <span class='gray2'>version:</span> <span class='gray2'>"</span><span class='gray2'>0</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>0</span><span class='gray2'>"</span><span class='gray'>,</span>
            <span class='gray2'>elixir:</span> <span class='gray2'>"</span><span class='gray2'>~</span><span class='keyword'>></span> <span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>0</span><span class='gray2'>"</span><span class='gray'>,</span>
            <span class='gray2'>deps:</span> <span class='gray2'>deps</span><span class='gray'>,</span>
            <span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script:</span> <span class='gray2'>[</span> <span class='gray2'>input:</span> <span class='gray2'>Example</span><span class='gray'>,</span> <span class='gray2'>output:</span> <span class='gray2'>"</span><span class='gray2'>dest</span><span class='gray2'>/</span><span class='gray2'>js</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray'>,</span>
            <span class='gray2'>compilers:</span> <span class='defFunction'>Mix.</span><span class='gray2'>compilers</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span style='color:yellow;'>:elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>]</span>
          <span class='gray2'>]</span>
        <span class='keyword'>end</span>
    <span class='gray2'>Available</span> <span class='gray2'>options</span> <span class='gray2'>are:</span>
    <span class='gray2'>*</span> <span class='gray2'>`</span><span class='gray2'>input</span><span class='gray2'>`</span><span class='gray2'>:</span> <span class='gray2'>The</span> <span class='gray2'>module</span> <span class='gray2'>or</span> <span class='gray2'>modules</span> <span class='gray2'>that</span> <span class='gray2'>are</span> <span class='gray2'>the</span> <span class='gray2'>entry</span> <span class='gray2'>to</span> <span class='gray2'>your</span> <span class='gray2'>application</span> <span class='gray2'>(</span><span class='gray2'>required</span><span class='gray2'>)</span>
    <span class='gray2'>*</span> <span class='gray2'>`</span><span class='gray2'>output</span><span class='gray2'>`</span><span class='gray2'>:</span> <span class='gray2'>The</span> <span class='gray2'>path</span> <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>generated</span> <span class='gray2'>JavaScript</span> <span class='gray2'>file</span><span class='gray'>.</span> <span class='gray2'>(</span><span class='gray2'>defaults</span> <span class='gray2'>to</span> <span class='gray2'>`</span><span class='gray2'>priv</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>/</span><span class='gray2'>build</span><span class='gray2'>`</span><span class='gray2'>)</span>
      <span class='gray2'>If</span> <span class='gray2'>path</span> <span class='gray2'>ends</span> <span class='gray2'>in</span> <span class='gray2'>`</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>`</span> <span class='gray2'>then</span> <span class='gray2'>that</span> <span class='gray2'>will</span> <span class='gray2'>be</span> <span class='gray2'>the</span> <span class='gray2'>name</span> <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>file</span><span class='gray'>.</span> <span class='gray2'>If</span> <span class='gray2'>a</span> <span class='gray2'>directory</span> <span class='gray2'>is</span> <span class='gray2'>given</span><span class='gray'>,</span>
      <span class='gray2'>file</span> <span class='gray2'>will</span> <span class='gray2'>be</span> <span class='gray2'>named</span> <span class='gray2'>`</span><span class='gray2'>elixirscript</span><span class='gray'>.</span><span class='gray2'>build</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>`</span>
    <span class='gray2'>*</span> <span class='gray2'>`</span><span class='gray2'>root</span><span class='gray2'>`</span><span class='gray2'>:</span> <span class='gray2'>Optional</span> <span class='gray2'>root</span> <span class='gray2'>for</span> <span class='gray2'>imports</span> <span class='gray2'>of</span> <span class='gray2'>FFI</span> <span class='gray2'>JavaScript</span> <span class='gray2'>modules</span><span class='gray'>.</span>
    <span class='gray2'>Defaults</span> <span class='gray2'>to</span> <span class='gray2'>`</span><span class='gray'>.</span><span class='gray2'>`</span><span class='gray'>.</span> <span class='gray2'>If</span> <span class='gray2'>using</span> <span class='gray2'>output</span> <span class='gray2'>directly</span> <span class='gray2'>in</span> <span class='gray2'>a</span> <span class='gray2'>browser</span><span class='gray'>,</span> <span class='gray2'>you</span> <span class='gray2'>may</span> <span class='gray2'>want</span> <span class='gray2'>to</span> <span class='gray2'>make</span> <span class='gray2'>it</span> <span class='gray2'>something</span> <span class='gray2'>like</span> <span class='gray2'>`</span><span class='gray2'>/</span><span class='gray2'>js</span><span class='gray2'>`</span> <span class='gray2'>or</span> <span class='gray2'>some</span> <span class='gray2'>uri</span><span class='gray'>.</span>
    <span class='gray2'>The</span> <span class='gray2'>mix</span> <span class='gray2'>compiler</span> <span class='gray2'>will</span> <span class='gray2'>also</span> <span class='gray2'>compile</span> <span class='gray2'>any</span> <span class='gray2'>dependencies</span> <span class='gray2'>that</span> <span class='gray2'>have</span> <span class='gray2'>the</span> <span class='gray2'>elixirscript</span> <span class='gray2'>compiler</span> <span class='gray2'>in</span> <span class='gray2'>its</span> <span class='gray2'>mix</span> <span class='gray2'>compilers</span> <span class='gray2'>as</span> <span class='gray2'>well</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  
    <span style='color:peru;'>@spec</span> <span class='gray2'>run</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>binary</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span>
            <span style='color:yellow;'>:ok</span> <span class='gray2'>|</span> <span style='color:yellow;'>:noop</span> <span class='gray2'>|</span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span> <span class='gray2'>|</span> <span style='color:yellow;'>:noop</span> <span class='gray2'>|</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='defFunction'>Mix.</span><span class='defFunction'>Task.</span><span class='defFunction'>Compiler.</span><span class='defFunction'>Diagnostic.</span><span class='gray2'>t</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>run</span><span style='color:white;'>(</span><span class='parameter'><i>_</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span><span class='gray2'>input</span><span class='gray'>,</span> <span class='gray2'>opts</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>compiler</span><span class='gray2'>_</span><span class='gray2'>params</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
      <span class='gray2'>diagnostics</span> <span class='keyword'>=</span>
        <span class='gray2'>try</span> <span class='keyword'>do</span>
          <span class='gray2'>result</span> <span class='keyword'>=</span> <span class='defFunction'>Compiler.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>input</span><span class='gray'>,</span> <span class='gray2'>opts</span><span class='gray2'>)</span>
          <span class='defFunction'>Manifest.</span><span class='gray2'>write</span><span class='gray2'>_</span><span class='gray2'>manifest</span><span class='gray2'>(</span><span class='gray2'>manifest</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>result</span><span class='gray2'>)</span>
  
          <span class='gray2'>result</span>
          <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:diagnostics</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
          <span class='keyword'>end</span><span class='gray2'>)</span>
          <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>flatten</span><span class='gray2'>(</span><span class='gray2'>)</span>
          <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>%</span><span class='defFunction'>Mix.</span><span class='defFunction'>Task.</span><span class='defFunction'>Compiler.</span><span class='gray2'>Diagnostic</span><span class='gray2'>{</span>
              <span class='gray2'>compiler</span><span class='gray2'>_</span><span class='gray2'>name:</span> <span class='gray2'>"</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>"</span><span class='gray'>,</span>
              <span class='gray2'>file:</span> <span class='gray2'>x</span><span class='gray'>.</span><span class='gray2'>file</span><span class='gray'>,</span>
              <span class='gray2'>message:</span> <span class='gray2'>x</span><span class='gray'>.</span><span class='gray2'>message</span><span class='gray'>,</span>
              <span class='gray2'>position:</span> <span class='gray2'>x</span><span class='gray'>.</span><span class='gray2'>position</span><span class='gray'>,</span>
              <span class='gray2'>severity:</span> <span class='gray2'>x</span><span class='gray'>.</span><span class='gray2'>severity</span>
            <span class='gray2'>}</span>
          <span class='keyword'>end</span><span class='gray2'>)</span>
        <span class='gray2'>rescue</span>
          <span class='gray2'>x</span> <span class='gray2'>in</span> <span class='gray2'>[</span><span class='defFunction'>ElixirScript.</span><span class='gray2'>CompileError</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>[</span>
              <span class='gray2'>%</span><span class='defFunction'>Mix.</span><span class='defFunction'>Task.</span><span class='defFunction'>Compiler.</span><span class='gray2'>Diagnostic</span><span class='gray2'>{</span>
                <span class='gray2'>compiler</span><span class='gray2'>_</span><span class='gray2'>name:</span> <span class='gray2'>"</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>"</span><span class='gray'>,</span>
                <span class='gray2'>message:</span> <span class='gray2'>x</span><span class='gray'>.</span><span class='gray2'>message</span><span class='gray'>,</span>
                <span class='gray2'>severity:</span> <span class='gray2'>x</span><span class='gray'>.</span><span class='gray2'>severity</span><span class='gray'>,</span>
                <span class='gray2'>position:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span>
                <span class='gray2'>file:</span> <span style='color:darkcyan;'><i>nil</i></span>
              <span class='gray2'>}</span>
            <span class='gray2'>]</span>
        <span class='keyword'>end</span>
  
      <span class='gray2'>case</span> <span class='gray2'>diagnostics</span> <span class='keyword'>do</span>
        <span class='gray2'>[</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:yellow;'>:ok</span>
        <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>x</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>clean</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>manifest</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Manifest.</span><span class='gray2'>read</span><span class='gray2'>_</span><span class='gray2'>manifest</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>File.</span><span class='gray2'>rm</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span style='color:yellow;'>:ok</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>manifests</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='gray2'>[</span><span class='gray2'>manifest</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>]</span>
    <span class='gray2'>defp</span> <span class='gray2'>manifest</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='defFunction'>Mix.</span><span class='defFunction'>Project.</span><span class='gray2'>manifest</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span style='color:peru;'>@manifest</span><span class='gray2'>)</span>
  
    <span style='color:peru;'>@doc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>get</span><span class='functionName'>_</span><span class='functionName'>compiler</span><span class='functionName'>_</span><span class='functionName'>params</span><span style='color:white;'>(</span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>elixirscript</span><span class='gray2'>_</span><span class='gray2'>config</span> <span class='keyword'>=</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>elixirscript</span><span class='gray2'>_</span><span class='gray2'>config</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='gray2'>input</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>fetch</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>elixirscript</span><span class='gray2'>_</span><span class='gray2'>config</span><span class='gray'>,</span> <span style='color:yellow;'>:input</span><span class='gray2'>)</span>
  
      <span class='gray2'>opts</span> <span class='keyword'>=</span> <span class='gray2'>[</span>
        <span class='gray2'>output:</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>elixirscript</span><span class='gray2'>_</span><span class='gray2'>config</span><span class='gray'>,</span> <span style='color:yellow;'>:output</span><span class='gray2'>)</span>
      <span class='gray2'>]</span>
  
      <span class='gray2'>{</span><span class='gray2'>input</span><span class='gray'>,</span> <span class='gray2'>opts</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>elixirscript</span><span class='gray2'>_</span><span class='gray2'>config</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>config</span> <span class='keyword'>=</span> <span class='defFunction'>Mix.</span><span class='defFunction'>Project.</span><span class='gray2'>config</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
      <span class='gray2'>exjs</span><span class='gray2'>_</span><span class='gray2'>config</span> <span class='keyword'>=</span>
        <span class='gray2'>cond</span> <span class='keyword'>do</span>
          <span class='defFunction'>Keyword.</span><span class='gray2'>has</span><span class='gray2'>_</span><span class='gray2'>key?</span><span class='gray2'>(</span><span class='gray2'>config</span><span class='gray'>,</span> <span style='color:yellow;'>:elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>config</span><span class='gray'>,</span> <span style='color:yellow;'>:elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
  
          <span class='defFunction'>Keyword.</span><span class='gray2'>has</span><span class='gray2'>_</span><span class='gray2'>key?</span><span class='gray2'>(</span><span class='gray2'>config</span><span class='gray'>,</span> <span style='color:yellow;'>:elixirscript</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>config</span><span class='gray'>,</span> <span style='color:yellow;'>:elixirscript</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
  
          <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>defaults</span><span class='gray2'>(</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
  
      <span class='defFunction'>Keyword.</span><span class='gray2'>merge</span><span class='gray2'>(</span><span class='gray2'>defaults</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>exjs</span><span class='gray2'>_</span><span class='gray2'>config</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>defaults</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>[</span>
        <span class='gray2'>output:</span> <span class='gray2'>"</span><span class='gray2'>priv</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>/</span><span class='gray2'>build</span><span class='gray2'>"</span>
      <span class='gray2'>]</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>