 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'>#            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE</span>
<span class='comment'>#                    Version 2</span><span class='gray'>,</span> <span class='gray2'>December</span> <span class='gray2'>2004</span>
<span class='comment'>#</span>
<span class='comment'>#            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE</span>
<span class='comment'>#   TERMS AND CONDITIONS FOR COPYING</span><span class='gray'>,</span> <span class='gray2'>DISTRIBUTION</span> <span class='gray2'>AND</span> <span class='gray2'>MODIFICATION</span>
<span class='comment'>#</span>
<span class='comment'>#  0</span><span class='gray'>.</span> <span class='gray2'>You</span> <span class='gray2'>just</span> <span class='gray2'>DO</span> <span class='gray2'>WHAT</span> <span class='gray2'>THE</span> <span class='gray2'>FUCK</span> <span class='gray2'>YOU</span> <span class='gray2'>WANT</span> <span class='defFunction'>TO.</span>

<span class='gray2'>defprotocol</span> <span class='defFunction'>Socket.</span><span class='defFunction'>Datagram.</span><span class='gray2'>Protocol</span> <span class='keyword'>do</span>
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Send</span> <span class='gray2'>a</span> <span class='gray2'>packet</span> <span class='gray2'>to</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>recipient</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>send</span><span class='gray2'>(</span><span class='gray2'>t</span><span class='gray'>,</span> <span class='gray2'>iodata</span><span class='gray'>,</span> <span class='gray2'>term</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span style='color:yellow;'>:ok</span> <span class='gray2'>|</span> <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>term</span> <span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>send</span><span style='color:white;'>(</span><span class='parameter'><i>self</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>data</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>to</i></span><span style='color:white;'>)</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>@doc</span><span class='functionName'> </span><span class='functionName'>"</span><span class='functionName'>"</span><span class='functionName'>"</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>Receive</span><span class='functionName'> </span><span class='functionName'>a</span><span class='functionName'> </span><span class='functionName'>packet</span><span class='functionName'> </span><span class='functionName'>from</span><span class='functionName'> </span><span class='functionName'>the</span><span class='functionName'> </span><span class='functionName'>socket</span><span class='functionName'>.</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>"</span><span class='functionName'>"</span><span class='functionName'>"</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>@spec</span><span class='functionName'> </span><span class='functionName'>recv</span><span style='color:white;'>(</span><span class='parameter'><i>t</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>:</span><span class='functionName'>:</span><span class='functionName'> </span><span class='functionName'>{</span><span class='functionName'> </span><span class='functionName'>:ok</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>{</span><span class='functionName'> </span><span class='functionName'>iodata</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>{</span><span class='functionName'> </span><span class='functionName'>Socket.</span><span class='functionName'>Address.</span><span class='functionName'>t</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>:inet</span><span class='functionName'>.</span><span class='functionName'>port</span><span class='functionName'>_</span><span class='functionName'>number</span><span class='functionName'> </span><span class='functionName'>}</span><span class='functionName'> </span><span class='functionName'>}</span><span class='functionName'> </span><span class='functionName'>}</span><span class='functionName'> </span><span class='functionName'>|</span><span class='functionName'> </span><span class='functionName'>{</span><span class='functionName'> </span><span class='functionName'>:error</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>term</span><span class='functionName'> </span><span class='functionName'>}</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>def</span><span class='functionName'> </span><span class='functionName'>recv</span><span style='color:white;'>(</span><span class='parameter'><i>self</i></span><span style='color:white;'>)</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>@doc</span><span class='functionName'> </span><span class='functionName'>"</span><span class='functionName'>"</span><span class='functionName'>"</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>Receive</span><span class='functionName'> </span><span class='functionName'>a</span><span class='functionName'> </span><span class='functionName'>packet</span><span class='functionName'> </span><span class='functionName'>with</span><span class='functionName'> </span><span class='functionName'>the</span><span class='functionName'> </span><span class='functionName'>given</span><span class='functionName'> </span><span class='functionName'>options</span><span class='functionName'> </span><span class='functionName'>or</span><span class='functionName'> </span><span class='functionName'>with</span><span class='functionName'> </span><span class='functionName'>the</span><span class='functionName'> </span><span class='functionName'>given</span><span class='functionName'> </span><span class='functionName'>size</span><span class='functionName'>.</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>"</span><span class='functionName'>"</span><span class='functionName'>"</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>@spec</span><span class='functionName'> </span><span class='functionName'>recv</span><span style='color:white;'>(</span><span class='parameter'><i>t</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>non</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>neg</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>integer</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>|</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>Keyword.</i></span><span class='parameter'><i>t</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>:</span><span class='functionName'>:</span><span class='functionName'> </span><span class='functionName'>{</span><span class='functionName'> </span><span class='functionName'>:ok</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>{</span><span class='functionName'> </span><span class='functionName'>iodata</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>{</span><span class='functionName'> </span><span class='functionName'>Socket.</span><span class='functionName'>Address.</span><span class='functionName'>t</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>:inet</span><span class='functionName'>.</span><span class='functionName'>port</span><span class='functionName'>_</span><span class='functionName'>number</span><span class='functionName'> </span><span class='functionName'>}</span><span class='functionName'> </span><span class='functionName'>}</span><span class='functionName'> </span><span class='functionName'>}</span><span class='functionName'> </span><span class='functionName'>|</span><span class='functionName'> </span><span class='functionName'>{</span><span class='functionName'> </span><span class='functionName'>:error</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>term</span><span class='functionName'> </span><span class='functionName'>}</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>def</span><span class='functionName'> </span><span class='functionName'>recv</span><span style='color:white;'>(</span><span class='parameter'><i>self</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>length</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>or</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>options</i></span><span style='color:white;'>)</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>@doc</span><span class='functionName'> </span><span class='functionName'>"</span><span class='functionName'>"</span><span class='functionName'>"</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>Receive</span><span class='functionName'> </span><span class='functionName'>a</span><span class='functionName'> </span><span class='functionName'>packet</span><span class='functionName'> </span><span class='functionName'>with</span><span class='functionName'> </span><span class='functionName'>the</span><span class='functionName'> </span><span class='functionName'>given</span><span class='functionName'> </span><span class='functionName'>size</span><span class='functionName'> </span><span class='functionName'>and</span><span class='functionName'> </span><span class='functionName'>options</span><span class='functionName'>.</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>"</span><span class='functionName'>"</span><span class='functionName'>"</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>@spec</span><span class='functionName'> </span><span class='functionName'>recv</span><span style='color:white;'>(</span><span class='parameter'><i>t</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>non</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>neg</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>integer</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>Keyword.</i></span><span class='parameter'><i>t</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>:</span><span class='functionName'>:</span><span class='functionName'> </span><span class='functionName'>{</span><span class='functionName'> </span><span class='functionName'>:ok</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>{</span><span class='functionName'> </span><span class='functionName'>iodata</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>{</span><span class='functionName'> </span><span class='functionName'>Socket.</span><span class='functionName'>Address.</span><span class='functionName'>t</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>:inet</span><span class='functionName'>.</span><span class='functionName'>port</span><span class='functionName'>_</span><span class='functionName'>number</span><span class='functionName'> </span><span class='functionName'>}</span><span class='functionName'> </span><span class='functionName'>}</span><span class='functionName'> </span><span class='functionName'>}</span><span class='functionName'> </span><span class='functionName'>|</span><span class='functionName'> </span><span class='functionName'>{</span><span class='functionName'> </span><span class='functionName'>:error</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>term</span><span class='functionName'> </span><span class='functionName'>}</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>def</span><span class='functionName'> </span><span class='functionName'>recv</span><span style='color:white;'>(</span><span class='parameter'><i>self</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>length</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>options</i></span><span style='color:white;'>)</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>end</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>defmodule</span><span class='functionName'> </span><span class='functionName'>Socket.</span><span class='functionName'>Datagram</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@type</span> <span class='gray2'>t</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='defFunction'>Socket.</span><span class='defFunction'>Datagram.</span><span class='defFunction'>Protocol.</span><span class='gray2'>t</span>
  
    <span class='keyword'>use</span> <span class='defFunction'>Socket.</span><span class='gray2'>Helpers</span>
  
    <span class='gray2'>defdelegate</span> <span class='gray2'>send</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray'>,</span> <span class='gray2'>packet</span><span class='gray'>,</span> <span class='gray2'>to</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>to:</span> <span class='defFunction'>Socket.</span><span class='defFunction'>Datagram.</span><span class='gray2'>Protocol</span>
    <span class='gray2'>defbang</span> <span class='gray2'>send</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray'>,</span> <span class='gray2'>packet</span><span class='gray'>,</span> <span class='gray2'>to</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>to:</span> <span class='defFunction'>Socket.</span><span class='defFunction'>Datagram.</span><span class='gray2'>Protocol</span>
  
    <span class='gray2'>defdelegate</span> <span class='gray2'>recv</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>to:</span> <span class='defFunction'>Socket.</span><span class='defFunction'>Datagram.</span><span class='gray2'>Protocol</span>
    <span class='gray2'>defbang</span>     <span class='gray2'>recv</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>to:</span> <span class='defFunction'>Socket.</span><span class='defFunction'>Datagram.</span><span class='gray2'>Protocol</span>
    <span class='gray2'>defdelegate</span> <span class='gray2'>recv</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray'>,</span> <span class='gray2'>length</span><span class='gray2'>_</span><span class='gray2'>or</span><span class='gray2'>_</span><span class='gray2'>options</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>to:</span> <span class='defFunction'>Socket.</span><span class='defFunction'>Datagram.</span><span class='gray2'>Protocol</span>
    <span class='gray2'>defbang</span>     <span class='gray2'>recv</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray'>,</span> <span class='gray2'>length</span><span class='gray2'>_</span><span class='gray2'>or</span><span class='gray2'>_</span><span class='gray2'>options</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>to:</span> <span class='defFunction'>Socket.</span><span class='defFunction'>Datagram.</span><span class='gray2'>Protocol</span>
    <span class='gray2'>defdelegate</span> <span class='gray2'>recv</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray'>,</span> <span class='gray2'>length</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>to:</span> <span class='defFunction'>Socket.</span><span class='defFunction'>Datagram.</span><span class='gray2'>Protocol</span>
    <span class='gray2'>defbang</span>     <span class='gray2'>recv</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray'>,</span> <span class='gray2'>length</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>to:</span> <span class='defFunction'>Socket.</span><span class='defFunction'>Datagram.</span><span class='gray2'>Protocol</span>
  <span class='keyword'>end</span>
  
  <span class='gray2'>defimpl</span> <span class='defFunction'>Socket.</span><span class='defFunction'>Datagram.</span><span class='gray2'>Protocol</span><span class='gray'>,</span> <span class='gray2'>for:</span> <span class='gray2'>Port</span> <span class='keyword'>do</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>send</span><span style='color:white;'>(</span><span class='parameter'><i>self</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>data</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>{</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>address</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>port</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>}</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>address</span> <span class='keyword'>=</span> <span class='keyword'>if</span> <span class='gray2'>address</span> <span class='keyword'>|></span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>binary</span> <span class='keyword'>do</span>
        <span class='gray2'>address</span> <span class='keyword'>|></span> <span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>charlist</span>
      <span class='keyword'>else</span>
        <span class='gray2'>address</span>
      <span class='keyword'>end</span>
  
      <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>udp</span><span class='gray'>.</span><span class='gray2'>send</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray'>,</span> <span class='gray2'>address</span><span class='gray'>,</span> <span class='gray2'>port</span><span class='gray'>,</span> <span class='gray2'>data</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>recv</span><span style='color:white;'>(</span><span class='parameter'><i>self</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>recv</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>recv</span><span style='color:white;'>(</span><span class='parameter'><i>self</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>length</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>length</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>integer</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>recv</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray'>,</span> <span class='gray2'>length</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>recv</span><span style='color:white;'>(</span><span class='parameter'><i>self</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>options</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>options</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>list</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>recv</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>recv</span><span style='color:white;'>(</span><span class='parameter'><i>self</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>length</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>options</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>timeout</span> <span class='keyword'>=</span> <span class='gray2'>options</span><span class='gray2'>[</span><span style='color:yellow;'>:timeout</span><span class='gray2'>]</span> <span class='gray2'>|</span><span class='gray2'>|</span> <span style='color:yellow;'>:infinity</span>
  
      <span class='gray2'>case</span> <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>udp</span><span class='gray'>.</span><span class='gray2'>recv</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray'>,</span> <span class='gray2'>length</span><span class='gray'>,</span> <span class='gray2'>timeout</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>{</span> <span class='gray2'>address</span><span class='gray'>,</span> <span class='gray2'>port</span><span class='gray'>,</span> <span class='gray2'>data</span> <span class='gray2'>}</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>{</span> <span class='gray2'>data</span><span class='gray'>,</span> <span class='gray2'>{</span> <span class='gray2'>address</span><span class='gray'>,</span> <span class='gray2'>port</span> <span class='gray2'>}</span> <span class='gray2'>}</span> <span class='gray2'>}</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:closed</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>}</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>