 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Translate.</span><span class='functionName'>Forms.</span><span class='functionName'>Pattern.</span><span class='functionName'>Patterns</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
  
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>J</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>Helpers</span>
  
    <span style='color:peru;'>@parameter</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span style='color:yellow;'>:variable</span><span class='gray2'>)</span>
    <span class='gray2'>)</span>
  
    <span style='color:peru;'>@head</span><span class='gray2'>_</span><span class='gray2'>tail</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span style='color:yellow;'>:headTail</span><span class='gray2'>)</span>
    <span class='gray2'>)</span>
  
    <span style='color:peru;'>@starts</span><span class='gray2'>_</span><span class='gray2'>with</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span style='color:yellow;'>:startsWith</span><span class='gray2'>)</span>
    <span class='gray2'>)</span>
  
    <span style='color:peru;'>@capture</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span style='color:yellow;'>:capture</span><span class='gray2'>)</span>
    <span class='gray2'>)</span>
  
    <span style='color:peru;'>@bound</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span style='color:yellow;'>:bound</span><span class='gray2'>)</span>
    <span class='gray2'>)</span>
  
    <span class='gray2'>type</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span style='color:yellow;'>:type</span><span class='gray2'>)</span>
    <span class='gray2'>)</span>
  
    <span style='color:peru;'>@bitstring</span><span class='gray2'>_</span><span class='gray2'>match</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span style='color:yellow;'>:bitStringMatch</span><span class='gray2'>)</span>
    <span class='gray2'>)</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>parameter</span><span style='color:white;'>(</span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span style='color:peru;'>@parameter</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>]</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>parameter</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span style='color:peru;'>@parameter</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>name</span><span class='gray2'>]</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>head</span><span class='functionName'>_</span><span class='functionName'>tail</span><span style='color:white;'>(</span><span class='parameter'><i>headParameter</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>tailParameter</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span style='color:peru;'>@head</span><span class='gray2'>_</span><span class='gray2'>tail</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>headParameter</span><span class='gray'>,</span> <span class='gray2'>tailParameter</span><span class='gray2'>]</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>starts</span><span class='functionName'>_</span><span class='functionName'>with</span><span style='color:white;'>(</span><span class='parameter'><i>prefix</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span style='color:peru;'>@starts</span><span class='gray2'>_</span><span class='gray2'>with</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>literal</span><span class='gray2'>(</span><span class='gray2'>prefix</span><span class='gray2'>)</span><span class='gray2'>]</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>capture</span><span style='color:white;'>(</span><span class='parameter'><i>value</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span style='color:peru;'>@capture</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>value</span><span class='gray2'>]</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>bound</span><span style='color:white;'>(</span><span class='parameter'><i>value</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span style='color:peru;'>@bound</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>value</span><span class='gray2'>]</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>type</span><span style='color:white;'>(</span><span class='parameter'><i>prototype</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>value</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span class='gray2'>type</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>prototype</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray2'>]</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>bitstring</span><span class='functionName'>_</span><span class='functionName'>match</span><span style='color:white;'>(</span><span class='parameter'><i>values</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span style='color:peru;'>@bitstring</span><span class='gray2'>_</span><span class='gray2'>match</span><span class='gray'>,</span>
        <span class='gray2'>values</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>