 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>ModuleSystems.</span><span class='functionName'>Namespace</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>JS</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>Helpers</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>Identifier</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>build</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>body</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>exports</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>namespace</span><span class='gray2'>_</span><span class='gray2'>body</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>exports</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>call</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>function</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>members</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>Elixir</span><span class='gray2'>"</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='defFunction'>Module.</span><span class='gray2'>split</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>)</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>function</span><span class='gray2'>]</span>
      <span class='defFunction'>Identifier.</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>namespace</span><span class='gray2'>_</span><span class='gray2'>members</span><span class='gray2'>(</span><span class='gray2'>members</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>build</span><span class='gray2'>_</span><span class='gray2'>namespace</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>JS.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
        <span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>ElixirScript</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='defFunction'>JS.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
          <span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span style='color:yellow;'>:Core</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='defFunction'>JS.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
            <span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span style='color:yellow;'>:Functions</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span style='color:yellow;'>:build</span><span class='gray2'>_</span><span class='gray2'>namespace</span><span class='gray2'>)</span>
          <span class='gray2'>)</span>
        <span class='gray2'>)</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>namespace</span><span class='gray2'>_</span><span class='gray2'>body</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>exports</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>values</span> <span class='keyword'>=</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>call</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>exports</span><span class='gray2'>"</span><span class='gray2'>)</span>
  
      <span class='gray2'>js</span><span class='gray2'>_</span><span class='keyword'>if</span> <span class='keyword'>=</span> <span class='defFunction'>JS.</span><span class='keyword'>if</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span>
        <span class='gray2'>values</span><span class='gray'>,</span>
        <span class='defFunction'>JS.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>exports</span> <span class='keyword'>=</span> <span class='keyword'>if</span> <span class='gray2'>is</span><span class='gray2'>_</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>(</span><span class='gray2'>exports</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='defFunction'>JS.</span><span class='gray2'>object</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='keyword'>else</span>
        <span class='gray2'>exports</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>declaration</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>declare</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>exports</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>exports</span><span class='gray2'>)</span>
  
      <span class='gray2'>assign</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>assign</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>exports</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
      <span class='gray2'>exports</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='defFunction'>JS.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>exports</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span>
  
      <span class='gray2'>make</span> <span class='keyword'>=</span> <span class='defFunction'>JS.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
            <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
              <span class='gray2'>build</span><span class='gray2'>_</span><span class='gray2'>namespace</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>[</span><span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>Elixir</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='defFunction'>JS.</span><span class='gray2'>literal</span><span class='gray2'>(</span><span class='defFunction'>Enum.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>Elixir</span><span class='gray2'>"</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='defFunction'>Module.</span><span class='gray2'>split</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray'>.</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span>
            <span class='gray2'>)</span><span class='gray'>,</span>
            <span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>load</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>func</span><span class='gray2'>_</span><span class='gray2'>body</span> <span class='keyword'>=</span> <span class='defFunction'>JS.</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='keyword'>if</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>body</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>declaration</span><span class='gray'>,</span> <span class='gray2'>assign</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>exports</span><span class='gray2'>)</span>
  
      <span class='gray2'>func</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>function</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>Elixir</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>func</span><span class='gray2'>_</span><span class='gray2'>body</span><span class='gray2'>)</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>assign</span><span class='gray2'>(</span>
        <span class='gray2'>make</span><span class='gray'>,</span>
        <span class='gray2'>func</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>