 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Beam</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Takes</span> <span class='gray2'>a</span> <span class='gray2'>module</span> <span class='gray2'>and</span> <span class='gray2'>finds</span> <span class='gray2'>the</span> <span class='gray2'>expanded</span> <span class='gray2'>AST</span>
    <span class='gray2'>from</span> <span class='gray2'>the</span> <span class='gray2'>debug</span> <span class='gray2'>info</span> <span class='gray2'>inside</span> <span class='gray2'>the</span> <span class='gray2'>beam</span> <span class='gray2'>file</span><span class='gray'>.</span>
    <span class='gray2'>For</span> <span class='gray2'>protocols</span><span class='gray'>,</span> <span class='gray2'>this</span> <span class='gray2'>will</span> <span class='gray2'>return</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span>
    <span class='gray2'>all</span> <span class='gray2'>the</span> <span class='gray2'>protocol</span> <span class='gray2'>implementations</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>atom</span> <span class='gray2'>|</span> <span class='gray2'>bitstring</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>map</span><span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>atom</span><span class='gray'>,</span> <span class='gray2'>map</span><span class='gray'>,</span> <span class='gray2'>list</span><span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>binary</span><span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>debug</span><span class='functionName'>_</span><span class='functionName'>info</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'># We get debug info from String and then replace</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'># functions in it with equivalents in ElixirScript</span><span class='functionName'>.</span><span class='functionName'>String.</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'># This is so that we don</span><span class='functionName'>'</span><span class='functionName'>t</span><span class='functionName'> </span><span class='functionName'>include</span><span class='functionName'> </span><span class='functionName'>the</span><span class='functionName'> </span><span class='functionName'>unicode</span><span class='functionName'> </span><span class='functionName'>database</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'># in our output</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>def</span><span class='functionName'> </span><span class='functionName'>debug</span><span class='functionName'>_</span><span class='functionName'>info</span><span style='color:white;'>(</span><span class='parameter'><i>String</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>String</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>ex</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='defFunction'>ElixirScript.</span><span class='gray2'>String</span><span class='gray2'>)</span>
  
      <span class='gray2'>definitions</span> <span class='keyword'>=</span> <span class='gray2'>replace</span><span class='gray2'>_</span><span class='gray2'>definitions</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>.</span><span class='gray2'>definitions</span><span class='gray'>,</span> <span class='gray2'>ex</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray'>.</span><span class='gray2'>definitions</span><span class='gray2'>)</span>
  
      <span class='gray2'>info</span> <span class='keyword'>=</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>info</span> <span class='gray2'>|</span> <span class='gray2'>definitions:</span> <span class='gray2'>definitions</span><span class='gray2'>}</span>
  
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='comment'># Replace some modules with ElixirScript versions</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>debug</span><span class='functionName'>_</span><span class='functionName'>info</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>module</span><span class='functionName'> </span><span class='functionName'>in</span><span class='functionName'> </span><span class='functionName'>[</span><span class='functionName'>Agent</span><span class='functionName'>]</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='defFunction'>Module.</span><span class='gray2'>concat</span><span class='gray2'>(</span><span class='gray2'>ElixirScript</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:module</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span><span class='gray2'>}</span>
  
        <span class='gray2'>e</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>e</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>debug</span><span class='functionName'>_</span><span class='functionName'>info</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>atom</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>debug</span><span class='functionName'>_</span><span class='functionName'>info</span><span style='color:white;'>(</span><span class='parameter'><i>beam</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>bitstring</span><span style='color:white;'>(</span><span class='parameter'><i>beam</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>beam</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>path</span> <span class='comment'>\</span><span class='comment'>\ nil</span><span class='gray2'>)</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>case</span> <span style='color:yellow;'>:code</span><span class='gray'>.</span><span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>object</span><span class='gray2'>_</span><span class='gray2'>code</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>beam</span><span class='gray'>,</span> <span class='gray2'>beam</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>beam</span><span class='gray'>,</span> <span class='gray2'>beam</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span>
  
        <span style='color:yellow;'>:error</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Unknown</span> <span class='gray2'>module</span><span class='gray2'>"</span><span class='gray2'>}</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>beam</span><span class='gray'>,</span> <span class='gray2'>beam</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>with</span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info:</span> <span class='gray2'>{</span><span style='color:yellow;'>:debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>v1</span><span class='gray'>,</span> <span class='gray2'>backend</span><span class='gray'>,</span> <span class='gray2'>data</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>}</span> <span class='keyword'><</span><span class='gray2'>-</span>
             <span style='color:yellow;'>:beam</span><span class='gray2'>_</span><span class='gray2'>lib</span><span class='gray'>.</span><span class='gray2'>chunks</span><span class='gray2'>(</span><span class='gray2'>beam</span><span class='gray'>,</span> <span class='gray2'>[</span><span style='color:yellow;'>:debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span>
           <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>^</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>attribute</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>}</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:beam</span><span class='gray2'>_</span><span class='gray2'>lib</span><span class='gray'>.</span><span class='gray2'>chunks</span><span class='gray2'>(</span><span class='gray2'>beam</span><span class='gray'>,</span> <span class='gray2'>[</span><span style='color:yellow;'>:attributes</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='keyword'>if</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>attribute</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>[</span><span style='color:yellow;'>:attributes</span><span class='gray2'>]</span><span class='gray'>,</span> <span style='color:yellow;'>:protocol</span><span class='gray2'>)</span> <span class='keyword'>do</span>
          <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>protocol</span><span class='gray2'>_</span><span class='gray2'>implementations</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>beam</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span>
        <span class='keyword'>else</span>
          <span class='gray2'>backend</span><span class='gray'>.</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span style='color:yellow;'>:elixir</span><span class='gray2'>_</span><span class='gray2'>v1</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>data</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
          <span class='keyword'>|></span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>beam</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>else</span>
        <span style='color:yellow;'>:error</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Unknown</span> <span class='gray2'>module</span><span class='gray2'>"</span><span class='gray2'>}</span>
  
        <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:beam</span><span class='gray2'>_</span><span class='gray2'>lib</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:unknown</span><span class='gray2'>_</span><span class='gray2'>chunk</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>non</span><span class='gray2'>_</span><span class='gray2'>existing</span><span class='gray'>.</span><span class='gray2'>beam</span><span class='gray2'>"</span><span class='gray'>,</span> <span style='color:yellow;'>:debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>}</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Unsupported</span> <span class='gray2'>version</span> <span class='gray2'>of</span> <span class='gray2'>Erlang</span><span class='gray2'>"</span><span class='gray2'>}</span>
  
        <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:beam</span><span class='gray2'>_</span><span class='gray2'>lib</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:missing</span><span class='gray2'>_</span><span class='gray2'>chunk</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Debug</span> <span class='gray2'>info</span> <span class='gray2'>not</span> <span class='gray2'>available</span><span class='gray2'>"</span><span class='gray2'>}</span>
  
        <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:beam</span><span class='gray2'>_</span><span class='gray2'>lib</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:file</span><span class='gray2'>_</span><span class='gray2'>error</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>non</span><span class='gray2'>_</span><span class='gray2'>existing</span><span class='gray'>.</span><span class='gray2'>beam</span><span class='gray2'>"</span><span class='gray'>,</span> <span style='color:yellow;'>:enoent</span><span class='gray2'>}</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Debug</span> <span class='gray2'>info</span> <span class='gray2'>not</span> <span class='gray2'>available</span><span class='gray2'>"</span><span class='gray2'>}</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>info</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:last</span><span class='gray2'>_</span><span class='gray2'>modified</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>beam</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>info</span> <span class='keyword'>=</span>
        <span class='gray2'>case</span> <span class='defFunction'>File.</span><span class='gray2'>stat</span><span class='gray2'>(</span><span class='gray2'>beam</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>time:</span> <span style='color:yellow;'>:posix</span><span class='gray2'>)</span> <span class='keyword'>do</span>
          <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>file</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:last</span><span class='gray2'>_</span><span class='gray2'>modified</span><span class='gray'>,</span> <span class='gray2'>file</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray'>.</span><span class='gray2'>mtime</span><span class='gray2'>)</span>
  
          <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:last</span><span class='gray2'>_</span><span class='gray2'>modified</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
  
      <span class='gray2'>info</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:beam</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>beam</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>error</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>error</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>protocol</span><span class='gray2'>_</span><span class='gray2'>implementations</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>beam</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>protocol</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>beam</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span>
  
      <span class='gray2'>implementations</span> <span class='keyword'>=</span>
        <span class='gray2'>module</span>
        <span class='keyword'>|></span> <span class='defFunction'>Protocol.</span><span class='gray2'>extract</span><span class='gray2'>_</span><span class='gray2'>impls</span><span class='gray2'>(</span><span style='color:yellow;'>:code</span><span class='gray'>.</span><span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Module.</span><span class='gray2'>concat</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>x</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>end</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>case</span> <span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray2'>)</span> <span class='keyword'>do</span>
            <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>{</span><span class='gray2'>x</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span>
  
            <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>raise</span> <span class='defFunction'>ElixirScript.</span><span class='gray2'>CompileError</span><span class='gray'>,</span>
                <span class='gray2'>message:</span> <span class='gray2'>"</span><span class='gray2'>Unable</span> <span class='gray2'>to</span> <span class='gray2'>compile</span> <span class='gray2'>protocol</span> <span class='gray2'>implementation</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray2'>)</span><span class='gray2'>}</span><span class='gray2'>"</span><span class='gray'>,</span>
                <span class='gray2'>severity:</span> <span style='color:yellow;'>:error</span>
          <span class='keyword'>end</span>
        <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>protocol</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray'>,</span> <span class='gray2'>implementations</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>replace</span><span class='gray2'>_</span><span class='gray2'>definitions</span><span class='gray2'>(</span><span class='gray2'>original</span><span class='gray2'>_</span><span class='gray2'>definitions</span><span class='gray'>,</span> <span class='gray2'>replacement</span><span class='gray2'>_</span><span class='gray2'>definitions</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>original</span><span class='gray2'>_</span><span class='gray2'>definitions</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>function</span><span class='gray'>,</span> <span class='gray2'>arity</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>ast</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>ex</span><span class='gray2'>_</span><span class='gray2'>ast</span> <span class='keyword'>=</span>
          <span class='defFunction'>Enum.</span><span class='gray2'>find</span><span class='gray2'>(</span><span class='gray2'>replacement</span><span class='gray2'>_</span><span class='gray2'>definitions</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>ex</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray'>,</span> <span class='gray2'>ex</span><span class='gray2'>_</span><span class='gray2'>arity</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>ex</span><span class='gray2'>_</span><span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>ex</span><span class='gray2'>_</span><span class='gray2'>function</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>function</span> <span class='gray2'>and</span> <span class='gray2'>ex</span><span class='gray2'>_</span><span class='gray2'>arity</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>arity</span> <span class='gray2'>and</span> <span class='gray2'>ex</span><span class='gray2'>_</span><span class='gray2'>type</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>type</span>
          <span class='keyword'>end</span><span class='gray2'>)</span>
  
        <span class='gray2'>case</span> <span class='gray2'>ex</span><span class='gray2'>_</span><span class='gray2'>ast</span> <span class='keyword'>do</span>
          <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>ast</span>
  
          <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>ex</span><span class='gray2'>_</span><span class='gray2'>ast</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='gray2'>endv</span></pre>