 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Deck</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Create</span><span class='gray'>,</span> <span class='gray2'>shuffle</span><span class='gray'>,</span> <span class='gray2'>deal</span> <span class='gray2'>a</span> <span class='gray2'>set</span> <span class='gray2'>of</span> <span class='gray2'>52</span> <span class='gray2'>cards</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Returns</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>tuples</span><span class='gray'>,</span> <span class='gray2'>in</span> <span class='gray2'>sorted</span> <span class='gray2'>order</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>new</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>for</span> <span class='gray2'>suit</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>~</span><span class='gray2'>w</span><span class='gray2'>(</span><span class='gray2'>Hearts</span> <span class='gray2'>Clubs</span> <span class='gray2'>Diamonds</span> <span class='gray2'>Spades</span><span class='gray2'>)</span><span class='gray'>,</span>
       <span class='gray2'>face</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>6</span><span class='gray'>,</span> <span class='gray2'>7</span><span class='gray'>,</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>9</span><span class='gray'>,</span> <span class='gray2'>10</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>J</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Q</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>K</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>A</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray'>,</span>
       <span class='keyword'>do:</span> <span class='gray2'>{</span><span class='gray2'>suit</span><span class='gray'>,</span> <span class='gray2'>face</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Given</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>cards</span> <span class='gray2'>(</span><span class='gray2'>a</span> <span class='gray2'>deck</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>reorder</span> <span class='gray2'>cards</span> <span class='gray2'>randomly</span><span class='gray'>.</span>

    <span class='gray2'>If</span> <span class='gray2'>no</span> <span class='gray2'>deck</span> <span class='gray2'>is</span> <span class='gray2'>given</span><span class='gray'>,</span> <span class='gray2'>then</span> <span class='gray2'>create</span> <span class='gray2'>a</span> <span class='gray2'>new</span> <span class='gray2'>one</span> <span class='gray2'>and</span> <span class='gray2'>shuffle</span> <span class='gray2'>that</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>shuffle</span><span style='color:white;'>(</span><span class='parameter'><i>deck</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ new</i></span><span class='parameter'><i>(</i></span><span style='color:white;'>)</span><span class='functionName'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='defFunction'>Enum.</span><span class='gray2'>shuffle</span><span class='gray2'>(</span><span class='gray2'>deck</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Given</span> <span class='gray2'>a</span> <span class='gray2'>deck</span> <span class='gray2'>of</span> <span class='gray2'>cards</span><span class='gray'>,</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>and</span> <span class='gray2'>a</span> <span class='gray2'>deal</span> <span class='gray2'>function</span><span class='gray'>,</span>
    <span class='gray2'>call</span> <span class='gray2'>the</span> <span class='gray2'>deal</span> <span class='gray2'>function</span> <span class='gray2'>for</span> <span class='gray2'>each</span> <span class='gray2'>card</span> <span class='gray2'>for</span> <span class='gray2'>each</span> <span class='gray2'>player</span><span class='gray'>.</span> <span class='gray2'>The</span> <span class='gray2'>function</span>
    <span class='gray2'>should</span> <span class='gray2'>return</span> <span class='gray2'>the</span> <span class='gray2'>updated</span> <span class='gray2'>player</span><span class='gray'>.</span>

    <span class='gray2'>Returns</span> <span class='gray2'>the</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>players</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>deal</span><span style='color:white;'>(</span><span class='parameter'><i>cards</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>players</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>deal</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>fn</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>cards</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>per</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>player</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ 52</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>cards</span><span class='gray2'>_</span><span class='gray2'>left</span> <span class='keyword'>=</span> <span class='gray2'>cards</span><span class='gray2'>_</span><span class='gray2'>per</span><span class='gray2'>_</span><span class='gray2'>player</span> <span class='gray2'>*</span> <span class='defFunction'>Enum.</span><span class='gray2'>count</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray2'>)</span>
    <span class='gray2'>_</span><span class='gray2'>deal</span><span class='gray2'>(</span><span class='gray2'>cards</span><span class='gray'>,</span> <span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>deal</span><span class='gray2'>_</span><span class='keyword'>fn</span><span class='gray'>,</span> <span class='gray2'>cards</span><span class='gray2'>_</span><span class='gray2'>left</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>_</span><span class='functionName'>deal</span><span style='color:white;'>(</span><span class='parameter'><i>cards</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>players</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>0</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='gray2'>{</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>cards</span><span class='gray2'>}</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>_</span><span class='functionName'>deal</span><span style='color:white;'>(</span><span class='parameter'><i>[</i></span><span class='parameter'><i>card</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>|</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>rest</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>cards</i></span><span class='parameter'><i>]</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>player</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>|</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>rest</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>players</i></span><span class='parameter'><i>]</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>deal</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>fn</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>cards</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>left</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>player</span> <span class='keyword'>=</span> <span class='gray2'>deal</span><span class='gray2'>_</span><span class='keyword'>fn</span><span class='gray'>.</span><span class='gray2'>(</span><span class='gray2'>card</span><span class='gray'>,</span> <span class='gray2'>player</span><span class='gray2'>)</span>
    <span class='gray2'>_</span><span class='gray2'>deal</span><span class='gray2'>(</span><span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>cards</span><span class='gray'>,</span> <span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>players</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>player</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>deal</span><span class='gray2'>_</span><span class='keyword'>fn</span><span class='gray'>,</span> <span class='gray2'>cards</span><span class='gray2'>_</span><span class='gray2'>left</span> <span class='gray2'>-</span> <span class='gray2'>1</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>_</span><span class='functionName'>deal</span><span style='color:white;'>(</span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>players</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='gray2'>{</span> <span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span> <span class='gray2'>}</span>


<span class='keyword'>end</span>

<span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>DeckTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>new</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>deck</span> <span class='keyword'>=</span> <span class='defFunction'>Deck.</span><span class='gray2'>new</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>deck</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>)</span>  <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>}</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>deck</span><span class='gray'>,</span> <span class='gray2'>51</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>A</span><span class='gray2'>"</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>shuffle</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span style='color:yellow;'>:random</span><span class='gray'>.</span><span class='gray2'>seed</span><span class='gray2'>(</span><span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>now</span><span class='gray2'>)</span>
    <span class='gray2'>deck</span> <span class='keyword'>=</span> <span class='defFunction'>Deck.</span><span class='gray2'>shuffle</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Deck.</span><span class='gray2'>shuffle</span> <span class='keyword'>!</span><span class='keyword'>=</span> <span class='gray2'>deck</span>
    <span class='gray2'>assert</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='defFunction'>Deck.</span><span class='gray2'>shuffle</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>52</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>deal</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>players</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>tim</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>jen</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>mac</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>kai</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>]</span>
    <span class='gray2'>deck</span> <span class='keyword'>=</span> <span class='defFunction'>Deck.</span><span class='gray2'>new</span>
    <span class='gray2'>{</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>deck</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Deck.</span><span class='gray2'>deal</span><span class='gray2'>(</span><span class='gray2'>deck</span><span class='gray'>,</span> <span class='gray2'>players</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>(</span><span class='gray2'>card</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>cards</span><span class='gray2'>}</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>cards</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>card</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>tim</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>6</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span>  <span class='gray2'>10</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>A</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span>   <span class='gray2'>9</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span>  <span class='gray2'>"</span><span class='gray2'>K</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Diamonds</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Diamonds</span><span class='gray2'>"</span><span class='gray'>,</span>   <span class='gray2'>8</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Diamonds</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Q</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span>  <span class='gray2'>7</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>J</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>jen</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>7</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>J</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span>    <span class='gray2'>2</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>6</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span>  <span class='gray2'>10</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span>  <span class='gray2'>"</span><span class='gray2'>A</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Diamonds</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Diamonds</span><span class='gray2'>"</span><span class='gray'>,</span>   <span class='gray2'>9</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Diamonds</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>K</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span>  <span class='gray2'>8</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Q</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>mac</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>8</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Q</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span>    <span class='gray2'>3</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>7</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>J</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Diamonds</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Diamonds</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>6</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Diamonds</span><span class='gray2'>"</span><span class='gray'>,</span>  <span class='gray2'>10</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Diamonds</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>A</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span>  <span class='gray2'>9</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>K</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>kai</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>9</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>K</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span>    <span class='gray2'>4</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>8</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Q</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Diamonds</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Diamonds</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>7</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Diamonds</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>J</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span>     <span class='gray2'>2</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>6</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>10</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>A</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='gray2'>assert</span> <span class='gray2'>deck</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>deal</span> <span class='gray2'>5</span> <span class='gray2'>cards</span> <span class='gray2'>per</span> <span class='gray2'>player</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>players</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>tim</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>jen</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>mac</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>kai</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>]</span>
    <span class='gray2'>deck</span> <span class='keyword'>=</span> <span class='defFunction'>Deck.</span><span class='gray2'>new</span>
    <span class='gray2'>{</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>deck</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Deck.</span><span class='gray2'>deal</span><span class='gray2'>(</span><span class='gray2'>deck</span><span class='gray'>,</span> <span class='gray2'>players</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>(</span><span class='gray2'>card</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>cards</span><span class='gray2'>}</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>cards</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>card</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='keyword'>end</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>tim</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>6</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span>  <span class='gray2'>10</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>A</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>jen</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>7</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>J</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span>    <span class='gray2'>2</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>6</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>mac</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>8</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Q</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span>    <span class='gray2'>3</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>7</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>kai</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>9</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>K</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span>    <span class='gray2'>4</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>8</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='gray2'>[</span><span class='gray2'>next</span> <span class='gray2'>|</span> <span class='gray2'>_</span><span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>of</span><span class='gray2'>_</span><span class='gray2'>deck</span><span class='gray2'>]</span> <span class='keyword'>=</span> <span class='gray2'>deck</span>
    <span class='gray2'>assert</span> <span class='gray2'>next</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>9</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>
</pre>