 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Edeliver.</span><span class='functionName'>StartupProgress</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
      <span class='gray2'>Monitors</span> <span class='gray2'>application</span> <span class='gray2'>start</span> <span class='gray2'>progress</span><span class='gray'>.</span>
      <span class='gray2'>This</span> <span class='gray2'>module</span> <span class='gray2'>can</span> <span class='gray2'>be</span> <span class='gray2'>added</span> <span class='gray2'>as</span> <span class='gray2'>additional</span> <span class='gray2'>error</span> <span class='gray2'>report</span> <span class='gray2'>handler</span>
      <span class='gray2'>using</span> <span class='gray2'>`</span><span style='color:yellow;'>:error</span><span class='gray2'>_</span><span class='gray2'>logger</span><span class='gray'>.</span><span class='gray2'>add</span><span class='gray2'>_</span><span class='gray2'>report</span><span class='gray2'>_</span><span class='gray2'>handler</span><span class='gray2'>/</span><span class='gray2'>1</span><span class='gray2'>`</span> <span class='gray2'>and</span>
      <span class='gray2'>handles</span> <span class='gray2'>progress</span> <span class='gray2'>reports</span> <span class='gray2'>from</span> <span class='gray2'>started</span> <span class='gray2'>applications</span> <span class='gray2'>and</span>
      <span class='gray2'>prints</span> <span class='gray2'>that</span> <span class='gray2'>information</span> <span class='gray2'>on</span> <span class='gray2'>the</span> <span class='gray2'>hidden</span> <span class='gray2'>node</span> <span class='gray2'>that</span> <span class='gray2'>called</span>
      <span class='gray2'>`</span><span class='defFunction'>Edeliver.</span><span class='gray2'>monitor</span><span class='gray2'>_</span><span class='gray2'>startup</span><span class='gray2'>_</span><span class='gray2'>progress</span><span class='gray2'>/</span><span class='gray2'>2</span><span class='gray2'>`</span> <span class='gray2'>as</span> <span class='gray2'>rpc</span> <span class='gray2'>call</span> <span class='gray2'>to</span>
      <span class='gray2'>wait</span> <span class='gray2'>until</span> <span class='gray2'>the</span> <span class='gray2'>release</span> <span class='gray2'>started</span> <span class='gray2'>after</span> <span class='gray2'>the</span> <span class='gray2'>asynchronous</span>
      <span class='gray2'>`</span><span class='gray2'>bin</span><span class='gray2'>/</span><span class='gray2'>$</span><span class='gray2'>APP</span> <span class='gray2'>start</span><span class='gray2'>`</span> <span class='gray2'>command</span> <span class='gray2'>was</span> <span class='gray2'>executed</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  
  
    <span style='color:peru;'>@typedoc</span> <span class='gray2'>"</span><span class='gray2'>State</span> <span class='gray2'>/</span> <span class='gray2'>Options</span> <span class='gray2'>passed</span> <span class='gray2'>to</span> <span class='gray2'>this</span> <span class='gray2'>report</span> <span class='gray2'>handler</span><span class='gray2'>"</span>
    <span style='color:peru;'>@type</span> <span class='gray2'>t</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>term</span>
  
    <span style='color:peru;'>@spec</span> <span class='gray2'>init</span><span class='gray2'>(</span><span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>t</span><span class='gray2'>}</span>
    <span style='color:peru;'>@doc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>init</span><span style='color:white;'>(</span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
      <span class='gray2'>Handles</span> <span class='gray2'>progress</span> <span class='gray2'>reports</span> <span class='gray2'>from</span> <span class='gray2'>started</span> <span class='gray2'>applications</span> <span class='gray2'>and</span>
      <span class='gray2'>prints</span> <span class='gray2'>that</span> <span class='gray2'>info</span> <span class='gray2'>on</span> <span class='gray2'>the</span> <span class='gray2'>hidden</span> <span class='gray2'>node</span> <span class='gray2'>that</span> <span class='gray2'>called</span>
      <span class='gray2'>`</span><span class='defFunction'>Edeliver.</span><span class='gray2'>monitor</span><span class='gray2'>_</span><span class='gray2'>startup</span><span class='gray2'>_</span><span class='gray2'>progress</span><span class='gray2'>/</span><span class='gray2'>2</span><span class='gray2'>`</span> <span class='gray2'>as</span> <span class='gray2'>rpc</span> <span class='gray2'>call</span> <span class='gray2'>to</span>
      <span class='gray2'>wait</span> <span class='gray2'>until</span> <span class='gray2'>the</span> <span class='gray2'>release</span> <span class='gray2'>started</span> <span class='gray2'>after</span> <span class='gray2'>the</span> <span class='gray2'>asynchronous</span>
      <span class='gray2'>`</span><span class='gray2'>bin</span><span class='gray2'>/</span><span class='gray2'>$</span><span class='gray2'>APP</span> <span class='gray2'>start</span><span class='gray2'>`</span> <span class='gray2'>command</span> <span class='gray2'>was</span> <span class='gray2'>executed</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='comment'># report from different node</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>handle</span><span class='gray2'>_</span><span class='gray2'>event</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>type::atom</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>term</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>t</span><span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>handle</span><span class='functionName'>_</span><span class='functionName'>event</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>type</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>gl</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>message</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>node</span><span style='color:white;'>(</span><span class='parameter'><i>gl</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>!</span><span class='functionName'>=</span><span class='functionName'> </span><span class='functionName'>node</span><span style='color:white;'>(</span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
    <span class='comment'># progress report</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>handle</span><span class='functionName'>_</span><span class='functionName'>event</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='atomo'>:info</span><span class='parameter'><i>_</i></span><span class='parameter'><i>report</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>pid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='atomo'>:progress</span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>keywords</i></span><span class='parameter'><i>}</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>keywords</span><span class='gray'>,</span> <span style='color:yellow;'>:started</span><span class='gray2'>_</span><span class='gray2'>at</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:yellow;'>:ignore</span>
        <span class='gray2'>_</span><span class='gray2'>node</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>case</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>keywords</span><span class='gray'>,</span> <span style='color:yellow;'>:application</span><span class='gray2'>)</span> <span class='keyword'>do</span>
            <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:yellow;'>:ignore</span>
            <span class='gray2'>application</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>format</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>rpc</span><span class='gray2'>_</span><span class='gray2'>script</span> <span class='gray2'>'</span><span class='gray2'>Started</span> <span class='gray2'>application</span> <span class='comment'>\</span><span class='gray2'>'</span><span class='gray2'>~</span><span class='gray2'>w</span><span class='comment'>\</span><span class='gray2'>'</span><span class='gray'>.</span><span class='gray2'>~</span><span class='gray2'>n</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>application</span><span class='gray2'>]</span>
          <span class='keyword'>end</span>
      <span class='keyword'>end</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
    <span class='comment'># no pregress report</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>handle</span><span class='functionName'>_</span><span class='functionName'>event</span><span style='color:white;'>(</span><span class='parameter'><i>_</i></span><span class='parameter'><i>event</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
  
    <span style='color:peru;'>@doc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>handle</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>term</span><span class='gray'>,</span> <span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>t</span><span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>handle</span><span class='functionName'>_</span><span class='functionName'>info</span><span style='color:white;'>(</span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
  
    <span style='color:peru;'>@doc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>handle</span><span class='gray2'>_</span><span class='gray2'>call</span><span class='gray2'>(</span><span class='gray2'>term</span><span class='gray'>,</span> <span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:bad</span><span class='gray2'>_</span><span class='gray2'>query</span><span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>handle</span><span class='functionName'>_</span><span class='functionName'>call</span><span style='color:white;'>(</span><span class='parameter'><i>_</i></span><span class='parameter'><i>query</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:bad</span><span class='gray2'>_</span><span class='gray2'>query</span><span class='gray2'>}</span>
  
    <span style='color:peru;'>@doc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>terminate</span><span class='gray2'>(</span><span class='gray2'>atom</span><span class='gray'>,</span> <span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span style='color:yellow;'>:ok</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>terminate</span><span style='color:white;'>(</span><span class='parameter'><i>_</i></span><span class='parameter'><i>reason</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span style='color:yellow;'>:ok</span>
  
  
    <span class='gray2'>defp</span> <span class='gray2'>format</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>rpc</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>(</span><span class='gray2'>format</span><span class='gray'>,</span> <span class='gray2'>arguments</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>nodes</span><span class='gray2'>(</span><span style='color:yellow;'>:hidden</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>filter</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>node</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>Regex.</span><span class='gray2'>match?</span><span class='gray2'>(</span><span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='gray2'>_</span><span class='gray2'>maint</span><span class='gray2'>_</span><span class='comment'>\d</span><span class='gray2'>+</span><span class='gray2'>/</span><span class='gray'>,</span> <span class='defFunction'>Atom.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>node</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span style='color:yellow;'>:rpc</span><span class='gray'>.</span><span class='gray2'>cast</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray'>,</span> <span style='color:yellow;'>:io</span><span class='gray'>,</span> <span style='color:yellow;'>:format</span><span class='gray'>,</span> <span class='gray2'>[</span><span style='color:yellow;'>:user</span><span class='gray'>,</span> <span class='gray2'>format</span><span class='gray'>,</span> <span class='gray2'>arguments</span><span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
  <span class='keyword'>end</span></pre>