 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Compiler</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>The</span> <span class='gray2'>entry</span> <span class='gray2'>point</span> <span class='gray2'>for</span> <span class='gray2'>the</span> <span class='gray2'>ElixirScript</span> <span class='gray2'>compilation</span> <span class='gray2'>process</span><span class='gray'>.</span>
    <span class='gray2'>Takes</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>s</span><span class='gray2'>)</span> <span class='gray2'>and</span> <span class='gray2'>compiles</span> <span class='gray2'>them</span> <span class='gray2'>and</span> <span class='gray2'>all</span> <span class='gray2'>modules</span>
    <span class='gray2'>and</span> <span class='gray2'>functions</span> <span class='gray2'>they</span> <span class='keyword'>use</span> <span class='gray2'>into</span> <span class='defFunction'>JavaScript.</span>
    <span class='gray2'>Will</span> <span class='gray2'>also</span> <span class='gray2'>take</span> <span class='gray2'>a</span> <span class='gray2'>path</span> <span class='gray2'>to</span> <span class='gray2'>Elixir</span> <span class='gray2'>files</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Takes</span> <span class='gray2'>either</span> <span class='gray2'>a</span> <span class='gray2'>module</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>module</span> <span class='gray2'>names</span><span class='gray'>,</span> <span class='gray2'>or</span> <span class='gray2'>a</span> <span class='gray2'>path</span> <span class='gray2'>as</span>
    <span class='gray2'>the</span> <span class='gray2'>entry</span> <span class='gray2'>point</span><span class='gray2'>(</span><span class='gray2'>s</span><span class='gray2'>)</span> <span class='gray2'>of</span> <span class='gray2'>an</span> <span class='gray2'>application</span><span class='gray2'>/</span><span class='gray2'>library</span><span class='gray'>.</span> <span class='gray2'>From</span> <span class='gray2'>there</span>
    <span class='gray2'>it</span> <span class='gray2'>will</span> <span class='gray2'>determine</span> <span class='gray2'>which</span> <span class='gray2'>modules</span> <span class='gray2'>and</span> <span class='gray2'>functions</span> <span class='gray2'>are</span> <span class='gray2'>needed</span>
    <span class='gray2'>to</span> <span class='gray2'>be</span> <span class='gray2'>compiled</span><span class='gray'>.</span>
    <span class='gray2'>Available</span> <span class='gray2'>options</span> <span class='gray2'>are:</span>
    <span class='gray2'>*</span> <span class='gray2'>`</span><span class='gray2'>output</span><span class='gray2'>`</span><span class='gray2'>:</span> <span class='gray2'>The</span> <span class='gray2'>path</span> <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>generated</span> <span class='gray2'>JavaScript</span> <span class='gray2'>file</span><span class='gray'>.</span>
      <span class='gray2'>If</span> <span class='gray2'>output</span> <span class='gray2'>is</span> <span class='gray2'>`</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>`</span><span class='gray'>,</span> <span class='gray2'>then</span> <span class='gray2'>generated</span> <span class='gray2'>code</span> <span class='gray2'>is</span> <span class='gray2'>sent</span> <span class='gray2'>to</span> <span class='gray2'>standard</span> <span class='gray2'>out</span>
      <span class='gray2'>If</span> <span class='gray2'>output</span> <span class='gray2'>is</span> <span class='gray2'>a</span> <span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>the</span> <span class='gray2'>generated</span> <span class='gray2'>code</span> <span class='gray2'>placed</span> <span class='gray2'>in</span> <span class='gray2'>that</span> <span class='gray2'>path</span><span class='gray'>.</span>
      <span class='gray2'>If</span> <span class='gray2'>path</span> <span class='gray2'>ends</span> <span class='gray2'>in</span> <span class='gray2'>`</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>`</span> <span class='gray2'>then</span> <span class='gray2'>that</span> <span class='gray2'>will</span> <span class='gray2'>be</span> <span class='gray2'>the</span> <span class='gray2'>name</span> <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>file</span><span class='gray'>.</span>
      <span class='gray2'>If</span> <span class='gray2'>a</span> <span class='gray2'>directory</span> <span class='gray2'>is</span> <span class='gray2'>given</span><span class='gray'>,</span> <span class='gray2'>file</span> <span class='gray2'>will</span> <span class='gray2'>be</span> <span class='gray2'>named</span> <span class='gray2'>`</span><span class='gray2'>elixirscript</span><span class='gray'>.</span><span class='gray2'>build</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>`</span>
    <span class='gray2'>*</span> <span class='gray2'>`</span><span class='gray2'>root</span><span class='gray2'>`</span><span class='gray2'>:</span> <span class='gray2'>Optional</span> <span class='gray2'>root</span> <span class='gray2'>for</span> <span class='gray2'>imports</span> <span class='gray2'>of</span> <span class='gray2'>FFI</span> <span class='gray2'>JavaScript</span> <span class='gray2'>modules</span><span class='gray'>.</span> <span class='gray2'>Defaults</span> <span class='gray2'>to</span> <span class='gray2'>`</span><span class='gray'>.</span><span class='gray2'>`</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='gray2'>{</span>
      <span class='gray2'>State</span><span class='gray'>,</span>
      <span class='gray2'>Translate</span><span class='gray'>,</span>
      <span class='gray2'>FindUsedModules</span><span class='gray'>,</span>
      <span class='gray2'>FindUsedFunctions</span><span class='gray'>,</span>
      <span class='gray2'>Output</span>
    <span class='gray2'>}</span>
  
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>ModuleSystems.</span><span class='gray2'>ES</span>
    <span class='gray2'>alias</span> <span class='defFunction'>Kernel.</span><span class='gray2'>ParallelCompiler</span>
  
    <span style='color:peru;'>@type</span> <span class='gray2'>compiler</span><span class='gray2'>_</span><span class='gray2'>input</span> <span class='gray2'>:</span><span class='gray2'>:</span>
            <span class='gray2'>atom</span>
            <span class='gray2'>|</span> <span class='gray2'>[</span><span class='gray2'>atom</span><span class='gray2'>]</span>
            <span class='gray2'>|</span> <span class='gray2'>binary</span>
  
    <span style='color:peru;'>@spec</span> <span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>compiler</span><span class='gray2'>_</span><span class='gray2'>input</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>map</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>path</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>opts</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'></span><span class='functionName'>
</span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'> </span><span class='functionName'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>path</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>opts</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>binary</span><span style='color:white;'>(</span><span class='parameter'><i>path</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>opts</span> <span class='keyword'>=</span> <span class='gray2'>build</span><span class='gray2'>_</span><span class='gray2'>compiler</span><span class='gray2'>_</span><span class='gray2'>options</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>State.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray2'>)</span>
  
      <span class='gray2'>path</span> <span class='keyword'>=</span>
        <span class='keyword'>if</span> <span class='defFunction'>String.</span><span class='gray2'>ends</span><span class='gray2'>_</span><span class='gray2'>with?</span><span class='gray2'>(</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray'>.</span><span class='gray2'>ex</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray'>.</span><span class='gray2'>exs</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
          <span class='gray2'>path</span>
        <span class='keyword'>else</span>
          <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>*</span><span class='gray2'>*</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>*</span><span class='gray'>.</span><span class='gray2'>{</span><span class='gray2'>ex</span><span class='gray'>,</span><span class='gray2'>exs</span><span class='gray2'>}</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
  
      <span class='gray2'>files</span> <span class='keyword'>=</span> <span class='defFunction'>Path.</span><span class='gray2'>wildcard</span><span class='gray2'>(</span><span class='gray2'>path</span><span class='gray2'>)</span>
  
      <span class='defFunction'>ParallelCompiler.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>files</span><span class='gray'>,</span> <span class='gray2'>each</span><span class='gray2'>_</span><span class='gray2'>module:</span> <span class='gray2'>&</span><span class='gray2'>on</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>3</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
      <span class='gray2'>entry</span><span class='gray2'>_</span><span class='gray2'>modules</span> <span class='keyword'>=</span>
        <span class='gray2'>pid</span>
        <span class='keyword'>|></span> <span class='defFunction'>State.</span><span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>memory</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>(</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Keyword.</span><span class='gray2'>keys</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>entry</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>opts</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>entry</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>modules</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>opts</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>opts</span> <span class='keyword'>=</span> <span class='gray2'>build</span><span class='gray2'>_</span><span class='gray2'>compiler</span><span class='gray2'>_</span><span class='gray2'>options</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>State.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray2'>)</span>
  
      <span class='gray2'>entry</span><span class='gray2'>_</span><span class='gray2'>modules</span> <span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>entry</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>)</span>
  
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>entry</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>opts</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>entry</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>opts</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>FindUsedModules.</span><span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>entry</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span>
  
      <span class='keyword'>if</span> <span class='gray2'>opts</span><span class='gray'>.</span><span class='gray2'>remove</span><span class='gray2'>_</span><span class='gray2'>unused</span><span class='gray2'>_</span><span class='gray2'>functions</span> <span class='keyword'>do</span>
        <span class='defFunction'>FindUsedFunctions.</span><span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>entry</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>modules</span> <span class='keyword'>=</span> <span class='defFunction'>State.</span><span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray2'>)</span>
      <span class='defFunction'>Translate.</span><span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span>
  
      <span class='gray2'>modules</span> <span class='keyword'>=</span> <span class='defFunction'>State.</span><span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray2'>)</span>
      <span class='gray2'>result</span> <span class='keyword'>=</span> <span class='defFunction'>Output.</span><span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>opts</span><span class='gray2'>)</span>
  
      <span class='defFunction'>State.</span><span class='gray2'>stop</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray2'>)</span>
  
      <span class='gray2'>transform</span><span class='gray2'>_</span><span class='gray2'>output</span><span class='gray2'>(</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>result</span><span class='gray'>,</span> <span class='gray2'>opts</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>build</span><span class='gray2'>_</span><span class='gray2'>compiler</span><span class='gray2'>_</span><span class='gray2'>options</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>remove</span><span class='gray2'>_</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>functions?</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray'>,</span> <span style='color:yellow;'>:remove</span><span class='gray2'>_</span><span class='gray2'>unused</span><span class='gray2'>_</span><span class='gray2'>functions</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray2'>)</span>
  
      <span class='gray2'>default</span><span class='gray2'>_</span><span class='gray2'>options</span> <span class='keyword'>=</span>
        <span class='defFunction'>Map.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:output</span><span class='gray'>,</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray'>,</span> <span style='color:yellow;'>:output</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:format</span><span class='gray'>,</span> <span style='color:yellow;'>:es</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:root</span><span class='gray'>,</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray'>,</span> <span style='color:yellow;'>:root</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray'>.</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:remove</span><span class='gray2'>_</span><span class='gray2'>unused</span><span class='gray2'>_</span><span class='gray2'>functions</span><span class='gray'>,</span> <span class='gray2'>remove</span><span class='gray2'>_</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>functions?</span><span class='gray2'>)</span>
  
      <span class='gray2'>options</span> <span class='keyword'>=</span> <span class='gray2'>default</span><span class='gray2'>_</span><span class='gray2'>options</span>
      <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span style='color:yellow;'>:module</span><span class='gray2'>_</span><span class='gray2'>formatter</span><span class='gray'>,</span> <span class='gray2'>ES</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>on</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>beam</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>State.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>memory</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>beam</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>transform</span><span class='gray2'>_</span><span class='gray2'>output</span><span class='gray2'>(</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>compiled</span><span class='gray2'>_</span><span class='gray2'>js</span><span class='gray'>,</span> <span class='gray2'>opts</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>path</span> <span class='keyword'>=</span>
        <span class='gray2'>cond</span> <span class='keyword'>do</span>
          <span class='gray2'>opts</span><span class='gray'>.</span><span class='gray2'>output</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>or</span> <span class='gray2'>opts</span><span class='gray'>.</span><span class='gray2'>output</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:yellow;'>:stdout</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>"</span><span class='gray2'>"</span>
  
          <span class='defFunction'>File.</span><span class='gray2'>dir?</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray'>.</span><span class='gray2'>output</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>opts</span><span class='gray'>.</span><span class='gray2'>output</span>
  
          <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>Path.</span><span class='gray2'>dirname</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray'>.</span><span class='gray2'>output</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
  
      <span class='gray2'>data</span> <span class='keyword'>=</span> <span class='gray2'>%</span><span class='gray2'>{</span>
        <span class='defFunction'>ElixirScript.</span><span class='gray2'>Core</span> <span class='keyword'>=</span><span class='keyword'>></span> <span class='gray2'>%</span><span class='gray2'>{</span>
          <span class='gray2'>references:</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span>
          <span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>modified:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span>
          <span class='gray2'>beam</span><span class='gray2'>_</span><span class='gray2'>path:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span>
          <span class='gray2'>source:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span>
          <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>path:</span> <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='defFunction'>ElixirScript.</span><span class='defFunction'>Core.</span><span class='gray2'>js</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>diagnostics:</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span>
          <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>code:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span>
          <span class='gray2'>type:</span> <span style='color:yellow;'>:ffi</span>
        <span class='gray2'>}</span>
      <span class='gray2'>}</span>
  
      <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>data</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>data</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>diagnostics</span> <span class='keyword'>=</span>
          <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:diagnostics</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
          <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray'>,</span> <span style='color:yellow;'>:file</span><span class='gray'>,</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:file</span><span class='gray2'>)</span><span class='gray2'>)</span>
          <span class='keyword'>end</span><span class='gray2'>)</span>
  
        <span class='gray2'>info</span> <span class='keyword'>=</span> <span class='gray2'>%</span><span class='gray2'>{</span>
          <span class='gray2'>references:</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:used</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>modified:</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:last</span><span class='gray2'>_</span><span class='gray2'>modified</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>beam</span><span class='gray2'>_</span><span class='gray2'>path:</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:beam</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>source:</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:file</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>path:</span> <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>module</span><span class='gray2'>}</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>diagnostics:</span> <span class='gray2'>diagnostics</span>
        <span class='gray2'>}</span>
  
        <span class='gray2'>info</span> <span class='keyword'>=</span>
          <span class='gray2'>case</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>compiled</span><span class='gray2'>_</span><span class='gray2'>js</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
            <span class='gray2'>[</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>input</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>modified</span> <span class='keyword'>=</span>
                <span class='gray2'>case</span> <span class='defFunction'>File.</span><span class='gray2'>stat</span><span class='gray2'>(</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>input</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>time:</span> <span style='color:yellow;'>:posix</span><span class='gray2'>)</span> <span class='keyword'>do</span>
                  <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>file</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
                    <span class='gray2'>file</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray'>.</span><span class='gray2'>mtime</span>
  
                  <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
                    <span style='color:darkcyan;'><i>nil</i></span>
                <span class='keyword'>end</span>
  
              <span class='gray2'>info</span>
              <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:last</span><span class='gray2'>_</span><span class='gray2'>modified</span><span class='gray'>,</span> <span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>modified</span><span class='gray2'>)</span>
              <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:beam</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span>
              <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:source</span><span class='gray'>,</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>input</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span>
              <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:js</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span>
              <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:js</span><span class='gray2'>_</span><span class='gray2'>code</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span>
              <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:type</span><span class='gray'>,</span> <span style='color:yellow;'>:ffi</span><span class='gray2'>)</span>
  
            <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>code</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>info</span>
              <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:js</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>output</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>module</span><span class='gray2'>}</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span>
              <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:js</span><span class='gray2'>_</span><span class='gray2'>code</span><span class='gray'>,</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>code</span><span class='gray2'>)</span>
              <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:type</span><span class='gray'>,</span> <span style='color:yellow;'>:module</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
  
        <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>data</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>