 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'># Just playing with some digest stuff</span><span class='gray'>.</span>
<span class='comment'>#</span>
<span class='comment'># To run</span><span class='gray2'>:</span>
<span class='comment'>#</span>
<span class='comment'># </span><span class='gray2'>$</span> <span class='gray2'>erlc</span> <span class='gray2'>support</span><span class='gray2'>/</span><span class='gray2'>sha1</span><span class='gray'>.</span><span class='gray2'>erl</span> <span style='color:crimson;'>&&</span> <span class='gray2'>mv</span> <span class='gray2'>sha1</span><span class='gray'>.</span><span class='gray2'>beam</span> <span class='gray2'>support</span><span class='gray2'>/</span>
<span class='comment'># </span><span class='gray2'>$</span> <span class='gray2'>elixir</span> <span class='gray2'>23</span><span class='gray2'>-</span><span class='gray2'>digest</span><span class='gray'>.</span><span class='gray2'>exs</span>
<span class='comment'>#</span>
<span class='comment'># Observations</span><span class='gray2'>:</span>
<span class='comment'>#</span>
<span class='comment'># </span><span class='gray2'>*</span> <span class='gray2'>Erlang</span><span class='gray2'>/</span><span class='gray2'>Elixir</span> <span class='gray2'>don</span><span class='gray2'>'</span><span class='gray2'>t</span> <span class='gray2'>have</span> <span class='gray2'>a</span> <span class='gray2'>sha1</span> <span class='gray2'>method</span> <span class='gray2'>built</span><span class='gray2'>-</span><span class='gray2'>in???</span>
<span class='comment'># </span><span class='gray2'>*</span> <span class='gray2'>Erlang</span><span class='gray2'>/</span><span class='gray2'>Elixir</span> <span class='gray2'>don</span><span class='gray2'>'</span><span class='gray2'>t</span> <span class='gray2'>have</span> <span class='gray2'>a</span> <span class='gray2'>built</span><span class='gray2'>-</span><span class='gray2'>in</span> <span class='gray2'>binary</span><span class='gray2'>-</span><span class='gray2'>to</span><span class='gray2'>-</span><span class='gray2'>hex</span> <span class='gray2'>conversion???</span>
<span class='comment'># </span><span class='gray2'>*</span> <span class='gray2'>Loading</span> <span class='gray2'>Erlang</span> <span class='gray2'>code</span> <span class='gray2'>was</span> <span class='gray2'>a</span> <span class='gray2'>bit</span> <span class='gray2'>weird</span><span class='gray'>.</span> <span class='gray2'>I</span> <span class='gray2'>should</span> <span class='gray2'>have</span> <span class='gray2'>figured</span> <span class='gray2'>out</span>
<span class='comment'>#   how to compile erl files within the code </span><span class='gray2'>(</span><span class='gray2'>not</span> <span class='gray2'>the</span> <span class='gray2'>terminal</span><span class='gray2'>)</span>
<span class='comment'>#</span>
<span class='comment'># Dude</span><span class='gray'>,</span> <span class='gray2'>where</span><span class='gray2'>'</span><span class='gray2'>s</span> <span class='gray2'>my</span> <span class='gray2'>expansive</span> <span class='gray2'>standard</span> <span class='gray2'>library?</span><span class='keyword'>!</span>

<span style='color:yellow;'>:code</span><span class='gray'>.</span><span class='gray2'>load</span><span class='gray2'>_</span><span class='gray2'>abs</span><span class='gray2'>(</span><span class='gray2'>'</span><span class='gray2'>support</span><span class='gray2'>/</span><span class='gray2'>sha1</span><span class='gray2'>'</span><span class='gray2'>)</span>

<span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>MiscTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>sha1</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='comment'># Erlang doesn</span><span class='gray2'>'</span><span class='gray2'>t</span> <span class='gray2'>have</span> <span class='gray2'>sha1</span> <span class='gray2'>built</span><span class='gray2'>-</span><span class='gray2'>in</span><span class='gray'>,</span> <span class='gray2'>so</span> <span class='gray2'>had</span> <span class='gray2'>to</span> <span class='gray2'>import</span> <span class='gray2'>code</span> <span class='gray2'>from</span>
    <span class='comment'># our friend Mr</span><span class='gray'>.</span> <span class='gray2'>Nicolas</span> <span class='gray2'>Favre</span><span class='gray2'>-</span><span class='gray2'>Felix</span>
    <span class='gray2'>assert</span> <span style='color:yellow;'>:sha1</span><span class='gray'>.</span><span class='gray2'>hexstring</span><span class='gray2'>(</span><span class='gray2'>'</span><span class='gray2'>foo</span><span class='gray2'>'</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>'</span><span class='gray2'>0</span><span class='gray2'>BEEC7B5EA3F0FDBC95D0DD47F3C5BC275DA8A33</span><span class='gray2'>'</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>md5</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='comment'># Erlang has crypto built</span><span class='gray2'>-</span><span class='gray2'>in</span> <span class='gray2'>for</span> <span class='gray2'>md5</span><span class='gray'>,</span> <span class='gray2'>but</span> <span class='gray2'>no</span> <span class='gray2'>way</span> <span class='gray2'>natively</span> <span class='gray2'>to</span> <span class='gray2'>convert</span> <span class='gray2'>to</span> <span class='gray2'>hex</span>
    <span class='comment'># so again Mr</span><span class='gray'>.</span> <span class='gray2'>Felix</span> <span class='gray2'>to</span> <span class='gray2'>the</span> <span class='gray2'>rescue</span><span class='keyword'>!</span>
    <span class='gray2'>assert</span> <span style='color:yellow;'>:crypto</span><span class='gray'>.</span><span class='gray2'>hash</span><span class='gray2'>(</span><span style='color:yellow;'>:md5</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>foo</span><span class='gray2'>'</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span style='color:yellow;'>:sha1</span><span class='gray'>.</span><span class='gray2'>bin2hex</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>'</span><span class='gray2'>ACBD18DB4CC2F85CEDEF654FCCC4A4D8</span><span class='gray2'>'</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>
</pre>