 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Table</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>h2</span><span class='gray'>.</span> <span class='gray2'>Problem</span>

  <span class='gray2'>http:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>rosettacode</span><span class='gray'>.</span><span class='gray2'>org</span><span class='gray2'>/</span><span class='gray2'>wiki</span><span class='gray2'>/</span><span class='gray2'>Dining</span><span class='gray2'>_</span><span class='gray2'>philosophers</span>

  <span class='gray2'>Five</span> <span class='gray2'>philosophers</span><span class='gray'>,</span> <span class='gray2'>Aristotle</span><span class='gray'>,</span> <span class='gray2'>Kant</span><span class='gray'>,</span> <span class='gray2'>Spinoza</span><span class='gray'>,</span> <span class='gray2'>Marx</span><span class='gray'>,</span> <span class='gray2'>and</span> <span class='gray2'>Russell</span> <span class='gray2'>(</span><span class='gray2'>the</span> <span class='gray2'>tasks</span><span class='gray2'>)</span> <span class='gray2'>spend</span> <span class='gray2'>their</span> <span class='gray2'>time</span>
  <span class='gray2'>thinking</span> <span class='gray2'>and</span> <span class='gray2'>eating</span> <span class='gray2'>spaghetti</span><span class='gray'>.</span> <span class='gray2'>They</span> <span class='gray2'>eat</span> <span class='gray2'>at</span> <span class='gray2'>a</span> <span class='gray2'>round</span> <span class='gray2'>table</span> <span class='gray2'>with</span> <span class='gray2'>five</span> <span class='gray2'>individual</span> <span class='gray2'>seats</span><span class='gray'>.</span>
  <span class='gray2'>For</span> <span class='gray2'>eating</span> <span class='gray2'>each</span> <span class='gray2'>philosopher</span> <span class='gray2'>needs</span> <span class='gray2'>two</span> <span class='gray2'>forks</span> <span class='gray2'>(</span><span class='gray2'>the</span> <span class='gray2'>resources</span><span class='gray2'>)</span><span class='gray'>.</span> <span class='gray2'>There</span> <span class='gray2'>are</span> <span class='gray2'>five</span> <span class='gray2'>forks</span> <span class='gray2'>on</span> <span class='gray2'>the</span> <span class='gray2'>table</span><span class='gray'>,</span>
  <span class='gray2'>one</span> <span class='gray2'>left</span> <span class='gray2'>and</span> <span class='gray2'>one</span> <span class='gray2'>right</span> <span class='gray2'>of</span> <span class='gray2'>each</span> <span class='gray2'>seat</span><span class='gray'>.</span> <span class='gray2'>When</span> <span class='gray2'>a</span> <span class='gray2'>philosopher</span> <span class='gray2'>cannot</span> <span class='gray2'>grab</span> <span class='gray2'>both</span> <span class='gray2'>forks</span> <span class='gray2'>it</span> <span class='gray2'>sits</span> <span class='gray2'>and</span> <span class='gray2'>waits</span><span class='gray'>.</span>
  <span class='gray2'>Eating</span> <span class='gray2'>takes</span> <span class='gray2'>random</span> <span class='gray2'>time</span><span class='gray'>,</span> <span class='gray2'>then</span> <span class='gray2'>the</span> <span class='gray2'>philosopher</span> <span class='gray2'>puts</span> <span class='gray2'>the</span> <span class='gray2'>forks</span> <span class='gray2'>down</span> <span class='gray2'>and</span> <span class='gray2'>leaves</span> <span class='gray2'>the</span> <span class='gray2'>dining</span> <span class='gray2'>room</span><span class='gray'>.</span>
  <span class='gray2'>After</span> <span class='gray2'>spending</span> <span class='gray2'>some</span> <span class='gray2'>random</span> <span class='gray2'>time</span> <span class='gray2'>thinking</span> <span class='gray2'>about</span> <span class='gray2'>the</span> <span class='gray2'>nature</span> <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>universe</span><span class='gray'>,</span> <span class='gray2'>he</span> <span class='gray2'>again</span> <span class='gray2'>becomes</span>
  <span class='gray2'>hungry</span><span class='gray'>,</span> <span class='gray2'>and</span> <span class='gray2'>the</span> <span class='gray2'>circle</span> <span class='gray2'>repeats</span> <span class='gray2'>itself</span><span class='gray'>.</span>

  <span class='gray2'>h2</span><span class='gray'>.</span> <span class='gray2'>My</span> <span class='gray2'>Solution</span>

  <span class='gray2'>So</span><span class='gray'>,</span> <span class='gray2'>I</span> <span class='gray2'>cheated</span> <span class='gray2'>a</span> <span class='gray2'>little</span><span class='gray'>.</span> <span class='gray2'>I</span> <span class='gray2'>skipped</span> <span class='gray2'>modeling</span> <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>seats</span> <span class='gray2'>and</span> <span class='gray2'>fork</span> <span class='gray2'>placement</span><span class='gray'>,</span> <span class='gray2'>and</span> <span class='gray2'>instead</span> <span class='gray2'>modeled</span>
  <span class='gray2'>forks</span> <span class='gray2'>as</span> <span class='gray2'>5</span> <span class='gray2'>discreet</span> <span class='gray2'>resources</span> <span class='gray2'>to</span> <span class='gray2'>be</span> <span class='gray2'>managed</span> <span class='gray2'>by</span> <span class='gray2'>the</span> <span class='gray2'>"</span><span class='gray2'>Table</span><span class='gray2'>"</span><span class='gray'>.</span> <span class='gray2'>I</span> <span class='gray2'>figured</span> <span class='gray2'>philosophers</span> <span class='gray2'>can</span> <span class='gray2'>just</span>
  <span class='gray2'>reach</span> <span class='gray2'>over</span> <span class='gray2'>and</span> <span class='gray2'>grab</span> <span class='gray2'>a</span> <span class='gray2'>fork</span><span class='gray'>,</span> <span class='gray2'>yeah?</span> <span class='gray2'>:</span><span class='gray2'>-</span><span class='gray2'>)</span>

  <span class='gray2'>It</span> <span class='gray2'>turns</span> <span class='gray2'>out</span> <span class='gray2'>that</span> <span class='gray2'>message</span> <span class='gray2'>passing</span> <span class='gray2'>between</span> <span class='gray2'>processes</span> <span class='gray2'>made</span> <span class='gray2'>this</span> <span class='gray2'>very</span> <span class='gray2'>simple</span><span class='gray'>.</span> <span class='gray2'>Even</span> <span class='gray2'>adding</span> <span class='gray2'>"</span><span class='gray2'>seats</span><span class='gray2'>"</span>
  <span class='gray2'>as</span> <span class='gray2'>resources</span> <span class='gray2'>to</span> <span class='gray2'>be</span> <span class='gray2'>managed</span> <span class='gray2'>wouldn</span><span class='gray2'>'</span><span class='gray2'>t</span> <span class='gray2'>make</span> <span class='gray2'>this</span> <span class='gray2'>much</span> <span class='gray2'>more</span> <span class='gray2'>difficult</span><span class='gray'>.</span>

  <span class='gray2'>h2</span><span class='gray'>.</span> <span class='gray2'>Sample</span> <span class='gray2'>Run</span>

    <span class='gray2'>$</span> <span class='gray2'>elixir</span> <span class='gray2'>17</span><span class='gray2'>-</span><span class='gray2'>dining</span><span class='gray2'>-</span><span class='gray2'>philosophers</span><span class='gray'>.</span><span class='gray2'>exs</span>

    <span class='gray2'>1</span> <span class='gray2'>philosopher</span> <span class='gray2'>waiting:</span> <span class='gray2'>Aristotle</span>
    <span class='gray2'>1</span> <span class='gray2'>philosopher</span> <span class='gray2'>waiting:</span> <span class='gray2'>Kant</span>
    <span class='gray2'>Aristotle</span> <span class='gray2'>is</span> <span class='gray2'>eating</span> <span class='gray2'>(</span><span class='gray2'>count:</span> <span class='gray2'>1</span><span class='gray2'>)</span>
    <span class='gray2'>1</span> <span class='gray2'>philosopher</span> <span class='gray2'>waiting:</span> <span class='gray2'>Spinoza</span>
    <span class='gray2'>Kant</span> <span class='gray2'>is</span> <span class='gray2'>eating</span> <span class='gray2'>(</span><span class='gray2'>count:</span> <span class='gray2'>1</span><span class='gray2'>)</span>
    <span class='gray2'>2</span> <span class='gray2'>philosophers</span> <span class='gray2'>waiting:</span> <span class='gray2'>Marx</span><span class='gray'>,</span> <span class='gray2'>Spinoza</span>
    <span class='gray2'>3</span> <span class='gray2'>philosophers</span> <span class='gray2'>waiting:</span> <span class='gray2'>Russell</span><span class='gray'>,</span> <span class='gray2'>Marx</span><span class='gray'>,</span> <span class='gray2'>Spinoza</span>
    <span class='gray2'>Kant</span> <span class='gray2'>is</span> <span class='gray2'>done</span> <span class='gray2'>eating</span>
    <span class='gray2'>Aristotle</span> <span class='gray2'>is</span> <span class='gray2'>done</span> <span class='gray2'>eating</span>
    <span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Philosopher</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>defstruct</span> <span class='gray2'>name:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>ate:</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>thunk:</span> <span class='gray2'>0</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>simulate</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>forks</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span style='color:yellow;'>:fork1</span><span class='gray'>,</span> <span style='color:yellow;'>:fork2</span><span class='gray'>,</span> <span style='color:yellow;'>:fork3</span><span class='gray'>,</span> <span style='color:yellow;'>:fork4</span><span class='gray'>,</span> <span style='color:yellow;'>:fork5</span><span class='gray2'>]</span>

    <span class='gray2'>table</span> <span class='keyword'>=</span> <span class='gray2'>spawn</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='gray2'>Table</span><span class='gray'>,</span> <span style='color:yellow;'>:manage</span><span class='gray2'>_</span><span class='gray2'>resources</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>forks</span><span class='gray2'>]</span><span class='gray2'>)</span>

    <span class='gray2'>spawn</span><span class='gray2'>(</span><span class='gray2'>Dine</span><span class='gray'>,</span> <span style='color:yellow;'>:dine</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>%</span><span class='gray2'>Philosopher</span><span class='gray2'>{</span><span class='gray2'>name:</span> <span class='gray2'>"</span><span class='gray2'>Aristotle</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>table</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='gray2'>spawn</span><span class='gray2'>(</span><span class='gray2'>Dine</span><span class='gray'>,</span> <span style='color:yellow;'>:dine</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>%</span><span class='gray2'>Philosopher</span><span class='gray2'>{</span><span class='gray2'>name:</span> <span class='gray2'>"</span><span class='gray2'>Kant</span><span class='gray2'>"</span>     <span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>table</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='gray2'>spawn</span><span class='gray2'>(</span><span class='gray2'>Dine</span><span class='gray'>,</span> <span style='color:yellow;'>:dine</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>%</span><span class='gray2'>Philosopher</span><span class='gray2'>{</span><span class='gray2'>name:</span> <span class='gray2'>"</span><span class='gray2'>Spinoza</span><span class='gray2'>"</span>  <span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>table</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='gray2'>spawn</span><span class='gray2'>(</span><span class='gray2'>Dine</span><span class='gray'>,</span> <span style='color:yellow;'>:dine</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>%</span><span class='gray2'>Philosopher</span><span class='gray2'>{</span><span class='gray2'>name:</span> <span class='gray2'>"</span><span class='gray2'>Marx</span><span class='gray2'>"</span>     <span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>table</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='gray2'>spawn</span><span class='gray2'>(</span><span class='gray2'>Dine</span><span class='gray'>,</span> <span style='color:yellow;'>:dine</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>%</span><span class='gray2'>Philosopher</span><span class='gray2'>{</span><span class='gray2'>name:</span> <span class='gray2'>"</span><span class='gray2'>Russell</span><span class='gray2'>"</span>  <span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>table</span><span class='gray2'>]</span><span class='gray2'>)</span>

    <span class='gray2'>receive</span> <span class='keyword'>do:</span> <span class='gray2'>(</span><span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:yellow;'>:ok</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>manage</span><span class='functionName'>_</span><span class='functionName'>resources</span><span style='color:white;'>(</span><span class='parameter'><i>forks</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>waiting</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='comment'># distribute forks to waiting philosophers</span>
    <span class='keyword'>if</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>waiting</span><span class='gray2'>)</span> <span class='keyword'>></span> <span class='gray2'>0</span> <span class='keyword'>do</span>
      <span class='gray2'>names</span> <span class='keyword'>=</span> <span class='gray2'>for</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>phil</span><span class='gray2'>}</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>waiting</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>phil</span><span class='gray'>.</span><span class='gray2'>name</span>
      <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>length</span> <span class='gray2'>waiting</span><span class='gray2'>}</span> <span class='gray2'>philosopher</span><span class='comment'>#</span><span class='gray2'>{</span><span class='keyword'>if</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>waiting</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>'</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>else:</span> <span class='gray2'>'</span><span class='gray2'>s</span><span class='gray2'>'</span><span class='gray2'>}</span> <span class='gray2'>waiting:</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='defFunction'>Enum.</span><span class='gray2'>join</span> <span class='gray2'>names</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>}</span><span class='gray2'>"</span>
      <span class='keyword'>if</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>forks</span><span class='gray2'>)</span> <span class='keyword'>></span><span class='keyword'>=</span> <span class='gray2'>2</span> <span class='keyword'>do</span>
        <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>waiting</span><span class='gray2'>]</span> <span class='keyword'>=</span> <span class='gray2'>waiting</span>
        <span class='gray2'>[</span><span class='gray2'>fork1</span><span class='gray'>,</span> <span class='gray2'>fork2</span> <span class='gray2'>|</span> <span class='gray2'>forks</span><span class='gray2'>]</span> <span class='keyword'>=</span> <span class='gray2'>forks</span>
        <span class='gray2'>send</span> <span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:eat</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>fork1</span><span class='gray'>,</span> <span class='gray2'>fork2</span><span class='gray2'>]</span><span class='gray2'>}</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
    <span class='gray2'>receive</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:sit</span><span class='gray2'>_</span><span class='gray2'>down</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>phil</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>manage</span><span class='gray2'>_</span><span class='gray2'>resources</span><span class='gray2'>(</span><span class='gray2'>forks</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>phil</span><span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>waiting</span><span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:give</span><span class='gray2'>_</span><span class='gray2'>up</span><span class='gray2'>_</span><span class='gray2'>seat</span><span class='gray'>,</span> <span class='gray2'>free</span><span class='gray2'>_</span><span class='gray2'>forks</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>forks</span> <span class='keyword'>=</span> <span class='gray2'>free</span><span class='gray2'>_</span><span class='gray2'>forks</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>forks</span>
        <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>length</span> <span class='gray2'>forks</span><span class='gray2'>}</span> <span class='gray2'>fork</span><span class='comment'>#</span><span class='gray2'>{</span><span class='keyword'>if</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>forks</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>'</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>else:</span> <span class='gray2'>'</span><span class='gray2'>s</span><span class='gray2'>'</span><span class='gray2'>}</span> <span class='gray2'>available</span><span class='gray2'>"</span>
        <span class='gray2'>manage</span><span class='gray2'>_</span><span class='gray2'>resources</span><span class='gray2'>(</span><span class='gray2'>forks</span><span class='gray'>,</span> <span class='gray2'>waiting</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

<span class='keyword'>end</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Dine</span><span class='functionName'> </span><span class='keyword'>do</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>dine</span><span style='color:white;'>(</span><span class='parameter'><i>phil</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>table</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>send</span> <span class='gray2'>table</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:sit</span><span class='gray2'>_</span><span class='gray2'>down</span><span class='gray'>,</span> <span class='gray2'>self</span><span class='gray'>,</span> <span class='gray2'>phil</span><span class='gray2'>}</span>
    <span class='gray2'>receive</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:eat</span><span class='gray'>,</span> <span class='gray2'>forks</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>phil</span> <span class='keyword'>=</span> <span class='gray2'>eat</span><span class='gray2'>(</span><span class='gray2'>phil</span><span class='gray'>,</span> <span class='gray2'>forks</span><span class='gray'>,</span> <span class='gray2'>table</span><span class='gray2'>)</span>
        <span class='gray2'>phil</span> <span class='keyword'>=</span> <span class='gray2'>think</span><span class='gray2'>(</span><span class='gray2'>phil</span><span class='gray'>,</span> <span class='gray2'>table</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
    <span class='gray2'>dine</span><span class='gray2'>(</span><span class='gray2'>phil</span><span class='gray'>,</span> <span class='gray2'>table</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>eat</span><span style='color:white;'>(</span><span class='parameter'><i>phil</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>forks</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>table</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>phil</span> <span class='keyword'>=</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>phil</span> <span class='gray2'>|</span> <span class='gray2'>ate:</span> <span class='gray2'>phil</span><span class='gray'>.</span><span class='gray2'>ate</span> <span class='gray2'>+</span> <span class='gray2'>1</span><span class='gray2'>}</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>phil</span><span class='gray'>.</span><span class='gray2'>name</span><span class='gray2'>}</span> <span class='gray2'>is</span> <span class='gray2'>eating</span> <span class='gray2'>(</span><span class='gray2'>count:</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>phil</span><span class='gray'>.</span><span class='gray2'>ate</span><span class='gray2'>}</span><span class='gray2'>)</span><span class='gray2'>"</span>
    <span style='color:yellow;'>:timer</span><span class='gray'>.</span><span class='gray2'>sleep</span><span class='gray2'>(</span><span style='color:yellow;'>:random</span><span class='gray'>.</span><span class='gray2'>uniform</span><span class='gray2'>(</span><span class='gray2'>1000</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>phil</span><span class='gray'>.</span><span class='gray2'>name</span><span class='gray2'>}</span> <span class='gray2'>is</span> <span class='gray2'>done</span> <span class='gray2'>eating</span><span class='gray2'>"</span>
    <span class='gray2'>send</span> <span class='gray2'>table</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:give</span><span class='gray2'>_</span><span class='gray2'>up</span><span class='gray2'>_</span><span class='gray2'>seat</span><span class='gray'>,</span> <span class='gray2'>forks</span><span class='gray'>,</span> <span class='gray2'>phil</span><span class='gray2'>}</span>
    <span class='gray2'>phil</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>think</span><span style='color:white;'>(</span><span class='parameter'><i>phil</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>phil</span><span class='gray'>.</span><span class='gray2'>name</span><span class='gray2'>}</span> <span class='gray2'>is</span> <span class='gray2'>thinking</span> <span class='gray2'>(</span><span class='gray2'>count:</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>phil</span><span class='gray'>.</span><span class='gray2'>thunk</span><span class='gray2'>}</span><span class='gray2'>)</span><span class='gray2'>"</span>
    <span style='color:yellow;'>:timer</span><span class='gray'>.</span><span class='gray2'>sleep</span><span class='gray2'>(</span><span style='color:yellow;'>:random</span><span class='gray'>.</span><span class='gray2'>uniform</span><span class='gray2'>(</span><span class='gray2'>1000</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>phil</span> <span class='gray2'>|</span> <span class='gray2'>thunk:</span> <span class='gray2'>phil</span><span class='gray'>.</span><span class='gray2'>thunk</span> <span class='gray2'>+</span> <span class='gray2'>1</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>

<span class='keyword'>end</span>

<span style='color:yellow;'>:random</span><span class='gray'>.</span><span class='gray2'>seed</span><span class='gray2'>(</span><span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>now</span><span class='gray2'>)</span>
<span class='defFunction'>Table.</span><span class='gray2'>simulate</span>
</pre>