 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Tree</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Project</span> <span class='gray2'>Euler</span> <span class='gray2'>-</span> <span class='gray2'>Problem</span> <span class='gray2'>67</span>

  <span class='gray2'>By</span> <span class='gray2'>starting</span> <span class='gray2'>at</span> <span class='gray2'>the</span> <span class='gray2'>top</span> <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>triangle</span> <span class='gray2'>below</span> <span class='gray2'>and</span> <span class='gray2'>moving</span> <span class='gray2'>to</span> <span class='gray2'>adjacent</span> <span class='gray2'>numbers</span> <span class='gray2'>on</span> <span class='gray2'>the</span> <span class='gray2'>row</span> <span class='gray2'>below</span><span class='gray'>,</span> <span class='gray2'>the</span> <span class='gray2'>maximum</span> <span class='gray2'>total</span> <span class='gray2'>from</span> <span class='gray2'>top</span> <span class='gray2'>to</span> <span class='gray2'>bottom</span> <span class='gray2'>is</span> <span class='gray2'>23</span><span class='gray'>.</span>

     <span class='gray2'>3</span>
    <span class='gray2'>7</span> <span class='gray2'>4</span>
   <span class='gray2'>2</span> <span class='gray2'>4</span> <span class='gray2'>6</span>
  <span class='gray2'>8</span> <span class='gray2'>5</span> <span class='gray2'>9</span> <span class='gray2'>3</span>

  <span class='gray2'>That</span> <span class='gray2'>is</span><span class='gray'>,</span> <span class='gray2'>3</span> <span class='gray2'>+</span> <span class='gray2'>7</span> <span class='gray2'>+</span> <span class='gray2'>4</span> <span class='gray2'>+</span> <span class='gray2'>9</span> <span class='keyword'>=</span> <span class='gray2'>23</span><span class='gray'>.</span>

  <span class='gray2'>Find</span> <span class='gray2'>the</span> <span class='gray2'>maximum</span> <span class='gray2'>total</span> <span class='gray2'>from</span> <span class='gray2'>top</span> <span class='gray2'>to</span> <span class='gray2'>bottom</span> <span class='gray2'>in</span> <span class='gray2'>tree</span><span class='gray'>.</span><span class='gray2'>txt</span><span class='gray'>,</span> <span class='gray2'>a</span> <span class='gray2'>15</span><span class='gray2'>K</span> <span class='gray2'>text</span> <span class='gray2'>file</span> <span class='gray2'>containing</span> <span class='gray2'>a</span> <span class='gray2'>triangle</span> <span class='gray2'>with</span> <span class='gray2'>one</span><span class='gray2'>-</span><span class='gray2'>hundred</span> <span class='gray2'>rows</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>maximal</span><span class='functionName'>_</span><span class='functionName'>path</span><span style='color:white;'>(</span><span class='parameter'><i>[</i></span><span class='parameter'><i>row</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>comparison</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>row</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>|</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>rest</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>rows</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>row</span> <span class='keyword'>=</span> <span class='gray2'>reduce</span><span class='gray2'>_</span><span class='gray2'>row</span><span class='gray2'>(</span><span class='gray2'>row</span><span class='gray'>,</span> <span class='gray2'>comparison</span><span class='gray2'>_</span><span class='gray2'>row</span><span class='gray2'>)</span>
    <span class='gray2'>maximal</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>row</span> <span class='gray2'>|</span> <span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>rows</span><span class='gray2'>]</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>maximal</span><span class='functionName'>_</span><span class='functionName'>path</span><span style='color:white;'>(</span><span class='parameter'><i>[</i></span><span class='parameter'><i>row</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='defFunction'>List.</span><span class='gray2'>first</span><span class='gray2'>(</span><span class='gray2'>row</span><span class='gray2'>)</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>from</span><span class='functionName'>_</span><span class='functionName'>file</span><span style='color:white;'>(</span><span class='parameter'><i>filename</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='defFunction'>File.</span><span class='gray2'>read</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>filename</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>String.</span><span class='gray2'>strip</span>
      <span class='keyword'>|></span> <span class='defFunction'>String.</span><span class='gray2'>split</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='comment'>\n</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>row</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>for</span> <span class='gray2'>num</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='defFunction'>String.</span><span class='gray2'>split</span><span class='gray2'>(</span><span class='gray2'>row</span><span class='gray'>,</span> <span class='gray2'>"</span> <span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>integer</span><span class='gray2'>(</span><span class='gray2'>num</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>row</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>append</span><span class='gray2'>_</span><span class='gray2'>index</span><span class='gray2'>(</span><span class='gray2'>row</span><span class='gray2'>)</span> <span class='keyword'>end</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>reduce</span><span class='functionName'>_</span><span class='functionName'>row</span><span style='color:white;'>(</span><span class='parameter'><i>row</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>comparison</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>row</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>for</span> <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>main</span><span class='gray'>,</span> <span class='gray2'>index</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>opt1</span><span class='gray'>,</span> <span class='gray2'>index1</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>opt2</span><span class='gray'>,</span> <span class='gray2'>index2</span><span class='gray2'>}</span><span class='gray2'>}</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>pairs</span><span class='gray2'>(</span><span class='gray2'>row</span><span class='gray'>,</span> <span class='gray2'>comparison</span><span class='gray2'>_</span><span class='gray2'>row</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>sum1</span> <span class='keyword'>=</span> <span class='gray2'>main</span> <span class='gray2'>+</span> <span class='gray2'>opt1</span>
      <span class='gray2'>sum2</span> <span class='keyword'>=</span> <span class='gray2'>main</span> <span class='gray2'>+</span> <span class='gray2'>opt2</span>
      <span class='keyword'>if</span> <span class='gray2'>sum1</span> <span class='keyword'>></span> <span class='gray2'>sum2</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span><span class='gray2'>sum1</span><span class='gray'>,</span> <span class='gray2'>index</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>index1</span><span class='gray2'>}</span>
      <span class='keyword'>else</span>
        <span class='gray2'>{</span><span class='gray2'>sum2</span><span class='gray'>,</span> <span class='gray2'>index</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>index2</span><span class='gray2'>}</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>append</span><span class='functionName'>_</span><span class='functionName'>index</span><span style='color:white;'>(</span><span class='parameter'><i>row</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>for</span> <span class='gray2'>{</span><span class='gray2'>num</span><span class='gray'>,</span> <span class='gray2'>index</span><span class='gray2'>}</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='defFunction'>Enum.</span><span class='gray2'>with</span><span class='gray2'>_</span><span class='gray2'>index</span><span class='gray2'>(</span><span class='gray2'>row</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span class='gray2'>num</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>index</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>pairs</span><span style='color:white;'>(</span><span class='parameter'><i>row</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>comparison</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>row</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>for</span> <span class='gray2'>{</span><span class='gray2'>num</span><span class='gray'>,</span> <span class='gray2'>path</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>index</span> <span class='gray2'>|</span> <span class='gray2'>_</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>comparison</span><span class='gray2'>_</span><span class='gray2'>row</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>num</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>row</span><span class='gray'>,</span> <span class='gray2'>index</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>row</span><span class='gray'>,</span> <span class='gray2'>index</span><span class='gray2'>+</span><span class='gray2'>1</span><span class='gray2'>)</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>pretty</span><span class='functionName'>_</span><span class='functionName'>print</span><span style='color:white;'>(</span><span class='parameter'><i>filename</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>tree</span> <span class='keyword'>=</span> <span class='defFunction'>Tree.</span><span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>file</span><span class='gray2'>(</span><span class='gray2'>filename</span><span class='gray2'>)</span>
    <span class='gray2'>{</span><span class='gray2'>sum</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Tree.</span><span class='gray2'>maximal</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>(</span><span class='gray2'>tree</span><span class='gray2'>)</span>

    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>maximal</span> <span class='gray2'>sum</span> <span class='keyword'>=</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>sum</span><span class='gray2'>}</span><span class='gray2'>"</span>

    <span class='gray2'>size</span> <span class='keyword'>=</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>tree</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>)</span><span class='gray2'>)</span>

    <span class='gray2'>tree</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>with</span><span class='gray2'>_</span><span class='gray2'>index</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>row</span><span class='gray'>,</span> <span class='gray2'>row</span><span class='gray2'>_</span><span class='gray2'>index</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='keyword'>if</span> <span class='gray2'>rem</span><span class='gray2'>(</span><span class='gray2'>row</span><span class='gray2'>_</span><span class='gray2'>index</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='defFunction'>IO.</span><span class='gray2'>write</span><span class='gray2'>(</span><span class='gray2'>"</span> <span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='defFunction'>String.</span><span class='gray2'>duplicate</span><span class='gray2'>(</span><span class='gray2'>"</span>  <span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>div</span><span class='gray2'>(</span><span class='gray2'>size</span> <span class='gray2'>-</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>row</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>IO.</span><span class='gray2'>write</span>
        <span class='gray2'>(</span><span class='gray2'>for</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>p</span> <span class='gray2'>|</span> <span class='gray2'>_</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>row</span> <span class='keyword'>do</span>
          <span class='keyword'>if</span> <span class='gray2'>p</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>row</span><span class='gray2'>_</span><span class='gray2'>index</span><span class='gray2'>)</span> <span class='keyword'>do</span>
            <span class='gray2'>"</span><span class='comment'>\e</span><span class='gray2'>[</span><span class='gray2'>31</span><span class='gray2'>mx</span><span class='gray2'>"</span>
          <span class='keyword'>else</span>
            <span class='gray2'>"</span><span class='comment'>\e</span><span class='gray2'>[</span><span class='gray2'>32</span><span class='gray2'>mo</span><span class='gray2'>"</span>
          <span class='keyword'>end</span>
        <span class='keyword'>end</span><span class='gray2'>)</span>
          <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>"</span> <span class='gray2'>"</span><span class='gray2'>)</span>
          <span class='keyword'>|></span> <span class='defFunction'>IO.</span><span class='gray2'>puts</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>TreeTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

  <span style='color:peru;'>@path</span> <span class='defFunction'>Path.</span><span class='gray2'>expand</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>support</span><span class='gray2'>/</span><span class='gray2'>tree</span><span class='gray'>.</span><span class='gray2'>txt</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>DIR</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>)</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>read</span> <span class='gray2'>file</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>tree</span> <span class='keyword'>=</span> <span class='defFunction'>Tree.</span><span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>file</span><span class='gray2'>(</span><span style='color:peru;'>@path</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>tree</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>100</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>tree</span><span class='gray'>,</span> <span class='gray2'>99</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>59</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>append</span> <span class='gray2'>index</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Tree.</span><span class='gray2'>append</span><span class='gray2'>_</span><span class='gray2'>index</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>pairs</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>row1</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>4</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>6</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>]</span>
    <span class='gray2'>row2</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>9</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Tree.</span><span class='gray2'>pairs</span><span class='gray2'>(</span><span class='gray2'>row2</span><span class='gray'>,</span> <span class='gray2'>row1</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span>
      <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>4</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>9</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>6</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>9</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span>
    <span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>reduce</span> <span class='gray2'>row</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>row1</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>30</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>11</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>85</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>31</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>34</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>4</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>71</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>5</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>13</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>6</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>48</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>7</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>8</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>14</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>9</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>44</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>10</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>11</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>19</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>12</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>67</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>13</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>23</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>14</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>]</span>
    <span class='gray2'>row2</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>23</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>33</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>44</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>81</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>80</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>4</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>92</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>5</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>93</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>6</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>75</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>7</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>94</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>8</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>88</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>9</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>23</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>10</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>61</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>11</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>39</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>12</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>76</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>13</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>22</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>14</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>15</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Tree.</span><span class='gray2'>reduce</span><span class='gray2'>_</span><span class='gray2'>row</span><span class='gray2'>(</span><span class='gray2'>row2</span><span class='gray'>,</span> <span class='gray2'>row1</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span>
      <span class='gray2'>{</span><span class='gray2'>63</span><span class='gray'>,</span>  <span class='gray2'>[</span> <span class='gray2'>0</span><span class='gray'>,</span>  <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>55</span><span class='gray'>,</span>  <span class='gray2'>[</span> <span class='gray2'>1</span><span class='gray'>,</span>  <span class='gray2'>2</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>166</span><span class='gray'>,</span> <span class='gray2'>[</span> <span class='gray2'>2</span><span class='gray'>,</span>  <span class='gray2'>3</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>112</span><span class='gray'>,</span> <span class='gray2'>[</span> <span class='gray2'>3</span><span class='gray'>,</span>  <span class='gray2'>3</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>126</span><span class='gray'>,</span> <span class='gray2'>[</span> <span class='gray2'>4</span><span class='gray'>,</span>  <span class='gray2'>5</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>164</span><span class='gray'>,</span> <span class='gray2'>[</span> <span class='gray2'>5</span><span class='gray'>,</span>  <span class='gray2'>6</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>106</span><span class='gray'>,</span> <span class='gray2'>[</span> <span class='gray2'>6</span><span class='gray'>,</span>  <span class='gray2'>6</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>142</span><span class='gray'>,</span> <span class='gray2'>[</span> <span class='gray2'>7</span><span class='gray'>,</span>  <span class='gray2'>8</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>99</span><span class='gray'>,</span>  <span class='gray2'>[</span> <span class='gray2'>8</span><span class='gray'>,</span>  <span class='gray2'>8</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>102</span><span class='gray'>,</span> <span class='gray2'>[</span> <span class='gray2'>9</span><span class='gray'>,</span>  <span class='gray2'>9</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>105</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>10</span><span class='gray'>,</span> <span class='gray2'>11</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>64</span><span class='gray'>,</span>  <span class='gray2'>[</span><span class='gray2'>11</span><span class='gray'>,</span> <span class='gray2'>11</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>95</span><span class='gray'>,</span>  <span class='gray2'>[</span><span class='gray2'>12</span><span class='gray'>,</span> <span class='gray2'>13</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>143</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>13</span><span class='gray'>,</span> <span class='gray2'>13</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>45</span><span class='gray'>,</span>  <span class='gray2'>[</span><span class='gray2'>14</span><span class='gray'>,</span> <span class='gray2'>14</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
    <span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>maximal</span> <span class='gray2'>path</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>tree</span> <span class='keyword'>=</span> <span class='defFunction'>Tree.</span><span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>file</span><span class='gray2'>(</span><span style='color:peru;'>@path</span><span class='gray2'>)</span>
    <span class='gray2'>{</span><span class='gray2'>sum</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Tree.</span><span class='gray2'>maximal</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>(</span><span class='gray2'>tree</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>sum</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>7273</span>
    <span class='gray2'>assert</span> <span class='gray2'>path</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>6</span><span class='gray'>,</span> <span class='gray2'>6</span><span class='gray'>,</span> <span class='gray2'>7</span><span class='gray'>,</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>9</span><span class='gray'>,</span> <span class='gray2'>10</span><span class='gray'>,</span> <span class='gray2'>11</span><span class='gray'>,</span> <span class='gray2'>12</span><span class='gray'>,</span> <span class='gray2'>12</span><span class='gray'>,</span> <span class='gray2'>12</span><span class='gray'>,</span> <span class='gray2'>13</span><span class='gray'>,</span> <span class='gray2'>13</span><span class='gray'>,</span> <span class='gray2'>13</span><span class='gray'>,</span> <span class='gray2'>14</span><span class='gray'>,</span> <span class='gray2'>14</span><span class='gray'>,</span> <span class='gray2'>15</span><span class='gray'>,</span> <span class='gray2'>15</span><span class='gray'>,</span> <span class='gray2'>16</span><span class='gray'>,</span> <span class='gray2'>17</span><span class='gray'>,</span> <span class='gray2'>17</span><span class='gray'>,</span> <span class='gray2'>17</span><span class='gray'>,</span> <span class='gray2'>18</span><span class='gray'>,</span> <span class='gray2'>19</span><span class='gray'>,</span> <span class='gray2'>20</span><span class='gray'>,</span> <span class='gray2'>21</span><span class='gray'>,</span> <span class='gray2'>22</span><span class='gray'>,</span> <span class='gray2'>23</span><span class='gray'>,</span> <span class='gray2'>24</span><span class='gray'>,</span> <span class='gray2'>25</span><span class='gray'>,</span> <span class='gray2'>25</span><span class='gray'>,</span> <span class='gray2'>25</span><span class='gray'>,</span> <span class='gray2'>26</span><span class='gray'>,</span> <span class='gray2'>27</span><span class='gray'>,</span> <span class='gray2'>27</span><span class='gray'>,</span> <span class='gray2'>28</span><span class='gray'>,</span> <span class='gray2'>29</span><span class='gray'>,</span> <span class='gray2'>30</span><span class='gray'>,</span> <span class='gray2'>31</span><span class='gray'>,</span> <span class='gray2'>32</span><span class='gray'>,</span> <span class='gray2'>32</span><span class='gray'>,</span> <span class='gray2'>32</span><span class='gray'>,</span> <span class='gray2'>32</span><span class='gray'>,</span> <span class='gray2'>33</span><span class='gray'>,</span> <span class='gray2'>33</span><span class='gray'>,</span> <span class='gray2'>34</span><span class='gray'>,</span> <span class='gray2'>35</span><span class='gray'>,</span> <span class='gray2'>36</span><span class='gray'>,</span> <span class='gray2'>36</span><span class='gray'>,</span> <span class='gray2'>36</span><span class='gray'>,</span> <span class='gray2'>36</span><span class='gray'>,</span> <span class='gray2'>36</span><span class='gray'>,</span> <span class='gray2'>36</span><span class='gray'>,</span> <span class='gray2'>36</span><span class='gray'>,</span> <span class='gray2'>37</span><span class='gray'>,</span> <span class='gray2'>38</span><span class='gray'>,</span> <span class='gray2'>39</span><span class='gray'>,</span> <span class='gray2'>40</span><span class='gray'>,</span> <span class='gray2'>41</span><span class='gray'>,</span> <span class='gray2'>41</span><span class='gray'>,</span> <span class='gray2'>42</span><span class='gray'>,</span> <span class='gray2'>42</span><span class='gray'>,</span> <span class='gray2'>42</span><span class='gray'>,</span> <span class='gray2'>42</span><span class='gray'>,</span> <span class='gray2'>42</span><span class='gray'>,</span> <span class='gray2'>42</span><span class='gray'>,</span> <span class='gray2'>42</span><span class='gray'>,</span> <span class='gray2'>43</span><span class='gray'>,</span> <span class='gray2'>43</span><span class='gray'>,</span> <span class='gray2'>43</span><span class='gray'>,</span> <span class='gray2'>44</span><span class='gray'>,</span> <span class='gray2'>45</span><span class='gray'>,</span> <span class='gray2'>45</span><span class='gray'>,</span> <span class='gray2'>45</span><span class='gray'>,</span> <span class='gray2'>45</span><span class='gray'>,</span> <span class='gray2'>45</span><span class='gray'>,</span> <span class='gray2'>45</span><span class='gray'>,</span> <span class='gray2'>46</span><span class='gray'>,</span> <span class='gray2'>46</span><span class='gray'>,</span> <span class='gray2'>46</span><span class='gray'>,</span> <span class='gray2'>46</span><span class='gray'>,</span> <span class='gray2'>47</span><span class='gray'>,</span> <span class='gray2'>47</span><span class='gray'>,</span> <span class='gray2'>48</span><span class='gray'>,</span> <span class='gray2'>49</span><span class='gray'>,</span> <span class='gray2'>49</span><span class='gray'>,</span> <span class='gray2'>50</span><span class='gray'>,</span> <span class='gray2'>51</span><span class='gray'>,</span> <span class='gray2'>52</span><span class='gray'>,</span> <span class='gray2'>52</span><span class='gray'>,</span> <span class='gray2'>53</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>path</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span style='color:peru;'>@path</span>
<span class='keyword'>end</span>

<span class='defFunction'>Tree.</span><span class='gray2'>pretty</span><span class='gray2'>_</span><span class='gray2'>print</span><span class='gray2'>(</span><span class='defFunction'>TreeTest.</span><span class='gray2'>path</span><span class='gray2'>)</span>
</pre>