 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Execute</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>run</span><span class='functionName'>_</span><span class='functionName'>module</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>callback</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ fn </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>result</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>koan</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>-</i></span><span class='parameter'><i>></i></span><span class='parameter'><i> </i></span><span class='parameter'><i>nil</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>end</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span><span class='gray2'>_</span><span class='gray2'>while</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>.</span><span class='gray2'>all</span><span class='gray2'>_</span><span class='gray2'>koans</span><span class='gray'>,</span> <span style='color:yellow;'>:passed</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>koan</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>module</span>
        <span class='keyword'>|></span> <span class='gray2'>run</span><span class='gray2'>_</span><span class='gray2'>koan</span><span class='gray2'>(</span><span class='gray2'>koan</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='gray2'>hook</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>koan</span><span class='gray'>,</span> <span class='gray2'>callback</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='gray2'>continue?</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>hook</span><span class='gray2'>(</span><span class='gray2'>result</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>koan</span><span class='gray'>,</span> <span class='gray2'>callback</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>callback</span><span class='gray'>.</span><span class='gray2'>(</span><span class='gray2'>result</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>koan</span><span class='gray2'>)</span>
      <span class='gray2'>result</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>continue?</span><span class='gray2'>(</span><span style='color:yellow;'>:passed</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>{</span><span style='color:yellow;'>:cont</span><span class='gray'>,</span> <span style='color:yellow;'>:passed</span><span class='gray2'>}</span>
    <span class='gray2'>defp</span> <span class='gray2'>continue?</span><span class='gray2'>(</span><span class='gray2'>result</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>{</span><span style='color:yellow;'>:halt</span><span class='gray'>,</span> <span class='gray2'>result</span><span class='gray2'>}</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>run</span><span class='functionName'>_</span><span class='functionName'>koan</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>args</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>parent</span> <span class='keyword'>=</span> <span class='gray2'>self</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='gray2'>spawn</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>exec</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>args</span><span class='gray'>,</span> <span class='gray2'>parent</span><span class='gray2'>)</span> <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='gray2'>listen</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>result</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>listen</span><span class='functionName'>_</span><span class='functionName'>for</span><span class='functionName'>_</span><span class='functionName'>result</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>receive</span> <span class='keyword'>do</span>
        <span style='color:yellow;'>:ok</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:yellow;'>:passed</span>
        <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>error:</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>failure</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>{</span><span style='color:yellow;'>:failed</span><span class='gray'>,</span> <span class='gray2'>failure</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>}</span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>listen</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>result</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>exec</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>args</span><span class='gray'>,</span> <span class='gray2'>parent</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>result</span> <span class='keyword'>=</span> <span class='gray2'>apply</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>args</span><span class='gray2'>)</span>
      <span class='gray2'>send</span><span class='gray2'>(</span><span class='gray2'>parent</span><span class='gray'>,</span> <span class='gray2'>expand</span><span class='gray2'>(</span><span class='gray2'>result</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='defFunction'>Process.</span><span class='gray2'>exit</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span style='color:yellow;'>:kill</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>expand</span><span class='gray2'>(</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span style='color:yellow;'>:ok</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>expand</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>stacktrace</span><span class='gray'>,</span> <span class='gray2'>exception</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line</span><span class='gray2'>}</span> <span class='keyword'>=</span>
        <span class='gray2'>stacktrace</span>
        <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>drop</span><span class='gray2'>_</span><span class='gray2'>while</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>(</span><span class='keyword'>!</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>koan?</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>first</span><span class='gray2'>(</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='gray2'>extract</span><span class='gray2'>_</span><span class='gray2'>file</span><span class='gray2'>_</span><span class='gray2'>and</span><span class='gray2'>_</span><span class='gray2'>line</span>
  
      <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>error:</span> <span class='gray2'>exception</span><span class='gray'>,</span> <span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>koan?</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>koan</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>module</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>koan</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>extract</span><span class='gray2'>_</span><span class='gray2'>file</span><span class='gray2'>_</span><span class='gray2'>and</span><span class='gray2'>_</span><span class='gray2'>line</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>