 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'>#            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE</span>
<span class='comment'>#                    Version 2</span><span class='gray'>,</span> <span class='gray2'>December</span> <span class='gray2'>2004</span>
<span class='comment'>#</span>
<span class='comment'>#            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE</span>
<span class='comment'>#   TERMS AND CONDITIONS FOR COPYING</span><span class='gray'>,</span> <span class='gray2'>DISTRIBUTION</span> <span class='gray2'>AND</span> <span class='gray2'>MODIFICATION</span>
<span class='comment'>#</span>
<span class='comment'>#  0</span><span class='gray'>.</span> <span class='gray2'>You</span> <span class='gray2'>just</span> <span class='gray2'>DO</span> <span class='gray2'>WHAT</span> <span class='gray2'>THE</span> <span class='gray2'>FUCK</span> <span class='gray2'>YOU</span> <span class='gray2'>WANT</span> <span class='defFunction'>TO.</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Socket.</span><span class='functionName'>Host</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>defstruct</span> <span class='gray2'>[</span><span style='color:yellow;'>:name</span><span class='gray'>,</span> <span style='color:yellow;'>:aliases</span><span class='gray'>,</span> <span style='color:yellow;'>:type</span><span class='gray'>,</span> <span style='color:yellow;'>:length</span><span class='gray'>,</span> <span style='color:yellow;'>:list</span><span class='gray2'>]</span>
  
    <span style='color:peru;'>@type</span> <span class='gray2'>t</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>%</span><span class='defFunction'>Socket.</span><span class='gray2'>Host</span><span class='gray2'>{</span>
      <span class='gray2'>name:</span>    <span class='defFunction'>String.</span><span class='gray2'>t</span><span class='gray'>,</span>
      <span class='gray2'>aliases:</span> <span class='gray2'>[</span><span class='defFunction'>String.</span><span class='gray2'>t</span><span class='gray2'>]</span><span class='gray'>,</span>
      <span class='gray2'>type:</span>    <span style='color:yellow;'>:inet</span> <span class='gray2'>|</span> <span style='color:yellow;'>:inet6</span><span class='gray'>,</span>
      <span class='gray2'>length:</span>  <span class='gray2'>integer</span><span class='gray'>,</span>
      <span class='gray2'>list:</span>    <span class='gray2'>[</span><span class='gray2'>tuple</span><span class='gray2'>]</span> <span class='gray2'>}</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>convert</span><span class='gray2'>(</span><span class='gray2'>{</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>aliases</span><span class='gray'>,</span> <span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>length</span><span class='gray'>,</span> <span class='gray2'>list</span> <span class='gray2'>}</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>%</span><span class='defFunction'>Socket.</span><span class='gray2'>Host</span><span class='gray2'>{</span>
        <span class='gray2'>name:</span>    <span class='defFunction'>List.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>aliases:</span> <span class='gray2'>aliases</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='defFunction'>List.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>/</span><span class='gray2'>1</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>type:</span>    <span class='gray2'>type</span><span class='gray'>,</span>
        <span class='gray2'>length:</span>  <span class='gray2'>length</span><span class='gray'>,</span>
        <span class='gray2'>list:</span>    <span class='gray2'>list</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Get</span> <span class='gray2'>the</span> <span class='gray2'>hostent</span> <span class='gray2'>by</span> <span class='gray2'>address</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>by</span><span class='gray2'>_</span><span class='gray2'>address</span><span class='gray2'>(</span><span class='defFunction'>Socket.</span><span class='defFunction'>Address.</span><span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>t</span> <span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>posix</span> <span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>by</span><span class='functionName'>_</span><span class='functionName'>address</span><span style='color:white;'>(</span><span class='parameter'><i>address</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>gethostbyaddr</span><span class='gray2'>(</span><span class='defFunction'>Socket.</span><span class='defFunction'>Address.</span><span class='gray2'>parse</span><span class='gray2'>(</span><span class='gray2'>address</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>host</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>convert</span><span class='gray2'>(</span><span class='gray2'>host</span><span class='gray2'>)</span> <span class='gray2'>}</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Get</span> <span class='gray2'>the</span> <span class='gray2'>hostent</span> <span class='gray2'>by</span> <span class='gray2'>address</span><span class='gray'>,</span> <span class='gray2'>raising</span> <span class='keyword'>if</span> <span class='gray2'>an</span> <span class='gray2'>error</span> <span class='gray2'>occurs</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>by</span><span class='gray2'>_</span><span class='gray2'>address</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='defFunction'>Socket.</span><span class='defFunction'>Address.</span><span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>t</span> <span class='gray2'>|</span> <span class='gray2'>no</span><span class='gray2'>_</span><span class='gray2'>return</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>by</span><span class='functionName'>_</span><span class='functionName'>address</span><span class='functionName'>!</span><span style='color:white;'>(</span><span class='parameter'><i>address</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>gethostbyaddr</span><span class='gray2'>(</span><span class='defFunction'>Socket.</span><span class='defFunction'>Address.</span><span class='gray2'>parse</span><span class='gray2'>(</span><span class='gray2'>address</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>host</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>convert</span><span class='gray2'>(</span><span class='gray2'>host</span><span class='gray2'>)</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>code</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>raise</span> <span class='defFunction'>Socket.</span><span class='gray2'>Error</span><span class='gray'>,</span> <span class='gray2'>reason:</span> <span class='gray2'>code</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Get</span> <span class='gray2'>the</span> <span class='gray2'>hostent</span> <span class='gray2'>by</span> <span class='gray2'>name</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>by</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>binary</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>t</span> <span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>posix</span> <span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>by</span><span class='functionName'>_</span><span class='functionName'>name</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>name</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>binary</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>gethostbyname</span><span class='gray2'>(</span><span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>charlist</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>host</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>convert</span><span class='gray2'>(</span><span class='gray2'>host</span><span class='gray2'>)</span> <span class='gray2'>}</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Get</span> <span class='gray2'>the</span> <span class='gray2'>hostent</span> <span class='gray2'>by</span> <span class='gray2'>name</span> <span class='gray2'>and</span> <span class='gray2'>family</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>by</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>binary</span><span class='gray'>,</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>address</span><span class='gray2'>_</span><span class='gray2'>family</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>t</span> <span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>posix</span> <span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>by</span><span class='functionName'>_</span><span class='functionName'>name</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>family</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>name</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>binary</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>gethostbyname</span><span class='gray2'>(</span><span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>charlist</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>family</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>host</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>convert</span><span class='gray2'>(</span><span class='gray2'>host</span><span class='gray2'>)</span> <span class='gray2'>}</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Get</span> <span class='gray2'>the</span> <span class='gray2'>hostent</span> <span class='gray2'>by</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>raising</span> <span class='keyword'>if</span> <span class='gray2'>an</span> <span class='gray2'>error</span> <span class='gray2'>occurs</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>by</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>binary</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>t</span> <span class='gray2'>|</span> <span class='gray2'>no</span><span class='gray2'>_</span><span class='gray2'>return</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>by</span><span class='functionName'>_</span><span class='functionName'>name</span><span class='functionName'>!</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>name</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>binary</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>gethostbyname</span><span class='gray2'>(</span><span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>charlist</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>host</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>convert</span><span class='gray2'>(</span><span class='gray2'>host</span><span class='gray2'>)</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>code</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>raise</span> <span class='defFunction'>Socket.</span><span class='gray2'>Error</span><span class='gray'>,</span> <span class='gray2'>reason:</span> <span class='gray2'>code</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Get</span> <span class='gray2'>the</span> <span class='gray2'>hostent</span> <span class='gray2'>by</span> <span class='gray2'>name</span> <span class='gray2'>and</span> <span class='gray2'>family</span><span class='gray'>,</span> <span class='gray2'>raising</span> <span class='keyword'>if</span> <span class='gray2'>an</span> <span class='gray2'>error</span> <span class='gray2'>occurs</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>by</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>binary</span> <span class='gray2'>|</span> <span class='gray2'>charlist</span><span class='gray'>,</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>address</span><span class='gray2'>_</span><span class='gray2'>family</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>t</span> <span class='gray2'>|</span> <span class='gray2'>no</span><span class='gray2'>_</span><span class='gray2'>return</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>by</span><span class='functionName'>_</span><span class='functionName'>name</span><span class='functionName'>!</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>family</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>name</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>binary</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>gethostbyname</span><span class='gray2'>(</span><span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>charlist</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>family</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>host</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>convert</span><span class='gray2'>(</span><span class='gray2'>host</span><span class='gray2'>)</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>code</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>raise</span> <span class='defFunction'>Socket.</span><span class='gray2'>Error</span><span class='gray'>,</span> <span class='gray2'>reason:</span> <span class='gray2'>code</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Get</span> <span class='gray2'>the</span> <span class='gray2'>hostname</span> <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>machine</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>name</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='defFunction'>String.</span><span class='gray2'>t</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>name</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>gethostname</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>name</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:yellow;'>:unicode</span><span class='gray'>.</span><span class='gray2'>characters</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Get</span> <span class='gray2'>the</span> <span class='gray2'>interfaces</span> <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>machine</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>interfaces</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>tuple</span><span class='gray2'>]</span> <span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>posix</span> <span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>interfaces</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>getifaddrs</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Get</span> <span class='gray2'>the</span> <span class='gray2'>interfaces</span> <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>machine</span><span class='gray'>,</span> <span class='gray2'>raising</span> <span class='keyword'>if</span> <span class='gray2'>an</span> <span class='gray2'>error</span> <span class='gray2'>occurs</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>interfaces</span><span class='keyword'>!</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>[</span><span class='gray2'>tuple</span><span class='gray2'>]</span> <span class='gray2'>|</span> <span class='gray2'>no</span><span class='gray2'>_</span><span class='gray2'>return</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>interfaces</span><span class='functionName'>!</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>getifaddrs</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>ifs</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>ifs</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>code</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>raise</span> <span class='defFunction'>Socket.</span><span class='gray2'>Error</span><span class='gray'>,</span> <span class='gray2'>reason:</span> <span class='gray2'>code</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>