 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Fib</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Fibonacci</span> <span class='gray2'>Sequence</span> <span class='gray2'>function</span><span class='gray'>.</span>
  <span class='gray2'>Please</span> <span class='gray2'>note</span><span class='gray'>,</span> <span class='gray2'>I</span> <span class='gray2'>wrote</span> <span class='gray2'>this</span> <span class='gray2'>purely</span> <span class='gray2'>from</span> <span class='gray2'>memory</span> <span class='gray2'>-</span><span class='gray2'>-</span>
  <span class='gray2'>I</span> <span class='gray2'>mean</span><span class='gray'>,</span> <span class='gray2'>I</span><span class='gray2'>'</span><span class='gray2'>m</span> <span class='gray2'>sure</span> <span class='gray2'>there</span><span class='gray2'>'</span><span class='gray2'>s</span> <span class='gray2'>a</span> <span class='gray2'>more</span> <span class='gray2'>concise</span> <span class='gray2'>way</span> <span class='gray2'>to</span> <span class='gray2'>build</span> <span class='gray2'>this</span> <span class='gray2'>algorithm</span><span class='gray'>.</span> <span class='gray2'>:</span><span class='gray2'>-</span><span class='gray2'>)</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span style='color:peru;'>@seed</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span>

  <span class='comment'># named functions can have different arities</span><span class='gray'>,</span> <span class='gray2'>whereas</span> <span class='gray2'>anonymous</span> <span class='gray2'>functions</span> <span class='gray2'>cannot</span>
  <span class='comment'># also</span><span class='gray'>,</span> <span class='gray2'>anonymous</span> <span class='gray2'>functions</span> <span class='gray2'>cannot</span> <span class='gray2'>call</span> <span class='gray2'>themselves</span> <span class='gray2'>recursively</span> <span class='gray2'>:</span><span class='gray2'>-</span><span class='gray2'>(</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>fib</span><span style='color:white;'>(</span><span class='parameter'><i>n</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>n</span><span class='functionName'> </span><span class='functionName'><</span><span class='functionName'> </span><span class='functionName'>2</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='defFunction'>Enum.</span><span class='gray2'>take</span> <span style='color:peru;'>@seed</span><span class='gray'>,</span> <span class='gray2'>n</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>fib</span><span style='color:white;'>(</span><span class='parameter'><i>n</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>n</span><span class='functionName'> </span><span class='functionName'>></span><span class='functionName'>=</span><span class='functionName'> </span><span class='functionName'>2</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>fib</span><span class='gray2'>(</span><span style='color:peru;'>@seed</span><span class='gray'>,</span> <span class='gray2'>n</span> <span class='gray2'>-</span> <span class='gray2'>2</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>fib</span><span style='color:white;'>(</span><span class='parameter'><i>acc</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>0</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='gray2'>acc</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>fib</span><span style='color:white;'>(</span><span class='parameter'><i>acc</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>n</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>fib</span><span class='gray2'>(</span><span class='gray2'>acc</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>acc</span><span class='gray'>,</span> <span class='gray2'>-</span><span class='gray2'>2</span><span class='gray2'>)</span> <span class='gray2'>+</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>acc</span><span class='gray'>,</span> <span class='gray2'>-</span><span class='gray2'>1</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>n</span> <span class='gray2'>-</span> <span class='gray2'>1</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Fib2</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Fibonacci</span> <span class='gray2'>Sequence</span> <span class='gray2'>function</span><span class='gray'>.</span>
  <span class='gray2'>This</span> <span class='gray2'>is</span> <span class='gray2'>my</span> <span class='gray2'>attempt</span> <span class='gray2'>to</span> <span class='gray2'>be</span> <span class='gray2'>more</span> <span class='gray2'>efficient</span> <span class='gray2'>by</span> <span class='gray2'>building</span> <span class='gray2'>the</span> <span class='gray2'>list</span>
  <span class='gray2'>backwards</span> <span class='gray2'>(</span><span class='gray2'>and</span> <span class='gray2'>then</span> <span class='gray2'>reversing</span> <span class='gray2'>at</span> <span class='gray2'>the</span> <span class='keyword'>end</span><span class='gray2'>)</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span style='color:peru;'>@seed</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>]</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>fib2</span><span style='color:white;'>(</span><span class='parameter'><i>n</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>n</span><span class='functionName'> </span><span class='functionName'><</span><span class='functionName'> </span><span class='functionName'>2</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span><span class='gray2'>(</span><span style='color:peru;'>@seed</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>take</span><span class='gray2'>(</span><span class='gray2'>n</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>fib2</span><span style='color:white;'>(</span><span class='parameter'><i>n</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>n</span><span class='functionName'> </span><span class='functionName'>></span><span class='functionName'>=</span><span class='functionName'> </span><span class='functionName'>2</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>fib2</span><span class='gray2'>(</span><span style='color:peru;'>@seed</span><span class='gray'>,</span> <span class='gray2'>n</span> <span class='gray2'>-</span> <span class='gray2'>2</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>fib2</span><span style='color:white;'>(</span><span class='parameter'><i>acc</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>0</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span><span class='gray2'>(</span><span class='gray2'>acc</span><span class='gray2'>)</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>fib2</span><span style='color:white;'>(</span><span class='parameter'><i>[</i></span><span class='parameter'><i>first</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>second</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>|</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>=</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>lst</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>n</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>fib2</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>first</span> <span class='gray2'>+</span> <span class='gray2'>second</span> <span class='gray2'>|</span> <span class='gray2'>lst</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>n</span> <span class='gray2'>-</span> <span class='gray2'>1</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>RecursionTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

  <span class='gray2'>import</span> <span class='gray2'>Fib</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>fibonacci</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='gray2'>fib</span><span class='gray2'>(</span><span class='gray2'>0</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='gray2'>fib</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='gray2'>fib</span><span class='gray2'>(</span><span class='gray2'>2</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='gray2'>fib</span><span class='gray2'>(</span><span class='gray2'>10</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>13</span><span class='gray'>,</span> <span class='gray2'>21</span><span class='gray'>,</span> <span class='gray2'>34</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='gray2'>import</span> <span class='gray2'>Fib2</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>fibonacci</span> <span class='gray2'>2</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='gray2'>fib2</span><span class='gray2'>(</span><span class='gray2'>0</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='gray2'>fib2</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='gray2'>fib2</span><span class='gray2'>(</span><span class='gray2'>2</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='gray2'>fib2</span><span class='gray2'>(</span><span class='gray2'>10</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>13</span><span class='gray'>,</span> <span class='gray2'>21</span><span class='gray'>,</span> <span class='gray2'>34</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>benchmark</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:timer</span><span class='gray'>.</span><span class='gray2'>tc</span> <span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>fib</span><span class='gray2'>(</span><span class='gray2'>1000</span><span class='gray2'>)</span> <span class='keyword'>end</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>fib</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='gray2'>took</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray2'>}</span> <span class='gray2'>microsecs</span><span class='gray2'>"</span>     <span class='comment'># 7118 microsecs</span>
    <span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:timer</span><span class='gray'>.</span><span class='gray2'>tc</span> <span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>fib2</span><span class='gray2'>(</span><span class='gray2'>1000</span><span class='gray2'>)</span> <span class='keyword'>end</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>fib2</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='gray2'>took</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray2'>}</span> <span class='gray2'>microsecs</span><span class='gray2'>"</span>    <span class='comment'># 90 microsecs</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>
</pre>