 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Translate.</span><span class='functionName'>Module</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>J</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>Helpers</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>Function</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='gray2'>State</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>ModuleState</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>Form</span>
  
    <span style='color:peru;'>@operators</span> <span class='gray2'>[</span>
      <span class='gray2'>:</span><span class='gray2'>+</span><span class='gray'>,</span>
      <span class='gray2'>:</span><span class='gray2'>-</span><span class='gray'>,</span>
      <span class='gray2'>:</span><span class='gray2'>*</span><span class='gray'>,</span>
      <span class='gray2'>:</span><span class='gray2'>/</span><span class='gray'>,</span>
      <span class='gray2'>:</span><span class='keyword'>!</span><span class='keyword'>=</span><span class='gray'>,</span>
      <span class='gray2'>:</span><span class='keyword'>=</span><span class='keyword'>=</span><span class='gray'>,</span>
      <span class='gray2'>:</span><span class='keyword'>=</span><span class='keyword'>=</span><span class='keyword'>=</span><span class='gray'>,</span>
      <span class='gray2'>:</span><span class='keyword'><</span><span class='keyword'>=</span><span class='gray'>,</span>
      <span class='gray2'>:</span><span class='keyword'>></span><span class='keyword'>=</span><span class='gray'>,</span>
      <span class='gray2'>:</span><span class='keyword'>=</span><span class='gray2'>~</span><span class='gray'>,</span>
      <span class='gray2'>:</span><span class='gray2'>+</span><span class='gray2'>+</span><span class='gray'>,</span>
      <span class='gray2'>:</span><span class='keyword'>!</span><span class='keyword'>=</span><span class='keyword'>=</span><span class='gray'>,</span>
      <span class='gray2'>:</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray'>,</span>
      <span class='gray2'>:</span><span class='keyword'><</span><span class='gray'>,</span>
      <span class='gray2'>:</span><span class='keyword'>></span><span class='gray'>,</span>
      <span class='gray2'>:</span><span class='keyword'>=</span><span class='gray2'>~</span>
    <span class='gray2'>]</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Translate</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>module</span><span class='gray2'>'</span><span class='gray2'>s</span> <span class='gray2'>ast</span> <span class='gray2'>to</span>
    <span class='gray2'>JavaScript</span> <span class='gray2'>AST</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>%</i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>protocol:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>true</i></span><span class='parameter'><i>}</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>=</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>info</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>pid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Protocol.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>_</i></span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>%</i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>attributes:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>foreign</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>info</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>%</i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>path:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>name:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>global:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>}</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span style='color:darkcyan;'><i>nil</i></span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>info</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>pid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>%</span><span class='gray2'>{</span>
        <span class='gray2'>attributes:</span> <span class='gray2'>attrs</span><span class='gray'>,</span>
        <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>opts:</span> <span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>opts</span><span class='gray'>,</span>
        <span class='gray2'>definitions:</span> <span class='gray2'>defs</span><span class='gray'>,</span>
        <span class='gray2'>file:</span> <span class='gray2'>_</span><span class='gray2'>file</span><span class='gray'>,</span>
        <span class='gray2'>line:</span> <span class='gray2'>_</span><span class='gray2'>line</span><span class='gray'>,</span>
        <span class='gray2'>module:</span> <span class='gray2'>^</span><span class='gray2'>module</span><span class='gray'>,</span>
        <span class='gray2'>unreachable:</span> <span class='gray2'>unreachable</span>
      <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>info</span>
  
      <span class='gray2'>used</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:used</span><span class='gray2'>)</span>
      <span class='gray2'>remove</span><span class='gray2'>_</span><span class='gray2'>unused</span><span class='gray2'>_</span><span class='gray2'>functions</span> <span class='keyword'>=</span> <span class='defFunction'>ModuleState.</span><span class='gray2'>remove</span><span class='gray2'>_</span><span class='gray2'>unused</span><span class='gray2'>_</span><span class='gray2'>functions</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray2'>)</span>
  
      <span class='gray2'>state</span> <span class='keyword'>=</span> <span class='gray2'>%</span><span class='gray2'>{</span>
        <span class='gray2'>module:</span> <span class='gray2'>module</span><span class='gray'>,</span>
        <span class='gray2'>pid:</span> <span class='gray2'>pid</span>
      <span class='gray2'>}</span>
  
      <span class='comment'># Filter so that we only have the</span>
      <span class='comment'># Used functions to compile</span>
      <span class='gray2'>reachable</span><span class='gray2'>_</span><span class='gray2'>defs</span> <span class='keyword'>=</span>
        <span class='defFunction'>Enum.</span><span class='gray2'>filter</span><span class='gray2'>(</span><span class='gray2'>defs</span><span class='gray'>,</span> <span class='keyword'>fn</span>
          <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>when</span> <span class='gray2'>type</span> <span class='gray2'>in</span> <span class='gray2'>[</span><span style='color:yellow;'>:defmacro</span><span class='gray'>,</span> <span style='color:yellow;'>:defmacrop</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>false</i></span>
          <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>name</span> <span class='gray2'>not</span> <span class='gray2'>in</span> <span class='gray2'>unreachable</span>
          <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>true</i></span>
        <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>defs</span> <span class='keyword'>=</span>
        <span class='keyword'>if</span> <span class='defFunction'>Keyword.</span><span class='gray2'>has</span><span class='gray2'>_</span><span class='gray2'>key?</span><span class='gray2'>(</span><span class='gray2'>attrs</span><span class='gray'>,</span> <span style='color:yellow;'>:protocol</span><span class='gray2'>_</span><span class='gray2'>impl</span><span class='gray2'>)</span> <span class='gray2'>or</span> <span class='gray2'>used</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span> <span class='keyword'>do</span>
          <span class='gray2'>reachable</span><span class='gray2'>_</span><span class='gray2'>defs</span>
        <span class='keyword'>else</span>
          <span class='defFunction'>Enum.</span><span class='gray2'>filter</span><span class='gray2'>(</span><span class='gray2'>reachable</span><span class='gray2'>_</span><span class='gray2'>defs</span><span class='gray'>,</span> <span class='keyword'>fn</span>
            <span class='gray2'>{</span><span class='gray2'>{</span><span style='color:yellow;'>:start</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span style='color:darkcyan;'><i>true</i></span>
  
            <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>struct</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span style='color:darkcyan;'><i>true</i></span>
  
            <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>when</span> <span class='gray2'>name</span> <span class='gray2'>in</span> <span style='color:peru;'>@operators</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span style='color:darkcyan;'><i>false</i></span>
  
            <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='keyword'>if</span> <span class='gray2'>remove</span><span class='gray2'>_</span><span class='gray2'>unused</span><span class='gray2'>_</span><span class='gray2'>functions</span> <span class='keyword'>do</span>
                <span class='gray2'>name</span> <span class='gray2'>in</span> <span class='gray2'>used</span>
              <span class='keyword'>else</span>
                <span style='color:darkcyan;'><i>true</i></span>
              <span class='keyword'>end</span>
  
            <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span style='color:darkcyan;'><i>false</i></span>
          <span class='keyword'>end</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
  
      <span class='comment'># we combine our function arities</span>
      <span class='gray2'>combined</span><span class='gray2'>_</span><span class='gray2'>defs</span> <span class='keyword'>=</span> <span class='gray2'>combine</span><span class='gray2'>_</span><span class='gray2'>defs</span><span class='gray2'>(</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>defs</span><span class='gray2'>)</span>
      <span class='gray2'>exports</span> <span class='keyword'>=</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>exports</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>combined</span><span class='gray2'>_</span><span class='gray2'>defs</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span class='gray2'>compiled</span><span class='gray2'>_</span><span class='gray2'>functions</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>_</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>combined</span><span class='gray2'>_</span><span class='gray2'>defs</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='defFunction'>Function.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>2</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
      <span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>function</span> <span class='keyword'>=</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>compiled</span><span class='gray2'>_</span><span class='gray2'>functions</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>compiled</span><span class='gray2'>_</span><span class='gray2'>functions</span>
  
      <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>compiled</span><span class='gray2'>_</span><span class='gray2'>functions</span><span class='gray'>,</span> <span class='gray2'>exports</span><span class='gray2'>]</span>
  
      <span class='defFunction'>ModuleState.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:js</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>combine</span><span class='gray2'>_</span><span class='gray2'>defs</span><span class='gray2'>(</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>defs</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>defs</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>sort</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>name1</span><span class='gray'>,</span> <span class='gray2'>arity1</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>name2</span><span class='gray'>,</span> <span class='gray2'>arity2</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>name1</span><span class='gray2'>}</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>arity1</span><span class='gray2'>}</span><span class='gray2'>"</span> <span class='keyword'><</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>name2</span><span class='gray2'>}</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>arity2</span><span class='gray2'>}</span><span class='gray2'>"</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>group</span><span class='gray2'>_</span><span class='gray2'>by</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>name</span> <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>group</span><span class='gray'>,</span> <span class='gray2'>funs</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>funs</span><span class='gray2'>)</span>
  
        <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>funs</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>group</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>clauses</span><span class='gray2'>}</span><span class='gray'>,</span>
                                                           <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray2'>_</span><span class='gray2'>clauses</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray2'>_</span><span class='gray2'>clauses</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>clauses</span><span class='gray2'>}</span>
        <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>exports</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>reachable</span><span class='gray2'>_</span><span class='gray2'>defs</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>exports</span> <span class='keyword'>=</span>
        <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>reachable</span><span class='gray2'>_</span><span class='gray2'>defs</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='keyword'>fn</span>
          <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>arity</span><span class='gray2'>}</span><span class='gray'>,</span> <span style='color:yellow;'>:def</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>list</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>name</span> <span class='keyword'>=</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Identifier.</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span>
            <span class='gray2'>list</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>property</span><span class='gray2'>(</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span style='color:yellow;'>:init</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray2'>)</span><span class='gray2'>]</span>
  
          <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>list</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>list</span>
        <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='comment'># Add an attribute to use to determine if this is a module</span>
      <span class='comment'># Will be used by the is</span><span class='gray2'>_</span><span class='gray2'>atom</span> <span class='gray2'>implementation</span>
      <span class='gray2'>exports</span> <span class='keyword'>=</span>
        <span class='gray2'>exports</span> <span class='gray2'>+</span><span class='gray2'>+</span>
          <span class='gray2'>[</span>
            <span class='gray2'>%</span><span class='defFunction'>ESTree.</span><span class='gray2'>Property</span><span class='gray2'>{</span>
              <span class='gray2'>key:</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>value:</span> <span class='defFunction'>Helpers.</span><span class='gray2'>symbol</span><span class='gray2'>(</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span><span class='gray2'>)</span>
            <span class='gray2'>}</span><span class='gray'>,</span>
            <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>property</span><span class='gray2'>(</span>
              <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span style='color:yellow;'>:init</span><span class='gray'>,</span>
              <span style='color:darkcyan;'><i>true</i></span>
            <span class='gray2'>)</span>
          <span class='gray2'>]</span>
  
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>object</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>exports</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Determins</span> <span class='keyword'>if</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>atom</span>
    <span class='gray2'>is</span> <span class='gray2'>an</span> <span class='gray2'>Elixir</span> <span class='gray2'>function</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>elixir</span><span class='functionName'>_</span><span class='functionName'>module</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>atom</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>str</span><span class='gray2'>_</span><span class='gray2'>module</span> <span class='keyword'>=</span> <span class='defFunction'>Atom.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span>
  
      <span class='gray2'>case</span> <span class='gray2'>str</span><span class='gray2'>_</span><span class='gray2'>module</span> <span class='keyword'>do</span>
        <span class='gray2'>"</span><span class='gray2'>Elixir</span><span class='gray2'>"</span> <span class='keyword'><</span><span class='keyword'>></span> <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:darkcyan;'><i>true</i></span>
  
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:darkcyan;'><i>false</i></span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>elixir</span><span class='functionName'>_</span><span class='functionName'>module</span><span style='color:white;'>(</span><span class='parameter'><i>_</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span style='color:darkcyan;'><i>false</i></span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Determines</span> <span class='gray2'>is</span> <span class='gray2'>given</span> <span class='gray2'>function</span> <span class='gray2'>is</span> <span class='gray2'>a</span> <span class='gray2'>JS</span> <span class='gray2'>module</span><span class='gray'>.</span>
    <span class='gray2'>A</span> <span class='gray2'>JS</span> <span class='gray2'>module</span> <span class='gray2'>is</span> <span class='gray2'>either</span> <span class='gray2'>one</span> <span class='gray2'>that</span> <span class='gray2'>begins</span> <span class='gray2'>with</span> <span class='gray2'>"</span><span class='gray2'>JS</span><span class='gray2'>"</span>
    <span class='gray2'>or</span> <span class='gray2'>is</span> <span class='gray2'>a</span> <span class='gray2'>module</span> <span class='gray2'>defined</span> <span class='gray2'>from</span> <span class='gray2'>the</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span> <span class='gray2'>compiler</span>
    <span class='gray2'>opt</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>js</span><span class='functionName'>_</span><span class='functionName'>module</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>cond</span> <span class='keyword'>do</span>
        <span class='gray2'>module</span> <span class='gray2'>in</span> <span class='defFunction'>ModuleState.</span><span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>javascript</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:darkcyan;'><i>true</i></span>
  
        <span class='gray2'>module</span> <span class='keyword'>=</span><span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>Elixir</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:darkcyan;'><i>false</i></span>
  
        <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:darkcyan;'><i>false</i></span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>functions</span> <span class='keyword'>=</span>
        <span class='gray2'>module</span><span class='gray'>.</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>(</span><span style='color:yellow;'>:functions</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>macros</span> <span class='keyword'>=</span>
        <span class='gray2'>module</span><span class='gray'>.</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>(</span><span style='color:yellow;'>:macros</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>attributes</span> <span class='keyword'>=</span>
        <span class='gray2'>module</span><span class='gray'>.</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>(</span><span style='color:yellow;'>:attributes</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>compile</span> <span class='keyword'>=</span>
        <span class='gray2'>module</span><span class='gray'>.</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>(</span><span style='color:yellow;'>:compile</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Keyword.</span><span class='gray2'>update</span><span class='gray2'>(</span><span style='color:yellow;'>:source</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>binary</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray2'>)</span> <span class='keyword'>end</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>md5</span> <span class='keyword'>=</span>
        <span class='gray2'>module</span><span class='gray'>.</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>(</span><span style='color:yellow;'>:md5</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>binary</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
      <span class='gray2'>md5</span> <span class='keyword'>=</span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span style='color:crimson;'><<></span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>md5</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>module</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>symbol</span><span class='gray2'>(</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
      <span class='gray2'>map</span><span class='gray2'>_</span><span class='gray2'>entries</span> <span class='keyword'>=</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span>
            <span class='defFunction'>Helpers.</span><span class='gray2'>symbol</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>functions</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>functions</span>
          <span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span>
            <span class='defFunction'>Helpers.</span><span class='gray2'>symbol</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>macros</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>macros</span>
          <span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span>
            <span class='defFunction'>Helpers.</span><span class='gray2'>symbol</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>attributes</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>attributes</span>
          <span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span>
            <span class='defFunction'>Helpers.</span><span class='gray2'>symbol</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>compile</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>compile</span>
          <span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span>
            <span class='defFunction'>Helpers.</span><span class='gray2'>symbol</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>md5</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>md5</span>
          <span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span>
            <span class='defFunction'>Helpers.</span><span class='gray2'>symbol</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>module</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>module</span>
          <span class='gray2'>]</span><span class='gray2'>)</span>
        <span class='gray2'>]</span><span class='gray2'>)</span>
  
      <span class='gray2'>map</span> <span class='keyword'>=</span>
        <span class='defFunction'>Helpers.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>Map</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>[</span>
          <span class='gray2'>map</span><span class='gray2'>_</span><span class='gray2'>entries</span>
        <span class='gray2'>]</span><span class='gray2'>)</span>
  
      <span class='defFunction'>Helpers.</span><span class='gray2'>declare</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>map</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>map</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='comment'># Builds the </span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span> <span class='gray2'>function</span> <span class='gray2'>that</span> <span class='gray2'>Elixir</span> <span class='gray2'>modules</span>
    <span class='comment'># have</span><span class='gray'>.</span>
    <span class='gray2'>defp</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>map</span> <span class='keyword'>=</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>call</span> <span class='keyword'>=</span>
        <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
            <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>map</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>get</span><span class='gray2'>"</span><span class='gray2'>)</span>
          <span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>[</span>
            <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>kind</span><span class='gray2'>"</span><span class='gray2'>)</span>
          <span class='gray2'>]</span>
        <span class='gray2'>)</span>
  
      <span class='gray2'>value</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>declare</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>value</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>call</span><span class='gray2'>)</span>
  
      <span class='gray2'>body</span> <span class='keyword'>=</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='keyword'>if</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>binary</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
            <span class='gray2'>:</span><span class='keyword'>!</span><span class='keyword'>=</span><span class='keyword'>=</span><span class='gray'>,</span>
            <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>value</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>null</span><span class='gray2'>"</span><span class='gray2'>)</span>
          <span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>[</span>
            <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>value</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span>
          <span class='gray2'>]</span><span class='gray2'>)</span>
        <span class='gray2'>)</span>
  
      <span class='gray2'>body</span> <span class='keyword'>=</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>[</span>
          <span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>map</span><span class='gray'>,</span>
          <span class='gray2'>value</span><span class='gray'>,</span>
          <span class='gray2'>body</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>throw</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span>
            <span class='defFunction'>Helpers.</span><span class='gray2'>new</span><span class='gray2'>(</span>
              <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
                <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
                <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>MatchError</span><span class='gray2'>"</span><span class='gray2'>)</span>
              <span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>kind</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>]</span>
            <span class='gray2'>)</span>
          <span class='gray2'>)</span>
        <span class='gray2'>]</span><span class='gray2'>)</span>
  
      <span class='defFunction'>Helpers.</span><span class='gray2'>function</span><span class='gray2'>(</span>
        <span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>kind</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span>
        <span class='gray2'>body</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>