 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'># A micro web DSL library called </span><span class='gray2'>"</span><span class='gray2'>Frank</span><span class='gray2'>"</span>
<span class='comment'># The motivation was mainly to learn about macros</span><span class='gray'>.</span>
<span class='comment'># One big bummer is that the way I implemented the macro</span><span class='gray'>,</span>
<span class='comment'># there is no way to build a route based on a regex</span><span class='gray'>,</span>
<span class='comment'># which is essential for a web DSL</span><span class='gray'>.</span> <span class='gray2'>:</span><span class='gray2'>-</span><span class='gray2'>)</span>
<span class='comment'># Next version will hopefully support regex paths</span><span class='gray'>.</span>

<span class='gray2'>require</span> <span class='gray2'>Record</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Frank</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Frank</span> <span class='gray2'>is</span> <span class='gray2'>a</span> <span class='gray2'>micro</span> <span class='gray2'>web</span> <span class='gray2'>library</span> <span class='gray2'>that</span> <span class='gray2'>provides</span> <span class='gray2'>a</span> <span class='gray2'>DSL</span> <span class='gray2'>for</span> <span class='gray2'>defining</span> <span class='gray2'>routes</span><span class='gray'>.</span>

        <span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>MyApp</span><span class='functionName'> </span><span class='keyword'>do</span>
          <span class='keyword'>use</span> <span class='gray2'>Frank</span>

          <span class='gray2'>get</span> <span class='gray2'>"</span><span class='gray2'>/</span><span class='gray2'>foo</span><span class='gray2'>"</span> <span class='keyword'>do</span>
            <span class='gray2'>response</span> <span class='gray2'>200</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>foo</span><span class='keyword'>!</span><span class='gray2'>"</span>
          <span class='keyword'>end</span>
        <span class='keyword'>end</span>

        <span class='defFunction'>Frank.</span><span class='gray2'>sing</span><span class='gray2'>(</span><span class='gray2'>MyApp</span><span class='gray2'>)</span>

    <span class='gray2'>To</span> <span class='gray2'>run:</span>

    <span class='gray2'>$</span> <span class='gray2'>iex</span> <span class='gray2'>26</span><span class='gray2'>-</span><span class='gray2'>frank</span><span class='gray'>.</span><span class='gray2'>exs</span>

    <span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span> <span class='gray2'>then</span> <span class='gray2'>point</span> <span class='gray2'>your</span> <span class='gray2'>browser</span> <span class='gray2'>to</span> <span class='gray2'>http:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>localhost:3000</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span class='defFunction'>Record.</span><span class='gray2'>defrecord</span> <span style='color:yellow;'>:mod</span><span class='gray'>,</span> <span class='defFunction'>Record.</span><span class='gray2'>extract</span><span class='gray2'>(</span><span style='color:yellow;'>:mod</span><span class='gray'>,</span> <span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>lib:</span> <span class='gray2'>"</span><span class='gray2'>inets</span><span class='gray2'>/</span><span class='gray2'>include</span><span class='gray2'>/</span><span class='gray2'>httpd</span><span class='gray'>.</span><span class='gray2'>hrl</span><span class='gray2'>"</span><span class='gray2'>)</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Start</span> <span class='gray2'>the</span> <span class='gray2'>web</span> <span class='gray2'>server</span> <span class='gray2'>given</span> <span class='gray2'>the</span> <span class='gray2'>app</span> <span class='gray2'>module</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>sing</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:yellow;'>:inets</span><span class='gray'>.</span><span class='gray2'>start</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='gray2'>options</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>server</span><span class='gray2'>_</span><span class='gray2'>name:</span> <span class='gray2'>'</span><span class='gray2'>frank</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>server</span><span class='gray2'>_</span><span class='gray2'>root:</span> <span class='gray2'>'</span><span class='gray2'>/</span><span class='gray2'>tmp</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>document</span><span class='gray2'>_</span><span class='gray2'>root:</span> <span class='gray2'>'</span><span class='gray2'>/</span><span class='gray2'>tmp</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>port:</span> <span class='gray2'>3000</span><span class='gray'>,</span> <span class='gray2'>modules:</span> <span class='gray2'>[</span><span class='gray2'>module</span><span class='gray2'>]</span><span class='gray2'>]</span>
    <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>pid</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:inets</span><span class='gray'>.</span><span class='gray2'>start</span> <span style='color:yellow;'>:httpd</span><span class='gray'>,</span> <span class='gray2'>options</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>running</span> <span class='gray2'>on</span> <span class='gray2'>port</span> <span class='gray2'>3000</span><span class='gray2'>"</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defmacro</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>using</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>opts</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>quote</span> <span class='keyword'>do</span>
      <span class='gray2'>import</span> <span class='defFunction'>Frank.</span><span class='gray2'>Path</span>

      <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='atomo'>:do</span><span style='color:white;'>)</span><span style='color:white;'>(</span><span class='parameter'><i>data</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
        <span class='gray2'>name</span> <span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='defFunction'>Frank.</span><span class='gray2'>mod</span><span class='gray2'>(</span><span class='gray2'>data</span><span class='gray'>,</span> <span style='color:yellow;'>:request</span><span class='gray2'>_</span><span class='gray2'>uri</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='gray2'>funs</span> <span class='keyword'>=</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>.</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>(</span><span style='color:yellow;'>:functions</span><span class='gray2'>)</span>
        <span class='keyword'>if</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>funs</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>1</span> <span class='keyword'>do</span>
          <span class='gray2'>fun</span> <span class='keyword'>=</span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>fun</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>)</span>
          <span class='gray2'>fun</span><span class='gray'>.</span><span class='gray2'>(</span><span class='gray2'>data</span><span class='gray2'>)</span>
        <span class='keyword'>else</span>
          <span class='gray2'>response</span><span class='gray2'>(</span><span class='gray2'>404</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>not</span> <span class='gray2'>defined</span><span class='gray2'>'</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Path</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>contents</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>contents</span> <span class='keyword'>=</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>contents</span><span class='gray'>,</span> <span style='color:yellow;'>:do</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>unquote:</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray2'>)</span>
      <span class='gray2'>quote</span> <span class='gray2'>bind</span><span class='gray2'>_</span><span class='gray2'>quoted:</span> <span class='gray2'>binding</span> <span class='keyword'>do</span>
        <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='parameter'><i>String.</i></span><span class='parameter'><i>to</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>atom</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>path</i></span><span style='color:white;'>)</span><span class='functionName'>)</span><span style='color:white;'>(</span><span class='parameter'><i>data</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
          <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>contents</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>

    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>redirect</span><span style='color:white;'>(</span><span class='parameter'><i>path</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>code</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ 302</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>body</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>'</span><span class='gray2'>redirecting</span> <span class='gray2'>you</span> <span class='gray2'>to</span> <span class='keyword'><</span><span class='gray2'>a</span> <span class='gray2'>href</span><span class='keyword'>=</span><span class='gray2'>"</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>"</span><span class='keyword'>></span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='keyword'><</span><span class='gray2'>/</span><span class='gray2'>a</span><span class='keyword'>></span><span class='gray2'>'</span><span class='gray2'>]</span>
      <span class='gray2'>response</span> <span class='gray2'>code</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>location:</span> <span class='gray2'>path</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>

    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>sanitize</span><span style='color:white;'>(</span><span class='parameter'><i>content</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>content</span> <span class='keyword'>=</span> <span class='defFunction'>Regex.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='gray2'>&</span><span class='gray2'>/</span><span class='gray'>,</span> <span class='gray2'>content</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='comment'>\</span><span class='comment'>\</span><span class='gray2'>&</span><span class='gray2'>amp</span><span class='gray2'>;</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='gray2'>content</span> <span class='keyword'>=</span> <span class='defFunction'>Regex.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='keyword'><</span><span class='gray2'>/</span><span class='gray'>,</span> <span class='gray2'>content</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='comment'>\</span><span class='comment'>\</span><span class='gray2'>&</span><span class='gray2'>lt</span><span class='gray2'>;</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='gray2'>content</span> <span class='keyword'>=</span> <span class='defFunction'>Regex.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='keyword'>></span><span class='gray2'>/</span><span class='gray'>,</span> <span class='gray2'>content</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='comment'>\</span><span class='comment'>\</span><span class='gray2'>&</span><span class='gray2'>gt</span><span class='gray2'>;</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='gray2'>content</span>
    <span class='keyword'>end</span>

    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>response</span><span style='color:white;'>(</span><span class='parameter'><i>code</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>body</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>headers</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>if</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>binary</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>body</span> <span class='keyword'>=</span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>bitstring</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
      <span class='gray2'>headers</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>code:</span> <span class='gray2'>code</span><span class='gray'>,</span> <span class='gray2'>content</span><span class='gray2'>_</span><span class='gray2'>length:</span> <span class='defFunction'>Integer.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>char</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='defFunction'>IO.</span><span class='gray2'>iodata</span><span class='gray2'>_</span><span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>headers</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:proceed</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>response:</span> <span class='gray2'>{</span><span style='color:yellow;'>:response</span><span class='gray'>,</span> <span class='gray2'>headers</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Test</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='gray2'>Frank</span>

  <span class='gray2'>get</span> <span class='gray2'>"</span><span class='gray2'>/</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>response</span> <span class='gray2'>200</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='keyword'><</span><span class='gray2'>a</span> <span class='gray2'>href</span><span class='keyword'>=</span><span class='gray2'>'</span><span class='gray2'>/</span><span class='gray2'>foo</span><span class='gray2'>'</span><span class='keyword'>></span><span class='gray2'>go</span> <span class='gray2'>to</span> <span class='gray2'>foo</span><span class='keyword'><</span><span class='gray2'>/</span><span class='gray2'>a</span><span class='keyword'>></span><span class='gray2'>"</span>
  <span class='keyword'>end</span>

  <span class='gray2'>get</span> <span class='gray2'>"</span><span class='gray2'>/</span><span class='gray2'>foo</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>response</span> <span class='gray2'>200</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>foo</span><span class='keyword'>!</span><span class='gray2'>"</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='defFunction'>Frank.</span><span class='gray2'>sing</span><span class='gray2'>(</span><span class='gray2'>Test</span><span class='gray2'>)</span>
</pre>