 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'># I wanted to learn about the GenServer</span><span class='gray'>,</span> <span class='gray2'>so:</span>
<span class='comment'># 1</span><span class='gray'>.</span> <span class='gray2'>first</span> <span class='gray2'>wrote</span> <span class='gray2'>a</span> <span class='gray2'>function</span> <span class='gray2'>to</span> <span class='gray2'>return</span> <span class='gray2'>prime</span> <span class='gray2'>factors</span> <span class='gray2'>of</span> <span class='gray2'>a</span> <span class='gray2'>given</span> <span class='gray2'>number</span>
<span class='comment'># 2</span><span class='gray'>.</span> <span class='gray2'>then</span> <span class='gray2'>wrapped</span> <span class='gray2'>that</span> <span class='gray2'>in</span> <span class='gray2'>a</span> <span class='gray2'>"</span><span class='gray2'>server</span><span class='gray2'>"</span> <span class='gray2'>that</span> <span class='gray2'>handles</span> <span class='gray2'>both</span> <span class='gray2'>sync</span> <span class='gray2'>and</span> <span class='gray2'>async</span> <span class='gray2'>calls</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>PrimeFactors</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Calculate</span> <span class='gray2'>prime</span> <span class='gray2'>factors</span> <span class='gray2'>of</span> <span class='gray2'>any</span> <span class='gray2'>number</span> <span class='gray2'>given</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Given</span> <span class='gray2'>a</span> <span class='gray2'>number</span><span class='gray'>,</span> <span class='gray2'>return</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>prime</span> <span class='gray2'>factors</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>prime</span><span class='functionName'>_</span><span class='functionName'>factors</span><span style='color:white;'>(</span><span class='parameter'><i>number</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>div</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ 2</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>factors</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>cond</span> <span class='keyword'>do</span>
      <span class='gray2'>prime?</span><span class='gray2'>(</span><span class='gray2'>number</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>[</span><span class='gray2'>number</span> <span class='gray2'>|</span> <span class='gray2'>factors</span><span class='gray2'>]</span>
      <span class='gray2'>rem</span><span class='gray2'>(</span><span class='gray2'>number</span><span class='gray'>,</span> <span class='gray2'>div</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>0</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>prime</span><span class='gray2'>_</span><span class='gray2'>factors</span><span class='gray2'>(</span><span class='gray2'>div</span><span class='gray2'>(</span><span class='gray2'>number</span><span class='gray'>,</span> <span class='gray2'>div</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>div</span> <span class='gray2'>|</span> <span class='gray2'>factors</span><span class='gray2'>]</span><span class='gray2'>)</span>
      <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>prime</span><span class='gray2'>_</span><span class='gray2'>factors</span><span class='gray2'>(</span><span class='gray2'>number</span><span class='gray'>,</span> <span class='gray2'>div</span> <span class='gray2'>+</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>factors</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Given</span> <span class='gray2'>a</span> <span class='gray2'>number</span><span class='gray'>,</span> <span class='gray2'>return</span> <span style='color:darkcyan;'><i>true</i></span> <span class='keyword'>if</span> <span class='gray2'>the</span> <span class='gray2'>number</span> <span class='gray2'>is</span> <span class='gray2'>prime</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>prime?</span><span style='color:white;'>(</span><span class='parameter'><i>2</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span style='color:darkcyan;'><i>true</i></span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>prime?</span><span style='color:white;'>(</span><span class='parameter'><i>number</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>prime?</span><span class='gray2'>(</span><span class='gray2'>number</span><span class='gray'>,</span> <span style='color:yellow;'>:math</span><span class='gray'>.</span><span class='gray2'>sqrt</span><span class='gray2'>(</span><span class='gray2'>number</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>trunc</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>prime?</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span style='color:darkcyan;'><i>true</i></span>
  <span class='gray2'>defp</span> <span class='gray2'>prime?</span><span class='gray2'>(</span><span class='gray2'>number</span><span class='gray'>,</span> <span class='gray2'>div</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='keyword'>if</span> <span class='gray2'>rem</span><span class='gray2'>(</span><span class='gray2'>number</span><span class='gray'>,</span> <span class='gray2'>div</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>0</span> <span class='keyword'>do</span>
      <span style='color:darkcyan;'><i>false</i></span>
    <span class='keyword'>else</span>
      <span class='gray2'>prime?</span><span class='gray2'>(</span><span class='gray2'>number</span><span class='gray'>,</span> <span class='gray2'>div</span> <span class='gray2'>-</span> <span class='gray2'>1</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>PrimeFactorsServer</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Wrap</span> <span class='gray2'>the</span> <span class='defFunction'>PrimeFactors.</span><span class='gray2'>prime</span><span class='gray2'>_</span><span class='gray2'>factors</span> <span class='gray2'>functionality</span> <span class='gray2'>in</span> <span class='gray2'>a</span> <span class='gray2'>server</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span class='keyword'>use</span> <span class='gray2'>GenServer</span>

  <span class='gray2'>import</span> <span class='gray2'>PrimeFactors</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>start</span><span class='functionName'>_</span><span class='functionName'>link</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:local</span><span class='gray'>,</span> <span style='color:yellow;'>:prime</span><span class='gray2'>_</span><span class='gray2'>factors</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>init</span><span style='color:white;'>(</span><span class='parameter'><i>_</i></span><span class='parameter'><i>args</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>

  <span class='comment'># synchronous</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>handle</span><span class='functionName'>_</span><span class='functionName'>call</span><span style='color:white;'>(</span><span class='atomo'>:flush</span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>from</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>context</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>{</span><span style='color:yellow;'>:reply</span><span class='gray'>,</span> <span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>handle</span><span class='functionName'>_</span><span class='functionName'>call</span><span style='color:white;'>(</span><span class='parameter'><i>num</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>from</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>context</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>{</span><span style='color:yellow;'>:reply</span><span class='gray'>,</span> <span class='gray2'>prime</span><span class='gray2'>_</span><span class='gray2'>factors</span><span class='gray2'>(</span><span class='gray2'>num</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>context</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>

  <span class='comment'># asynchronous</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>handle</span><span class='functionName'>_</span><span class='functionName'>cast</span><span style='color:white;'>(</span><span class='parameter'><i>num</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>context</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>{</span><span style='color:yellow;'>:noreply</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>num</span><span class='gray'>,</span> <span class='gray2'>prime</span><span class='gray2'>_</span><span class='gray2'>factors</span><span class='gray2'>(</span><span class='gray2'>num</span><span class='gray2'>)</span><span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>context</span><span class='gray2'>]</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>PrimeFactorsTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

  <span class='gray2'>import</span> <span class='gray2'>PrimeFactors</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>prime</span><span class='gray2'>_</span><span class='gray2'>factors</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='gray2'>prime</span><span class='gray2'>_</span><span class='gray2'>factors</span><span class='gray2'>(</span><span class='gray2'>10</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='gray2'>prime</span><span class='gray2'>_</span><span class='gray2'>factors</span><span class='gray2'>(</span><span class='gray2'>100</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>prime?</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span><span class='gray2'>(</span><span class='gray2'>prime?</span><span class='gray2'>(</span><span class='gray2'>2</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span><span class='gray2'>(</span><span class='gray2'>prime?</span><span class='gray2'>(</span><span class='gray2'>11</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span><span class='gray2'>(</span><span class='gray2'>not</span> <span class='gray2'>prime?</span><span class='gray2'>(</span><span class='gray2'>8</span><span class='gray2'>)</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>async</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>PrimeFactorsServer.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span>
    <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>cast</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>10</span><span class='gray2'>)</span>
    <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>cast</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>100</span><span class='gray2'>)</span>
    <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>cast</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>1000</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>call</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span style='color:yellow;'>:flush</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span>
      <span class='gray2'>{</span><span class='gray2'>1000</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>100</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span>
      <span class='gray2'>{</span><span class='gray2'>10</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>call</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span style='color:yellow;'>:flush</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

</pre>