 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Translate.</span><span class='functionName'>Forms.</span><span class='functionName'>Map</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>J</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>{</span><span class='gray2'>Form</span><span class='gray'>,</span> <span class='gray2'>Helpers</span><span class='gray2'>}</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>%</i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>|</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>map</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>new</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>values</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>map</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>map</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>data</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>new</span><span class='gray2'>_</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>x</span><span class='gray'>,</span> <span class='gray2'>y</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span>
          <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>y</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
        <span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>new</span><span class='gray2'>(</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>Map</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>[</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
            <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>spread</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>map</span><span class='gray2'>)</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>data</span>
          <span class='gray2'>)</span>
        <span class='gray2'>]</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>{</span> <span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>%</i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>properties</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>new</span><span class='gray2'>(</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>Map</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>[</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
            <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>properties</span><span class='gray'>,</span> <span class='keyword'>fn</span>
              <span class='gray2'>{</span><span class='gray2'>x</span><span class='gray'>,</span> <span class='gray2'>y</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
                <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
                  <span class='gray2'>[</span>
                    <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray'>,</span>
                    <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>y</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
                  <span class='gray2'>]</span>
                <span class='gray2'>)</span>
            <span class='keyword'>end</span><span class='gray2'>)</span>
          <span class='gray2'>)</span>
        <span class='gray2'>]</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>make</span><span class='functionName'>_</span><span class='functionName'>property</span><span style='color:white;'>(</span><span class='parameter'><i>%</i></span><span class='parameter'><i>ESTree.</i></span><span class='parameter'><i>Identifier</i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>}</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>=</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>key</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>value</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>property</span><span class='gray2'>(</span><span class='gray2'>key</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>make</span><span class='functionName'>_</span><span class='functionName'>property</span><span style='color:white;'>(</span><span class='parameter'><i>%</i></span><span class='parameter'><i>ESTree.</i></span><span class='parameter'><i>Literal</i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>value:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>k</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>value</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>binary</span><span style='color:white;'>(</span><span class='parameter'><i>k</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>key</span> <span class='keyword'>=</span> <span class='gray2'>case</span> <span class='defFunction'>String.</span><span class='gray2'>contains?</span><span class='gray2'>(</span><span class='gray2'>k</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>-</span><span class='gray2'>"</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>literal</span><span class='gray2'>(</span><span class='gray2'>k</span><span class='gray2'>)</span>
        <span style='color:darkcyan;'><i>false</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Identifier.</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>k</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>property</span><span class='gray2'>(</span><span class='gray2'>key</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>make</span><span class='functionName'>_</span><span class='functionName'>property</span><span style='color:white;'>(</span><span class='parameter'><i>key</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>value</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>property</span><span class='gray2'>(</span><span class='gray2'>key</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray'>,</span> <span style='color:yellow;'>:init</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray'>,</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray'>,</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>make</span><span class='functionName'>_</span><span class='functionName'>shorthand</span><span class='functionName'>_</span><span class='functionName'>property</span><span style='color:white;'>(</span><span class='parameter'><i>%</i></span><span class='parameter'><i>ESTree.</i></span><span class='parameter'><i>Identifier</i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>}</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>=</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>key</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>property</span><span class='gray2'>(</span><span class='gray2'>key</span><span class='gray'>,</span> <span class='gray2'>key</span><span class='gray'>,</span> <span style='color:yellow;'>:init</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
  <span class='keyword'>end</span></pre>