 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Agent</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>start</span><span style='color:white;'>(</span><span class='parameter'><i>fun</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>options</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>name</span> <span class='keyword'>=</span> <span class='keyword'>if</span> <span class='defFunction'>Keyword.</span><span class='gray2'>has</span><span class='gray2'>_</span><span class='gray2'>key?</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span style='color:yellow;'>:name</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span style='color:yellow;'>:name</span><span class='gray2'>)</span>
      <span class='keyword'>else</span>
        <span style='color:darkcyan;'><i>nil</i></span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>pid</span> <span class='keyword'>=</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Core.</span><span class='defFunction'>Store.</span><span class='gray2'>create</span><span class='gray2'>(</span><span class='gray2'>fun</span><span class='gray'>.</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>)</span>
      <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>pid</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>start</span><span class='functionName'>_</span><span class='functionName'>link</span><span style='color:white;'>(</span><span class='parameter'><i>fun</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>options</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>name</span> <span class='keyword'>=</span> <span class='keyword'>if</span> <span class='defFunction'>Keyword.</span><span class='gray2'>has</span><span class='gray2'>_</span><span class='gray2'>key?</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span style='color:yellow;'>:name</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span style='color:yellow;'>:name</span><span class='gray2'>)</span>
      <span class='keyword'>else</span>
        <span style='color:darkcyan;'><i>nil</i></span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>pid</span> <span class='keyword'>=</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Core.</span><span class='defFunction'>Store.</span><span class='gray2'>create</span><span class='gray2'>(</span><span class='gray2'>fun</span><span class='gray'>.</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>)</span>
      <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>pid</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>stop</span><span style='color:white;'>(</span><span class='parameter'><i>agent</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Core.</span><span class='defFunction'>Store.</span><span class='gray2'>remove</span><span class='gray2'>(</span><span class='gray2'>agent</span><span class='gray2'>)</span>
      <span style='color:yellow;'>:ok</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>update</span><span style='color:white;'>(</span><span class='parameter'><i>agent</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>fun</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>state</span> <span class='keyword'>=</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Core.</span><span class='defFunction'>Store.</span><span class='gray2'>read</span><span class='gray2'>(</span><span class='gray2'>agent</span><span class='gray2'>)</span>
      <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Core.</span><span class='defFunction'>Store.</span><span class='gray2'>update</span><span class='gray2'>(</span><span class='gray2'>agent</span><span class='gray'>,</span> <span class='gray2'>fun</span><span class='gray'>.</span><span class='gray2'>(</span><span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span style='color:yellow;'>:ok</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>get</span><span style='color:white;'>(</span><span class='parameter'><i>agent</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>fun</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>state</span> <span class='keyword'>=</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Core.</span><span class='defFunction'>Store.</span><span class='gray2'>read</span><span class='gray2'>(</span><span class='gray2'>agent</span><span class='gray2'>)</span>
      <span class='gray2'>fun</span><span class='gray'>.</span><span class='gray2'>(</span><span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>get</span><span class='functionName'>_</span><span class='functionName'>and</span><span class='functionName'>_</span><span class='functionName'>update</span><span style='color:white;'>(</span><span class='parameter'><i>agent</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>fun</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>state</span> <span class='keyword'>=</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Core.</span><span class='defFunction'>Store.</span><span class='gray2'>read</span><span class='gray2'>(</span><span class='gray2'>agent</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span class='gray2'>val</span><span class='gray'>,</span> <span class='gray2'>new</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>fun</span><span class='gray'>.</span><span class='gray2'>(</span><span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Core.</span><span class='defFunction'>Store.</span><span class='gray2'>update</span><span class='gray2'>(</span><span class='gray2'>agent</span><span class='gray'>,</span> <span class='gray2'>new</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>val</span>
    <span class='keyword'>end</span>
  
  <span class='keyword'>end</span></pre>