 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'># http</span><span class='gray2'>:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>-</span><span class='gray2'>lang</span><span class='gray'>.</span><span class='gray2'>org</span><span class='gray2'>/</span><span class='gray2'>getting</span><span class='gray2'>-</span><span class='gray2'>started</span><span class='gray2'>/</span><span class='gray2'>introduction</span><span class='gray'>.</span><span class='gray2'>html</span>

<span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>hello</span> <span class='gray2'>world</span><span class='gray2'>"</span>
</pre>