 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Reddit.</span><span class='functionName'>Endpoint</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>Phoenix.</span><span class='gray2'>Endpoint</span><span class='gray'>,</span> <span class='gray2'>otp</span><span class='gray2'>_</span><span class='gray2'>app:</span> <span style='color:yellow;'>:reddit</span>

  <span class='gray2'>socket</span> <span class='gray2'>"</span><span class='gray2'>/</span><span class='gray2'>socket</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='defFunction'>Reddit.</span><span class='gray2'>UserSocket</span>

  <span class='comment'># Serve at </span><span class='gray2'>"</span><span class='gray2'>/</span><span class='gray2'>"</span> <span class='gray2'>the</span> <span class='gray2'>static</span> <span class='gray2'>files</span> <span class='gray2'>from</span> <span class='gray2'>"</span><span class='gray2'>priv</span><span class='gray2'>/</span><span class='gray2'>static</span><span class='gray2'>"</span> <span class='gray2'>directory</span><span class='gray'>.</span>
  <span class='comment'>#</span>
  <span class='comment'># You should set gzip to true if you are running phoenix</span><span class='gray'>.</span><span class='gray2'>digest</span>
  <span class='comment'># when deploying your static files in production</span><span class='gray'>.</span>
  <span class='gray2'>plug</span> <span class='defFunction'>Plug.</span><span class='gray2'>Static</span><span class='gray'>,</span>
    <span class='gray2'>at:</span> <span class='gray2'>"</span><span class='gray2'>/</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>from:</span> <span style='color:yellow;'>:reddit</span><span class='gray'>,</span> <span class='gray2'>gzip:</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray'>,</span>
    <span class='gray2'>only:</span> <span class='gray2'>~</span><span class='gray2'>w</span><span class='gray2'>(</span><span class='gray2'>css</span> <span class='gray2'>fonts</span> <span class='gray2'>images</span> <span class='gray2'>js</span> <span class='gray2'>favicon</span><span class='gray'>.</span><span class='gray2'>ico</span> <span class='gray2'>robots</span><span class='gray'>.</span><span class='gray2'>txt</span><span class='gray2'>)</span>

  <span class='comment'># Code reloading can be explicitly enabled under the</span>
  <span class='comment'># </span><span style='color:yellow;'>:code</span><span class='gray2'>_</span><span class='gray2'>reloader</span> <span class='gray2'>configuration</span> <span class='gray2'>of</span> <span class='gray2'>your</span> <span class='gray2'>endpoint</span><span class='gray'>.</span>
  <span class='keyword'>if</span> <span class='gray2'>code</span><span class='gray2'>_</span><span class='gray2'>reloading?</span> <span class='keyword'>do</span>
    <span class='gray2'>socket</span> <span class='gray2'>"</span><span class='gray2'>/</span><span class='gray2'>phoenix</span><span class='gray2'>/</span><span class='gray2'>live</span><span class='gray2'>_</span><span class='gray2'>reload</span><span class='gray2'>/</span><span class='gray2'>socket</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='defFunction'>Phoenix.</span><span class='defFunction'>LiveReloader.</span><span class='gray2'>Socket</span>
    <span class='gray2'>plug</span> <span class='defFunction'>Phoenix.</span><span class='gray2'>LiveReloader</span>
    <span class='gray2'>plug</span> <span class='defFunction'>Phoenix.</span><span class='gray2'>CodeReloader</span>
  <span class='keyword'>end</span>

  <span class='gray2'>plug</span> <span class='defFunction'>Plug.</span><span class='gray2'>RequestId</span>
  <span class='gray2'>plug</span> <span class='defFunction'>Plug.</span><span class='gray2'>Logger</span>

  <span class='gray2'>plug</span> <span class='defFunction'>Plug.</span><span class='gray2'>Parsers</span><span class='gray'>,</span>
    <span class='gray2'>parsers:</span> <span class='gray2'>[</span><span style='color:yellow;'>:urlencoded</span><span class='gray'>,</span> <span style='color:yellow;'>:multipart</span><span class='gray'>,</span> <span style='color:yellow;'>:json</span><span class='gray2'>]</span><span class='gray'>,</span>
    <span class='gray2'>pass:</span> <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>*</span><span class='gray2'>/</span><span class='gray2'>*</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray'>,</span>
    <span class='gray2'>json</span><span class='gray2'>_</span><span class='gray2'>decoder:</span> <span class='gray2'>Poison</span>

  <span class='gray2'>plug</span> <span class='defFunction'>Plug.</span><span class='gray2'>MethodOverride</span>
  <span class='gray2'>plug</span> <span class='defFunction'>Plug.</span><span class='gray2'>Head</span>

  <span class='comment'># The session will be stored in the cookie and signed</span><span class='gray'>,</span>
  <span class='comment'># this means its contents can be read but not tampered with</span><span class='gray'>.</span>
  <span class='comment'># Set </span><span style='color:yellow;'>:encryption</span><span class='gray2'>_</span><span class='gray2'>salt</span> <span class='keyword'>if</span> <span class='gray2'>you</span> <span class='gray2'>would</span> <span class='gray2'>also</span> <span class='gray2'>like</span> <span class='gray2'>to</span> <span class='gray2'>encrypt</span> <span class='gray2'>it</span><span class='gray'>.</span>
  <span class='gray2'>plug</span> <span class='defFunction'>Plug.</span><span class='gray2'>Session</span><span class='gray'>,</span>
    <span class='gray2'>store:</span> <span style='color:yellow;'>:cookie</span><span class='gray'>,</span>
    <span class='gray2'>key:</span> <span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>reddit</span><span class='gray2'>_</span><span class='gray2'>key</span><span class='gray2'>"</span><span class='gray'>,</span>
    <span class='gray2'>signing</span><span class='gray2'>_</span><span class='gray2'>salt:</span> <span class='gray2'>"</span><span class='gray2'>dtbSiNgX</span><span class='gray2'>"</span>

  <span class='gray2'>plug</span> <span class='defFunction'>Reddit.</span><span class='gray2'>Router</span>
<span class='keyword'>end</span></pre>