 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Animals</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Documentation</span> <span class='gray2'>for</span> <span class='defFunction'>Animals.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>create</span><span class='gray2'>_</span><span class='gray2'>zoo</span> <span class='gray2'>returns</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>animals</span> <span class='gray2'>you</span> <span class='gray2'>would</span> <span class='gray2'>find</span> <span class='gray2'>in</span> <span class='gray2'>a</span> <span class='gray2'>zoo</span>
    <span class='comment'>#</span><span class='comment'># Examples</span>
        <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Animals.</span><span class='gray2'>create</span><span class='gray2'>_</span><span class='gray2'>zoo</span>
        <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>lion</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>tiger</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>gorilla</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>elephant</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>monkey</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>giraffe</span><span class='gray2'>"</span><span class='gray2'>]</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>create</span><span class='functionName'>_</span><span class='functionName'>zoo</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>lion</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>tiger</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>gorilla</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>elephant</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>monkey</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>giraffe</span><span class='gray2'>"</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>randomise</span> <span class='gray2'>takes</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>zoo</span> <span class='gray2'>animals</span> <span class='gray2'>and</span> <span class='gray2'>returns</span> <span class='gray2'>a</span> <span class='gray2'>new</span> <span class='gray2'>randomised</span> <span class='gray2'>list</span> <span class='gray2'>with</span>
    <span class='gray2'>the</span> <span class='gray2'>same</span> <span class='gray2'>elements</span> <span class='gray2'>as</span> <span class='gray2'>the</span> <span class='gray2'>first</span><span class='gray'>.</span>
    <span class='comment'>#</span><span class='comment'># Examples</span>
      <span class='gray2'>iex</span><span class='keyword'>></span> <span class='gray2'>zoo</span> <span class='keyword'>=</span> <span class='defFunction'>Animals.</span><span class='gray2'>create</span><span class='gray2'>_</span><span class='gray2'>zoo</span>
      <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Animals.</span><span class='gray2'>randomise</span><span class='gray2'>(</span><span class='gray2'>zoo</span><span class='gray2'>)</span>
      <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>monkey</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>tiger</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>elephant</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>gorilla</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>giraffe</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>lion</span><span class='gray2'>"</span><span class='gray2'>]</span>
      
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>randomise</span><span style='color:white;'>(</span><span class='parameter'><i>zoo</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>shuffle</span><span class='gray2'>(</span><span class='gray2'>zoo</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>contains?</span> <span class='gray2'>takes</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>zoo</span> <span class='gray2'>animals</span> <span class='gray2'>and</span> <span class='gray2'>a</span> <span class='gray2'>single</span> <span class='gray2'>animal</span> <span class='gray2'>and</span> <span class='gray2'>returns</span> <span class='gray2'>a</span> <span class='gray2'>boolean</span>
    <span class='gray2'>as</span> <span class='gray2'>to</span> <span class='gray2'>whether</span> <span class='gray2'>or</span> <span class='gray2'>not</span> <span class='gray2'>the</span> <span class='gray2'>list</span> <span class='gray2'>contains</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>animal</span><span class='gray'>.</span>
    <span class='comment'>#</span><span class='comment'># Examples</span>
        <span class='gray2'>iex</span><span class='keyword'>></span> <span class='gray2'>zoo</span> <span class='keyword'>=</span> <span class='defFunction'>Animals.</span><span class='gray2'>create</span><span class='gray2'>_</span><span class='gray2'>zoo</span>
        <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Animals.</span><span class='gray2'>contains?</span><span class='gray2'>(</span><span class='gray2'>zoo</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>gorilla</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span style='color:darkcyan;'><i>true</i></span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>contains?</span><span style='color:white;'>(</span><span class='parameter'><i>zoo</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>animal</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>member?</span><span class='gray2'>(</span><span class='gray2'>zoo</span><span class='gray'>,</span> <span class='gray2'>animal</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>see</span><span class='gray2'>_</span><span class='gray2'>animals</span> <span class='gray2'>takes</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>zoo</span> <span class='gray2'>animals</span> <span class='gray2'>and</span> <span class='gray2'>the</span> <span class='gray2'>number</span> <span class='gray2'>of</span> <span class='gray2'>animals</span> <span class='gray2'>that</span>
    <span class='gray2'>you</span> <span class='gray2'>want</span> <span class='gray2'>to</span> <span class='gray2'>see</span> <span class='gray2'>and</span> <span class='gray2'>then</span> <span class='gray2'>returns</span> <span class='gray2'>a</span> <span class='gray2'>list</span>
    <span class='comment'>#</span><span class='comment'># Examples</span>
        <span class='gray2'>iex</span><span class='keyword'>></span> <span class='gray2'>zoo</span> <span class='keyword'>=</span> <span class='defFunction'>Animals.</span><span class='gray2'>create</span><span class='gray2'>_</span><span class='gray2'>zoo</span>
        <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Animals.</span><span class='gray2'>see</span><span class='gray2'>_</span><span class='gray2'>animals</span><span class='gray2'>(</span><span class='gray2'>zoo</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>)</span>
        <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>monkey</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>giraffe</span><span class='gray2'>"</span><span class='gray2'>]</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>see</span><span class='functionName'>_</span><span class='functionName'>animals</span><span style='color:white;'>(</span><span class='parameter'><i>zoo</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>count</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='comment'># Enum</span><span class='gray'>.</span><span class='gray2'>split</span> <span class='gray2'>returns</span> <span class='gray2'>a</span> <span class='gray2'>tuple</span> <span class='gray2'>so</span> <span class='gray2'>we</span> <span class='gray2'>have</span> <span class='gray2'>to</span> <span class='gray2'>pattern</span> <span class='gray2'>match</span> <span class='gray2'>on</span> <span class='gray2'>the</span> <span class='gray2'>result</span>
      <span class='comment'># to get the value we want out</span>
      <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray2'>seen</span><span class='gray'>,</span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>see</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>split</span><span class='gray2'>(</span><span class='gray2'>zoo</span><span class='gray'>,</span> <span class='gray2'>-</span><span class='gray2'>count</span><span class='gray2'>)</span>
      <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>see</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>save</span> <span class='gray2'>takes</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>zoo</span> <span class='gray2'>animals</span> <span class='gray2'>and</span> <span class='gray2'>a</span> <span class='gray2'>filename</span> <span class='gray2'>and</span> <span class='gray2'>saves</span> <span class='gray2'>the</span> <span class='gray2'>list</span> <span class='gray2'>to</span> <span class='gray2'>that</span> <span class='gray2'>file</span>
    <span class='comment'>#</span><span class='comment'># Examples</span>
        <span class='gray2'>iex</span><span class='keyword'>></span> <span class='gray2'>zoo</span> <span class='keyword'>=</span> <span class='defFunction'>Animals.</span><span class='gray2'>create</span><span class='gray2'>_</span><span class='gray2'>zoo</span>
        <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Animals.</span><span class='gray2'>save</span><span class='gray2'>(</span><span class='gray2'>zoo</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>my</span><span class='gray2'>_</span><span class='gray2'>animals</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span style='color:yellow;'>:ok</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>save</span><span style='color:white;'>(</span><span class='parameter'><i>zoo</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>filename</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='comment'># erlang is converting the zoo list to something that can be written to the</span>
      <span class='comment'># file system</span>
      <span class='gray2'>binary</span> <span class='keyword'>=</span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>term</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>binary</span><span class='gray2'>(</span><span class='gray2'>zoo</span><span class='gray2'>)</span>
      <span class='defFunction'>File.</span><span class='gray2'>write</span><span class='gray2'>(</span><span class='gray2'>filename</span><span class='gray'>,</span> <span class='gray2'>binary</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>load</span> <span class='gray2'>takes</span> <span class='gray2'>filename</span> <span class='gray2'>and</span> <span class='gray2'>returns</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>animals</span> <span class='keyword'>if</span> <span class='gray2'>the</span> <span class='gray2'>file</span> <span class='gray2'>exists</span>
    <span class='comment'>#</span><span class='comment'># Examples</span>
        <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Animals.</span><span class='gray2'>load</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>my</span><span class='gray2'>_</span><span class='gray2'>animals</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>lion</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>tiger</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>gorilla</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>elephant</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>monkey</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>giraffe</span><span class='gray2'>"</span><span class='gray2'>]</span>
        <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Animals.</span><span class='gray2'>load</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>aglkjhdfg</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='gray2'>"</span><span class='gray2'>File</span> <span class='gray2'>does</span> <span class='gray2'>not</span> <span class='gray2'>exist</span><span class='gray2'>"</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>load</span><span style='color:white;'>(</span><span class='parameter'><i>filename</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='defFunction'>File.</span><span class='gray2'>read</span><span class='gray2'>(</span><span class='gray2'>filename</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>binary</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>binary</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>term</span><span class='gray2'>(</span><span class='gray2'>binary</span><span class='gray2'>)</span>
        <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>reason</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>"</span><span class='gray2'>File</span> <span class='gray2'>does</span> <span class='gray2'>not</span> <span class='gray2'>exist</span><span class='gray2'>"</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>selection</span> <span class='gray2'>takes</span> <span class='gray2'>a</span> <span class='gray2'>number</span><span class='gray'>,</span> <span class='gray2'>creates</span> <span class='gray2'>a</span> <span class='gray2'>zoo</span><span class='gray'>,</span> <span class='gray2'>randomises</span> <span class='gray2'>it</span> <span class='gray2'>and</span> <span class='gray2'>then</span> <span class='gray2'>returns</span> <span class='gray2'>a</span> <span class='gray2'>list</span>
    <span class='gray2'>of</span> <span class='gray2'>animals</span> <span class='gray2'>of</span> <span class='gray2'>length</span> <span class='gray2'>selected</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>selection</span><span style='color:white;'>(</span><span class='parameter'><i>number</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>of</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>animals</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Animals.</span><span class='gray2'>create</span><span class='gray2'>_</span><span class='gray2'>zoo</span>
      <span class='keyword'>|></span> <span class='defFunction'>Animals.</span><span class='gray2'>randomise</span>
      <span class='keyword'>|></span> <span class='defFunction'>Animals.</span><span class='gray2'>see</span><span class='gray2'>_</span><span class='gray2'>animals</span><span class='gray2'>(</span><span class='gray2'>number</span><span class='gray2'>_</span><span class='gray2'>of</span><span class='gray2'>_</span><span class='gray2'>animals</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>