 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>FindUsedModules</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='gray2'>State</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>ModuleState</span>
    <span class='gray2'>require</span> <span class='gray2'>Logger</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Takes</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>entry</span> <span class='gray2'>modules</span> <span class='gray2'>and</span> <span class='gray2'>finds</span> <span class='gray2'>modules</span> <span class='gray2'>they</span> <span class='keyword'>use</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>atom</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span style='color:yellow;'>:ok</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>execute</span><span style='color:white;'>(</span><span class='parameter'><i>modules</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>pid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>modules</span>
      <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>module</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>result</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='gray2'>result</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>walk</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span>
  
        <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray'>,</span> <span class='gray2'>implementations</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>walk</span><span class='gray2'>_</span><span class='gray2'>protocol</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray'>,</span> <span class='gray2'>implementations</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span>
  
        <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Unknown</span> <span class='gray2'>module</span><span class='gray2'>"</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>Logger.</span><span class='gray2'>warn</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>"</span><span class='gray2'>ElixirScript:</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span><span class='gray2'>}</span> <span class='gray2'>is</span> <span class='gray2'>missing</span> <span class='gray2'>or</span> <span class='gray2'>unavailable</span><span class='gray2'>"</span>
          <span class='keyword'>end</span><span class='gray2'>)</span>
  
          <span class='defFunction'>ModuleState.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>diagnostic</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>%</span><span class='gray2'>{</span>
            <span class='gray2'>severity:</span> <span style='color:yellow;'>:warning</span><span class='gray'>,</span>
            <span class='gray2'>message:</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span><span class='gray2'>}</span> <span class='gray2'>is</span> <span class='gray2'>missing</span> <span class='gray2'>or</span> <span class='gray2'>unavailable</span><span class='gray2'>"</span>
          <span class='gray2'>}</span><span class='gray2'>)</span>
  
        <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>error</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>raise</span> <span class='defFunction'>ElixirScript.</span><span class='gray2'>CompileError</span><span class='gray'>,</span>
            <span class='gray2'>message:</span> <span class='gray2'>"</span><span class='gray2'>An</span> <span class='gray2'>error</span> <span class='gray2'>occurred</span> <span class='gray2'>while</span> <span class='gray2'>compiling</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span><span class='gray2'>}</span><span class='gray2'>:</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>error</span><span class='gray2'>}</span><span class='gray2'>"</span><span class='gray'>,</span>
            <span class='gray2'>severity:</span> <span style='color:yellow;'>:error</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>result</span> <span class='keyword'>=</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>result</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='defFunction'>ModuleState.</span><span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>memory</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Beam.</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span>
  
        <span class='gray2'>beam</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Beam.</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>beam</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span>
           <span class='gray2'>module</span><span class='gray'>,</span>
           <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>attributes:</span> <span class='gray2'>[</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>foreign</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>:</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>path:</span> <span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>name:</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>global:</span> <span class='gray2'>global</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>info</span><span class='gray'>,</span>
           <span class='gray2'>pid</span>
         <span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray2'>}</span> <span class='keyword'>=</span>
        <span class='keyword'>if</span> <span class='gray2'>global</span> <span class='keyword'>do</span>
          <span class='gray2'>name</span> <span class='keyword'>=</span> <span class='keyword'>if</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>else:</span> <span class='gray2'>module</span>
          <span class='gray2'>path</span> <span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span>
          <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray2'>}</span>
        <span class='keyword'>else</span>
          <span class='gray2'>name</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='defFunction'>Module.</span><span class='gray2'>split</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span>
          <span class='gray2'>path</span> <span class='keyword'>=</span> <span class='gray2'>path</span> <span class='keyword'><</span><span class='keyword'>></span> <span class='gray2'>"</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>"</span>
          <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray2'>}</span>
        <span class='keyword'>end</span>
  
      <span class='defFunction'>ModuleState.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>javascript</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray2'>)</span>
      <span class='defFunction'>ModuleState.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>)</span>
  
      <span style='color:darkcyan;'><i>nil</i></span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>%</span><span class='gray2'>{</span>
        <span class='gray2'>attributes:</span> <span class='gray2'>_</span><span class='gray2'>attrs</span><span class='gray'>,</span>
        <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>opts:</span> <span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>opts</span><span class='gray'>,</span>
        <span class='gray2'>definitions:</span> <span class='gray2'>defs</span><span class='gray'>,</span>
        <span class='gray2'>file:</span> <span class='gray2'>_</span><span class='gray2'>file</span><span class='gray'>,</span>
        <span class='gray2'>line:</span> <span class='gray2'>_</span><span class='gray2'>line</span><span class='gray'>,</span>
        <span class='gray2'>module:</span> <span class='gray2'>^</span><span class='gray2'>module</span><span class='gray'>,</span>
        <span class='gray2'>unreachable:</span> <span class='gray2'>unreachable</span>
      <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>info</span>
  
      <span class='defFunction'>ModuleState.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>)</span>
  
      <span class='gray2'>reachable</span><span class='gray2'>_</span><span class='gray2'>defs</span> <span class='keyword'>=</span>
        <span class='defFunction'>Enum.</span><span class='gray2'>filter</span><span class='gray2'>(</span><span class='gray2'>defs</span><span class='gray'>,</span> <span class='keyword'>fn</span>
          <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>when</span> <span class='gray2'>type</span> <span class='gray2'>in</span> <span class='gray2'>[</span><span style='color:yellow;'>:defmacro</span><span class='gray'>,</span> <span style='color:yellow;'>:defmacrop</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>false</i></span>
          <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>name</span> <span class='gray2'>not</span> <span class='gray2'>in</span> <span class='gray2'>unreachable</span>
          <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>true</i></span>
        <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>state</span> <span class='keyword'>=</span> <span class='gray2'>%</span><span class='gray2'>{</span>
        <span class='gray2'>pid:</span> <span class='gray2'>pid</span><span class='gray'>,</span>
        <span class='gray2'>module:</span> <span class='gray2'>module</span>
      <span class='gray2'>}</span>
  
      <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>reachable</span><span class='gray2'>_</span><span class='gray2'>defs</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>_</span><span class='gray2'>protocol</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray'>,</span> <span class='gray2'>implementations</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>impls</span> <span class='keyword'>=</span>
        <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>implementations</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>impl</span><span class='gray'>,</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>attributes:</span> <span class='gray2'>attrs</span><span class='gray2'>}</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>protocol</span><span class='gray2'>_</span><span class='gray2'>impl</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>fetch</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>attrs</span><span class='gray'>,</span> <span style='color:yellow;'>:protocol</span><span class='gray2'>_</span><span class='gray2'>impl</span><span class='gray2'>)</span>
          <span class='gray2'>impl</span><span class='gray2'>_</span><span class='gray2'>for</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>fetch</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>protocol</span><span class='gray2'>_</span><span class='gray2'>impl</span><span class='gray'>,</span> <span style='color:yellow;'>:for</span><span class='gray2'>)</span>
          <span class='gray2'>{</span><span class='gray2'>impl</span><span class='gray'>,</span> <span class='gray2'>impl</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>}</span>
        <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>first</span><span class='gray2'>_</span><span class='gray2'>implementation</span><span class='gray2'>_</span><span class='gray2'>functions</span> <span class='keyword'>=</span> <span class='gray2'>implementations</span> <span class='keyword'>|></span> <span class='gray2'>hd</span> <span class='keyword'>|></span> <span class='gray2'>elem</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span style='color:yellow;'>:definitions</span><span class='gray2'>)</span>
  
      <span class='gray2'>functions</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>first</span><span class='gray2'>_</span><span class='gray2'>implementation</span><span class='gray2'>_</span><span class='gray2'>functions</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>name</span> <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>merge</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray'>,</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>protocol:</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray'>,</span> <span class='gray2'>impls:</span> <span class='gray2'>impls</span><span class='gray'>,</span> <span class='gray2'>functions:</span> <span class='gray2'>functions</span><span class='gray2'>}</span><span class='gray2'>)</span>
  
      <span class='defFunction'>ModuleState.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>)</span>
  
      <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>implementations</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>impl</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>ModuleState.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>impl</span><span class='gray2'>)</span>
        <span class='gray2'>walk</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>impl</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>arity</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>clauses</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>clauses</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>args</span><span class='gray'>,</span> <span class='gray2'>guards</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>guards</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>walk</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>-</span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>{</span><span style='color:yellow;'>:when</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>guards</span> <span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>last</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray2'>)</span>
      <span class='gray2'>params</span> <span class='keyword'>=</span> <span class='gray2'>params</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='gray2'>tl</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>guards</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>-</span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>|</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>head</span><span class='gray'>,</span> <span class='gray2'>tail</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>head</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>tail</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>:</span><span class='gray2'>:</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>target</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>type</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>target</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>form</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>form</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>form</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>form</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
         <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>form</span><span class='gray2'>)</span> <span class='gray2'>and</span> <span class='gray2'>form</span> <span class='gray2'>not</span> <span class='gray2'>in</span> <span class='gray2'>[</span><span class='gray2'>BitString</span><span class='gray'>,</span> <span class='gray2'>Function</span><span class='gray'>,</span> <span class='gray2'>PID</span><span class='gray'>,</span> <span class='gray2'>Port</span><span class='gray'>,</span> <span class='gray2'>Reference</span><span class='gray'>,</span> <span class='gray2'>Any</span><span class='gray'>,</span> <span class='gray2'>Elixir</span><span class='gray2'>]</span> <span class='keyword'>do</span>
      <span class='keyword'>if</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Module.</span><span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>form</span><span class='gray2'>)</span> <span class='gray2'>and</span>
           <span class='keyword'>!</span><span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Module.</span><span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>form</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='keyword'>if</span> <span class='defFunction'>ModuleState.</span><span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>form</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span> <span class='keyword'>do</span>
          <span class='gray2'>case</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>form</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray2'>)</span> <span class='keyword'>do</span>
            <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>result</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='defFunction'>ModuleState.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>form</span><span class='gray2'>)</span>
              <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>form</span><span class='gray'>,</span> <span class='gray2'>result</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray2'>)</span>
  
            <span class='gray2'>result</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>form</span><span class='gray'>,</span> <span class='gray2'>result</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
        <span class='keyword'>else</span>
          <span class='defFunction'>ModuleState.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>form</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>a</span><span class='gray'>,</span> <span class='gray2'>b</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>a</span><span class='gray'>,</span> <span class='gray2'>b</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>elements</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>elements</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>properties</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>properties</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>val</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>val</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span style='color:crimson;'><<></span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>elements</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>elements</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>val</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>val</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='keyword'>=</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>left</span><span class='gray'>,</span> <span class='gray2'>right</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>left</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>right</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>%</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='keyword'>if</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Module.</span><span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span> <span class='gray2'>and</span>
           <span class='keyword'>!</span><span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Module.</span><span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='keyword'>if</span> <span class='defFunction'>ModuleState.</span><span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span> <span class='keyword'>do</span>
          <span class='gray2'>case</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray2'>)</span> <span class='keyword'>do</span>
            <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>result</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='defFunction'>ModuleState.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span>
              <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>result</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray2'>)</span>
  
            <span class='gray2'>result</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>result</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
        <span class='keyword'>else</span>
          <span class='defFunction'>ModuleState.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:for</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>generators</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>generators</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>Collectable</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>generators</span><span class='gray'>,</span> <span class='keyword'>fn</span>
        <span class='gray2'>{</span><span class='gray2'>:</span><span style='color:crimson;'><<></span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
        <span class='gray2'>{</span><span class='gray2'>:</span><span class='keyword'><</span><span class='gray2'>-</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>identifier</span><span class='gray'>,</span> <span class='gray2'>enum</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>identifier</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
          <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>enum</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
        <span class='gray2'>[</span><span class='gray2'>into:</span> <span class='gray2'>expression</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>expression</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
        <span class='gray2'>[</span><span class='gray2'>into:</span> <span class='gray2'>expression</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>expression2</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>expression</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
          <span class='gray2'>walk</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>(</span><span class='gray2'>expression2</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
        <span class='gray2'>[</span><span class='keyword'>do:</span> <span class='gray2'>expression</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>walk</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>(</span><span class='gray2'>expression</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
        <span class='gray2'>filter</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>filter</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:case</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>condition</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='keyword'>do:</span> <span class='gray2'>clauses</span><span class='gray2'>]</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>clauses</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>condition</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:cond</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='keyword'>do:</span> <span class='gray2'>clauses</span><span class='gray2'>]</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>clauses</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>-</span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>clause</span><span class='gray'>,</span> <span class='gray2'>clause</span><span class='gray2'>_</span><span class='gray2'>body</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>clause</span><span class='gray2'>_</span><span class='gray2'>body</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>clause</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:receive</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>blocks</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>blocks</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>block</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>blocks</span><span class='gray'>,</span> <span style='color:yellow;'>:do</span><span class='gray2'>)</span>
      <span class='gray2'>after</span><span class='gray2'>_</span><span class='gray2'>block</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>blocks</span><span class='gray'>,</span> <span style='color:yellow;'>:after</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span>
  
      <span class='gray2'>walk</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>(</span><span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='keyword'>if</span> <span class='gray2'>after</span><span class='gray2'>_</span><span class='gray2'>block</span> <span class='keyword'>do</span>
        <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>after</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:try</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>blocks</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>Enum</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>try</span><span class='gray2'>_</span><span class='gray2'>block</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>blocks</span><span class='gray'>,</span> <span style='color:yellow;'>:do</span><span class='gray2'>)</span>
      <span class='gray2'>rescue</span><span class='gray2'>_</span><span class='gray2'>block</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>blocks</span><span class='gray'>,</span> <span style='color:yellow;'>:rescue</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span>
      <span class='gray2'>catch</span><span class='gray2'>_</span><span class='gray2'>block</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>blocks</span><span class='gray'>,</span> <span style='color:yellow;'>:catch</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span>
      <span class='gray2'>after</span><span class='gray2'>_</span><span class='gray2'>block</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>blocks</span><span class='gray'>,</span> <span style='color:yellow;'>:after</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span>
      <span class='keyword'>else</span><span class='gray2'>_</span><span class='gray2'>block</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>blocks</span><span class='gray'>,</span> <span style='color:yellow;'>:else</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span>
  
      <span class='gray2'>walk</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>(</span><span class='gray2'>try</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='keyword'>if</span> <span class='gray2'>rescue</span><span class='gray2'>_</span><span class='gray2'>block</span> <span class='keyword'>do</span>
        <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>rescue</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray'>,</span> <span class='keyword'>fn</span>
          <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>-</span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>{</span><span style='color:yellow;'>:in</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>param</span><span class='gray'>,</span> <span class='gray2'>names</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>names</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
            <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>param</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray'>.</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>Enum</span><span class='gray'>,</span> <span style='color:yellow;'>:member</span><span class='gray2'>?</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>names</span><span class='gray'>,</span> <span class='gray2'>param</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
          <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>-</span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>param</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>param</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
        <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
  
      <span class='keyword'>if</span> <span class='gray2'>catch</span><span class='gray2'>_</span><span class='gray2'>block</span> <span class='keyword'>do</span>
        <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:fn</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>catch</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
  
      <span class='keyword'>if</span> <span class='gray2'>after</span><span class='gray2'>_</span><span class='gray2'>block</span> <span class='keyword'>do</span>
        <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>after</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
  
      <span class='keyword'>if</span> <span class='keyword'>else</span><span class='gray2'>_</span><span class='gray2'>block</span> <span class='keyword'>do</span>
        <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:fn</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='keyword'>else</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:fn</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>clauses</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>clauses</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:with</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>args</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray'>,</span> <span class='keyword'>fn</span>
        <span class='gray2'>{</span><span class='gray2'>:</span><span class='keyword'><</span><span class='gray2'>-</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>left</span><span class='gray'>,</span> <span class='gray2'>right</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>left</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
          <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>right</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
        <span class='gray2'>{</span><span class='gray2'>:</span><span class='keyword'>=</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>left</span><span class='gray'>,</span> <span class='gray2'>right</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>left</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
          <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>right</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
        <span class='gray2'>[</span><span class='keyword'>do:</span> <span class='gray2'>expression</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>walk</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>(</span><span class='gray2'>expression</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
        <span class='gray2'>[</span><span class='keyword'>do:</span> <span class='gray2'>expression</span><span class='gray'>,</span> <span class='gray2'>else:</span> <span class='gray2'>elses</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>walk</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>(</span><span class='gray2'>expression</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
          <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>elses</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>-</span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>left</span><span class='gray'>,</span> <span class='gray2'>right</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>left</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
            <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>right</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
          <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray'>.</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span style='color:yellow;'>:erlang</span><span class='gray'>,</span> <span style='color:yellow;'>:apply</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>function</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray'>.</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>function</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray'>.</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span style='color:yellow;'>:erlang</span><span class='gray'>,</span> <span style='color:yellow;'>:apply</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>function</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>function</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray'>.</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray'>.</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='defFunction'>ElixirScript.</span><span class='gray2'>JS</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span style='color:darkcyan;'><i>nil</i></span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray'>.</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>function</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='keyword'>if</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Module.</span><span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='keyword'>if</span> <span class='defFunction'>ModuleState.</span><span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span> <span class='keyword'>do</span>
          <span class='gray2'>case</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>debug</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray2'>)</span> <span class='keyword'>do</span>
            <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>result</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='defFunction'>ModuleState.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span>
              <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>result</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray2'>)</span>
  
            <span class='gray2'>result</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>result</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
        <span class='keyword'>else</span>
          <span class='defFunction'>ModuleState.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>else</span>
        <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
        <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>function</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:super</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>params</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>function</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>function</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span style='color:darkcyan;'><i>nil</i></span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>walk</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>(</span><span class='gray2'>block</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='gray2'>block</span> <span class='keyword'>do</span>
        <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:darkcyan;'><i>nil</i></span>
  
        <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>body</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
        <span class='gray2'>b</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>b</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='gray2'>b</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>walk</span><span class='gray2'>(</span><span class='gray2'>block</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>