 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Translate.</span><span class='functionName'>Identifier</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>J</span>
  
    <span style='color:peru;'>@js</span><span class='gray2'>_</span><span class='gray2'>reserved</span><span class='gray2'>_</span><span class='gray2'>words</span> <span class='gray2'>[</span>
      <span style='color:yellow;'>:break</span><span class='gray'>,</span>
      <span style='color:yellow;'>:case</span><span class='gray'>,</span>
      <span style='color:yellow;'>:class</span><span class='gray'>,</span>
      <span style='color:yellow;'>:const</span><span class='gray'>,</span>
      <span style='color:yellow;'>:continue</span><span class='gray'>,</span>
      <span style='color:yellow;'>:debugger</span><span class='gray'>,</span>
      <span style='color:yellow;'>:default</span><span class='gray'>,</span>
      <span style='color:yellow;'>:delete</span><span class='gray'>,</span>
      <span style='color:yellow;'>:do</span><span class='gray'>,</span>
      <span style='color:yellow;'>:else</span><span class='gray'>,</span>
      <span style='color:yellow;'>:export</span><span class='gray'>,</span>
      <span style='color:yellow;'>:extends</span><span class='gray'>,</span>
      <span style='color:yellow;'>:finally</span><span class='gray'>,</span>
      <span style='color:yellow;'>:function</span><span class='gray'>,</span>
      <span style='color:yellow;'>:if</span><span class='gray'>,</span>
      <span style='color:yellow;'>:import</span><span class='gray'>,</span>
      <span style='color:yellow;'>:in</span><span class='gray'>,</span>
      <span style='color:yellow;'>:instanceof</span><span class='gray'>,</span>
      <span style='color:yellow;'>:new</span><span class='gray'>,</span>
      <span style='color:yellow;'>:return</span><span class='gray'>,</span>
      <span style='color:yellow;'>:super</span><span class='gray'>,</span>
      <span style='color:yellow;'>:switch</span><span class='gray'>,</span>
      <span style='color:yellow;'>:throw</span><span class='gray'>,</span>
      <span style='color:yellow;'>:try</span><span class='gray'>,</span>
      <span style='color:yellow;'>:typeof</span><span class='gray'>,</span>
      <span style='color:yellow;'>:var</span><span class='gray'>,</span>
      <span style='color:yellow;'>:void</span><span class='gray'>,</span>
      <span style='color:yellow;'>:while</span><span class='gray'>,</span>
      <span style='color:yellow;'>:with</span><span class='gray'>,</span>
      <span style='color:yellow;'>:yield</span>
    <span class='gray2'>]</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>make</span><span class='functionName'>_</span><span class='functionName'>identifier</span><span style='color:white;'>(</span><span class='parameter'><i>ast</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>ast</span>
      <span class='keyword'>|></span> <span class='gray2'>filter</span><span class='gray2'>_</span><span class='gray2'>name</span>
      <span class='keyword'>|></span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>filter</span><span class='functionName'>_</span><span class='functionName'>name</span><span style='color:white;'>(</span><span class='parameter'><i>reserved</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>word</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>reserved</span><span class='functionName'>_</span><span class='functionName'>word</span><span class='functionName'> </span><span class='functionName'>in</span><span class='functionName'> </span><span class='functionName'>@js</span><span class='functionName'>_</span><span class='functionName'>reserved</span><span class='functionName'>_</span><span class='functionName'>words</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='comment'>#</span><span class='gray2'>{</span><span class='defFunction'>Atom.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>reserved</span><span class='gray2'>_</span><span class='gray2'>word</span><span class='gray2'>)</span><span class='gray2'>}</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>filter</span><span class='functionName'>_</span><span class='functionName'>name</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>name</span> <span class='keyword'>=</span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span>
  
      <span class='keyword'>if</span> <span class='defFunction'>String.</span><span class='gray2'>contains?</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>?</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='keyword'>!</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>name</span>
        <span class='keyword'>|></span> <span class='defFunction'>String.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>?</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>qmark</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>String.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='keyword'>!</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>emark</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='keyword'>else</span>
        <span class='gray2'>name</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>make</span><span class='functionName'>_</span><span class='functionName'>alias</span><span style='color:white;'>(</span><span class='parameter'><i>[</i></span><span class='parameter'><i>x</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>make</span><span class='functionName'>_</span><span class='functionName'>alias</span><span style='color:white;'>(</span><span class='parameter'><i>[</i></span><span class='parameter'><i>h</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>|</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>t</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>alias</span><span class='gray2'>(</span><span class='gray2'>t</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>h</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>make</span><span class='functionName'>_</span><span class='functionName'>namespace</span><span class='functionName'>_</span><span class='functionName'>members</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span> <span class='keyword'>do</span>
        <span class='gray2'>m</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>m</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>m</span>
  
        <span class='gray2'>m</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>m</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>Module.</span><span class='gray2'>split</span><span class='gray2'>(</span><span class='gray2'>m</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>alias</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>make</span><span class='functionName'>_</span><span class='functionName'>function</span><span class='functionName'>_</span><span class='functionName'>name</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>name</span> <span class='keyword'>=</span> <span class='gray2'>filter</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>js</span><span class='functionName'>_</span><span class='functionName'>reserved</span><span class='functionName'>_</span><span class='functionName'>words</span><span style='color:white;'>(</span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span style='color:peru;'>@js</span><span class='gray2'>_</span><span class='gray2'>reserved</span><span class='gray2'>_</span><span class='gray2'>words</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>