 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'># just playing with inets </span><span class='gray2'>-</span> <span class='gray2'>nothing</span> <span class='gray2'>special</span>

<span class='gray2'>require</span> <span class='gray2'>Record</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>WebServer</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>run</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:yellow;'>:inets</span><span class='gray'>.</span><span class='gray2'>start</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='gray2'>options</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>server</span><span class='gray2'>_</span><span class='gray2'>name:</span> <span class='gray2'>'</span><span class='gray2'>foo</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>server</span><span class='gray2'>_</span><span class='gray2'>root:</span> <span class='gray2'>'</span><span class='gray2'>/</span><span class='gray2'>tmp</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>document</span><span class='gray2'>_</span><span class='gray2'>root:</span> <span class='gray2'>'</span><span class='gray2'>/</span><span class='gray2'>tmp</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>port:</span> <span class='gray2'>3000</span><span class='gray'>,</span> <span class='gray2'>modules:</span> <span class='gray2'>[</span><span class='gray2'>App</span><span class='gray2'>]</span><span class='gray2'>]</span>
    <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>pid</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:inets</span><span class='gray'>.</span><span class='gray2'>start</span> <span style='color:yellow;'>:httpd</span><span class='gray'>,</span> <span class='gray2'>options</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>running</span> <span class='gray2'>on</span> <span class='gray2'>port</span> <span class='gray2'>3000</span><span class='gray2'>"</span>
    <span class='gray2'>receive</span> <span class='keyword'>do:</span> <span class='gray2'>(</span><span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:yellow;'>:ok</span><span class='gray2'>)</span> <span class='comment'># TODO better way to wait</span><span class='gray2'>?</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>App</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='defFunction'>Record.</span><span class='gray2'>defrecord</span> <span style='color:yellow;'>:mod</span><span class='gray'>,</span> <span class='defFunction'>Record.</span><span class='gray2'>extract</span><span class='gray2'>(</span><span style='color:yellow;'>:mod</span><span class='gray'>,</span> <span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>lib:</span> <span class='gray2'>"</span><span class='gray2'>inets</span><span class='gray2'>/</span><span class='gray2'>include</span><span class='gray2'>/</span><span class='gray2'>httpd</span><span class='gray'>.</span><span class='gray2'>hrl</span><span class='gray2'>"</span><span class='gray2'>)</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='atomo'>:do</span><span style='color:white;'>)</span><span style='color:white;'>(</span><span class='parameter'><i>data</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>response</span> <span class='keyword'>=</span> <span class='gray2'>case</span> <span class='gray2'>mod</span><span class='gray2'>(</span><span class='gray2'>data</span><span class='gray'>,</span> <span style='color:yellow;'>:request</span><span class='gray2'>_</span><span class='gray2'>uri</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>'</span><span class='gray2'>/</span><span class='gray2'>'</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>'</span><span class='gray2'>hello</span> <span class='gray2'>world</span><span class='gray2'>'</span>
      <span class='gray2'>_</span>   <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>[</span><span class='gray2'>'</span><span class='gray2'>hello</span> <span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>mod</span><span class='gray2'>(</span><span class='gray2'>data</span><span class='gray'>,</span> <span style='color:yellow;'>:request</span><span class='gray2'>_</span><span class='gray2'>uri</span><span class='gray2'>)</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
    <span class='gray2'>{</span><span style='color:yellow;'>:proceed</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>response:</span> <span class='gray2'>{</span><span class='gray2'>200</span><span class='gray'>,</span> <span class='gray2'>response</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='defFunction'>WebServer.</span><span class='gray2'>run</span>
</pre>