 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'># https</span><span class='gray2'>:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>hexdocs</span><span class='gray'>.</span><span class='gray2'>pm</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>/</span><span class='defFunction'>IO.</span><span class='gray2'>html</span>
<span class='comment'># https</span><span class='gray2'>:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>hexdocs</span><span class='gray'>.</span><span class='gray2'>pm</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>/</span><span class='defFunction'>File.</span><span class='gray2'>html</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>CowInterrogator</span><span class='functionName'> </span><span class='keyword'>do</span>

  <span class='comment'># docstring are quite useful you can generate docs out of them</span>
  <span class='comment'># check</span><span class='gray2'>:</span> <span class='gray2'>http:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>-</span><span class='gray2'>lang</span><span class='gray'>.</span><span class='gray2'>org</span><span class='gray2'>/</span><span class='gray2'>getting</span><span class='gray2'>-</span><span class='gray2'>started</span><span class='gray2'>/</span><span class='gray2'>module</span><span class='gray2'>-</span><span class='gray2'>attributes</span><span class='gray'>.</span><span class='gray2'>html</span>
  <span class='comment'># for more info</span>
  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Gets</span> <span class='gray2'>name</span> <span class='gray2'>from</span> <span class='gray2'>standard</span> <span class='gray2'>IO</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>get</span><span class='functionName'>_</span><span class='functionName'>name</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='defFunction'>IO.</span><span class='gray2'>gets</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>What</span> <span class='gray2'>is</span> <span class='gray2'>your</span> <span class='gray2'>name?</span> <span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='keyword'>|></span> <span class='defFunction'>String.</span><span class='gray2'>trim</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>get</span><span class='functionName'>_</span><span class='functionName'>cow</span><span class='functionName'>_</span><span class='functionName'>lover</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='defFunction'>IO.</span><span class='gray2'>getn</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>Do</span> <span class='gray2'>you</span> <span class='gray2'>like</span> <span class='gray2'>cows?</span> <span class='gray2'>[</span><span class='gray2'>y</span><span class='gray2'>|</span><span class='gray2'>n</span><span class='gray2'>]</span> <span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>interrogate</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>name</span> <span class='keyword'>=</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='gray2'>case</span> <span class='defFunction'>String.</span><span class='gray2'>downcase</span><span class='gray2'>(</span><span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>cow</span><span class='gray2'>_</span><span class='gray2'>lover</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>"</span><span class='gray2'>y</span><span class='gray2'>"</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>Great</span><span class='keyword'>!</span> <span class='gray2'>Here</span><span class='gray2'>'</span><span class='gray2'>s</span> <span class='gray2'>a</span> <span class='gray2'>cow</span> <span class='gray2'>for</span> <span class='gray2'>you</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray2'>}</span><span class='gray2'>:</span><span class='gray2'>"</span>
        <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>cow</span><span class='gray2'>_</span><span class='gray2'>art</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='gray2'>"</span><span class='gray2'>n</span><span class='gray2'>"</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>That</span><span class='gray2'>'</span><span class='gray2'>s</span> <span class='gray2'>a</span> <span class='gray2'>shame</span><span class='gray'>,</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray2'>}</span><span class='gray'>.</span><span class='gray2'>"</span>
      <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>You</span> <span class='gray2'>should</span> <span class='gray2'>have</span> <span class='gray2'>entered</span> <span class='gray2'>'</span><span class='gray2'>y</span><span class='gray2'>'</span> <span class='gray2'>or</span> <span class='gray2'>'</span><span class='gray2'>n</span><span class='gray2'>'</span><span class='gray'>.</span><span class='gray2'>"</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>cow</span><span class='functionName'>_</span><span class='functionName'>art</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>path</span> <span class='keyword'>=</span> <span class='defFunction'>Path.</span><span class='gray2'>expand</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>support</span><span class='gray2'>/</span><span class='gray2'>cow</span><span class='gray'>.</span><span class='gray2'>txt</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>DIR</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>)</span>
    <span class='gray2'>case</span> <span class='defFunction'>File.</span><span class='gray2'>read</span><span class='gray2'>(</span><span class='gray2'>path</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>art</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>art</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>Error:</span> <span class='gray2'>cow</span><span class='gray'>.</span><span class='gray2'>txt</span> <span class='gray2'>file</span> <span class='gray2'>not</span> <span class='gray2'>found</span><span class='gray2'>"</span><span class='gray2'>;</span> <span class='defFunction'>System.</span><span class='gray2'>halt</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>


<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>InputOutputTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>
  <span class='gray2'>import</span> <span class='gray2'>String</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>checks</span> <span class='keyword'>if</span> <span class='gray2'>cow</span><span class='gray2'>_</span><span class='gray2'>art</span> <span class='gray2'>returns</span> <span class='gray2'>string</span> <span class='gray2'>from</span> <span class='gray2'>support</span><span class='gray2'>/</span><span class='gray2'>cow</span><span class='gray'>.</span><span class='gray2'>txt</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='comment'># this call checks if cow</span><span class='gray2'>_</span><span class='gray2'>art</span> <span class='gray2'>function</span> <span class='gray2'>returns</span> <span class='gray2'>art</span> <span class='gray2'>from</span> <span class='gray2'>txt</span> <span class='gray2'>file</span>
    <span class='gray2'>art</span> <span class='keyword'>=</span> <span class='defFunction'>CowInterrogator.</span><span class='gray2'>cow</span><span class='gray2'>_</span><span class='gray2'>art</span>
    <span class='gray2'>assert</span> <span class='gray2'>trim</span><span class='gray2'>(</span><span class='gray2'>art</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='gray2'>first</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>"</span><span class='gray2'>(</span><span class='gray2'>"</span> <span class='comment'># first is implemented in String module</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='comment'># call interrogate performs most of the work</span>
<span class='comment'># asks about your name</span><span class='gray'>,</span> <span class='gray2'>your</span> <span class='gray2'>interests</span> <span class='gray2'>in</span> <span class='gray2'>cows</span>
<span class='comment'># and renders cow art</span>
<span class='defFunction'>CowInterrogator.</span><span class='gray2'>interrogate</span>
</pre>