 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Translate</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Takes</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>modules</span> <span class='gray2'>and</span> <span class='gray2'>translates</span> <span class='gray2'>their</span> <span class='gray2'>ast</span> <span class='gray2'>into</span>
    <span class='gray2'>JavaScript</span> <span class='defFunction'>AST.</span> <span class='gray2'>The</span> <span class='gray2'>modules</span> <span class='gray2'>are</span> <span class='gray2'>the</span> <span class='gray2'>ones</span> <span class='gray2'>collected</span> <span class='gray2'>from</span>
    <span class='gray2'>the</span> <span class='gray2'>FindUsed</span> <span class='gray2'>pass</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>execute</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>atom</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span style='color:darkcyan;'><i>nil</i></span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>execute</span><span style='color:white;'>(</span><span class='parameter'><i>modules</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>pid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>modules</span>
      <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Task.</span><span class='gray2'>async</span><span class='gray2'>_</span><span class='gray2'>stream</span><span class='gray2'>(</span><span class='keyword'>fn</span>
        <span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Module.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray'>,</span> <span class='gray2'>timeout:</span> <span class='gray2'>10</span><span class='gray2'>_</span><span class='gray2'>0</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Stream.</span><span class='gray2'>run</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>