 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Socket.</span><span class='functionName'>Helpers</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>using</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>opts</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>quote</span> <span class='keyword'>do</span>
        <span class='gray2'>import</span> <span class='defFunction'>Socket.</span><span class='gray2'>Helpers</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defmacro</span> <span class='gray2'>defbang</span><span class='gray2'>(</span><span class='gray2'>{</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>args</span> <span class='gray2'>}</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>args</span> <span class='keyword'>=</span> <span class='keyword'>if</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>args</span><span class='gray'>,</span> <span class='gray2'>else:</span> <span class='gray2'>[</span><span class='gray2'>]</span>
  
      <span class='gray2'>quote</span> <span class='gray2'>bind</span><span class='gray2'>_</span><span class='gray2'>quoted:</span> <span class='gray2'>[</span><span class='gray2'>name:</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>args:</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray2'>)</span><span class='gray2'>]</span> <span class='keyword'>do</span>
        <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='parameter'><i>to</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>string</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'><</span><span class='functionName'>></span><span class='functionName'> </span><span class='functionName'>"</span><span class='functionName'>!</span><span class='functionName'>"</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>String.</span><span class='functionName'>to</span><span class='functionName'>_</span><span class='functionName'>atom</span><span class='functionName'>)</span><span style='color:white;'>(</span><span class='parameter'><i>unquote</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>splicing</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>args</i></span><span style='color:white;'>)</span><span class='functionName'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
          <span class='gray2'>case</span> <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray2'>(</span><span class='gray2'>unquote</span><span class='gray2'>_</span><span class='gray2'>splicing</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>do</span>
            <span style='color:yellow;'>:ok</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span style='color:yellow;'>:ok</span>
  
            <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>result</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>result</span>
  
            <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>raise</span> <span class='defFunction'>Socket.</span><span class='gray2'>Error</span><span class='gray'>,</span> <span class='gray2'>reason:</span> <span class='gray2'>reason</span>
          <span class='keyword'>end</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defmacro</span> <span class='gray2'>defbang</span><span class='gray2'>(</span><span class='gray2'>{</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>args</span> <span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>to:</span> <span class='gray2'>mod</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>args</span> <span class='keyword'>=</span> <span class='keyword'>if</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>args</span><span class='gray'>,</span> <span class='gray2'>else:</span> <span class='gray2'>[</span><span class='gray2'>]</span>
  
      <span class='gray2'>quote</span> <span class='gray2'>bind</span><span class='gray2'>_</span><span class='gray2'>quoted:</span> <span class='gray2'>[</span><span class='gray2'>mod:</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>mod</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>name:</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>args:</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray2'>)</span><span class='gray2'>]</span> <span class='keyword'>do</span>
        <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='parameter'><i>to</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>string</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'><</span><span class='functionName'>></span><span class='functionName'> </span><span class='functionName'>"</span><span class='functionName'>!</span><span class='functionName'>"</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>String.</span><span class='functionName'>to</span><span class='functionName'>_</span><span class='functionName'>atom</span><span class='functionName'>)</span><span style='color:white;'>(</span><span class='parameter'><i>unquote</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>splicing</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>args</i></span><span style='color:white;'>)</span><span class='functionName'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
          <span class='gray2'>case</span> <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>mod</span><span class='gray2'>)</span><span class='gray'>.</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray2'>(</span><span class='gray2'>unquote</span><span class='gray2'>_</span><span class='gray2'>splicing</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>do</span>
            <span style='color:yellow;'>:ok</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span style='color:yellow;'>:ok</span>
  
            <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>result</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>result</span>
  
            <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>raise</span> <span class='defFunction'>Socket.</span><span class='gray2'>Error</span><span class='gray'>,</span> <span class='gray2'>reason:</span> <span class='gray2'>reason</span>
          <span class='keyword'>end</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defmacro</span> <span class='gray2'>defwrap</span><span class='gray2'>(</span><span class='gray2'>{</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>self</span> <span class='gray2'>|</span> <span class='gray2'>args</span><span class='gray2'>]</span> <span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>options</span> <span class='comment'>\</span><span class='comment'>\ </span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='keyword'>if</span> <span class='gray2'>instance</span> <span class='keyword'>=</span> <span class='gray2'>options</span><span class='gray2'>[</span><span style='color:yellow;'>:to</span><span class='gray2'>]</span> <span class='keyword'>do</span>
        <span class='gray2'>quote</span> <span class='gray2'>bind</span><span class='gray2'>_</span><span class='gray2'>quoted:</span> <span class='gray2'>[</span><span class='gray2'>name:</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>self:</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>args:</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>instance:</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>instance</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>field:</span> <span class='gray2'>options</span><span class='gray2'>[</span><span style='color:yellow;'>:field</span><span class='gray2'>]</span> <span class='gray2'>|</span><span class='gray2'>|</span> <span style='color:yellow;'>:socket</span><span class='gray2'>]</span> <span class='keyword'>do</span>
          <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span style='color:white;'>(</span><span class='parameter'><i>unquote</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>self</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>unquote</span><span class='functionName'>_</span><span class='functionName'>splicing</span><span style='color:white;'>(</span><span class='parameter'><i>args</i></span><span style='color:white;'>)</span><span class='functionName'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray2'>)</span><span class='gray'>.</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>field</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span style='color:peru;'>@protocol</span><span class='gray'>.</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>instance</span><span class='gray2'>)</span><span class='gray'>.</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray2'>(</span><span class='gray2'>unquote</span><span class='gray2'>_</span><span class='gray2'>splicing</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray2'>)</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
        <span class='keyword'>end</span>
      <span class='keyword'>else</span>
        <span class='gray2'>quote</span> <span class='gray2'>bind</span><span class='gray2'>_</span><span class='gray2'>quoted:</span> <span class='gray2'>[</span><span class='gray2'>name:</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>self:</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>args:</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>field:</span> <span class='gray2'>options</span><span class='gray2'>[</span><span style='color:yellow;'>:field</span><span class='gray2'>]</span> <span class='gray2'>|</span><span class='gray2'>|</span> <span style='color:yellow;'>:socket</span><span class='gray2'>]</span> <span class='keyword'>do</span>
          <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span style='color:white;'>(</span><span class='parameter'><i>unquote</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>self</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>unquote</span><span class='functionName'>_</span><span class='functionName'>splicing</span><span style='color:white;'>(</span><span class='parameter'><i>args</i></span><span style='color:white;'>)</span><span class='functionName'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray2'>)</span><span class='gray'>.</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>field</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span style='color:peru;'>@protocol</span><span class='gray'>.</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray2'>(</span><span class='gray2'>unquote</span><span class='gray2'>_</span><span class='gray2'>splicing</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray2'>)</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defmacro</span> <span class='gray2'>definvalid</span><span class='gray2'>(</span><span class='gray2'>{</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>args</span> <span class='gray2'>}</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>args</span> <span class='keyword'>=</span> <span class='keyword'>if</span> <span class='gray2'>args</span> <span class='keyword'>|></span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span> <span class='keyword'>do</span>
        <span class='gray2'>for</span> <span class='gray2'>{</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>meta</span><span class='gray'>,</span> <span class='gray2'>context</span> <span class='gray2'>}</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>args</span> <span class='keyword'>do</span>
          <span class='gray2'>{</span> <span class='gray2'>:</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>meta</span><span class='gray'>,</span> <span class='gray2'>context</span> <span class='gray2'>}</span>
        <span class='keyword'>end</span>
      <span class='keyword'>else</span>
        <span class='gray2'>[</span><span class='gray2'>]</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>quote</span> <span class='keyword'>do</span>
        <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span style='color:white;'>(</span><span class='parameter'><i>unquote</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>splicing</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>args</i></span><span style='color:white;'>)</span><span class='functionName'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
          <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:einval</span> <span class='gray2'>}</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>