 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>FFI</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>The</span> <span class='gray2'>Foreign</span> <span class='gray2'>Function</span> <span class='gray2'>Interface</span> <span class='gray2'>(</span><span class='gray2'>FFI</span><span class='gray2'>)</span> <span class='gray2'>for</span> <span class='gray2'>interacting</span> <span class='gray2'>with</span> <span class='gray2'>JavaScript</span>
    <span class='gray2'>To</span> <span class='gray2'>define</span> <span class='gray2'>a</span> <span class='gray2'>foreign</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>make</span> <span class='gray2'>a</span> <span class='gray2'>new</span> <span class='gray2'>module</span> <span class='gray2'>and</span> <span class='gray2'>add</span> <span class='gray2'>`</span><span class='keyword'>use</span> <span class='defFunction'>ElixirScript.</span><span class='gray2'>FFI</span><span class='gray2'>`</span> <span class='gray2'>to</span> <span class='gray2'>it</span><span class='gray'>.</span>
    <span class='gray2'>To</span> <span class='gray2'>define</span> <span class='gray2'>external</span> <span class='gray2'>functions</span><span class='gray'>,</span> <span class='keyword'>use</span> <span class='gray2'>the</span> <span class='gray2'>`</span><span class='gray2'>defexternal</span><span class='gray2'>`</span> <span class='gray2'>macro</span><span class='gray'>.</span>
    <span class='gray2'>Here</span> <span class='gray2'>is</span> <span class='gray2'>an</span> <span class='gray2'>example</span> <span class='gray2'>of</span> <span class='gray2'>a</span> <span class='gray2'>foreign</span> <span class='gray2'>module</span> <span class='gray2'>for</span> <span class='gray2'>a</span> <span class='gray2'>JSON</span> <span class='gray2'>module</span>
    <span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>elixir</span>
    <span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>MyApp.</span><span class='functionName'>JSON</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>use</span> <span class='defFunction'>ElixirScript.</span><span class='gray2'>FFI</span>
      <span class='gray2'>defexternal</span> <span class='gray2'>stringify</span><span class='gray2'>(</span><span class='gray2'>map</span><span class='gray2'>)</span>
      <span class='gray2'>defexternal</span> <span class='gray2'>parse</span><span class='gray2'>(</span><span class='gray2'>string</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
    <span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>`</span>
    <span class='gray2'>Foreign</span> <span class='gray2'>modules</span> <span class='gray2'>map</span> <span class='gray2'>to</span> <span class='gray2'>JavaScript</span> <span class='gray2'>files</span> <span class='gray2'>that</span> <span class='gray2'>export</span> <span class='gray2'>functions</span> <span class='gray2'>defined</span> <span class='gray2'>with</span> <span class='gray2'>the</span> <span class='gray2'>`</span><span class='gray2'>defexternal</span><span class='gray2'>`</span> <span class='gray2'>macro</span><span class='gray'>.</span>
    <span class='gray2'>ElixirScript</span> <span class='gray2'>expects</span> <span class='gray2'>JavaScript</span> <span class='gray2'>modules</span> <span class='gray2'>to</span> <span class='gray2'>be</span> <span class='gray2'>in</span> <span class='gray2'>the</span> <span class='gray2'>`</span><span class='gray2'>priv</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>`</span> <span class='gray2'>directory</span><span class='gray'>.</span>
    <span class='gray2'>These</span> <span class='gray2'>modules</span> <span class='gray2'>are</span> <span class='gray2'>copied</span> <span class='gray2'>to</span> <span class='gray2'>the</span> <span class='gray2'>output</span> <span class='gray2'>directory</span> <span class='gray2'>upon</span> <span class='gray2'>compilation</span><span class='gray'>.</span>
    <span class='gray2'>For</span> <span class='gray2'>our</span> <span class='gray2'>example</span><span class='gray'>,</span> <span class='gray2'>a</span> <span class='gray2'>JavaScript</span> <span class='gray2'>file</span> <span class='gray2'>must</span> <span class='gray2'>be</span> <span class='gray2'>placed</span> <span class='gray2'>in</span> <span class='gray2'>the</span> <span class='gray2'>`</span><span class='gray2'>priv</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>`</span> <span class='gray2'>folder</span><span class='gray'>.</span>
    <span class='gray2'>In</span> <span class='gray2'>our</span> <span class='gray2'>example</span><span class='gray'>,</span> <span class='gray2'>it</span> <span class='gray2'>could</span> <span class='gray2'>either</span> <span class='gray2'>be</span> <span class='gray2'>`</span><span class='gray2'>priv</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>/</span><span class='gray2'>my</span><span class='gray2'>_</span><span class='gray2'>app</span><span class='gray2'>/</span><span class='gray2'>json</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>`</span> <span class='gray2'>or</span>
    <span class='gray2'>`</span><span class='gray2'>priv</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>/</span><span class='gray2'>my</span><span class='gray2'>_</span><span class='gray2'>app</span><span class='gray'>.</span><span class='gray2'>json</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>`</span><span class='gray'>.</span> <span class='gray2'>ElixirScript</span> <span class='gray2'>will</span> <span class='gray2'>look</span> <span class='gray2'>for</span> <span class='gray2'>either</span> <span class='gray2'>path</span>
    <span class='gray2'>It</span> <span class='gray2'>looks</span> <span class='gray2'>like</span> <span class='gray2'>this</span>
    <span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>javascript</span>
    <span class='gray2'>export</span> <span class='gray2'>default</span> <span class='gray2'>{</span>
      <span class='gray2'>stringify:</span> <span class='defFunction'>JSON.</span><span class='gray2'>stringify</span><span class='gray'>,</span>
      <span class='gray2'>parse:</span> <span class='defFunction'>JSON.</span><span class='gray2'>parse</span>
    <span class='gray2'>}</span>
    <span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>`</span>
    <span class='gray2'>`</span><span class='defFunction'>ElixirScript.</span><span class='gray2'>FFI</span><span class='gray2'>`</span> <span class='gray2'>takes</span> <span class='gray2'>the</span> <span class='gray2'>following</span> <span class='gray2'>options</span>
    <span class='gray2'>*</span> <span class='gray2'>`</span><span class='gray2'>global</span><span class='gray2'>`</span><span class='gray2'>:</span> <span class='gray2'>If</span> <span class='gray2'>the</span> <span class='gray2'>module</span> <span class='gray2'>is</span> <span class='gray2'>defined</span> <span class='gray2'>in</span> <span class='gray2'>the</span> <span class='gray2'>global</span> <span class='gray2'>state</span> <span class='gray2'>or</span> <span class='gray2'>not</span><span class='gray'>.</span> <span class='gray2'>If</span> <span class='gray2'>this</span> <span class='gray2'>is</span> <span class='gray2'>set</span> <span class='gray2'>to</span> <span class='gray2'>`</span><span style='color:darkcyan;'><i>true</i></span><span class='gray2'>`</span><span class='gray'>,</span>
    <span class='gray2'>nothing</span> <span class='gray2'>is</span> <span class='gray2'>imported</span> <span class='gray2'>and</span> <span class='gray2'>instead</span> <span class='gray2'>ElixirScript</span> <span class='gray2'>will</span> <span class='keyword'>use</span> <span class='gray2'>the</span> <span class='gray2'>name</span> <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>module</span> <span class='gray2'>to</span> <span class='gray2'>call</span> <span class='gray2'>a</span> <span class='gray2'>module</span> <span class='gray2'>and</span>
    <span class='gray2'>function</span> <span class='gray2'>in</span> <span class='gray2'>the</span> <span class='gray2'>global</span> <span class='gray2'>scope</span><span class='gray'>.</span>
    <span class='gray2'>*</span> <span class='gray2'>`</span><span class='gray2'>name</span><span class='gray2'>`</span><span class='gray2'>:</span> <span class='gray2'>Only</span> <span class='gray2'>applicable</span> <span class='gray2'>with</span> <span class='gray2'>`</span><span class='gray2'>global</span><span class='gray2'>`</span> <span class='gray2'>is</span> <span class='gray2'>set</span> <span class='gray2'>to</span> <span class='gray2'>`</span><span style='color:darkcyan;'><i>true</i></span><span class='gray2'>`</span><span class='gray'>.</span> <span class='gray2'>This</span> <span class='gray2'>will</span> <span class='keyword'>use</span> <span class='gray2'>the</span> <span class='gray2'>name</span> <span class='gray2'>defined</span> <span class='gray2'>here</span>
    <span class='gray2'>instead</span> <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>module</span> <span class='gray2'>name</span> <span class='gray2'>for</span> <span class='gray2'>calling</span> <span class='gray2'>modules</span> <span class='gray2'>and</span> <span class='gray2'>functions</span> <span class='gray2'>in</span> <span class='gray2'>the</span> <span class='gray2'>global</span> <span class='gray2'>scope</span>
    <span class='gray2'>An</span> <span class='gray2'>example</span> <span class='gray2'>using</span> <span class='gray2'>the</span> <span class='gray2'>global</span> <span class='gray2'>option</span> <span class='gray2'>to</span> <span class='gray2'>reference</span> <span class='gray2'>the</span> <span class='gray2'>JSON</span> <span class='gray2'>module</span> <span class='gray2'>in</span> <span class='gray2'>browsers</span>
    <span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>elixir</span>
    <span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>JSON</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>use</span> <span class='defFunction'>ElixirScript.</span><span class='gray2'>FFI</span><span class='gray'>,</span> <span class='gray2'>global:</span> <span style='color:darkcyan;'><i>true</i></span>
      <span class='gray2'>defexternal</span> <span class='gray2'>stringify</span><span class='gray2'>(</span><span class='gray2'>map</span><span class='gray2'>)</span>
      <span class='gray2'>defexternal</span> <span class='gray2'>parse</span><span class='gray2'>(</span><span class='gray2'>string</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
    <span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>`</span>
    <span class='gray2'>The</span> <span class='gray2'>calls</span> <span class='gray2'>above</span> <span class='gray2'>are</span> <span class='gray2'>translated</span> <span class='gray2'>to</span> <span class='gray2'>calls</span> <span class='gray2'>to</span> <span class='gray2'>the</span> <span class='gray2'>`</span><span class='gray2'>JSON</span><span class='gray2'>`</span> <span class='gray2'>module</span> <span class='gray2'>in</span> <span class='gray2'>the</span> <span class='gray2'>global</span> <span class='gray2'>scope</span>
    <span class='gray2'>An</span> <span class='gray2'>example</span> <span class='gray2'>using</span> <span class='gray2'>global</span> <span class='gray2'>and</span> <span class='gray2'>name</span> <span class='gray2'>options</span>
    <span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>elixir</span>
    <span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Console</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>use</span> <span class='defFunction'>ElixirScript.</span><span class='gray2'>FFI</span><span class='gray'>,</span> <span class='gray2'>global:</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray'>,</span> <span class='gray2'>name:</span> <span style='color:yellow;'>:console</span>
      <span class='gray2'>defexternal</span> <span class='gray2'>log</span><span class='gray2'>(</span><span class='gray2'>term</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
    <span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>`</span>
    <span class='gray2'>With</span> <span class='gray2'>the</span> <span class='gray2'>above</span><span class='gray'>,</span> <span class='gray2'>calls</span> <span class='gray2'>in</span> <span class='gray2'>ElixirScript</span> <span class='gray2'>to</span> <span class='gray2'>`</span><span class='defFunction'>Console.</span><span class='gray2'>log</span><span class='gray2'>`</span> <span class='gray2'>will</span> <span class='gray2'>translate</span> <span class='gray2'>to</span> <span class='gray2'>`</span><span class='gray2'>console</span><span class='gray'>.</span><span class='gray2'>log</span><span class='gray2'>`</span> <span class='gray2'>in</span> <span class='gray2'>JavaScript</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  
    <span class='gray2'>defmacro</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>using</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>quote</span> <span class='keyword'>do</span>
        <span class='gray2'>import</span> <span class='defFunction'>ElixirScript.</span><span class='gray2'>FFI</span>
        <span class='defFunction'>Module.</span><span class='gray2'>register</span><span class='gray2'>_</span><span class='gray2'>attribute</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>foreign</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>persist:</span> <span style='color:darkcyan;'><i>true</i></span>
        <span class='gray2'>foreign</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span> <span class='gray2'>%</span><span class='gray2'>{</span>
          <span class='gray2'>path:</span> <span class='defFunction'>Macro.</span><span class='gray2'>underscore</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>name:</span> <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray'>,</span> <span style='color:yellow;'>:name</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>global:</span> <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray'>,</span> <span style='color:yellow;'>:global</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='gray2'>}</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Defines</span> <span class='gray2'>a</span> <span class='gray2'>JavaScript</span> <span class='gray2'>function</span> <span class='gray2'>to</span> <span class='gray2'>be</span> <span class='gray2'>called</span> <span class='gray2'>from</span> <span class='gray2'>Elixir</span> <span class='gray2'>modules</span>
    <span class='gray2'>To</span> <span class='gray2'>define</span> <span class='gray2'>an</span> <span class='gray2'>external</span> <span class='gray2'>function</span><span class='gray'>,</span> <span class='gray2'>pass</span> <span class='gray2'>the</span> <span class='gray2'>name</span> <span class='gray2'>and</span> <span class='gray2'>arguments</span> <span class='gray2'>to</span> <span class='gray2'>`</span><span class='gray2'>defexternal</span><span class='gray2'>`</span>
    <span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>elixir</span>
    <span class='gray2'>defexternal</span> <span class='gray2'>my</span><span class='gray2'>_</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>(</span><span class='gray2'>arg1</span><span class='gray'>,</span> <span class='gray2'>arg2</span><span class='gray'>,</span> <span class='gray2'>arg3</span><span class='gray2'>)</span>
    <span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>`</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>defexternal</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>args</span><span class='gray2'>}</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>args</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray'>,</span> <span class='keyword'>fn</span>
        <span class='gray2'>{</span><span class='gray2'>:</span><span class='comment'>\</span><span class='comment'>\</span><span class='gray'>,</span> <span class='gray2'>meta0</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>meta</span><span class='gray'>,</span> <span class='gray2'>atom</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>name</span> <span class='keyword'>=</span> <span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>"</span> <span class='keyword'><</span><span class='keyword'>></span> <span class='defFunction'>Atom.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray2'>)</span>
          <span class='gray2'>{</span><span class='gray2'>:</span><span class='comment'>\</span><span class='comment'>\</span><span class='gray'>,</span> <span class='gray2'>meta0</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>meta</span><span class='gray'>,</span> <span class='gray2'>atom</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray2'>]</span><span class='gray2'>}</span>
  
        <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>meta</span><span class='gray'>,</span> <span class='gray2'>atom</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>name</span> <span class='keyword'>=</span> <span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>"</span> <span class='keyword'><</span><span class='keyword'>></span> <span class='defFunction'>Atom.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray2'>)</span>
          <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>meta</span><span class='gray'>,</span> <span class='gray2'>atom</span><span class='gray2'>}</span>
  
        <span class='gray2'>other</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>other</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>quote</span> <span class='keyword'>do</span>
        <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span style='color:white;'>(</span><span class='parameter'><i>unquote</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>splicing</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>args</i></span><span style='color:white;'>)</span><span class='functionName'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span style='color:darkcyan;'><i>nil</i></span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>