 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'># http</span><span class='gray2'>:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>-</span><span class='gray2'>lang</span><span class='gray'>.</span><span class='gray2'>org</span><span class='gray2'>/</span><span class='gray2'>getting</span><span class='gray2'>-</span><span class='gray2'>started</span><span class='gray2'>/</span><span class='gray2'>basic</span><span class='gray2'>-</span><span class='gray2'>types</span><span class='gray'>.</span><span class='gray2'>html</span>

<span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ListTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>sample</span><span style='color:white;'>(</span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>Tim</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Jen</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Mac</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Kai</span><span class='gray2'>"</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>sigil</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>~</span><span class='gray2'>w</span><span class='gray2'>(</span><span class='gray2'>Tim</span> <span class='gray2'>Jen</span> <span class='gray2'>Mac</span> <span class='gray2'>Kai</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>head</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>[</span><span class='gray2'>head</span> <span class='gray2'>|</span> <span class='gray2'>_</span><span class='gray2'>]</span> <span class='keyword'>=</span> <span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>head</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>"</span><span class='gray2'>Tim</span><span class='gray2'>"</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>tail</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>[</span><span class='gray2'>_</span> <span class='gray2'>|</span> <span class='gray2'>tail</span><span class='gray2'>]</span> <span class='keyword'>=</span> <span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>tail</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>~</span><span class='gray2'>w</span><span class='gray2'>(</span><span class='gray2'>Jen</span> <span class='gray2'>Mac</span> <span class='gray2'>Kai</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='comment'># warning</span><span class='gray'>,</span> <span class='gray2'>has</span> <span class='gray2'>to</span> <span class='gray2'>traverse</span> <span class='gray2'>the</span> <span class='gray2'>entire</span> <span class='gray2'>list</span><span class='keyword'>!</span>
  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>last</span> <span class='gray2'>item</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='defFunction'>List.</span><span class='gray2'>last</span><span class='gray2'>(</span><span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>"</span><span class='gray2'>Kai</span><span class='gray2'>"</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>delete</span> <span class='gray2'>item</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='defFunction'>List.</span><span class='gray2'>delete</span><span class='gray2'>(</span><span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Mac</span><span class='gray2'>"</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>~</span><span class='gray2'>w</span><span class='gray2'>(</span><span class='gray2'>Tim</span> <span class='gray2'>Jen</span> <span class='gray2'>Kai</span><span class='gray2'>)</span>
    <span class='comment'># only deletes the first occurrence</span>
    <span class='gray2'>assert</span> <span class='defFunction'>List.</span><span class='gray2'>delete</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='defFunction'>List.</span><span class='gray2'>fold</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>list</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>20</span><span class='gray'>,</span> <span class='gray2'>10</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>.</span><span class='gray2'>5</span><span class='gray2'>]</span>
    <span class='gray2'>sum</span> <span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>foldr</span> <span class='gray2'>list</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span> <span class='gray2'>+</span> <span class='gray2'>&</span><span class='gray2'>2</span><span class='gray2'>)</span>
    <span class='comment'># or</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span>
    <span class='comment'># sum </span><span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>foldr</span> <span class='gray2'>list</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>(</span><span class='gray2'>num</span><span class='gray'>,</span> <span class='gray2'>sum</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>num</span> <span class='gray2'>+</span> <span class='gray2'>sum</span> <span class='keyword'>end</span>
    <span class='gray2'>assert</span> <span class='gray2'>sum</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>37</span><span class='gray'>.</span><span class='gray2'>5</span>
  <span class='keyword'>end</span>

  <span class='comment'># Seems that Enum module methods are encouraged over List methods</span>
  <span class='comment'># </span><span class='gray2'>(</span><span class='keyword'>if</span> <span class='gray2'>possible</span><span class='gray2'>)</span>
  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='defFunction'>Enum.</span><span class='gray2'>reduce</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>list</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>20</span><span class='gray'>,</span> <span class='gray2'>10</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>.</span><span class='gray2'>5</span><span class='gray2'>]</span>
    <span class='gray2'>sum</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span> <span class='gray2'>list</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span> <span class='gray2'>+</span> <span class='gray2'>&</span><span class='gray2'>2</span><span class='gray2'>)</span>
    <span class='comment'># or</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span>
    <span class='comment'># sum </span><span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span> <span class='gray2'>list</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>(</span><span class='gray2'>num</span><span class='gray'>,</span> <span class='gray2'>sum</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>num</span> <span class='gray2'>+</span> <span class='gray2'>sum</span> <span class='keyword'>end</span>
    <span class='gray2'>assert</span> <span class='gray2'>sum</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>37</span><span class='gray'>.</span><span class='gray2'>5</span>
  <span class='keyword'>end</span>

  <span class='comment'># List</span><span class='gray'>.</span><span class='gray2'>wrap</span> <span class='gray2'>is</span> <span class='gray2'>much</span> <span class='gray2'>like</span> <span class='gray2'>Ruby</span><span class='gray2'>'</span><span class='gray2'>s</span> <span class='gray2'>Array</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='gray2'>method</span>
  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>wrap</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>list</span> <span class='gray2'>comprehension</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>some</span> <span class='keyword'>=</span> <span class='gray2'>for</span> <span class='gray2'>n</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='defFunction'>String.</span><span class='gray2'>first</span><span class='gray2'>(</span><span class='gray2'>n</span><span class='gray2'>)</span> <span class='keyword'><</span> <span class='gray2'>"</span><span class='gray2'>M</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>n</span> <span class='keyword'><</span><span class='keyword'>></span> <span class='gray2'>"</span> <span class='gray2'>Morgan</span><span class='gray2'>"</span>
    <span class='gray2'>assert</span> <span class='gray2'>some</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>Jen</span> <span class='gray2'>Morgan</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Kai</span> <span class='gray2'>Morgan</span><span class='gray2'>"</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='comment'># I was curious about raw speed of working with large lists</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span>
  <span class='comment'># Let</span><span class='gray2'>'</span><span class='gray2'>s</span> <span class='gray2'>just</span> <span class='gray2'>build</span> <span class='gray2'>and</span> <span class='gray2'>reverse</span> <span class='gray2'>a</span> <span class='gray2'>large</span> <span class='gray2'>list</span><span class='gray'>.</span>
  <span class='comment'># Suprisingly</span><span class='gray'>,</span> <span class='gray2'>the</span> <span class='gray2'>manual</span> <span class='gray2'>way</span> <span class='gray2'>is</span> <span class='gray2'>not</span> <span class='gray2'>much</span> <span class='gray2'>slower</span><span class='gray'>.</span>

  <span class='comment'># Also got to browse Erlang docs for timer</span><span style='color:yellow;'>:tc</span><span class='gray2'>/</span><span class='gray2'>1</span>
  <span class='comment'># </span><span class='gray2'>(</span><span class='gray2'>http:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>www</span><span class='gray'>.</span><span class='gray2'>erlang</span><span class='gray'>.</span><span class='gray2'>org</span><span class='gray2'>/</span><span class='gray2'>doc</span><span class='gray2'>/</span><span class='gray2'>man</span><span class='gray2'>/</span><span class='gray2'>timer</span><span class='gray'>.</span><span class='gray2'>html</span><span class='comment'>#tc</span><span class='gray2'>-</span><span class='gray2'>1</span><span class='gray2'>)</span> <span class='gray2'>and</span> <span class='gray2'>call</span> <span class='gray2'>thru</span> <span class='gray2'>from</span> <span class='defFunction'>Elixir.</span>
  <span class='comment'># Easy</span><span class='keyword'>!</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>manual</span> <span class='gray2'>reverse</span> <span class='gray2'>speed</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>{</span><span class='gray2'>microsec</span><span class='gray'>,</span> <span class='gray2'>reversed</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:timer</span><span class='gray'>.</span><span class='gray2'>tc</span> <span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span>     <span class='comment'># Erlang function</span><span class='gray'>,</span> <span class='gray2'>yay</span><span class='keyword'>!</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span> <span class='gray2'>1</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray2'>_</span><span class='gray2'>0</span><span class='gray2'>_</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>(</span><span class='gray2'>i</span><span class='gray'>,</span> <span class='gray2'>l</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>List.</span><span class='gray2'>insert</span><span class='gray2'>_</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>l</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>i</span><span class='gray2'>)</span> <span class='keyword'>end</span>
    <span class='keyword'>end</span>
    <span class='gray2'>assert</span> <span class='gray2'>reversed</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray2'>_</span><span class='gray2'>0</span><span class='gray2'>_</span><span class='gray2'>0</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray2'>)</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>manual</span> <span class='gray2'>reverse</span> <span class='gray2'>took</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>microsec</span><span class='gray2'>}</span> <span class='gray2'>microsecs</span><span class='gray2'>"</span>
  <span class='keyword'>end</span>

  <span class='comment'># Another thing worth pointing out is it</span><span class='gray2'>'</span><span class='gray2'>s</span> <span class='gray2'>cheap</span> <span class='gray2'>to</span> <span class='gray2'>insert</span> <span class='gray2'>at</span> <span class='gray2'>the</span> <span class='gray2'>front</span> <span class='gray2'>of</span> <span class='gray2'>a</span>
  <span class='comment'># list while it</span><span class='gray2'>'</span><span class='gray2'>s</span> <span class='gray2'>expensive</span> <span class='gray2'>to</span> <span class='gray2'>insert</span> <span class='gray2'>at</span> <span class='gray2'>the</span> <span class='keyword'>end</span> <span class='gray2'>of</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>(</span><span class='gray2'>which</span> <span class='gray2'>is</span> <span class='gray2'>O</span><span class='gray2'>(</span><span class='gray2'>n</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray'>.</span>
  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>speed</span> <span class='gray2'>of</span> <span class='gray2'>inserting</span> <span class='gray2'>at</span> <span class='gray2'>the</span> <span class='keyword'>end</span> <span class='gray2'>of</span> <span class='gray2'>a</span> <span class='gray2'>list</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>{</span><span class='gray2'>microsec</span><span class='gray'>,</span> <span class='gray2'>reversed</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:timer</span><span class='gray'>.</span><span class='gray2'>tc</span> <span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span>     <span class='comment'># Erlang function</span><span class='gray'>,</span> <span class='gray2'>yay</span><span class='keyword'>!</span>
      <span class='comment'># It takes about 1</span><span class='gray'>.</span><span class='gray2'>6</span> <span class='gray2'>seconds</span> <span class='gray2'>on</span> <span class='gray2'>my</span> <span class='gray2'>laptop</span> <span class='gray2'>even</span> <span class='gray2'>with</span> <span class='gray2'>only</span> <span class='gray2'>10000</span> <span class='gray2'>elements</span><span class='gray'>.</span>
      <span class='comment'># For 1</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray2'>_</span><span class='gray2'>0</span><span class='gray2'>_</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>it</span> <span class='gray2'>would</span> <span class='gray2'>take</span> <span class='gray2'>a</span> <span class='gray2'>really</span> <span class='gray2'>long</span> <span class='gray2'>time</span><span class='gray'>.</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span> <span class='gray2'>1</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>10000</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>(</span><span class='gray2'>i</span><span class='gray'>,</span> <span class='gray2'>l</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>List.</span><span class='gray2'>insert</span><span class='gray2'>_</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>l</span><span class='gray'>,</span> <span class='gray2'>-</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>i</span><span class='gray2'>)</span> <span class='keyword'>end</span>
    <span class='keyword'>end</span>
    <span class='gray2'>assert</span> <span class='gray2'>reversed</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>10000</span><span class='gray2'>)</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>inserting</span> <span class='gray2'>at</span> <span class='gray2'>the</span> <span class='keyword'>end</span> <span class='gray2'>of</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>took</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>microsec</span><span class='gray2'>}</span> <span class='gray2'>microsecs</span><span class='gray2'>"</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='defFunction'>Enum.</span><span class='gray2'>reverse</span> <span class='gray2'>speed</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>{</span><span class='gray2'>microsec</span><span class='gray'>,</span> <span class='gray2'>reversed</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:timer</span><span class='gray'>.</span><span class='gray2'>tc</span> <span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span> <span class='gray2'>1</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray2'>_</span><span class='gray2'>0</span><span class='gray2'>_</span><span class='gray2'>0</span>
    <span class='keyword'>end</span>
    <span class='gray2'>assert</span> <span class='gray2'>reversed</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray2'>_</span><span class='gray2'>0</span><span class='gray2'>_</span><span class='gray2'>0</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray2'>)</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='defFunction'>Enum.</span><span class='gray2'>reverse</span> <span class='gray2'>took</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>microsec</span><span class='gray2'>}</span> <span class='gray2'>microsecs</span><span class='gray2'>"</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>
</pre>