 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Manifest</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
  
    <span style='color:peru;'>@spec</span> <span class='gray2'>read</span><span class='gray2'>_</span><span class='gray2'>manifest</span><span class='gray2'>(</span><span class='gray2'>binary</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span style='color:darkcyan;'><i>nil</i></span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>read</span><span class='functionName'>_</span><span class='functionName'>manifest</span><span style='color:white;'>(</span><span class='parameter'><i>manifest</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>path</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>if</span> <span class='defFunction'>File.</span><span class='gray2'>exists?</span><span class='gray2'>(</span><span class='gray2'>manifest</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>manifest</span><span class='gray2'>_</span><span class='gray2'>path</span>
        <span class='keyword'>|></span> <span class='defFunction'>File.</span><span class='gray2'>read</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>binary</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>term</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='keyword'>else</span>
        <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>}</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@spec</span> <span class='gray2'>write</span><span class='gray2'>_</span><span class='gray2'>manifest</span><span class='gray2'>(</span><span class='gray2'>binary</span><span class='gray'>,</span> <span class='gray2'>map</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span style='color:yellow;'>:ok</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>write</span><span class='functionName'>_</span><span class='functionName'>manifest</span><span style='color:white;'>(</span><span class='parameter'><i>manifest</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>path</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>modules</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>data</span> <span class='keyword'>=</span>
        <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>info</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>data</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>data</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='defFunction'>Map.</span><span class='gray2'>drop</span><span class='gray2'>(</span><span class='gray2'>info</span><span class='gray'>,</span> <span class='gray2'>[</span><span style='color:yellow;'>:js</span><span class='gray2'>_</span><span class='gray2'>code</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>data</span> <span class='keyword'>=</span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>term</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>binary</span><span class='gray2'>(</span><span class='gray2'>data</span><span class='gray'>,</span> <span class='gray2'>[</span><span style='color:yellow;'>:compressed</span><span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='defFunction'>File.</span><span class='gray2'>mkdir</span><span class='gray2'>_</span><span class='gray2'>p</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='defFunction'>Path.</span><span class='gray2'>dirname</span><span class='gray2'>(</span><span class='gray2'>manifest</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='defFunction'>File.</span><span class='gray2'>write</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>manifest</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>data</span><span class='gray2'>)</span>
  
      <span style='color:yellow;'>:ok</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>