 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>ModuleSystems.</span><span class='functionName'>ES</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>JS</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>build</span><span style='color:white;'>(</span><span class='parameter'><i>js</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>imports</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>body</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>exports</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>imports</span> <span class='keyword'>=</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>imports</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>filter</span><span class='gray2'>(</span><span class='keyword'>fn</span>
        <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>false</i></span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>true</i></span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span>
        <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>export</span> <span class='keyword'>=</span> <span class='keyword'>if</span> <span class='gray2'>is</span><span class='gray2'>_</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>(</span><span class='gray2'>exports</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>else:</span> <span class='gray2'>[</span><span class='gray2'>export</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>exports</span><span class='gray2'>)</span><span class='gray2'>]</span>
      <span class='gray2'>imports</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>body</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>export</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>build</span><span class='functionName'>_</span><span class='functionName'>imports</span><span style='color:white;'>(</span><span class='parameter'><i>js</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>imports</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>imports</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span>
        <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>build</span><span class='functionName'>_</span><span class='functionName'>export</span><span style='color:white;'>(</span><span class='parameter'><i>exports</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>if</span> <span class='gray2'>is</span><span class='gray2'>_</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>(</span><span class='gray2'>exports</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>else:</span> <span class='gray2'>[</span><span class='gray2'>export</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>exports</span><span class='gray2'>)</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>from</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span> <span class='keyword'>=</span> <span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>)</span>
  
      <span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>specifier</span> <span class='keyword'>=</span> <span class='defFunction'>JS.</span><span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>default</span><span class='gray2'>_</span><span class='gray2'>specifier</span><span class='gray2'>(</span>
        <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span>
      <span class='gray2'>)</span>
  
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>specifier</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>from</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>specifiers</span><span class='gray'>,</span> <span class='gray2'>file</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>JS.</span><span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>declaration</span><span class='gray2'>(</span>
        <span class='gray2'>import</span><span class='gray2'>_</span><span class='gray2'>specifiers</span><span class='gray'>,</span>
        <span class='defFunction'>JS.</span><span class='gray2'>literal</span><span class='gray2'>(</span><span class='gray2'>file</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>export</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>exported</span><span class='gray2'>_</span><span class='gray2'>object</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>JS.</span><span class='gray2'>export</span><span class='gray2'>_</span><span class='gray2'>default</span><span class='gray2'>_</span><span class='gray2'>declaration</span><span class='gray2'>(</span><span class='gray2'>exported</span><span class='gray2'>_</span><span class='gray2'>object</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
  <span class='keyword'>end</span></pre>