 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'># https</span><span class='gray2'>:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>hexdocs</span><span class='gray'>.</span><span class='gray2'>pm</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>/</span><span class='defFunction'>Map.</span><span class='gray2'>html</span>

<span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>MapTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>sample</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>foo:</span> <span class='gray2'>'</span><span class='gray2'>bar</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>baz:</span> <span class='gray2'>'</span><span class='gray2'>quz</span><span class='gray2'>'</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span style='color:yellow;'>:foo</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>'</span><span class='gray2'>bar</span><span class='gray2'>'</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span style='color:yellow;'>:non</span><span class='gray2'>_</span><span class='gray2'>existent</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>[</span><span style='color:yellow;'>:foo</span><span class='gray2'>]</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>'</span><span class='gray2'>bar</span><span class='gray2'>'</span>
    <span class='gray2'>assert</span> <span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>[</span><span style='color:yellow;'>:non</span><span class='gray2'>_</span><span class='gray2'>existent</span><span class='gray2'>]</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray'>.</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>.</span><span class='gray2'>foo</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>'</span><span class='gray2'>bar</span><span class='gray2'>'</span>
    <span class='gray2'>assert</span><span class='gray2'>_</span><span class='gray2'>raise</span> <span class='gray2'>KeyError</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>.</span><span class='gray2'>non</span><span class='gray2'>_</span><span class='gray2'>existent</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='defFunction'>Map.</span><span class='gray2'>fetch</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>val</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>fetch</span><span class='gray2'>(</span><span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span style='color:yellow;'>:foo</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>val</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>'</span><span class='gray2'>bar</span><span class='gray2'>'</span>
    <span style='color:yellow;'>:error</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>fetch</span><span class='gray2'>(</span><span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span style='color:yellow;'>:non</span><span class='gray2'>_</span><span class='gray2'>existent</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span style='color:yellow;'>:foo</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>bob</span><span class='gray2'>'</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>foo:</span> <span class='gray2'>'</span><span class='gray2'>bob</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>baz:</span> <span class='gray2'>'</span><span class='gray2'>quz</span><span class='gray2'>'</span><span class='gray2'>}</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span style='color:yellow;'>:far</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>bar</span><span class='gray2'>'</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>foo:</span> <span class='gray2'>'</span><span class='gray2'>bar</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>baz:</span> <span class='gray2'>'</span><span class='gray2'>quz</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>far:</span> <span class='gray2'>'</span><span class='gray2'>bar</span><span class='gray2'>'</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>Update</span> <span class='gray2'>map</span> <span class='gray2'>using</span> <span class='gray2'>pattern</span> <span class='gray2'>matching</span> <span class='gray2'>syntax</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='comment'># You can only update existing keys in this way</span>
    <span class='gray2'>assert</span> <span class='gray2'>%</span><span class='gray2'>{</span> <span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='gray2'>|</span> <span class='gray2'>foo:</span> <span class='gray2'>'</span><span class='gray2'>bob</span><span class='gray2'>'</span><span class='gray2'>}</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>foo:</span> <span class='gray2'>'</span><span class='gray2'>bob</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>baz:</span> <span class='gray2'>'</span><span class='gray2'>quz</span><span class='gray2'>'</span><span class='gray2'>}</span>
    <span class='comment'># It doesn</span><span class='gray2'>'</span><span class='gray2'>t</span> <span class='gray2'>work</span> <span class='keyword'>if</span> <span class='gray2'>you</span> <span class='gray2'>want</span> <span class='gray2'>to</span> <span class='gray2'>add</span> <span class='gray2'>new</span> <span class='gray2'>keys</span>
    <span class='gray2'>assert</span><span class='gray2'>_</span><span class='gray2'>raise</span> <span class='gray2'>KeyError</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='gray2'>%</span><span class='gray2'>{</span> <span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='gray2'>|</span> <span class='gray2'>far:</span> <span class='gray2'>'</span><span class='gray2'>bob</span><span class='gray2'>'</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='defFunction'>Map.</span><span class='gray2'>values</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='comment'># Map does not preserve order of keys</span><span class='gray'>,</span> <span class='gray2'>thus</span> <span class='gray2'>we</span> <span class='defFunction'>Enum.</span><span class='gray2'>sort</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>sort</span><span class='gray2'>(</span><span class='defFunction'>Map.</span><span class='gray2'>values</span><span class='gray2'>(</span><span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>'</span><span class='gray2'>bar</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>quz</span><span class='gray2'>'</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

</pre>