 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Translate.</span><span class='functionName'>Function</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
  
    <span class='comment'># Translates the given Elixir function AST into the</span>
    <span class='comment'># equivalent JavaScript AST</span><span class='gray'>.</span>
  
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>J</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>{</span><span class='gray2'>Clause</span><span class='gray'>,</span> <span class='gray2'>Form</span><span class='gray'>,</span> <span class='gray2'>Helpers</span><span class='gray2'>}</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Forms.</span><span class='gray2'>Pattern</span>
  
    <span style='color:peru;'>@spec</span> <span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>any</span><span class='gray'>,</span> <span class='gray2'>map</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span><span class='defFunction'>ESTree.</span><span class='defFunction'>Node.</span><span class='gray2'>t</span><span class='gray'>,</span> <span class='gray2'>map</span><span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='atomo'>:fn</span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>clauses</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>anonymous?</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>,</span> <span style='color:yellow;'>:anonymous</span><span class='gray2'>_</span><span class='keyword'>fn</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray2'>)</span>
  
      <span class='gray2'>state</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>,</span> <span style='color:yellow;'>:anonymous</span><span class='gray2'>_</span><span class='keyword'>fn</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:in</span><span class='gray2'>_</span><span class='gray2'>guard</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray2'>)</span>
  
      <span class='gray2'>clauses</span> <span class='keyword'>=</span> <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>clauses</span><span class='gray2'>(</span><span class='gray2'>clauses</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>arg</span><span class='gray2'>_</span><span class='gray2'>matches</span><span class='gray2'>_</span><span class='gray2'>declaration</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>declare</span><span class='gray2'>_</span><span class='gray2'>let</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>arg</span><span class='gray2'>_</span><span class='gray2'>matches</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>null</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
      <span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>recur</span><span class='gray2'>_</span><span class='gray2'>dec</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>function</span><span class='gray2'>(</span>
        <span class='gray2'>"</span><span class='gray2'>recur</span><span class='gray2'>"</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>args</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>[</span>
          <span class='gray2'>arg</span><span class='gray2'>_</span><span class='gray2'>matches</span><span class='gray2'>_</span><span class='gray2'>declaration</span><span class='gray'>,</span>
          <span class='gray2'>clauses</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>throw</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span>
            <span class='defFunction'>Helpers.</span><span class='gray2'>new</span><span class='gray2'>(</span>
              <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
                <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
                <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>MatchError</span><span class='gray2'>"</span><span class='gray2'>)</span>
              <span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>args</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>]</span>
            <span class='gray2'>)</span>
          <span class='gray2'>)</span>
        <span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>dec</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>arrow</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>(</span>
        <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>args</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>[</span>
          <span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>recur</span><span class='gray2'>_</span><span class='gray2'>dec</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span>
            <span class='gray2'>trampoline</span><span class='gray2'>(</span><span class='gray2'>)</span>
          <span class='gray2'>)</span>
        <span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>state</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>,</span> <span style='color:yellow;'>:anonymous</span><span class='gray2'>_</span><span class='keyword'>fn</span><span class='gray'>,</span> <span class='gray2'>anonymous?</span><span class='gray2'>)</span>
      <span class='gray2'>{</span> <span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>dec</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>arity</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>type</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>clauses</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
  
      <span class='gray2'>state</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>,</span> <span style='color:yellow;'>:function</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>arity</span><span class='gray2'>}</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:anonymous</span><span class='gray2'>_</span><span class='keyword'>fn</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:in</span><span class='gray2'>_</span><span class='gray2'>guard</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray2'>)</span>
  
      <span class='gray2'>clauses</span> <span class='keyword'>=</span> <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>clauses</span><span class='gray2'>(</span><span class='gray2'>clauses</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>arg</span><span class='gray2'>_</span><span class='gray2'>matches</span><span class='gray2'>_</span><span class='gray2'>declaration</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>declare</span><span class='gray2'>_</span><span class='gray2'>let</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>arg</span><span class='gray2'>_</span><span class='gray2'>matches</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>null</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='gray2'>intermediate</span><span class='gray2'>_</span><span class='gray2'>declaration</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>declare</span><span class='gray2'>_</span><span class='gray2'>let</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>intermediate</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>null</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
      <span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>recur</span><span class='gray2'>_</span><span class='gray2'>dec</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>function</span><span class='gray2'>(</span>
        <span class='gray2'>"</span><span class='gray2'>recur</span><span class='gray2'>"</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>args</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>[</span>
          <span class='gray2'>arg</span><span class='gray2'>_</span><span class='gray2'>matches</span><span class='gray2'>_</span><span class='gray2'>declaration</span><span class='gray'>,</span>
          <span class='gray2'>intermediate</span><span class='gray2'>_</span><span class='gray2'>declaration</span><span class='gray'>,</span>
          <span class='gray2'>clauses</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>throw</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span>
            <span class='defFunction'>Helpers.</span><span class='gray2'>new</span><span class='gray2'>(</span>
              <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
                <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
                <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>MatchError</span><span class='gray2'>"</span><span class='gray2'>)</span>
              <span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>args</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>]</span>
            <span class='gray2'>)</span>
          <span class='gray2'>)</span>
        <span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>dec</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>function</span><span class='gray2'>(</span>
        <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Identifier.</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>args</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>[</span>
          <span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>recur</span><span class='gray2'>_</span><span class='gray2'>dec</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span>
            <span class='gray2'>trampoline</span><span class='gray2'>(</span><span class='gray2'>)</span>
          <span class='gray2'>)</span>
        <span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>{</span> <span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>dec</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>clauses</span><span class='gray2'>(</span><span class='gray2'>clauses</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>clauses</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>clause</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>guards</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>match</span><span class='gray2'>_</span><span class='gray2'>or</span><span class='gray2'>_</span><span class='gray2'>default</span><span class='gray2'>_</span><span class='gray2'>call</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
            <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>match</span><span class='gray2'>_</span><span class='gray2'>or</span><span class='gray2'>_</span><span class='gray2'>default</span><span class='gray2'>"</span><span class='gray2'>)</span>
          <span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>patterns</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>args</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>guards</span><span class='gray2'>]</span>
        <span class='gray2'>)</span>
  
        <span class='gray2'>J</span><span class='gray'>.</span><span class='keyword'>if</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>binary</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
            <span class='gray2'>:</span><span class='keyword'>!</span><span class='keyword'>=</span><span class='keyword'>=</span><span class='gray'>,</span>
            <span class='defFunction'>Helpers.</span><span class='gray2'>assign</span><span class='gray2'>(</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>arg</span><span class='gray2'>_</span><span class='gray2'>matches</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>match</span><span class='gray2'>_</span><span class='gray2'>or</span><span class='gray2'>_</span><span class='gray2'>default</span><span class='gray2'>_</span><span class='gray2'>call</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>null</span><span class='gray2'>"</span><span class='gray2'>)</span>
          <span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray2'>)</span>
        <span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='keyword'>fn</span>
        <span class='keyword'>if</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='keyword'>if</span><span class='gray2'>_</span><span class='gray2'>ast</span>
        <span class='keyword'>if</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>ast</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>%</span><span class='gray2'>{</span><span class='keyword'>if</span><span class='gray2'>_</span><span class='gray2'>ast</span> <span class='gray2'>|</span> <span class='gray2'>alternate:</span> <span class='gray2'>ast</span><span class='gray2'>}</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>clause</span><span class='gray2'>(</span><span class='gray2'>{</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>args</span><span class='gray'>,</span> <span class='gray2'>guards</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>state</span> <span class='keyword'>=</span> <span class='keyword'>if</span> <span class='defFunction'>Map.</span><span class='gray2'>has</span><span class='gray2'>_</span><span class='gray2'>key?</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>,</span> <span style='color:yellow;'>:vars</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>state</span>
      <span class='keyword'>else</span>
        <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>,</span> <span style='color:yellow;'>:vars</span><span class='gray'>,</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>{</span><span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Pattern.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>guard</span> <span class='keyword'>=</span> <span class='defFunction'>Clause.</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>guard</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>guards</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>body</span> <span class='keyword'>=</span> <span class='gray2'>body</span>
      <span class='keyword'>|></span> <span class='defFunction'>Clause.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>statement</span>
      <span class='keyword'>|></span> <span class='gray2'>update</span><span class='gray2'>_</span><span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>call</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>declaration</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>declare</span><span class='gray2'>_</span><span class='gray2'>let</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>arg</span><span class='gray2'>_</span><span class='gray2'>matches</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
      <span class='gray2'>body</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>declaration</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>body</span>
      <span class='gray2'>{</span><span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>guard</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>clause</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>-</span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>{</span><span style='color:yellow;'>:when</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>body</span> <span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>guards</span> <span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>last</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray2'>)</span>
      <span class='gray2'>params</span> <span class='keyword'>=</span> <span class='gray2'>params</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span> <span class='keyword'>|></span> <span class='gray2'>tl</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span>
  
      <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>clause</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>guards</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>clause</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>-</span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>clause</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@spec</span> <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>(</span><span class='gray2'>any</span><span class='gray'>,</span> <span class='gray2'>map</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span><span class='defFunction'>ESTree.</span><span class='defFunction'>Node.</span><span class='gray2'>t</span><span class='gray'>,</span> <span class='gray2'>map</span><span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span class='functionName'>_</span><span class='functionName'>block</span><span style='color:white;'>(</span><span class='parameter'><i>block</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='gray2'>case</span> <span class='gray2'>block</span> <span class='keyword'>do</span>
        <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>null</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>body</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span class='gray2'>list</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>_</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>2</span><span class='gray2'>)</span><span class='gray2'>)</span>
          <span class='defFunction'>List.</span><span class='gray2'>flatten</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray2'>)</span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>block</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>{</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@spec</span> <span class='gray2'>update</span><span class='gray2'>_</span><span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>call</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='defFunction'>ESTree.</span><span class='defFunction'>Node.</span><span class='gray2'>t</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>map</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>list</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>update</span><span class='functionName'>_</span><span class='functionName'>last</span><span class='functionName'>_</span><span class='functionName'>call</span><span style='color:white;'>(</span><span class='parameter'><i>clause</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>body</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>%</i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>function:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>anonymous</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>fn:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>anonymous?</i></span><span class='parameter'><i>}</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>item</span> <span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>last</span><span class='gray2'>(</span><span class='gray2'>clause</span><span class='gray2'>_</span><span class='gray2'>body</span><span class='gray2'>)</span>
      <span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>name</span> <span class='keyword'>=</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Identifier.</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span>
  
      <span class='gray2'>case</span> <span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>item</span> <span class='keyword'>do</span>
        <span class='gray2'>%</span><span class='defFunction'>ESTree.</span><span class='gray2'>ReturnStatement</span><span class='gray2'>{</span> <span class='gray2'>argument:</span> <span class='gray2'>%</span><span class='defFunction'>ESTree.</span><span class='gray2'>CallExpression</span><span class='gray2'>{</span> <span class='gray2'>callee:</span> <span class='gray2'>^</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>arguments:</span> <span class='gray2'>arguments</span> <span class='gray2'>}</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='keyword'>if</span> <span class='gray2'>anonymous?</span> <span class='keyword'>do</span>
            <span class='gray2'>clause</span><span class='gray2'>_</span><span class='gray2'>body</span>
          <span class='keyword'>else</span>
            <span class='gray2'>new</span><span class='gray2'>_</span><span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>item</span> <span class='keyword'>=</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span>
              <span class='gray2'>recurse</span><span class='gray2'>(</span>
                <span class='gray2'>recur</span><span class='gray2'>_</span><span class='gray2'>bind</span><span class='gray2'>(</span><span class='gray2'>arguments</span><span class='gray2'>)</span>
              <span class='gray2'>)</span>
            <span class='gray2'>)</span>
  
            <span class='defFunction'>List.</span><span class='gray2'>replace</span><span class='gray2'>_</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>clause</span><span class='gray2'>_</span><span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>clause</span><span class='gray2'>_</span><span class='gray2'>body</span><span class='gray2'>)</span> <span class='gray2'>-</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>new</span><span class='gray2'>_</span><span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>item</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>clause</span><span class='gray2'>_</span><span class='gray2'>body</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>recur</span><span class='gray2'>_</span><span class='gray2'>bind</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>recur</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>bind</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>null</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>args</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>recurse</span><span class='gray2'>(</span><span class='gray2'>func</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>new</span><span class='gray2'>(</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
          <span class='defFunction'>Helpers.</span><span class='gray2'>functions</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>Recurse</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>[</span>
          <span class='gray2'>func</span>
        <span class='gray2'>]</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>trampoline</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
          <span class='defFunction'>Helpers.</span><span class='gray2'>functions</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>trampoline</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>[</span>
          <span class='gray2'>recurse</span><span class='gray2'>(</span>
            <span class='gray2'>recur</span><span class='gray2'>_</span><span class='gray2'>bind</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>args</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray2'>)</span>
          <span class='gray2'>)</span>
        <span class='gray2'>]</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>