 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Translate.</span><span class='functionName'>Forms.</span><span class='functionName'>Pattern</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Forms.</span><span class='defFunction'>Pattern.</span><span class='gray2'>Patterns</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>PM</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>J</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>Helpers</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>Form</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Forms.</span><span class='gray2'>Bitstring</span>
  
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Handles</span> <span class='gray2'>all</span> <span class='gray2'>pattern</span> <span class='gray2'>matching</span> <span class='gray2'>translations</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span> <span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>patterns</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>patterns</span>
      <span class='keyword'>|></span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>update</span><span class='gray2'>_</span><span class='gray2'>env</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='keyword'>fn</span>
        <span class='gray2'>x</span><span class='gray'>,</span> <span class='gray2'>{</span> <span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>param</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
          <span class='gray2'>{</span> <span class='gray2'>patterns</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>pattern</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>param</span><span class='gray2'>)</span> <span class='gray2'>}</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>update</span><span class='gray2'>_</span><span class='gray2'>env</span><span class='gray2'>(</span><span class='gray2'>{</span> <span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>_</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>,</span> <span class='keyword'>fn</span>
        <span class='gray2'>(</span><span class='gray2'>%</span><span class='defFunction'>ESTree.</span><span class='gray2'>Identifier</span><span class='gray2'>{</span><span class='gray2'>name:</span> <span style='color:yellow;'>:undefined</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>param</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span class='gray2'>param</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span>
  
        <span class='gray2'>(</span><span class='gray2'>%</span><span class='defFunction'>ESTree.</span><span class='gray2'>Identifier</span><span class='gray2'>{</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>param</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
         <span class='gray2'>state</span> <span class='keyword'>=</span> <span class='gray2'>update</span><span class='gray2'>_</span><span class='gray2'>variable</span><span class='gray2'>(</span><span class='gray2'>param</span><span class='gray'>.</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
         <span class='gray2'>new</span><span class='gray2'>_</span><span class='gray2'>name</span> <span class='keyword'>=</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>variable</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>param</span><span class='gray'>.</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
         <span class='gray2'>{</span> <span class='gray2'>%</span><span class='gray2'>{</span> <span class='gray2'>param</span> <span class='gray2'>|</span> <span class='gray2'>name:</span> <span class='gray2'>new</span><span class='gray2'>_</span><span class='gray2'>name</span> <span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span>
  
        <span class='gray2'>(</span><span class='gray2'>param</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span class='gray2'>param</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span> <span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@spec</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>variable</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>get</span><span class='functionName'>_</span><span class='functionName'>variable</span><span class='functionName'>_</span><span class='functionName'>name</span><span style='color:white;'>(</span><span class='parameter'><i>function</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>number</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>vars</span><span class='gray'>,</span> <span class='gray2'>function</span><span class='gray2'>)</span>
      <span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>function</span><span class='gray2'>}</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>number</span><span class='gray2'>}</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>update</span><span class='gray2'>_</span><span class='gray2'>variable</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>vars</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>update</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>vars</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>val</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>val</span> <span class='gray2'>+</span> <span class='gray2'>1</span> <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>,</span> <span style='color:yellow;'>:vars</span><span class='gray'>,</span> <span class='gray2'>vars</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>term</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>number</span><span class='gray2'>(</span><span class='gray2'>term</span><span class='gray2'>)</span> <span class='gray2'>or</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>binary</span><span class='gray2'>(</span><span class='gray2'>term</span><span class='gray2'>)</span> <span class='gray2'>or</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>boolean</span><span class='gray2'>(</span><span class='gray2'>term</span><span class='gray2'>)</span> <span class='gray2'>or</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>term</span><span class='gray2'>)</span> <span class='gray2'>or</span> <span class='gray2'>is</span><span class='gray2'>_</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>(</span><span class='gray2'>term</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>[</span><span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>term</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>^</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>value</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>[</span><span class='defFunction'>PM.</span><span class='gray2'>bound</span><span class='gray2'>(</span><span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>value</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>[</span><span class='defFunction'>PM.</span><span class='gray2'>parameter</span><span class='gray2'>(</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>literal</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>a</span><span class='gray'>,</span> <span class='gray2'>b</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>a</span><span class='gray'>,</span> <span class='gray2'>b</span><span class='gray2'>]</span> <span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>elements</span> <span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>elements</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>reduce</span><span class='gray2'>_</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>pattern</span> <span class='keyword'>=</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>object</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>property</span><span class='gray2'>(</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>values</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>patterns</span><span class='gray2'>)</span>
        <span class='gray2'>)</span>
        <span class='gray2'>]</span><span class='gray2'>)</span>
  
      <span class='gray2'>tuple</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>tuple</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span> <span class='gray2'>[</span><span class='defFunction'>PM.</span><span class='gray2'>type</span><span class='gray2'>(</span><span class='gray2'>tuple</span><span class='gray'>,</span> <span class='gray2'>pattern</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>|</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>head</span><span class='gray'>,</span> <span class='gray2'>tail</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>head</span><span class='gray2'>_</span><span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>head</span><span class='gray2'>_</span><span class='gray2'>params</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>head</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>{</span> <span class='gray2'>tail</span><span class='gray2'>_</span><span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>tail</span><span class='gray2'>_</span><span class='gray2'>params</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>tail</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>params</span> <span class='keyword'>=</span> <span class='gray2'>head</span><span class='gray2'>_</span><span class='gray2'>params</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>tail</span><span class='gray2'>_</span><span class='gray2'>params</span>
  
      <span class='gray2'>{</span> <span class='gray2'>[</span><span class='defFunction'>PM.</span><span class='gray2'>head</span><span class='gray2'>_</span><span class='gray2'>tail</span><span class='gray2'>(</span><span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>head</span><span class='gray2'>_</span><span class='gray2'>patterns</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>tail</span><span class='gray2'>_</span><span class='gray2'>patterns</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>list</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>reduce</span><span class='gray2'>_</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>patterns</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>|</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>head</span><span class='gray'>,</span> <span class='gray2'>tail</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>head</span><span class='gray2'>_</span><span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>head</span><span class='gray2'>_</span><span class='gray2'>params</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>head</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>{</span> <span class='gray2'>tail</span><span class='gray2'>_</span><span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>tail</span><span class='gray2'>_</span><span class='gray2'>params</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>tail</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>params</span> <span class='keyword'>=</span> <span class='gray2'>head</span><span class='gray2'>_</span><span class='gray2'>params</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>tail</span><span class='gray2'>_</span><span class='gray2'>params</span>
  
      <span class='gray2'>{</span> <span class='gray2'>[</span><span class='defFunction'>PM.</span><span class='gray2'>head</span><span class='gray2'>_</span><span class='gray2'>tail</span><span class='gray2'>(</span><span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>head</span><span class='gray2'>_</span><span class='gray2'>patterns</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>tail</span><span class='gray2'>_</span><span class='gray2'>patterns</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray'>.</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span style='color:yellow;'>:erlang</span><span class='gray'>,</span> <span class='gray2'>:</span><span class='gray2'>+</span><span class='gray2'>+</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>head</span><span class='gray'>,</span> <span class='gray2'>tail</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>|</span><span class='gray'>,</span> <span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>head</span><span class='gray'>,</span> <span class='gray2'>tail</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>%</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>props</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>struct</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>:</span> <span class='gray2'>module</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>props</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>props</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>properties</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>props</span><span class='gray'>,</span> <span class='keyword'>fn</span>
        <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>struct</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>var</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
         <span class='gray2'>{</span><span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>var</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
          <span class='gray2'>a</span> <span class='keyword'>=</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>object</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>%</span><span class='defFunction'>ESTree.</span><span class='gray2'>Property</span><span class='gray2'>{</span>
            <span class='gray2'>key:</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>value:</span> <span class='gray2'>hd</span><span class='gray2'>(</span><span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>pattern</span><span class='gray2'>)</span><span class='gray2'>)</span>
          <span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>)</span>
  
          <span class='gray2'>property</span> <span class='keyword'>=</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span>
            <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>struct</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>a</span>
          <span class='gray2'>]</span><span class='gray2'>)</span>
  
          <span class='gray2'>{</span> <span class='gray2'>property</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>}</span>
  
        <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>struct</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>a</span> <span class='keyword'>=</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>object</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>%</span><span class='defFunction'>ESTree.</span><span class='gray2'>Property</span><span class='gray2'>{</span>
            <span class='gray2'>key:</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>value:</span> <span class='defFunction'>Helpers.</span><span class='gray2'>symbol</span><span class='gray2'>(</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span><span class='gray2'>)</span>
          <span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>)</span>
  
          <span class='gray2'>property</span> <span class='keyword'>=</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span>
            <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>struct</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>a</span>
          <span class='gray2'>]</span><span class='gray2'>)</span>
  
          <span class='gray2'>{</span> <span class='gray2'>property</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span> <span class='gray2'>}</span>
  
        <span class='gray2'>{</span><span class='gray2'>key</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>value</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
          <span class='gray2'>property</span> <span class='keyword'>=</span> <span class='gray2'>case</span> <span class='gray2'>key</span> <span class='keyword'>do</span>
                      <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>^</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>the</span><span class='gray2'>_</span><span class='gray2'>key</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
                        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span>
                          <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>the</span><span class='gray2'>_</span><span class='gray2'>key</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray'>,</span>
                          <span class='gray2'>hd</span><span class='gray2'>(</span><span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>pattern</span><span class='gray2'>)</span><span class='gray2'>)</span>
                        <span class='gray2'>]</span><span class='gray2'>)</span>
                      <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
                        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span>
                          <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>key</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray'>,</span>
                          <span class='gray2'>hd</span><span class='gray2'>(</span><span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>pattern</span><span class='gray2'>)</span><span class='gray2'>)</span>
                        <span class='gray2'>]</span><span class='gray2'>)</span>
                    <span class='keyword'>end</span>
  
          <span class='gray2'>{</span> <span class='gray2'>property</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>}</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span class='gray2'>props</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>properties</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='keyword'>fn</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>prop</span><span class='gray'>,</span> <span class='gray2'>param</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>props</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>}</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>{</span> <span class='gray2'>props</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>prop</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>param</span> <span class='gray2'>}</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>new</span><span class='gray2'>(</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>Map</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>[</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>props</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='gray2'>]</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>{</span> <span class='gray2'>[</span><span class='gray2'>ast</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span style='color:crimson;'><<></span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>elements</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>params</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>elements</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='keyword'>fn</span>
        <span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>:</span><span class='gray2'>:</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray2'>)</span>
                                                        <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray2'>)</span> <span class='gray2'>and</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>0</span> <span class='gray2'>-</span><span class='keyword'>></span>
  
          <span class='gray2'>var</span><span class='gray2'>_</span><span class='gray2'>str</span> <span class='keyword'>=</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>ast</span><span class='gray2'>)</span>
          <span class='gray2'>var</span><span class='gray2'>_</span><span class='gray2'>atom</span> <span class='keyword'>=</span> <span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>var</span><span class='gray2'>_</span><span class='gray2'>str</span><span class='gray2'>)</span>
          <span class='gray2'>state</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Identifier.</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>var</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>)</span><span class='gray2'>]</span>
        <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>state</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>elements</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>elements</span><span class='gray'>,</span> <span class='keyword'>fn</span>
        <span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>:</span><span class='gray2'>:</span><span class='gray'>,</span> <span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>Bitstring.</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>:</span><span class='gray2'>:</span><span class='gray'>,</span> <span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Forms.</span><span class='defFunction'>Pattern.</span><span class='gray2'>Patterns</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
        <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>Bitstring.</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span> <span class='gray2'>[</span><span class='defFunction'>PM.</span><span class='gray2'>bitstring</span><span class='gray2'>_</span><span class='gray2'>match</span><span class='gray2'>(</span><span class='gray2'>elements</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='keyword'><</span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>prefix</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>[</span><span class='defFunction'>PM.</span><span class='gray2'>starts</span><span class='gray2'>_</span><span class='gray2'>with</span><span class='gray2'>(</span><span class='gray2'>prefix</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>value</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>]</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='keyword'>=</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>target</span><span class='gray'>,</span> <span class='gray2'>right</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>name</span> <span class='gray2'>not</span> <span class='gray2'>in</span> <span class='gray2'>[</span><span class='gray2'>:</span><span class='gray2'>%</span><span class='gray'>,</span> <span class='gray2'>:</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>:</span><span class='gray2'>^</span><span class='gray'>,</span> <span class='gray2'>:</span><span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>:</span><span style='color:crimson;'><<></span><span class='keyword'>></span><span class='gray2'>]</span> <span class='keyword'>do</span>
      <span class='gray2'>unify</span><span class='gray2'>(</span><span class='gray2'>target</span><span class='gray'>,</span> <span class='gray2'>right</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='keyword'>=</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>left</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>target</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>name</span> <span class='gray2'>not</span> <span class='gray2'>in</span> <span class='gray2'>[</span><span class='gray2'>:</span><span class='gray2'>%</span><span class='gray'>,</span> <span class='gray2'>:</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>:</span><span class='gray2'>^</span><span class='gray'>,</span> <span class='gray2'>:</span><span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>:</span><span style='color:crimson;'><<></span><span class='keyword'>></span><span class='gray2'>]</span> <span class='keyword'>do</span>
      <span class='gray2'>unify</span><span class='gray2'>(</span><span class='gray2'>target</span><span class='gray'>,</span> <span class='gray2'>left</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>a</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>a</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>var</span><span class='gray2'>_</span><span class='gray2'>str</span> <span class='keyword'>=</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>ast</span><span class='gray2'>)</span>
      <span class='gray2'>var</span><span class='gray2'>_</span><span class='gray2'>atom</span> <span class='keyword'>=</span> <span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>var</span><span class='gray2'>_</span><span class='gray2'>str</span><span class='gray2'>)</span>
      <span class='gray2'>{</span> <span class='gray2'>[</span><span class='defFunction'>PM.</span><span class='gray2'>parameter</span><span class='gray2'>(</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>literal</span><span class='gray2'>(</span><span class='gray2'>var</span><span class='gray2'>_</span><span class='gray2'>str</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Identifier.</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>var</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>)</span><span class='gray2'>]</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>[</span><span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>reduce</span><span class='gray2'>_</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>patterns</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>{</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span> <span class='gray2'>}</span><span class='gray'>,</span> <span class='keyword'>fn</span><span class='gray2'>(</span><span class='gray2'>{</span> <span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>new</span><span class='gray2'>_</span><span class='gray2'>param</span> <span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span> <span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>new</span><span class='gray2'>_</span><span class='gray2'>params</span> <span class='gray2'>}</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>{</span> <span class='gray2'>patterns</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>pattern</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>new</span><span class='gray2'>_</span><span class='gray2'>params</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>new</span><span class='gray2'>_</span><span class='gray2'>param</span><span class='gray2'>)</span> <span class='gray2'>}</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>unify</span><span class='gray2'>(</span><span class='gray2'>target</span><span class='gray'>,</span> <span class='gray2'>source</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span> <span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>source</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>{</span> <span class='gray2'>[</span><span class='gray2'>_</span><span class='gray2'>]</span> <span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>param</span><span class='gray2'>]</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>target</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>{</span> <span class='gray2'>[</span><span class='defFunction'>PM.</span><span class='gray2'>capture</span><span class='gray2'>(</span><span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>patterns</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>param</span><span class='gray2'>]</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>get</span><span class='functionName'>_</span><span class='functionName'>counter</span><span style='color:white;'>(</span><span class='parameter'><i>meta</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>meta</span><span class='gray'>,</span> <span style='color:yellow;'>:counter</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>"</span><span class='gray2'>"</span>
        <span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>value</span>
          <span class='keyword'>|></span> <span class='defFunction'>Kernel.</span><span class='gray2'>abs</span><span class='gray2'>(</span><span class='gray2'>)</span>
          <span class='keyword'>|></span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>var</span><span class='gray'>,</span> <span class='gray2'>meta</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>counter</span> <span class='keyword'>=</span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>counter</span><span class='gray2'>(</span><span class='gray2'>meta</span><span class='gray2'>)</span>
      <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>var</span><span class='gray2'>)</span> <span class='keyword'><</span><span class='keyword'>></span> <span class='gray2'>counter</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>