 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Reddit</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>use</span> <span class='gray2'>Application</span>
  
    <span class='comment'># See http</span><span class='gray2'>:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>-</span><span class='gray2'>lang</span><span class='gray'>.</span><span class='gray2'>org</span><span class='gray2'>/</span><span class='gray2'>docs</span><span class='gray2'>/</span><span class='gray2'>stable</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>/</span><span class='defFunction'>Application.</span><span class='gray2'>html</span>
    <span class='comment'># for more information on OTP Applications</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>start</span><span style='color:white;'>(</span><span class='parameter'><i>_</i></span><span class='parameter'><i>type</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>args</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>import</span> <span class='defFunction'>Supervisor.</span><span class='gray2'>Spec</span>
  
      <span class='comment'># Define workers and child supervisors to be supervised</span>
      <span class='gray2'>children</span> <span class='keyword'>=</span> <span class='gray2'>[</span>
        <span class='comment'># Start the Ecto repository</span>
        <span class='gray2'>supervisor</span><span class='gray2'>(</span><span class='defFunction'>Reddit.</span><span class='gray2'>Repo</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='comment'># Start the endpoint when the application starts</span>
        <span class='gray2'>supervisor</span><span class='gray2'>(</span><span class='defFunction'>Reddit.</span><span class='gray2'>Endpoint</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='comment'># Start your own worker by calling</span><span class='gray2'>:</span> <span class='defFunction'>Reddit.</span><span class='defFunction'>Worker.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='gray2'>arg1</span><span class='gray'>,</span> <span class='gray2'>arg2</span><span class='gray'>,</span> <span class='gray2'>arg3</span><span class='gray2'>)</span>
        <span class='comment'># worker</span><span class='gray2'>(</span><span class='defFunction'>Reddit.</span><span class='gray2'>Worker</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>arg1</span><span class='gray'>,</span> <span class='gray2'>arg2</span><span class='gray'>,</span> <span class='gray2'>arg3</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span>
      <span class='gray2'>]</span>
  
      <span class='comment'># See http</span><span class='gray2'>:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>-</span><span class='gray2'>lang</span><span class='gray'>.</span><span class='gray2'>org</span><span class='gray2'>/</span><span class='gray2'>docs</span><span class='gray2'>/</span><span class='gray2'>stable</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>/</span><span class='defFunction'>Supervisor.</span><span class='gray2'>html</span>
      <span class='comment'># for other strategies and supported options</span>
      <span class='gray2'>opts</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>strategy:</span> <span style='color:yellow;'>:one</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>one</span><span class='gray'>,</span> <span class='gray2'>name:</span> <span class='defFunction'>Reddit.</span><span class='gray2'>Supervisor</span><span class='gray2'>]</span>
      <span class='defFunction'>Supervisor.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='gray2'>children</span><span class='gray'>,</span> <span class='gray2'>opts</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='comment'># Tell Phoenix to update the endpoint configuration</span>
    <span class='comment'># whenever the application is updated</span><span class='gray'>.</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>config</span><span class='functionName'>_</span><span class='functionName'>change</span><span style='color:white;'>(</span><span class='parameter'><i>changed</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>new</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>removed</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Reddit.</span><span class='defFunction'>Endpoint.</span><span class='gray2'>config</span><span class='gray2'>_</span><span class='gray2'>change</span><span class='gray2'>(</span><span class='gray2'>changed</span><span class='gray'>,</span> <span class='gray2'>removed</span><span class='gray2'>)</span>
      <span style='color:yellow;'>:ok</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>