 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'>#            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE</span>
<span class='comment'>#                    Version 2</span><span class='gray'>,</span> <span class='gray2'>December</span> <span class='gray2'>2004</span>
<span class='comment'>#</span>
<span class='comment'>#            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE</span>
<span class='comment'>#   TERMS AND CONDITIONS FOR COPYING</span><span class='gray'>,</span> <span class='gray2'>DISTRIBUTION</span> <span class='gray2'>AND</span> <span class='gray2'>MODIFICATION</span>
<span class='comment'>#</span>
<span class='comment'>#  0</span><span class='gray'>.</span> <span class='gray2'>You</span> <span class='gray2'>just</span> <span class='gray2'>DO</span> <span class='gray2'>WHAT</span> <span class='gray2'>THE</span> <span class='gray2'>FUCK</span> <span class='gray2'>YOU</span> <span class='gray2'>WANT</span> <span class='defFunction'>TO.</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Socket.</span><span class='functionName'>Address</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>require</span> <span class='gray2'>Bitwise</span>
  
    <span style='color:peru;'>@type</span> <span class='gray2'>t</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='defFunction'>String.</span><span class='gray2'>t</span> <span class='gray2'>|</span> <span class='gray2'>charlist</span> <span class='gray2'>|</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>ip</span><span class='gray2'>_</span><span class='gray2'>address</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Parse</span> <span class='gray2'>a</span> <span class='gray2'>string</span> <span class='gray2'>to</span> <span class='gray2'>an</span> <span class='gray2'>ip</span> <span class='gray2'>address</span> <span class='gray2'>tuple</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>parse</span><span class='gray2'>(</span><span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>ip</span><span class='gray2'>_</span><span class='gray2'>address</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>parse</span><span style='color:white;'>(</span><span class='parameter'><i>text</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>text</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>binary</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>parse</span><span class='gray2'>(</span><span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>charlist</span><span class='gray2'>(</span><span class='gray2'>text</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>parse</span><span style='color:white;'>(</span><span class='parameter'><i>text</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>text</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>list</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>parse</span><span class='gray2'>_</span><span class='gray2'>address</span><span class='gray2'>(</span><span class='gray2'>text</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>ip</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>ip</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:einval</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:darkcyan;'><i>nil</i></span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>parse</span><span style='color:white;'>(</span><span class='parameter'><i>address</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>address</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Check</span> <span class='keyword'>if</span> <span class='gray2'>the</span> <span class='gray2'>passed</span> <span class='gray2'>string</span> <span class='gray2'>is</span> <span class='gray2'>a</span> <span class='gray2'>valid</span> <span class='gray2'>IP</span> <span class='gray2'>address</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>valid?</span><span class='gray2'>(</span><span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>boolean</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>valid?</span><span style='color:white;'>(</span><span class='parameter'><i>text</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>not</span> <span class='gray2'>is</span><span class='gray2'>_</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>(</span><span class='gray2'>parse</span><span class='gray2'>(</span><span class='gray2'>text</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Convert</span> <span class='gray2'>an</span> <span class='gray2'>ip</span> <span class='gray2'>address</span> <span class='gray2'>tuple</span> <span class='gray2'>to</span> <span class='gray2'>a</span> <span class='gray2'>string</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='defFunction'>String.</span><span class='gray2'>t</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>to</span><span class='functionName'>_</span><span class='functionName'>string</span><span style='color:white;'>(</span><span class='parameter'><i>address</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>address</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>binary</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>address</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>to</span><span class='functionName'>_</span><span class='functionName'>string</span><span style='color:white;'>(</span><span class='parameter'><i>address</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>address</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>list</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>address</span> <span class='keyword'>|></span> <span class='defFunction'>IO.</span><span class='gray2'>iodata</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>binary</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>to</span><span class='functionName'>_</span><span class='functionName'>string</span><span style='color:white;'>(</span><span class='parameter'><i>address</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>ntoa</span><span class='gray2'>(</span><span class='gray2'>address</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>IO.</span><span class='gray2'>iodata</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>binary</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Get</span> <span class='gray2'>the</span> <span class='gray2'>addresses</span> <span class='gray2'>for</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>host</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>for</span><span class='gray2'>(</span><span class='gray2'>t</span><span class='gray'>,</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>address</span><span class='gray2'>_</span><span class='gray2'>family</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>t</span><span class='gray2'>]</span> <span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>posix</span> <span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>for</span><span style='color:white;'>(</span><span class='parameter'><i>host</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>family</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>getaddrs</span><span class='gray2'>(</span><span class='gray2'>parse</span><span class='gray2'>(</span><span class='gray2'>host</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>family</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Get</span> <span class='gray2'>the</span> <span class='gray2'>addresses</span> <span class='gray2'>for</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>host</span><span class='gray'>,</span> <span class='gray2'>raising</span> <span class='keyword'>if</span> <span class='gray2'>an</span> <span class='gray2'>error</span> <span class='gray2'>occurs</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>for</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>t</span><span class='gray'>,</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>address</span><span class='gray2'>_</span><span class='gray2'>family</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>[</span><span class='gray2'>t</span><span class='gray2'>]</span> <span class='gray2'>|</span> <span class='gray2'>no</span><span class='gray2'>_</span><span class='gray2'>return</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>for</span><span class='functionName'>!</span><span style='color:white;'>(</span><span class='parameter'><i>host</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>family</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>getaddrs</span><span class='gray2'>(</span><span class='gray2'>parse</span><span class='gray2'>(</span><span class='gray2'>host</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>family</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>addresses</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>addresses</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>code</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>raise</span> <span class='defFunction'>Socket.</span><span class='gray2'>Error</span><span class='gray'>,</span> <span class='gray2'>reason:</span> <span class='gray2'>code</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Check</span> <span class='keyword'>if</span> <span class='gray2'>an</span> <span class='gray2'>IP</span> <span class='gray2'>address</span> <span class='gray2'>belong</span> <span class='gray2'>to</span> <span class='gray2'>a</span> <span class='gray2'>network</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>subnet?</span><span class='gray2'>(</span><span class='gray2'>t</span><span class='gray'>,</span> <span class='gray2'>t</span><span class='gray'>,</span> <span class='gray2'>Integer</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>boolean</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>in</span><span class='functionName'>_</span><span class='functionName'>subnet?</span><span style='color:white;'>(</span><span class='parameter'><i>addr</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>net</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>netsize</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>netsize</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>integer</span><span class='functionName'> </span><span class='functionName'>and</span><span class='functionName'> </span><span class='functionName'>netsize</span><span class='functionName'> </span><span class='functionName'>></span><span class='functionName'>=</span><span class='functionName'> </span><span class='functionName'>1</span><span class='functionName'> </span><span class='functionName'>and</span><span class='functionName'> </span><span class='functionName'>netsize</span><span class='functionName'> </span><span class='functionName'><</span><span class='functionName'>=</span><span class='functionName'> </span><span class='functionName'>128</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>ip</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>subnet</span><span class='gray2'>(</span><span class='gray2'>net</span><span class='gray'>,</span> <span class='gray2'>netsize</span><span class='gray'>,</span> <span class='gray2'>addr</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>maskv4</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>netsize</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>addrpart</span> <span class='keyword'>|></span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>integer</span> <span class='gray2'>and</span> <span class='gray2'>netsize</span> <span class='keyword'>|></span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>integer</span> <span class='keyword'>do</span>
      <span class='gray2'>cond</span> <span class='keyword'>do</span>
        <span class='gray2'>netsize</span> <span class='keyword'>></span><span class='keyword'>=</span> <span class='gray2'>8</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>addrpart</span>
  
        <span class='gray2'>netsize</span> <span class='gray2'>in</span> <span class='gray2'>1</span> <span class='gray'>.</span><span class='gray'>.</span> <span class='gray2'>7</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>case</span> <span class='gray2'>netsize</span> <span class='keyword'>do</span>
            <span class='gray2'>1</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>x80</span><span class='gray2'>)</span>
            <span class='gray2'>2</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xC0</span><span class='gray2'>)</span>
            <span class='gray2'>3</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xE0</span><span class='gray2'>)</span>
            <span class='gray2'>4</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xF0</span><span class='gray2'>)</span>
            <span class='gray2'>5</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xF8</span><span class='gray2'>)</span>
            <span class='gray2'>6</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xFC</span><span class='gray2'>)</span>
            <span class='gray2'>7</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xFE</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
  
        <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>0</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>integer</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray2'>)</span> <span class='gray2'>and</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>integer</span><span class='gray2'>(</span><span class='gray2'>netsize</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>cond</span> <span class='keyword'>do</span>
        <span class='gray2'>netsize</span> <span class='keyword'>></span><span class='keyword'>=</span> <span class='gray2'>16</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>addrpart</span>
  
        <span class='gray2'>netsize</span> <span class='gray2'>in</span> <span class='gray2'>1</span> <span class='gray'>.</span><span class='gray'>.</span> <span class='gray2'>15</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>case</span> <span class='gray2'>netsize</span> <span class='keyword'>do</span>
            <span class='gray2'>1</span>  <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>x8000</span><span class='gray2'>)</span>
            <span class='gray2'>2</span>  <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xC000</span><span class='gray2'>)</span>
            <span class='gray2'>3</span>  <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xE000</span><span class='gray2'>)</span>
            <span class='gray2'>4</span>  <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xF000</span><span class='gray2'>)</span>
            <span class='gray2'>5</span>  <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xF800</span><span class='gray2'>)</span>
            <span class='gray2'>6</span>  <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xFC00</span><span class='gray2'>)</span>
            <span class='gray2'>7</span>  <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xFE00</span><span class='gray2'>)</span>
            <span class='gray2'>8</span>  <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xFF00</span><span class='gray2'>)</span>
            <span class='gray2'>9</span>  <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xFF80</span><span class='gray2'>)</span>
            <span class='gray2'>10</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xFFC0</span><span class='gray2'>)</span>
            <span class='gray2'>11</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xFFE0</span><span class='gray2'>)</span>
            <span class='gray2'>12</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xFFF0</span><span class='gray2'>)</span>
            <span class='gray2'>13</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xFFF8</span><span class='gray2'>)</span>
            <span class='gray2'>14</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xFFFC</span><span class='gray2'>)</span>
            <span class='gray2'>15</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Bitwise.</span><span class='gray2'>band</span><span class='gray2'>(</span><span class='gray2'>addrpart</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>xFFFE</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
  
        <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>0</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='comment'># for IP V4</span>
    <span class='gray2'>defp</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>ip</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>subnet</span><span class='gray2'>(</span><span class='gray2'>{</span> <span class='gray2'>net1</span><span class='gray'>,</span> <span class='gray2'>net2</span><span class='gray'>,</span> <span class='gray2'>net3</span><span class='gray'>,</span> <span class='gray2'>net4</span> <span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>netsize</span><span class='gray'>,</span> <span class='gray2'>{</span> <span class='gray2'>addr1</span><span class='gray'>,</span> <span class='gray2'>addr2</span><span class='gray'>,</span> <span class='gray2'>addr3</span><span class='gray'>,</span> <span class='gray2'>addr4</span> <span class='gray2'>}</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>addr</span> <span class='keyword'>=</span> <span class='gray2'>{</span>
        <span class='gray2'>maskv4</span><span class='gray2'>(</span><span class='gray2'>addr1</span><span class='gray'>,</span> <span class='gray2'>netsize</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv4</span><span class='gray2'>(</span><span class='gray2'>addr2</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>8</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv4</span><span class='gray2'>(</span><span class='gray2'>addr3</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>16</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv4</span><span class='gray2'>(</span><span class='gray2'>addr4</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>24</span><span class='gray2'>)</span>
      <span class='gray2'>}</span>
  
      <span class='gray2'>net</span> <span class='keyword'>=</span> <span class='gray2'>{</span>
        <span class='gray2'>maskv4</span><span class='gray2'>(</span><span class='gray2'>net1</span><span class='gray'>,</span> <span class='gray2'>netsize</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv4</span><span class='gray2'>(</span><span class='gray2'>net2</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>8</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv4</span><span class='gray2'>(</span><span class='gray2'>net3</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>16</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv4</span><span class='gray2'>(</span><span class='gray2'>net4</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>24</span><span class='gray2'>)</span>
      <span class='gray2'>}</span>
  
      <span class='gray2'>net</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>addr</span>
    <span class='keyword'>end</span>
  
    <span class='comment'># for IP V6</span>
    <span class='gray2'>defp</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>ip</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>subnet</span><span class='gray2'>(</span><span class='gray2'>{</span> <span class='gray2'>net1</span><span class='gray'>,</span> <span class='gray2'>net2</span><span class='gray'>,</span> <span class='gray2'>net3</span><span class='gray'>,</span> <span class='gray2'>net4</span><span class='gray'>,</span> <span class='gray2'>net5</span><span class='gray'>,</span> <span class='gray2'>net6</span><span class='gray'>,</span> <span class='gray2'>net7</span><span class='gray'>,</span> <span class='gray2'>net8</span> <span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>netsize</span><span class='gray'>,</span> <span class='gray2'>{</span> <span class='gray2'>addr1</span><span class='gray'>,</span> <span class='gray2'>addr2</span><span class='gray'>,</span> <span class='gray2'>addr3</span><span class='gray'>,</span> <span class='gray2'>addr4</span><span class='gray'>,</span> <span class='gray2'>addr5</span><span class='gray'>,</span> <span class='gray2'>addr6</span><span class='gray'>,</span> <span class='gray2'>addr7</span><span class='gray'>,</span> <span class='gray2'>addr8</span> <span class='gray2'>}</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>addr</span> <span class='keyword'>=</span> <span class='gray2'>{</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>addr1</span><span class='gray'>,</span> <span class='gray2'>netsize</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>addr2</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>16</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>addr3</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>32</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>addr4</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>48</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>addr5</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>64</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>addr6</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>80</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>addr7</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>96</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>addr8</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>112</span><span class='gray2'>)</span>
      <span class='gray2'>}</span>
  
      <span class='gray2'>net</span> <span class='keyword'>=</span> <span class='gray2'>{</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>net1</span><span class='gray'>,</span> <span class='gray2'>netsize</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>net2</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>16</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>net3</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>32</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>net4</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>48</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>net5</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>64</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>net6</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>80</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>net7</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>96</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>maskv6</span><span class='gray2'>(</span><span class='gray2'>net8</span><span class='gray'>,</span> <span class='gray2'>netsize</span> <span class='gray2'>-</span> <span class='gray2'>112</span><span class='gray2'>)</span>
      <span class='gray2'>}</span>
  
      <span class='gray2'>net</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>addr</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>