 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>CLI</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
  
    <span style='color:peru;'>@app</span><span class='gray2'>_</span><span class='gray2'>version</span> <span class='defFunction'>Mix.</span><span class='defFunction'>Project.</span><span class='gray2'>config</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>[</span><span style='color:yellow;'>:version</span><span class='gray2'>]</span>
  
    <span style='color:peru;'>@switches</span> <span class='gray2'>[</span>
      <span class='gray2'>output:</span> <span style='color:yellow;'>:string</span><span class='gray'>,</span>
      <span class='gray2'>help:</span> <span style='color:yellow;'>:boolean</span><span class='gray'>,</span>
      <span class='gray2'>version:</span> <span style='color:yellow;'>:boolean</span><span class='gray'>,</span>
      <span class='gray2'>root:</span> <span style='color:yellow;'>:string</span>
    <span class='gray2'>]</span>
  
    <span style='color:peru;'>@aliases</span> <span class='gray2'>[</span>
      <span class='gray2'>o:</span> <span style='color:yellow;'>:output</span><span class='gray'>,</span>
      <span class='gray2'>h:</span> <span style='color:yellow;'>:help</span><span class='gray'>,</span>
      <span class='gray2'>v:</span> <span style='color:yellow;'>:version</span>
    <span class='gray2'>]</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>parse</span><span class='functionName'>_</span><span class='functionName'>args</span><span style='color:white;'>(</span><span class='parameter'><i>args</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span><span class='gray2'>options</span><span class='gray'>,</span> <span class='gray2'>input</span><span class='gray'>,</span> <span class='gray2'>errors</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>OptionParser.</span><span class='gray2'>parse</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray'>,</span> <span class='gray2'>switches:</span> <span style='color:peru;'>@switches</span><span class='gray'>,</span> <span class='gray2'>aliases:</span> <span style='color:peru;'>@aliases</span><span class='gray2'>)</span>
  
      <span class='gray2'>cond</span> <span class='keyword'>do</span>
        <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>errors</span><span class='gray2'>)</span> <span class='keyword'>></span> <span class='gray2'>0</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:yellow;'>:help</span>
  
        <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span style='color:yellow;'>:help</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:yellow;'>:help</span>
  
        <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span style='color:yellow;'>:version</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:yellow;'>:version</span>
  
        <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>input</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>0</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:yellow;'>:help</span>
  
        <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span class='gray2'>input</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>}</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>help</span><span class='gray2'>_</span><span class='gray2'>message</span> <span class='keyword'>do</span>
      <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
      <span class='gray2'>usage:</span> <span class='gray2'>elixirscript</span> <span class='keyword'><</span><span class='gray2'>module</span> <span class='gray2'>|</span> <span class='gray2'>path</span><span class='keyword'>></span> <span class='gray2'>[</span><span class='gray2'>options</span><span class='gray2'>]</span>
      <span class='keyword'><</span><span class='gray2'>module</span><span class='keyword'>></span> <span class='gray2'>the</span> <span class='gray2'>entry</span> <span class='gray2'>module</span> <span class='gray2'>of</span> <span class='gray2'>your</span> <span class='gray2'>application</span>
      <span class='keyword'><</span><span class='gray2'>path</span><span class='keyword'>></span> <span class='gray2'>the</span> <span class='gray2'>path</span> <span class='gray2'>to</span> <span class='gray'>.</span><span class='gray2'>ex</span><span class='gray2'>(</span><span class='gray2'>s</span><span class='gray2'>)</span> <span class='gray2'>files</span> <span class='gray2'>to</span> <span class='gray2'>compile</span>
      <span class='gray2'>options:</span>
      <span class='gray2'>-</span><span class='gray2'>o</span>  <span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>output</span> <span class='gray2'>[</span><span class='gray2'>path</span><span class='gray2'>]</span>   <span class='gray2'>places</span> <span class='gray2'>output</span> <span class='gray2'>at</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>path</span><span class='gray'>.</span>
                            <span class='gray2'>Can</span> <span class='gray2'>be</span> <span class='gray2'>a</span> <span class='gray2'>directory</span> <span class='gray2'>or</span> <span class='gray2'>filename</span><span class='gray'>.</span>
      <span class='gray2'>-</span><span class='gray2'>v</span>  <span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>version</span>         <span class='gray2'>the</span> <span class='gray2'>current</span> <span class='gray2'>version</span> <span class='gray2'>number</span>
      <span class='gray2'>-</span><span class='gray2'>h</span>  <span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>help</span>            <span class='gray2'>this</span> <span class='gray2'>message</span>
      <span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>root</span>                <span class='gray2'>The</span> <span class='gray2'>root</span> <span class='gray2'>import</span> <span class='gray2'>path</span> <span class='gray2'>for</span> <span class='gray2'>FFI</span> <span class='gray2'>imports</span>
      <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>process</span><span style='color:white;'>(</span><span class='atomo'>:help</span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>IO.</span><span class='gray2'>write</span><span class='gray2'>(</span><span class='gray2'>help</span><span class='gray2'>_</span><span class='gray2'>message</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>process</span><span style='color:white;'>(</span><span class='atomo'>:version</span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>IO.</span><span class='gray2'>write</span><span class='gray2'>(</span><span style='color:peru;'>@app</span><span class='gray2'>_</span><span class='gray2'>version</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>process</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>input</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>options</i></span><span class='parameter'><i>}</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>if</span> <span class='gray2'>options</span><span class='gray2'>_</span><span class='gray2'>contains</span><span class='gray2'>_</span><span class='gray2'>unknown</span><span class='gray2'>_</span><span class='gray2'>values</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>process</span><span class='gray2'>(</span><span style='color:yellow;'>:help</span><span class='gray2'>)</span>
      <span class='keyword'>else</span>
        <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>process</span><span class='gray2'>(</span><span class='gray2'>input</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>process</span><span class='gray2'>(</span><span class='gray2'>input</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>opts</span> <span class='keyword'>=</span> <span class='gray2'>[</span>
        <span class='gray2'>output:</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span style='color:yellow;'>:output</span><span class='gray'>,</span> <span style='color:yellow;'>:stdout</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>root:</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span style='color:yellow;'>:root</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray'>.</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='gray2'>]</span>
  
      <span class='gray2'>input</span> <span class='keyword'>=</span> <span class='gray2'>handle</span><span class='gray2'>_</span><span class='gray2'>input</span><span class='gray2'>(</span><span class='gray2'>input</span><span class='gray2'>)</span>
      <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Compiler.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>input</span><span class='gray'>,</span> <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>opts</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>options</span><span class='gray2'>_</span><span class='gray2'>contains</span><span class='gray2'>_</span><span class='gray2'>unknown</span><span class='gray2'>_</span><span class='gray2'>values</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>any?</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>key</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>value</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='keyword'>if</span> <span class='gray2'>key</span> <span class='gray2'>in</span> <span class='defFunction'>Keyword.</span><span class='gray2'>keys</span><span class='gray2'>(</span><span style='color:peru;'>@switches</span><span class='gray2'>)</span> <span class='keyword'>do</span>
          <span style='color:darkcyan;'><i>false</i></span>
        <span class='keyword'>else</span>
          <span style='color:darkcyan;'><i>true</i></span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>handle</span><span class='gray2'>_</span><span class='gray2'>input</span><span class='gray2'>(</span><span class='gray2'>input</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>input</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>String.</span><span class='gray2'>split</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>"</span> <span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray'>,</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>trim:</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray2'>)</span> <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>flatten</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Module.</span><span class='gray2'>concat</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>x</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>