 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'># If you get errors running 254 ping commands it</span><span class='gray2'>'</span><span class='gray2'>s</span> <span class='gray2'>probably</span> <span class='gray2'>due</span> <span class='gray2'>to</span> <span class='gray2'>the</span> <span class='gray2'>number</span>
<span class='comment'># of open files</span><span class='gray'>.</span>  <span class='gray2'>You</span> <span class='gray2'>can</span> <span class='gray2'>"</span><span class='gray2'>fix</span><span class='gray2'>"</span> <span class='gray2'>this</span> <span class='gray2'>by</span> <span class='gray2'>running</span> <span class='gray2'>this</span> <span class='gray2'>command</span> <span class='gray2'>in</span> <span class='gray2'>the</span> <span class='gray2'>terminal</span>
<span class='comment'># session before running this program</span><span class='gray2'>:</span>
<span class='comment'>#</span>
<span class='comment'>#   ulimit </span><span class='gray2'>-</span><span class='gray2'>n</span> <span class='gray2'>1024</span>
<span class='comment'>#</span>
<span class='comment'># If the limit is 256 </span><span class='gray2'>(</span><span class='gray2'>the</span> <span class='gray2'>default</span><span class='gray2'>)</span> <span class='gray2'>then</span> <span class='gray2'>we</span> <span class='gray2'>can</span> <span class='gray2'>run</span> <span class='gray2'>120</span> <span class='gray2'>or</span> <span class='gray2'>so</span> <span class='gray2'>before</span> <span class='gray2'>we</span> <span class='gray2'>run</span> <span class='gray2'>out</span>
<span class='comment'># of file descriptors</span><span class='gray'>.</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Ping</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Ping</span> <span class='gray2'>a</span> <span class='gray2'>class</span><span class='gray2'>-</span><span class='gray2'>C</span> <span class='gray2'>subnet</span> <span class='gray2'>to</span> <span class='gray2'>find</span> <span class='gray2'>hosts</span> <span class='gray2'>that</span> <span class='gray2'>respond</span><span class='gray'>.</span>
  <span class='gray2'>To</span> <span class='gray2'>run</span> <span class='gray2'>from</span> <span class='gray2'>the</span> <span class='gray2'>command</span> <span class='gray2'>line:</span>

    <span class='gray2'>$</span> <span class='gray2'>elixir</span> <span class='gray2'>9</span><span class='gray2'>-</span><span class='gray2'>ping</span><span class='gray'>.</span><span class='gray2'>exs</span> <span class='gray2'>192</span><span class='gray'>.</span><span class='gray2'>168</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>x</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Ping</span> <span class='gray2'>an</span> <span class='gray2'>IP</span> <span class='gray2'>asynchronously</span> <span class='gray2'>and</span> <span class='gray2'>send</span> <span class='gray2'>a</span> <span class='gray2'>tuple</span> <span class='gray2'>back</span> <span class='gray2'>to</span> <span class='gray2'>the</span> <span class='gray2'>parent</span> <span class='gray2'>saying</span> <span class='gray2'>what</span>
  <span class='gray2'>has</span> <span class='gray2'>happened:</span>

  <span class='gray2'>`</span><span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>ip</span><span class='gray'>,</span> <span class='gray2'>pingable?</span><span class='gray2'>}</span><span class='gray2'>`</span> <span class='gray2'>where</span> <span class='gray2'>`</span><span class='gray2'>pingable?</span><span class='gray2'>`</span> <span class='gray2'>tells</span> <span class='gray2'>us</span> <span class='keyword'>if</span> <span class='gray2'>`</span><span class='gray2'>ip</span><span class='gray2'>`</span> <span class='gray2'>is</span> <span class='gray2'>pingable</span><span class='gray'>.</span>

  <span class='gray2'>`</span><span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>ip</span><span class='gray'>,</span> <span class='gray2'>error</span><span class='gray2'>}</span><span class='gray2'>`</span> <span class='gray2'>when</span> <span class='gray2'>some</span> <span class='gray2'>error</span> <span class='gray2'>caused</span> <span class='gray2'>us</span> <span class='gray2'>to</span> <span class='gray2'>not</span> <span class='gray2'>be</span> <span class='gray2'>able</span> <span class='gray2'>to</span> <span class='gray2'>run</span> <span class='gray2'>the</span>
  <span class='gray2'>ping</span> <span class='gray2'>command</span><span class='gray'>.</span>

  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>ping</span><span class='functionName'>_</span><span class='functionName'>async</span><span style='color:white;'>(</span><span class='parameter'><i>ip</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>parent</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>send</span> <span class='gray2'>parent</span><span class='gray'>,</span> <span class='gray2'>run</span><span class='gray2'>_</span><span class='gray2'>ping</span><span class='gray2'>(</span><span class='gray2'>ip</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Ping</span> <span class='gray2'>a</span> <span class='gray2'>single</span> <span class='gray2'>IP</span> <span class='gray2'>address</span> <span class='gray2'>returning</span> <span class='gray2'>a</span> <span class='gray2'>tuple</span> <span class='gray2'>which</span> <span class='gray2'>`</span><span class='gray2'>ping</span><span class='gray2'>_</span><span class='gray2'>async</span><span class='gray2'>`</span> <span class='gray2'>can</span> <span class='gray2'>return</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>run</span><span class='functionName'>_</span><span class='functionName'>ping</span><span style='color:white;'>(</span><span class='parameter'><i>ip</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='comment'># This is a Ruby</span><span class='gray2'>-</span><span class='gray2'>ish</span> <span class='gray2'>way</span> <span class='gray2'>of</span> <span class='gray2'>dealing</span> <span class='gray2'>with</span> <span class='gray2'>failure</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span>
    <span class='comment'># TODO</span><span class='gray2'>:</span> <span class='gray2'>Discover</span> <span class='gray2'>the</span> <span class='gray2'>"</span><span class='gray2'>Elixir</span> <span class='gray2'>way</span><span class='gray2'>"</span>
    <span class='gray2'>try</span> <span class='keyword'>do</span>
      <span class='comment'># return code should be handled somehow with pattern matching</span>
      <span class='gray2'>{</span><span class='gray2'>cmd</span><span class='gray2'>_</span><span class='gray2'>output</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>System.</span><span class='gray2'>cmd</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>ping</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>ping</span><span class='gray2'>_</span><span class='gray2'>args</span><span class='gray2'>(</span><span class='gray2'>ip</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='gray2'>alive?</span> <span class='keyword'>=</span> <span class='gray2'>not</span> <span class='defFunction'>Regex.</span><span class='gray2'>match?</span><span class='gray2'>(</span><span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='gray2'>100</span><span class='gray2'>(</span><span class='comment'>\</span><span class='gray'>.</span><span class='gray2'>0</span><span class='gray2'>)</span><span class='gray2'>?</span><span class='gray2'>%</span> <span class='gray2'>packet</span> <span class='gray2'>loss</span><span class='gray2'>/</span><span class='gray'>,</span> <span class='gray2'>cmd</span><span class='gray2'>_</span><span class='gray2'>output</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>ip</span><span class='gray'>,</span> <span class='gray2'>alive?</span><span class='gray2'>}</span>
    <span class='gray2'>rescue</span>
      <span class='gray2'>e</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>ip</span><span class='gray'>,</span> <span class='gray2'>e</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>ping</span><span class='functionName'>_</span><span class='functionName'>args</span><span style='color:white;'>(</span><span class='parameter'><i>ip</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>opt</span> <span class='keyword'>=</span> <span class='keyword'>if</span> <span class='gray2'>darwin?</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>"</span><span class='gray2'>-</span><span class='gray2'>W</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>else:</span> <span class='gray2'>"</span><span class='gray2'>-</span><span class='gray2'>w</span><span class='gray2'>"</span>
    <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>-</span><span class='gray2'>c</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>1</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>opt</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>5</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>-</span><span class='gray2'>s</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>1</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>ip</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>darwin?</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>{</span><span class='gray2'>output</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>System.</span><span class='gray2'>cmd</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>uname</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='defFunction'>String.</span><span class='gray2'>trim</span><span class='gray2'>_</span><span class='gray2'>trailing</span><span class='gray2'>(</span><span class='gray2'>output</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>"</span><span class='gray2'>Darwin</span><span class='gray2'>"</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Subnet</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Ping</span> <span class='gray2'>all</span> <span class='gray2'>IPs</span> <span class='gray2'>in</span> <span class='gray2'>a</span> <span class='gray2'>class</span><span class='gray2'>-</span><span class='gray2'>C</span> <span class='gray2'>subnet</span> <span class='gray2'>and</span> <span class='gray2'>return</span> <span class='gray2'>a</span> <span class='gray2'>map</span> <span class='gray2'>with</span> <span class='gray2'>results</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>ping</span><span style='color:white;'>(</span><span class='parameter'><i>subnet</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>all</span> <span class='keyword'>=</span> <span class='gray2'>ips</span><span class='gray2'>(</span><span class='gray2'>subnet</span><span class='gray2'>)</span>
    <span class='defFunction'>Enum.</span><span class='gray2'>each</span> <span class='gray2'>all</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>ip</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='comment'># Task</span><span class='gray'>.</span><span class='gray2'>start</span> <span class='gray2'>gives</span> <span class='gray2'>better</span> <span class='gray2'>logging</span> <span class='gray2'>than</span> <span class='gray2'>spawn</span> <span class='gray2'>when</span> <span class='gray2'>things</span> <span class='gray2'>go</span> <span class='gray2'>awry</span><span class='gray'>.</span>
      <span class='comment'># http</span><span class='gray2'>:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>-</span><span class='gray2'>lang</span><span class='gray'>.</span><span class='gray2'>org</span><span class='gray2'>/</span><span class='gray2'>getting</span><span class='gray2'>-</span><span class='gray2'>started</span><span class='gray2'>/</span><span class='gray2'>processes</span><span class='gray'>.</span><span class='gray2'>html</span><span class='comment'>#tasks</span>
      <span class='defFunction'>Task.</span><span class='gray2'>start</span><span class='gray2'>(</span><span class='gray2'>Ping</span><span class='gray'>,</span> <span style='color:yellow;'>:ping</span><span class='gray2'>_</span><span class='gray2'>async</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>ip</span><span class='gray'>,</span> <span class='gray2'>self</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
    <span class='gray2'>wait</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='defFunction'>Enum.</span><span class='gray2'>count</span><span class='gray2'>(</span><span class='gray2'>all</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Given</span> <span class='gray2'>a</span> <span class='gray2'>class</span><span class='gray2'>-</span><span class='gray2'>C</span> <span class='gray2'>subnet</span> <span class='gray2'>string</span> <span class='gray2'>like</span> <span class='gray2'>'</span><span class='gray2'>192</span><span class='gray'>.</span><span class='gray2'>168</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>x</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>return</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>all</span> <span class='gray2'>254</span> <span class='gray2'>IPs</span> <span class='gray2'>therein</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>ips</span><span style='color:white;'>(</span><span class='parameter'><i>subnet</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>subnet</span> <span class='keyword'>=</span> <span class='defFunction'>Regex.</span><span class='gray2'>run</span><span class='gray2'>(</span><span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='gray2'>^</span><span class='comment'>\d</span><span class='gray2'>+</span><span class='comment'>\</span><span class='gray'>.</span><span class='comment'>\d</span><span class='gray2'>+</span><span class='comment'>\</span><span class='gray'>.</span><span class='comment'>\d</span><span class='gray2'>+</span><span class='comment'>\</span><span class='gray'>.</span><span class='gray2'>/</span><span class='gray'>,</span> <span class='gray2'>subnet</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>0</span><span class='gray2'>)</span>
    <span class='defFunction'>Enum.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>254</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>i</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>subnet</span><span class='gray2'>}</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>i</span><span class='gray2'>}</span><span class='gray2'>"</span> <span class='keyword'>end</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>wait</span><span class='gray2'>(</span><span class='gray2'>results</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>results</span>
  <span class='gray2'>defp</span> <span class='gray2'>wait</span><span class='gray2'>(</span><span class='gray2'>results</span><span class='gray'>,</span> <span class='gray2'>remaining</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>receive</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>ip</span><span class='gray'>,</span> <span class='gray2'>pingable?</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>results</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>results</span><span class='gray'>,</span> <span class='gray2'>ip</span><span class='gray'>,</span> <span class='gray2'>pingable?</span><span class='gray2'>)</span>
        <span class='gray2'>wait</span><span class='gray2'>(</span><span class='gray2'>results</span><span class='gray'>,</span> <span class='gray2'>remaining</span> <span class='gray2'>-</span> <span class='gray2'>1</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>ip</span><span class='gray'>,</span> <span class='gray2'>error</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span> <span class='gray2'>error</span><span class='gray2'>}</span> <span class='gray2'>for</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>ip</span><span class='gray2'>}</span><span class='gray2'>"</span>
        <span class='gray2'>wait</span><span class='gray2'>(</span><span class='gray2'>results</span><span class='gray'>,</span> <span class='gray2'>remaining</span> <span class='gray2'>-</span> <span class='gray2'>1</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='comment'># Command</span><span class='gray2'>-</span><span class='gray2'>line</span> <span class='gray2'>execution</span> <span class='gray2'>support</span>
<span class='comment'># TODO is there a way to check if this script is being executed directly </span><span class='gray2'>(</span><span class='gray2'>vs</span> <span class='gray2'>imported</span> <span class='gray2'>elsewhere</span><span class='gray2'>)</span><span class='gray2'>?</span>
<span class='gray2'>case</span> <span class='defFunction'>System.</span><span class='gray2'>argv</span> <span class='keyword'>do</span>
  <span class='gray2'>[</span><span class='gray2'>subnet</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
    <span class='gray2'>results</span> <span class='keyword'>=</span> <span class='defFunction'>Subnet.</span><span class='gray2'>ping</span><span class='gray2'>(</span><span class='gray2'>subnet</span><span class='gray2'>)</span>
    <span class='gray2'>results</span>
    <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>filter</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray2'>ip</span><span class='gray'>,</span> <span class='gray2'>exists</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>exists</span> <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>ip</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>ip</span> <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>sort</span>
    <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='comment'>\n</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='keyword'>|></span> <span class='defFunction'>IO.</span><span class='gray2'>puts</span>
  <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
    <span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

    <span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>SubnetTest</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

      <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>ips</span><span class='gray2'>"</span> <span class='keyword'>do</span>
        <span class='gray2'>ips</span> <span class='keyword'>=</span> <span class='defFunction'>Subnet.</span><span class='gray2'>ips</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>192</span><span class='gray'>.</span><span class='gray2'>168</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>x</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>count</span><span class='gray2'>(</span><span class='gray2'>ips</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>254</span>
        <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>ips</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>"</span><span class='gray2'>192</span><span class='gray'>.</span><span class='gray2'>168</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray2'>"</span>
        <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>ips</span><span class='gray'>,</span> <span class='gray2'>253</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>"</span><span class='gray2'>192</span><span class='gray'>.</span><span class='gray2'>168</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>254</span><span class='gray2'>"</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
<span class='keyword'>end</span>
</pre>