 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Translate.</span><span class='functionName'>Forms.</span><span class='functionName'>Receive</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>J</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>{</span><span class='gray2'>Helpers</span><span class='gray'>,</span> <span class='gray2'>Form</span><span class='gray'>,</span> <span class='gray2'>Function</span><span class='gray'>,</span> <span class='gray2'>Clause</span><span class='gray2'>}</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>receive</span> <span class='gray2'>is</span> <span class='gray2'>not</span> <span class='gray2'>supported</span> <span class='gray2'>just</span> <span class='gray2'>yet</span><span class='gray'>,</span> <span class='gray2'>but</span> <span class='gray2'>we</span> <span class='gray2'>compile</span> <span class='gray2'>it</span>
    <span class='gray2'>to</span> <span class='gray2'>a</span> <span class='gray2'>stub</span> <span class='gray2'>function</span> <span class='gray2'>for</span> <span class='gray2'>now</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>blocks</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>receive</span><span class='gray2'>_</span><span class='gray2'>block</span> <span class='keyword'>=</span> <span class='gray2'>blocks</span>
      <span class='keyword'>|></span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span style='color:yellow;'>:do</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>Clause.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='gray2'>elem</span><span class='gray2'>(</span><span class='gray2'>0</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>flatten</span>
      <span class='keyword'>|></span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
      <span class='gray2'>receive</span><span class='gray2'>_</span><span class='gray2'>function</span> <span class='keyword'>=</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
        <span class='defFunction'>Helpers.</span><span class='gray2'>special</span><span class='gray2'>_</span><span class='gray2'>forms</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>receive</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>after</span><span class='gray2'>_</span><span class='gray2'>block</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>blocks</span><span class='gray'>,</span> <span style='color:yellow;'>:after</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span>
      <span class='gray2'>args</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>receive</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>after</span><span class='gray2'>(</span><span class='gray2'>after</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span class='gray2'>receive</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray'>,</span>
        <span class='gray2'>args</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>{</span> <span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>after</span><span class='gray2'>(</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>[</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>after</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>-</span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>timeout</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>timeout</span> <span class='keyword'>=</span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>timeout</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Function.</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>function</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>arrow</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>(</span>
        <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='defFunction'>List.</span><span class='gray2'>wrap</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>[</span><span class='gray2'>timeout</span><span class='gray'>,</span> <span class='gray2'>function</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>