 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Test.</span><span class='functionName'>Assertions</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Defines</span> <span class='gray2'>assertions</span> <span class='gray2'>for</span> <span class='keyword'>use</span> <span class='gray2'>in</span> <span class='gray2'>ElixirScript</span> <span class='gray2'>test</span><span class='gray'>.</span>
    <span class='gray2'>These</span> <span class='gray2'>are</span> <span class='gray2'>a</span> <span class='gray2'>subset</span> <span class='gray2'>of</span> <span class='gray2'>[</span><span class='defFunction'>ExUnit.</span><span class='gray2'>Assertions</span><span class='gray2'>]</span><span class='gray2'>(</span><span class='gray2'>https:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>hexdocs</span><span class='gray'>.</span><span class='gray2'>pm</span><span class='gray2'>/</span><span class='gray2'>ex</span><span class='gray2'>_</span><span class='gray2'>unit</span><span class='gray2'>/</span><span class='defFunction'>ExUnit.</span><span class='defFunction'>Assertions.</span><span class='gray2'>html</span><span class='gray2'>)</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  
    <span style='color:peru;'>@doc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>raise</span><span class='functionName'>_</span><span class='functionName'>elixir</span><span class='functionName'>_</span><span class='functionName'>script</span><span class='functionName'>_</span><span class='functionName'>assert</span><span style='color:white;'>(</span><span class='parameter'><i>error</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>file</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>line</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>reraise</span><span class='gray2'>(</span><span class='defFunction'>ElixirScript.</span><span class='defFunction'>Test.</span><span class='gray2'>AssertionError</span><span class='gray'>,</span> <span class='gray2'>[</span>
        <span class='gray2'>left:</span> <span class='gray2'>error</span><span class='gray'>.</span><span class='gray2'>left</span><span class='gray'>,</span>
        <span class='gray2'>right:</span> <span class='gray2'>error</span><span class='gray'>.</span><span class='gray2'>right</span><span class='gray'>,</span>
        <span class='gray2'>message:</span> <span class='gray2'>error</span><span class='gray'>.</span><span class='gray2'>message</span><span class='gray'>,</span>
        <span class='gray2'>expr:</span> <span class='gray2'>error</span><span class='gray'>.</span><span class='gray2'>expr</span><span class='gray'>,</span>
        <span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span>
        <span class='gray2'>line:</span> <span class='gray2'>line</span>
      <span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Asserts</span> <span class='gray2'>its</span> <span class='gray2'>argument</span> <span class='gray2'>is</span> <span class='gray2'>a</span> <span class='gray2'>truthy</span> <span class='gray2'>value</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>assert</span><span class='gray2'>(</span><span class='gray2'>assertion</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>CALLER</span><span class='gray2'>_</span><span class='gray2'>_</span>
  
      <span class='gray2'>quote</span> <span class='gray2'>[</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>]</span> <span class='keyword'>do</span>
        <span class='gray2'>try</span> <span class='keyword'>do</span>
          <span class='defFunction'>ExUnit.</span><span class='defFunction'>Assertions.</span><span class='gray2'>assert</span><span class='gray2'>(</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>assertion</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='gray2'>rescue</span>
          <span class='gray2'>error</span> <span class='gray2'>in</span> <span class='gray2'>[</span><span class='defFunction'>ExUnit.</span><span class='gray2'>AssertionError</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Test.</span><span class='defFunction'>Assertions.</span><span class='gray2'>raise</span><span class='gray2'>_</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>_</span><span class='gray2'>assert</span><span class='gray2'>(</span>
              <span class='gray2'>error</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>file</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>line</span><span class='gray2'>)</span>
            <span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Asserts</span> <span class='gray2'>`</span><span class='gray2'>value</span><span class='gray2'>`</span> <span class='gray2'>is</span> <span class='gray2'>`</span><span style='color:darkcyan;'><i>true</i></span><span class='gray2'>`</span><span class='gray'>,</span> <span class='gray2'>displaying</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>`</span><span class='gray2'>message</span><span class='gray2'>`</span> <span class='gray2'>otherwise</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>assert</span><span class='gray2'>(</span><span class='gray2'>value</span><span class='gray'>,</span> <span class='gray2'>message</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>CALLER</span><span class='gray2'>_</span><span class='gray2'>_</span>
  
      <span class='gray2'>quote</span> <span class='gray2'>[</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>]</span> <span class='keyword'>do</span>
        <span class='gray2'>try</span> <span class='keyword'>do</span>
          <span class='defFunction'>ExUnit.</span><span class='defFunction'>Assertions.</span><span class='gray2'>assert</span><span class='gray2'>(</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>value</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>message</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='gray2'>rescue</span>
          <span class='gray2'>error</span> <span class='gray2'>in</span> <span class='gray2'>[</span><span class='defFunction'>ExUnit.</span><span class='gray2'>AssertionError</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Test.</span><span class='defFunction'>Assertions.</span><span class='gray2'>raise</span><span class='gray2'>_</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>_</span><span class='gray2'>assert</span><span class='gray2'>(</span>
              <span class='gray2'>error</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>file</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>line</span><span class='gray2'>)</span>
            <span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Asserts</span> <span class='gray2'>the</span> <span class='gray2'>`</span><span class='gray2'>exception</span><span class='gray2'>`</span> <span class='gray2'>is</span> <span class='gray2'>raised</span> <span class='gray2'>during</span> <span class='gray2'>`</span><span class='gray2'>function</span><span class='gray2'>`</span> <span class='gray2'>execution</span><span class='gray'>.</span>
    <span class='gray2'>Returns</span> <span class='gray2'>the</span> <span class='gray2'>rescued</span> <span class='gray2'>exception</span><span class='gray'>,</span> <span class='gray2'>fails</span> <span class='gray2'>otherwise</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>assert</span><span class='gray2'>_</span><span class='gray2'>raise</span><span class='gray2'>(</span><span class='gray2'>exception</span><span class='gray'>,</span> <span class='gray2'>function</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>CALLER</span><span class='gray2'>_</span><span class='gray2'>_</span>
  
      <span class='gray2'>quote</span> <span class='gray2'>[</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>]</span> <span class='keyword'>do</span>
        <span class='gray2'>try</span> <span class='keyword'>do</span>
          <span class='defFunction'>ExUnit.</span><span class='defFunction'>Assertions.</span><span class='gray2'>assert</span><span class='gray2'>(</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>exception</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>function</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='gray2'>rescue</span>
          <span class='gray2'>error</span> <span class='gray2'>in</span> <span class='gray2'>[</span><span class='defFunction'>ExUnit.</span><span class='gray2'>AssertionError</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Test.</span><span class='defFunction'>Assertions.</span><span class='gray2'>raise</span><span class='gray2'>_</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>_</span><span class='gray2'>assert</span><span class='gray2'>(</span>
              <span class='gray2'>error</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>file</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>line</span><span class='gray2'>)</span>
            <span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Asserts</span> <span class='gray2'>the</span> <span class='gray2'>`</span><span class='gray2'>exception</span><span class='gray2'>`</span> <span class='gray2'>is</span> <span class='gray2'>raised</span> <span class='gray2'>during</span> <span class='gray2'>`</span><span class='gray2'>function</span><span class='gray2'>`</span> <span class='gray2'>execution</span> <span class='gray2'>with</span>
    <span class='gray2'>the</span> <span class='gray2'>expected</span> <span class='gray2'>`</span><span class='gray2'>message</span><span class='gray2'>`</span><span class='gray'>,</span> <span class='gray2'>which</span> <span class='gray2'>can</span> <span class='gray2'>be</span> <span class='gray2'>a</span> <span class='gray2'>`</span><span class='gray2'>Regex</span><span class='gray2'>`</span> <span class='gray2'>or</span> <span class='gray2'>an</span> <span class='gray2'>exact</span> <span class='gray2'>`</span><span class='gray2'>String</span><span class='gray2'>`</span><span class='gray'>.</span>
    <span class='gray2'>Returns</span> <span class='gray2'>the</span> <span class='gray2'>rescued</span> <span class='gray2'>exception</span><span class='gray'>,</span> <span class='gray2'>fails</span> <span class='gray2'>otherwise</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>assert</span><span class='gray2'>_</span><span class='gray2'>raise</span><span class='gray2'>(</span><span class='gray2'>exception</span><span class='gray'>,</span> <span class='gray2'>message</span><span class='gray'>,</span> <span class='gray2'>function</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>CALLER</span><span class='gray2'>_</span><span class='gray2'>_</span>
  
      <span class='gray2'>quote</span> <span class='gray2'>[</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>]</span> <span class='keyword'>do</span>
        <span class='gray2'>try</span> <span class='keyword'>do</span>
          <span class='defFunction'>ExUnit.</span><span class='defFunction'>Assertions.</span><span class='gray2'>assert</span><span class='gray2'>(</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>exception</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>message</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>function</span><span class='gray2'>)</span>
          <span class='gray2'>)</span>
        <span class='gray2'>rescue</span>
          <span class='gray2'>error</span> <span class='gray2'>in</span> <span class='gray2'>[</span><span class='defFunction'>ExUnit.</span><span class='gray2'>AssertionError</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Test.</span><span class='defFunction'>Assertions.</span><span class='gray2'>raise</span><span class='gray2'>_</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>_</span><span class='gray2'>assert</span><span class='gray2'>(</span>
              <span class='gray2'>error</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>file</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>line</span><span class='gray2'>)</span>
            <span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Asserts</span> <span class='gray2'>that</span> <span class='gray2'>`</span><span class='gray2'>value1</span><span class='gray2'>`</span> <span class='gray2'>and</span> <span class='gray2'>`</span><span class='gray2'>value2</span><span class='gray2'>`</span> <span class='gray2'>differ</span> <span class='gray2'>by</span> <span class='gray2'>no</span> <span class='gray2'>more</span> <span class='gray2'>than</span> <span class='gray2'>`</span><span class='gray2'>delta</span><span class='gray2'>`</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>assert</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>delta</span><span class='gray2'>(</span><span class='gray2'>value1</span><span class='gray'>,</span> <span class='gray2'>value2</span><span class='gray'>,</span> <span class='gray2'>delta</span><span class='gray'>,</span> <span class='gray2'>message</span> <span class='comment'>\</span><span class='comment'>\ nil</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>CALLER</span><span class='gray2'>_</span><span class='gray2'>_</span>
  
      <span class='gray2'>quote</span> <span class='gray2'>[</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>]</span> <span class='keyword'>do</span>
        <span class='gray2'>try</span> <span class='keyword'>do</span>
          <span class='defFunction'>ExUnit.</span><span class='defFunction'>Assertions.</span><span class='gray2'>assert</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>delta</span><span class='gray2'>(</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>value1</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>value2</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>delta</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>message</span><span class='gray2'>)</span>
          <span class='gray2'>)</span>
        <span class='gray2'>rescue</span>
          <span class='gray2'>error</span> <span class='gray2'>in</span> <span class='gray2'>[</span><span class='defFunction'>ExUnit.</span><span class='gray2'>AssertionError</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Test.</span><span class='defFunction'>Assertions.</span><span class='gray2'>raise</span><span class='gray2'>_</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>_</span><span class='gray2'>assert</span><span class='gray2'>(</span>
              <span class='gray2'>error</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>file</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>line</span><span class='gray2'>)</span>
            <span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>A</span> <span class='gray2'>negative</span> <span class='gray2'>assertion</span><span class='gray'>,</span> <span class='gray2'>expects</span> <span class='gray2'>the</span> <span class='gray2'>expression</span> <span class='gray2'>to</span> <span class='gray2'>be</span> <span class='gray2'>`</span><span style='color:darkcyan;'><i>false</i></span><span class='gray2'>`</span> <span class='gray2'>or</span> <span class='gray2'>`</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>`</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>refute</span><span class='gray2'>(</span><span class='gray2'>assertion</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>CALLER</span><span class='gray2'>_</span><span class='gray2'>_</span>
  
      <span class='gray2'>quote</span> <span class='gray2'>[</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>]</span> <span class='keyword'>do</span>
        <span class='gray2'>try</span> <span class='keyword'>do</span>
          <span class='defFunction'>ExUnit.</span><span class='defFunction'>Assertions.</span><span class='gray2'>assert</span><span class='gray2'>(</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>assertion</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='gray2'>rescue</span>
          <span class='gray2'>error</span> <span class='gray2'>in</span> <span class='gray2'>[</span><span class='defFunction'>ExUnit.</span><span class='gray2'>AssertionError</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Test.</span><span class='defFunction'>Assertions.</span><span class='gray2'>raise</span><span class='gray2'>_</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>_</span><span class='gray2'>assert</span><span class='gray2'>(</span>
              <span class='gray2'>error</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>file</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>line</span><span class='gray2'>)</span>
            <span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Asserts</span> <span class='gray2'>`</span><span class='gray2'>value</span><span class='gray2'>`</span> <span class='gray2'>is</span> <span class='gray2'>`</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>`</span> <span class='gray2'>or</span> <span class='gray2'>`</span><span style='color:darkcyan;'><i>false</i></span><span class='gray2'>`</span> <span class='gray2'>(</span><span class='gray2'>that</span> <span class='gray2'>is</span><span class='gray'>,</span> <span class='gray2'>`</span><span class='gray2'>value</span><span class='gray2'>`</span> <span class='gray2'>is</span> <span class='gray2'>not</span> <span class='gray2'>truthy</span><span class='gray2'>)</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>refute</span><span class='gray2'>(</span><span class='gray2'>value</span><span class='gray'>,</span> <span class='gray2'>message</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>CALLER</span><span class='gray2'>_</span><span class='gray2'>_</span>
  
      <span class='gray2'>quote</span> <span class='gray2'>[</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>]</span> <span class='keyword'>do</span>
        <span class='gray2'>try</span> <span class='keyword'>do</span>
          <span class='defFunction'>ExUnit.</span><span class='defFunction'>Assertions.</span><span class='gray2'>assert</span><span class='gray2'>(</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>value</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>message</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='gray2'>rescue</span>
          <span class='gray2'>error</span> <span class='gray2'>in</span> <span class='gray2'>[</span><span class='defFunction'>ExUnit.</span><span class='gray2'>AssertionError</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Test.</span><span class='defFunction'>Assertions.</span><span class='gray2'>raise</span><span class='gray2'>_</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>_</span><span class='gray2'>assert</span><span class='gray2'>(</span>
              <span class='gray2'>error</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>file</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>line</span><span class='gray2'>)</span>
            <span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Asserts</span> <span class='gray2'>that</span> <span class='gray2'>`</span><span class='gray2'>value1</span><span class='gray2'>`</span> <span class='gray2'>and</span> <span class='gray2'>`</span><span class='gray2'>value2</span><span class='gray2'>`</span> <span class='gray2'>are</span> <span class='gray2'>not</span> <span class='gray2'>within</span> <span class='gray2'>`</span><span class='gray2'>delta</span><span class='gray2'>`</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>refute</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>delta</span><span class='gray2'>(</span><span class='gray2'>value1</span><span class='gray'>,</span> <span class='gray2'>value2</span><span class='gray'>,</span> <span class='gray2'>delta</span><span class='gray'>,</span> <span class='gray2'>message</span> <span class='comment'>\</span><span class='comment'>\ nil</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>CALLER</span><span class='gray2'>_</span><span class='gray2'>_</span>
  
      <span class='gray2'>quote</span> <span class='gray2'>[</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>]</span> <span class='keyword'>do</span>
        <span class='gray2'>try</span> <span class='keyword'>do</span>
          <span class='defFunction'>ExUnit.</span><span class='defFunction'>Assertions.</span><span class='gray2'>refute</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>delta</span><span class='gray2'>(</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>value1</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>value2</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>delta</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>message</span><span class='gray2'>)</span>
          <span class='gray2'>)</span>
        <span class='gray2'>rescue</span>
          <span class='gray2'>error</span> <span class='gray2'>in</span> <span class='gray2'>[</span><span class='defFunction'>ExUnit.</span><span class='gray2'>AssertionError</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Test.</span><span class='defFunction'>Assertions.</span><span class='gray2'>raise</span><span class='gray2'>_</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>_</span><span class='gray2'>assert</span><span class='gray2'>(</span>
              <span class='gray2'>error</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>file</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>line</span><span class='gray2'>)</span>
            <span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Fails</span> <span class='gray2'>with</span> <span class='gray2'>a</span> <span class='gray2'>message</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>flunk</span><span class='gray2'>(</span><span class='gray2'>message</span> <span class='comment'>\</span><span class='comment'>\ </span><span class='gray2'>"</span><span class='gray2'>Flunked</span><span class='keyword'>!</span><span class='gray2'>"</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>CALLER</span><span class='gray2'>_</span><span class='gray2'>_</span>
  
      <span class='gray2'>quote</span> <span class='gray2'>[</span><span class='gray2'>file:</span> <span class='gray2'>file</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>line</span><span class='gray2'>]</span> <span class='keyword'>do</span>
        <span class='gray2'>try</span> <span class='keyword'>do</span>
          <span class='defFunction'>ExUnit.</span><span class='defFunction'>Assertions.</span><span class='gray2'>flunk</span><span class='gray2'>(</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>message</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='gray2'>rescue</span>
          <span class='gray2'>error</span> <span class='gray2'>in</span> <span class='gray2'>[</span><span class='defFunction'>ExUnit.</span><span class='gray2'>AssertionError</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Test.</span><span class='defFunction'>Assertions.</span><span class='gray2'>raise</span><span class='gray2'>_</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>_</span><span class='gray2'>assert</span><span class='gray2'>(</span>
              <span class='gray2'>error</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>file</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>line</span><span class='gray2'>)</span>
            <span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>