 <link rel='stylesheet' href='../css/styles.css'><pre><span class='gray2'>d</span><span class='keyword'>=</span> <span class='gray2'>~</span><span class='gray2'>S</span><span class='gray2'>(</span><span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>d</span><span class='keyword'>=</span> <span class='gray2'>~</span><span class='gray2'>S</span><span class='gray2'>(</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>d</span><span class='gray2'>}</span><span class='comment'>\</span><span class='gray2'>)</span><span class='gray2'>"</span>
<span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>d</span><span class='gray2'>)</span>
<span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>d</span><span class='keyword'>=</span> <span class='gray2'>~</span><span class='gray2'>S</span><span class='gray2'>(</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>d</span><span class='gray2'>}</span><span class='comment'>\</span><span class='gray2'>)</span><span class='gray2'>"</span>
<span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>d</span>
</pre>