 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Translate.</span><span class='functionName'>Forms.</span><span class='functionName'>Remote</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
  
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>J</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>{</span><span class='gray2'>Form</span><span class='gray'>,</span> <span class='gray2'>Helpers</span><span class='gray2'>}</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='gray2'>State</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>ModuleState</span>
  
    <span style='color:peru;'>@erlang</span><span class='gray2'>_</span><span class='gray2'>modules</span> <span class='gray2'>[</span>
      <span style='color:yellow;'>:erlang</span><span class='gray'>,</span>
      <span style='color:yellow;'>:maps</span><span class='gray'>,</span>
      <span style='color:yellow;'>:lists</span><span class='gray'>,</span>
      <span style='color:yellow;'>:gen</span><span class='gray'>,</span>
      <span style='color:yellow;'>:elixir</span><span class='gray2'>_</span><span class='gray2'>errors</span><span class='gray'>,</span>
      <span style='color:yellow;'>:elixir</span><span class='gray2'>_</span><span class='gray2'>config</span><span class='gray'>,</span>
      <span style='color:yellow;'>:supervisor</span><span class='gray'>,</span>
      <span style='color:yellow;'>:application</span><span class='gray'>,</span>
      <span style='color:yellow;'>:code</span><span class='gray'>,</span>
      <span style='color:yellow;'>:elixir</span><span class='gray2'>_</span><span class='gray2'>utils</span><span class='gray'>,</span>
      <span style='color:yellow;'>:file</span><span class='gray'>,</span>
      <span style='color:yellow;'>:io</span><span class='gray'>,</span>
      <span style='color:yellow;'>:binary</span><span class='gray'>,</span>
      <span style='color:yellow;'>:unicode</span><span class='gray'>,</span>
      <span style='color:yellow;'>:math</span><span class='gray'>,</span>
      <span style='color:yellow;'>:calendar</span><span class='gray'>,</span>
      <span style='color:yellow;'>:filename</span><span class='gray'>,</span>
      <span style='color:yellow;'>:epp</span><span class='gray'>,</span>
      <span style='color:yellow;'>:re</span><span class='gray'>,</span>
      <span style='color:yellow;'>:ets</span><span class='gray'>,</span>
      <span style='color:yellow;'>:sys</span><span class='gray'>,</span>
      <span style='color:yellow;'>:global</span><span class='gray'>,</span>
      <span style='color:yellow;'>:os</span><span class='gray'>,</span>
      <span style='color:yellow;'>:rand</span><span class='gray'>,</span>
      <span style='color:yellow;'>:orddict</span><span class='gray'>,</span>
      <span style='color:yellow;'>:filelib</span><span class='gray'>,</span>
      <span style='color:yellow;'>:net</span><span class='gray2'>_</span><span class='gray2'>adm</span><span class='gray'>,</span>
      <span style='color:yellow;'>:net</span><span class='gray2'>_</span><span class='gray2'>kernel</span>
    <span class='gray2'>]</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Compiles</span> <span class='gray2'>functions</span> <span class='gray2'>into</span> <span class='gray2'>JavaScript</span> <span class='defFunction'>AST.</span>
    <span class='gray2'>These</span> <span class='gray2'>are</span> <span class='gray2'>not</span> <span class='gray2'>actual</span> <span class='gray2'>function</span> <span class='gray2'>calls</span><span class='gray'>,</span> <span class='gray2'>but</span>
    <span class='gray2'>the</span> <span class='gray2'>function</span> <span class='gray2'>identifiers</span> <span class='gray2'>themselves</span><span class='gray'>.</span> <span class='gray2'>Also</span>
    <span class='gray2'>includes</span> <span class='gray2'>function</span> <span class='gray2'>heads</span> <span class='gray2'>for</span> <span class='gray2'>converting</span> <span class='gray2'>some</span>
    <span class='gray2'>erlang</span> <span class='gray2'>functions</span> <span class='gray2'>into</span> <span class='gray2'>JavaScript</span> <span class='gray2'>functions</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='gray'><i> . </i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='atomo'>:erlang</span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>+</i></span><span class='parameter'><i>+</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='gray2'>erlang</span><span class='gray2'>_</span><span class='gray2'>compat</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>erlang</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>concatenation</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='gray'><i> . </i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='atomo'>:erlang</span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>-</i></span><span class='parameter'><i>-</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='gray2'>erlang</span><span class='gray2'>_</span><span class='gray2'>compat</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>erlang</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>substraction</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='gray'><i> . </i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='atomo'>:erlang</span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>"</i></span><span class='parameter'><i>=</i></span><span class='parameter'><i><</i></span><span class='parameter'><i>"</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='gray2'>erlang</span><span class='gray2'>_</span><span class='gray2'>compat</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>erlang</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>lessThanEqualTo</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='gray'><i> . </i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='atomo'>:erlang</span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>+</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='gray2'>erlang</span><span class='gray2'>_</span><span class='gray2'>compat</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>erlang</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>add</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='gray'><i> . </i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>function</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>module</span><span class='functionName'> </span><span class='functionName'>in</span><span class='functionName'> </span><span class='functionName'>@erlang</span><span class='functionName'>_</span><span class='functionName'>modules</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>ast</span> <span class='keyword'>=</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
          <span class='defFunction'>Helpers.</span><span class='gray2'>core</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>function</span><span class='gray2'>)</span>
        <span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='gray'><i> . </i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>function</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>name</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='gray'><i> . </i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>function</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>name</span> <span class='keyword'>=</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Identifier.</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>function</span><span class='gray2'>)</span>
  
      <span class='gray2'>ast</span> <span class='keyword'>=</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
          <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>name</span>
        <span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>process</span><span class='functionName'>_</span><span class='functionName'>module</span><span class='functionName'>_</span><span class='functionName'>name</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>atom</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>cond</span> <span class='keyword'>do</span>
        <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Module.</span><span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>and</span>
            <span class='defFunction'>ModuleState.</span><span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>global</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>global</span><span class='gray2'>_</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
        <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Module.</span><span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
        <span class='gray2'>module</span> <span class='keyword'>=</span><span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>Elixir</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>module</span>
          <span class='keyword'>|></span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Output.</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>)</span>
          <span class='keyword'>|></span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
        <span class='gray2'>module</span> <span class='keyword'>=</span><span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:yellow;'>:ElixirScript</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>module</span>
          <span class='keyword'>|></span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Output.</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>)</span>
          <span class='keyword'>|></span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
        <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Module.</span><span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>elixir</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>module</span>
          <span class='keyword'>|></span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Output.</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>)</span>
          <span class='keyword'>|></span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
        <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Identifier.</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>process</span><span class='functionName'>_</span><span class='functionName'>module</span><span class='functionName'>_</span><span class='functionName'>name</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>global</span><span class='gray2'>_</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='defFunction'>ModuleState.</span><span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>name</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>binary</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span>
  
        <span class='gray2'>name</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>case</span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span> <span class='keyword'>do</span>
            <span class='gray2'>"</span><span class='defFunction'>Elixir.</span><span class='gray2'>"</span> <span class='keyword'><</span><span class='keyword'>></span> <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Identifier.</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>alias</span><span class='gray2'>(</span><span class='defFunction'>Module.</span><span class='gray2'>split</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
            <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='defFunction'>ModuleState.</span><span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>name</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>binary</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span>
  
        <span class='gray2'>name</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>case</span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span> <span class='keyword'>do</span>
            <span class='gray2'>"</span><span class='defFunction'>Elixir.</span><span class='gray2'>"</span> <span class='keyword'><</span><span class='keyword'>></span> <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>module</span>
              <span class='keyword'>|></span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Output.</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>)</span>
              <span class='keyword'>|></span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
            <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>erlang</span><span class='gray2'>_</span><span class='gray2'>compat</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>function</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
        <span class='defFunction'>Helpers.</span><span class='gray2'>core</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Identifier.</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span class='gray2'>function</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>