 <link rel='stylesheet' href='../css/styles.css'><pre><span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>User</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='gray2'>defstruct</span> <span class='gray2'>email:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>password:</span> <span style='color:darkcyan;'><i>nil</i></span>
<span class='keyword'>end</span>

<span class='gray2'>defimpl</span> <span class='defFunction'>String.</span><span class='gray2'>Chars</span><span class='gray'>,</span> <span class='gray2'>for:</span> <span class='gray2'>User</span> <span class='keyword'>do</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>to</span><span class='functionName'>_</span><span class='functionName'>string</span><span style='color:white;'>(</span><span class='parameter'><i>%</i></span><span class='parameter'><i>User</i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>email:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>email</i></span><span class='parameter'><i>}</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>email</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>RecordTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

  <span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ScopeTest</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>
    
    <span class='comment'># https</span><span class='gray2'>:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>hexdocs</span><span class='gray'>.</span><span class='gray2'>pm</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>/</span><span class='defFunction'>Record.</span><span class='gray2'>html</span>
    <span class='gray2'>require</span> <span class='gray2'>Record</span>
    <span class='defFunction'>Record.</span><span class='gray2'>defrecordp</span> <span style='color:yellow;'>:person</span><span class='gray'>,</span> <span class='gray2'>first</span><span class='gray2'>_</span><span class='gray2'>name:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>name:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>age:</span> <span style='color:darkcyan;'><i>nil</i></span>

    <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>defrecordp</span><span class='gray2'>"</span> <span class='keyword'>do</span>
      <span class='gray2'>p</span> <span class='keyword'>=</span> <span class='gray2'>person</span><span class='gray2'>(</span><span class='gray2'>first</span><span class='gray2'>_</span><span class='gray2'>name:</span> <span class='gray2'>"</span><span class='gray2'>Kai</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>name:</span> <span class='gray2'>"</span><span class='gray2'>Morgan</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>age:</span> <span class='gray2'>5</span><span class='gray2'>)</span> <span class='comment'># regular function call</span>
      <span class='gray2'>assert</span> <span class='gray2'>p</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span style='color:yellow;'>:person</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Kai</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Morgan</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>}</span> <span class='comment'># just a tuple</span><span class='keyword'>!</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='comment'># CompileError</span>
  <span class='comment'># test </span><span class='gray2'>"</span><span class='gray2'>defrecordp</span> <span class='gray2'>out</span> <span class='gray2'>of</span> <span class='gray2'>scope</span><span class='gray2'>"</span> <span class='keyword'>do</span>
  <span class='comment'>#   person</span><span class='gray2'>(</span><span class='gray2'>)</span>
  <span class='comment'># end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>sample</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>%</span><span class='gray2'>User</span><span class='gray2'>{</span><span class='gray2'>email:</span> <span class='gray2'>"</span><span class='gray2'>kai</span><span style='color:peru;'>@example</span><span class='gray'>.</span><span class='gray2'>com</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>password:</span> <span class='gray2'>"</span><span class='gray2'>trains</span><span class='gray2'>"</span><span class='gray2'>}</span> <span class='comment'># special </span><span class='gray2'>%</span> <span class='gray2'>syntax</span> <span class='gray2'>for</span> <span class='gray2'>struct</span> <span class='gray2'>creation</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>defstruct</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>struct</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>:</span> <span class='gray2'>User</span><span class='gray'>,</span> <span class='gray2'>email:</span> <span class='gray2'>"</span><span class='gray2'>kai</span><span style='color:peru;'>@example</span><span class='gray'>.</span><span class='gray2'>com</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>password:</span> <span class='gray2'>"</span><span class='gray2'>trains</span><span class='gray2'>"</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>property</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>.</span><span class='gray2'>email</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>"</span><span class='gray2'>kai</span><span style='color:peru;'>@example</span><span class='gray'>.</span><span class='gray2'>com</span><span class='gray2'>"</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>update</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>u</span> <span class='keyword'>=</span> <span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='gray2'>u2</span> <span class='keyword'>=</span> <span class='gray2'>%</span><span class='gray2'>User</span><span class='gray2'>{</span><span class='gray2'>u</span> <span class='gray2'>|</span> <span class='gray2'>email:</span> <span class='gray2'>"</span><span class='gray2'>tim</span><span style='color:peru;'>@example</span><span class='gray'>.</span><span class='gray2'>com</span><span class='gray2'>"</span><span class='gray2'>}</span>
    <span class='gray2'>assert</span> <span class='gray2'>u2</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>%</span><span class='gray2'>User</span><span class='gray2'>{</span><span class='gray2'>email:</span> <span class='gray2'>"</span><span class='gray2'>tim</span><span style='color:peru;'>@example</span><span class='gray'>.</span><span class='gray2'>com</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>password:</span> <span class='gray2'>"</span><span class='gray2'>trains</span><span class='gray2'>"</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>protocol</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>sample</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>"</span><span class='gray2'>kai</span><span style='color:peru;'>@example</span><span class='gray'>.</span><span class='gray2'>com</span><span class='gray2'>"</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

</pre>