 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Test.</span><span class='functionName'>Runner.</span><span class='functionName'>Node</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Defines</span> <span class='gray2'>an</span> <span class='gray2'>ElixirScript</span> <span class='gray2'>Test</span> <span class='gray2'>runner</span> <span class='gray2'>using</span> <span class='gray2'>node</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@behaviour</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Test.</span><span class='gray2'>Runner</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>run</span><span style='color:white;'>(</span><span class='parameter'><i>js</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>files</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>test</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>_</span><span class='gray2'>path</span> <span class='keyword'>=</span> <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>[</span><span style='color:yellow;'>:code</span><span class='gray'>.</span><span class='gray2'>priv</span><span class='gray2'>_</span><span class='gray2'>dir</span><span class='gray2'>(</span><span style='color:yellow;'>:elixir</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>testrunner</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>index</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='gray2'>test</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>_</span><span class='gray2'>path</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>test</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>files</span>
      <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>exit</span><span class='gray2'>_</span><span class='gray2'>status</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>System.</span><span class='gray2'>cmd</span><span class='gray2'>(</span>
        <span class='gray2'>"</span><span class='gray2'>node</span><span class='gray2'>"</span><span class='gray'>,</span>
        <span class='gray2'>test</span><span class='gray2'>_</span><span class='gray2'>script</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span>
        <span class='gray2'>into:</span> <span class='defFunction'>IO.</span><span class='gray2'>stream</span><span class='gray2'>(</span><span style='color:yellow;'>:stdio</span><span class='gray'>,</span> <span style='color:yellow;'>:line</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>exit</span><span class='gray2'>_</span><span class='gray2'>status</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>