 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Runner</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>use</span> <span class='gray2'>GenServer</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>koan?</span><span style='color:white;'>(</span><span class='parameter'><i>koan</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='defFunction'>Code.</span><span class='gray2'>ensure</span><span class='gray2'>_</span><span class='gray2'>loaded</span><span class='gray2'>(</span><span class='gray2'>koan</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span><span style='color:yellow;'>:module</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Keyword.</span><span class='gray2'>has</span><span class='gray2'>_</span><span class='gray2'>key?</span><span class='gray2'>(</span><span class='gray2'>koan</span><span class='gray'>.</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>(</span><span style='color:yellow;'>:functions</span><span class='gray2'>)</span><span class='gray'>,</span> <span style='color:yellow;'>:all</span><span class='gray2'>_</span><span class='gray2'>koans</span><span class='gray2'>)</span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>false</i></span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>modules</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>modules</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:application</span><span class='gray'>.</span><span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>key</span><span class='gray2'>(</span><span style='color:yellow;'>:elixir</span><span class='gray2'>_</span><span class='gray2'>koans</span><span class='gray'>,</span> <span style='color:yellow;'>:modules</span><span class='gray2'>)</span>
  
      <span class='gray2'>modules</span>
      <span class='keyword'>|></span> <span class='defFunction'>Stream.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span> <span class='keyword'>|></span> <span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>(</span><span class='gray2'>[</span><span style='color:yellow;'>:compile</span><span class='gray'>,</span> <span style='color:yellow;'>:source</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='comment'># Paths are charlists</span>
      <span class='keyword'>|></span> <span class='defFunction'>Stream.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>/</span><span class='gray2'>1</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Stream.</span><span class='gray2'>zip</span><span class='gray2'>(</span><span class='gray2'>modules</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Stream.</span><span class='gray2'>filter</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>mod</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>koan?</span><span class='gray2'>(</span><span class='gray2'>mod</span><span class='gray2'>)</span> <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Stream.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>mod</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>{</span><span class='gray2'>path</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>number</span><span class='gray2'>(</span><span class='gray2'>path</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>mod</span><span class='gray2'>}</span> <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>sort</span><span class='gray2'>_</span><span class='gray2'>by</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>number</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>mod</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>number</span> <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray2'>number</span><span class='gray'>,</span> <span class='gray2'>mod</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>mod</span> <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@koan</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>_</span><span class='gray2'>pattern</span> <span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='gray2'>lib</span><span class='comment'>\</span><span class='gray2'>/</span><span class='gray2'>koans</span><span class='comment'>\</span><span class='gray2'>/</span><span class='gray2'>(</span><span class='comment'>\d</span><span class='gray2'>+</span><span class='gray2'>)</span><span class='gray2'>_</span><span class='comment'>\w</span><span class='gray2'>+</span><span class='gray'>.</span><span class='gray2'>ex</span><span class='gray2'>$</span><span class='gray2'>/</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>path</span><span class='functionName'>_</span><span class='functionName'>to</span><span class='functionName'>_</span><span class='functionName'>number</span><span style='color:white;'>(</span><span class='parameter'><i>path</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>[</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>number</span><span class='gray2'>]</span> <span class='keyword'>=</span> <span class='defFunction'>Regex.</span><span class='gray2'>run</span><span class='gray2'>(</span><span style='color:peru;'>@koan</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray2'>)</span>
      <span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>integer</span><span class='gray2'>(</span><span class='gray2'>number</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>modules</span><span class='functionName'>_</span><span class='functionName'>to</span><span class='functionName'>_</span><span class='functionName'>run</span><span style='color:white;'>(</span><span class='parameter'><i>start</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='defFunction'>Enum.</span><span class='gray2'>drop</span><span class='gray2'>_</span><span class='gray2'>while</span><span class='gray2'>(</span><span class='gray2'>modules</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span> <span class='keyword'>!</span><span class='keyword'>=</span> <span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>init</span><span style='color:white;'>(</span><span class='parameter'><i>args</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>args</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>start</span><span class='functionName'>_</span><span class='functionName'>link</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>GenServer.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>name:</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>handle</span><span class='functionName'>_</span><span class='functionName'>cast</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='atomo'>:run</span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>modules</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>flush</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='gray2'>send</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span style='color:yellow;'>:run</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:noreply</span><span class='gray'>,</span> <span class='gray2'>modules</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>handle</span><span class='functionName'>_</span><span class='functionName'>info</span><span style='color:white;'>(</span><span class='atomo'>:run</span><span class='parameter'><i>_</i></span><span class='parameter'><i>modules</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:noreply</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>handle</span><span class='functionName'>_</span><span class='functionName'>info</span><span style='color:white;'>(</span><span class='atomo'>:run</span><span class='parameter'><i>_</i></span><span class='parameter'><i>modules</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>module</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>|</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>rest</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Display.</span><span class='gray2'>clear</span><span class='gray2'>_</span><span class='gray2'>screen</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
      <span class='gray2'>case</span> <span class='gray2'>run</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span style='color:yellow;'>:passed</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>send</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span style='color:yellow;'>:run</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>)</span>
          <span class='gray2'>{</span><span style='color:yellow;'>:noreply</span><span class='gray'>,</span> <span class='gray2'>rest</span><span class='gray2'>}</span>
  
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span style='color:yellow;'>:noreply</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>run</span><span style='color:white;'>(</span><span class='parameter'><i>modules</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>GenServer.</span><span class='gray2'>cast</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:run</span><span class='gray'>,</span> <span class='gray2'>modules</span><span class='gray2'>}</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>run</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>module</span>
      <span class='keyword'>|></span> <span class='defFunction'>Execute.</span><span class='gray2'>run</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>track</span><span class='gray2'>/</span><span class='gray2'>3</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>display</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>track</span><span class='gray2'>(</span><span style='color:yellow;'>:passed</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>koan</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='defFunction'>Tracker.</span><span class='gray2'>completed</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>koan</span><span class='gray2'>)</span>
    <span class='gray2'>defp</span> <span class='gray2'>track</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span style='color:darkcyan;'><i>nil</i></span>
  
    <span class='gray2'>defp</span> <span class='gray2'>display</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:failed</span><span class='gray'>,</span> <span class='gray2'>error</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>}</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Display.</span><span class='gray2'>show</span><span class='gray2'>_</span><span class='gray2'>failure</span><span class='gray2'>(</span><span class='gray2'>error</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>)</span>
      <span style='color:yellow;'>:failed</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>display</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span style='color:yellow;'>:passed</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>flush</span> <span class='keyword'>do</span>
      <span class='gray2'>receive</span> <span class='keyword'>do</span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>flush</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='gray2'>after</span>
        <span class='gray2'>0</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:yellow;'>:ok</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>