 <link rel='stylesheet' href='../css/styles.css'><pre><span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>SetTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>list</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>into</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='defFunction'>HashSet.</span><span class='gray2'>new</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>HashSet.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span>
    <span class='gray2'>assert</span> <span class='gray2'>list</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span> <span class='comment'># unintuitive ordering</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>union</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>union</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>into</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='defFunction'>HashSet.</span><span class='gray2'>new</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>HashSet.</span><span class='gray2'>union</span><span class='gray2'>(</span><span class='defFunction'>Enum.</span><span class='gray2'>into</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='defFunction'>HashSet.</span><span class='gray2'>new</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Set.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>union</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span> <span class='comment'># unintuitive</span><span class='gray'>,</span> <span class='gray2'>but</span> <span class='gray2'>somewhat</span> <span class='gray2'>more</span> <span class='gray2'>understandable</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>intersection</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>union</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>into</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='defFunction'>HashSet.</span><span class='gray2'>new</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>HashSet.</span><span class='gray2'>intersection</span><span class='gray2'>(</span><span class='defFunction'>Enum.</span><span class='gray2'>into</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='defFunction'>HashSet.</span><span class='gray2'>new</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='defFunction'>Set.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>union</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>member?</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>refute</span> <span class='defFunction'>Enum.</span><span class='gray2'>into</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='defFunction'>HashSet.</span><span class='gray2'>new</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>HashSet.</span><span class='gray2'>member?</span><span class='gray2'>(</span><span class='gray2'>2</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>
</pre>