 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>WebServer</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>This</span> <span class='gray2'>is</span> <span class='gray2'>a</span> <span class='gray2'>web</span> <span class='gray2'>server</span> <span class='gray2'>that</span> <span class='gray2'>tells</span> <span class='gray2'>you</span> <span class='gray2'>what</span> <span class='gray2'>your</span> <span class='gray2'>user</span><span class='gray2'>-</span><span class='gray2'>agent</span> <span class='gray2'>is</span><span class='gray'>.</span>

    <span class='gray2'>h2</span><span class='gray'>.</span> <span class='gray2'>Motivation</span>

    <span class='gray2'>I</span> <span class='gray2'>wanted</span> <span class='gray2'>to</span> <span class='gray2'>learn</span> <span class='gray2'>a</span> <span class='gray2'>bit</span> <span class='gray2'>about</span> <span class='gray2'>using</span> <span class='gray2'>sockets</span> <span class='gray2'>(</span><span class='gray2'>`</span><span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>tcp</span><span class='gray2'>`</span><span class='gray2'>)</span><span class='gray'>,</span>
    <span class='gray2'>and</span> <span class='gray2'>since</span> <span class='gray2'>a</span> <span class='gray2'>web</span> <span class='gray2'>server</span> <span class='gray2'>is</span> <span class='gray2'>my</span> <span class='gray2'>favorite</span> <span class='gray2'>socket</span> <span class='gray2'>server</span><span class='gray'>,</span> <span class='gray2'>why</span> <span class='gray2'>not</span><span class='keyword'>!</span>

    <span class='gray2'>h2</span><span class='gray'>.</span> <span class='gray2'>Usage</span>

      <span class='gray2'>$</span> <span class='gray2'>iex</span> <span class='gray2'>22</span><span class='gray2'>-</span><span class='gray2'>socket</span><span class='gray2'>-</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>exs</span>

    <span class='gray2'>Then</span> <span class='gray2'>visit</span> <span class='gray2'>http:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>localhost:3000</span><span class='gray'>.</span> <span class='gray2'>You</span> <span class='gray2'>should</span> <span class='gray2'>see</span> <span class='gray2'>something</span> <span class='gray2'>like:</span>

      <span class='gray2'>Your</span> <span class='gray2'>User</span><span class='gray2'>-</span><span class='gray2'>Agent</span> <span class='gray2'>is:</span> <span class='gray2'>Mozilla</span><span class='gray2'>/</span><span class='gray2'>5</span><span class='gray'>.</span><span class='gray2'>0</span> <span class='gray2'>(</span><span class='gray2'>X11</span><span class='gray2'>;</span> <span class='gray2'>Linux</span> <span class='gray2'>x86</span><span class='gray2'>_</span><span class='gray2'>64</span><span class='gray2'>;</span> <span class='gray2'>rv:25</span><span class='gray'>.</span><span class='gray2'>0</span><span class='gray2'>)</span> <span class='gray2'>Gecko</span><span class='gray2'>/</span><span class='gray2'>20100101</span> <span class='gray2'>Firefox</span><span class='gray2'>/</span><span class='gray2'>25</span><span class='gray'>.</span><span class='gray2'>0</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>server</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>lsock</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>tcp</span><span class='gray'>.</span><span class='gray2'>listen</span><span class='gray2'>(</span><span class='gray2'>3000</span><span class='gray'>,</span> <span class='gray2'>[</span><span style='color:yellow;'>:binary</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:packet</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:active</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='gray2'>accept</span><span class='gray2'>_</span><span class='gray2'>connection</span><span class='gray2'>(</span><span class='gray2'>lsock</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>accept</span><span class='functionName'>_</span><span class='functionName'>connection</span><span style='color:white;'>(</span><span class='parameter'><i>lsock</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>sock</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>tcp</span><span class='gray'>.</span><span class='gray2'>accept</span><span class='gray2'>(</span><span class='gray2'>lsock</span><span class='gray2'>)</span>
    <span class='gray2'>case</span> <span class='gray2'>handle</span><span class='gray2'>_</span><span class='gray2'>request</span><span class='gray2'>(</span><span class='gray2'>sock</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span style='color:yellow;'>:closed</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>accept</span><span class='gray2'>_</span><span class='gray2'>connection</span><span class='gray2'>(</span><span class='gray2'>lsock</span><span class='gray2'>)</span>
      <span class='gray2'>request</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>inspect</span> <span class='gray2'>request</span>
        <span class='gray2'>msg</span> <span class='keyword'>=</span> <span class='gray2'>case</span> <span class='gray2'>extract</span><span class='gray2'>_</span><span class='gray2'>user</span><span class='gray2'>_</span><span class='gray2'>agent</span><span class='gray2'>(</span><span class='gray2'>request</span><span class='gray2'>)</span> <span class='keyword'>do</span>
          <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>"</span><span class='gray2'>You</span> <span class='gray2'>don</span><span class='gray2'>'</span><span class='gray2'>t</span> <span class='gray2'>have</span> <span class='gray2'>a</span> <span class='gray2'>user</span><span class='gray2'>-</span><span class='gray2'>agent</span><span class='keyword'>!</span><span class='gray2'>"</span>
          <span class='gray2'>ua</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>"</span><span class='gray2'>Your</span> <span class='gray2'>User</span><span class='gray2'>-</span><span class='gray2'>Agent</span> <span class='gray2'>is:</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>ua</span><span class='gray2'>}</span><span class='gray2'>"</span>
        <span class='keyword'>end</span>
        <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>tcp</span><span class='gray'>.</span><span class='gray2'>send</span><span class='gray2'>(</span><span class='gray2'>sock</span><span class='gray'>,</span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>bitstring</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>HTTP</span><span class='gray2'>/</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>1</span> <span class='gray2'>200</span> <span class='gray2'>OK</span><span class='comment'>\r</span><span class='comment'>\n</span><span class='comment'>\r</span><span class='comment'>\n</span><span class='gray2'>"</span> <span class='keyword'><</span><span class='keyword'>></span> <span class='gray2'>msg</span> <span class='keyword'><</span><span class='keyword'>></span> <span class='gray2'>"</span><span class='comment'>\r</span><span class='comment'>\n</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>tcp</span><span class='gray'>.</span><span class='gray2'>close</span><span class='gray2'>(</span><span class='gray2'>sock</span><span class='gray2'>)</span> <span class='comment'># no keep</span><span class='gray2'>-</span><span class='gray2'>alive</span> <span class='gray2'>for</span> <span class='gray2'>you</span><span class='keyword'>!</span>
        <span class='gray2'>accept</span><span class='gray2'>_</span><span class='gray2'>connection</span><span class='gray2'>(</span><span class='gray2'>lsock</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>handle</span><span class='functionName'>_</span><span class='functionName'>request</span><span style='color:white;'>(</span><span class='parameter'><i>sock</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>request</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ </i></span><span class='parameter'><i>'</i></span><span class='parameter'><i>'</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>case</span> <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>tcp</span><span class='gray'>.</span><span class='gray2'>recv</span><span class='gray2'>(</span><span class='gray2'>sock</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>b</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='keyword'>if</span> <span class='defFunction'>Regex.</span><span class='gray2'>match?</span><span class='gray2'>(</span><span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='comment'>\r</span><span class='comment'>\n</span><span class='comment'>\r</span><span class='comment'>\n</span><span class='gray2'>/</span><span class='gray'>,</span> <span class='gray2'>b</span><span class='gray2'>)</span> <span class='keyword'>do</span>
          <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>bitstring</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>request</span><span class='gray'>,</span> <span class='gray2'>b</span><span class='gray2'>]</span><span class='gray2'>)</span>
        <span class='keyword'>else</span>
          <span class='gray2'>handle</span><span class='gray2'>_</span><span class='gray2'>request</span><span class='gray2'>(</span><span class='gray2'>sock</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>request</span><span class='gray'>,</span> <span class='gray2'>b</span><span class='gray2'>]</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span style='color:yellow;'>:closed</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>extract</span><span class='functionName'>_</span><span class='functionName'>user</span><span class='functionName'>_</span><span class='functionName'>agent</span><span style='color:white;'>(</span><span class='parameter'><i>request</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>case</span> <span class='defFunction'>Regex.</span><span class='gray2'>run</span><span class='gray2'>(</span><span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='gray2'>User</span><span class='gray2'>-</span><span class='gray2'>Agent:</span> <span class='gray2'>(</span><span class='gray'>.</span><span class='gray2'>*</span><span class='gray2'>)</span><span class='comment'>\r</span><span class='comment'>\n</span><span class='gray2'>/</span><span class='gray'>,</span> <span class='gray2'>request</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>nil</i></span>
      <span class='gray2'>[</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>ua</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>ua</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='gray2'>spawn</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='gray2'>WebServer</span><span class='gray'>,</span> <span style='color:yellow;'>:server</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
</pre>