 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'># Play Spades with four players using iex</span><span class='keyword'>!</span>
<span class='comment'>#</span>
<span class='comment'># To play</span><span class='gray2'>:</span>
<span class='comment'>#</span>
<span class='comment'># 1</span><span class='gray'>.</span> <span class='gray2'>In</span> <span class='gray2'>one</span> <span class='gray2'>terminal</span><span class='gray'>,</span> <span class='gray2'>start</span> <span class='gray2'>iex</span> <span class='gray2'>as</span> <span class='gray2'>the</span> <span class='gray2'>dealer:</span>
<span class='comment'>#</span>
<span class='comment'>#   iex </span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>name</span> <span class='gray2'>dealer</span><span style='color:peru;'>@localhost</span> <span class='gray2'>14</span><span class='gray2'>-</span><span class='gray2'>spades</span><span class='gray'>.</span><span class='gray2'>exs</span>
<span class='comment'>#   iex</span><span class='keyword'>></span> <span class='defFunction'>Player.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>game</span>
<span class='comment'>#</span>
<span class='comment'># 2</span><span class='gray'>.</span> <span class='gray2'>In</span> <span class='gray2'>three</span> <span class='gray2'>more</span> <span class='gray2'>terminals</span><span class='gray'>,</span> <span class='gray2'>start</span> <span class='gray2'>iex</span> <span class='gray2'>as</span> <span class='gray2'>players:</span>
<span class='comment'>#</span>
<span class='comment'>#   iex </span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>sname</span> <span class='gray2'>two</span> <span class='gray2'>14</span><span class='gray2'>-</span><span class='gray2'>spades</span><span class='gray'>.</span><span class='gray2'>exs</span>
<span class='comment'>#   iex</span><span class='keyword'>></span> <span class='defFunction'>Node.</span><span class='gray2'>connect</span><span class='gray2'>(</span><span style='color:yellow;'>:dealer</span><span style='color:peru;'>@localhost</span><span class='gray2'>)</span>
<span class='comment'>#   iex</span><span class='keyword'>></span> <span class='defFunction'>Player.</span><span class='gray2'>join</span>
<span class='comment'>#</span>
<span class='comment'>#   iex </span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>sname</span> <span class='gray2'>three</span> <span class='gray2'>14</span><span class='gray2'>-</span><span class='gray2'>spades</span><span class='gray'>.</span><span class='gray2'>exs</span>
<span class='comment'>#   iex</span><span class='keyword'>></span> <span class='defFunction'>Node.</span><span class='gray2'>connect</span><span class='gray2'>(</span><span style='color:yellow;'>:dealer</span><span style='color:peru;'>@localhost</span><span class='gray2'>)</span>
<span class='comment'>#   iex</span><span class='keyword'>></span> <span class='defFunction'>Player.</span><span class='gray2'>join</span>
<span class='comment'>#</span>
<span class='comment'>#   iex </span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>sname</span> <span class='gray2'>four</span> <span class='gray2'>14</span><span class='gray2'>-</span><span class='gray2'>spades</span><span class='gray'>.</span><span class='gray2'>exs</span>
<span class='comment'>#   iex</span><span class='keyword'>></span> <span class='defFunction'>Node.</span><span class='gray2'>connect</span><span class='gray2'>(</span><span style='color:yellow;'>:dealer</span><span style='color:peru;'>@localhost</span><span class='gray2'>)</span>
<span class='comment'>#   iex</span><span class='keyword'>></span> <span class='defFunction'>Player.</span><span class='gray2'>join</span>
<span class='comment'>#</span>
<span class='comment'># 3</span><span class='gray'>.</span> <span class='gray2'>Enjoy</span><span class='keyword'>!</span>


<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Dealer</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>A</span> <span class='gray2'>separate</span> <span class='gray2'>process</span> <span class='gray2'>that</span> <span class='gray2'>brokers</span> <span class='gray2'>messages</span> <span class='gray2'>and</span> <span class='gray2'>determines</span> <span class='gray2'>winners</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span style='color:peru;'>@card</span><span class='gray2'>_</span><span class='gray2'>vals</span> <span class='defFunction'>Enum.</span><span class='gray2'>into</span><span class='gray2'>(</span><span class='gray2'>[</span>
    <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>J</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>11</span><span class='gray2'>}</span><span class='gray'>,</span>
    <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Q</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>12</span><span class='gray2'>}</span><span class='gray'>,</span>
    <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>K</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>13</span><span class='gray2'>}</span><span class='gray'>,</span>
    <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>A</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>14</span><span class='gray2'>}</span>
  <span class='gray2'>]</span><span class='gray'>,</span> <span class='defFunction'>HashDict.</span><span class='gray2'>new</span><span class='gray2'>)</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>start</span><span class='functionName'>_</span><span class='functionName'>game</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:yellow;'>:global</span><span class='gray'>.</span><span class='gray2'>register</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span style='color:yellow;'>:dealer</span><span class='gray'>,</span> <span class='gray2'>self</span><span class='gray2'>)</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>waiting</span> <span class='gray2'>for</span> <span class='gray2'>players</span><span class='gray2'>"</span>
    <span class='gray2'>players</span> <span class='keyword'>=</span> <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>players</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>dealing</span> <span class='gray2'>cards</span><span class='gray2'>"</span>
    <span class='gray2'>deal</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>shuffle</span><span class='gray2'>)</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>starting</span> <span class='gray2'>game</span><span class='gray2'>"</span>
    <span class='gray2'>signal</span><span class='gray2'>_</span><span class='gray2'>start</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray2'>)</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>waiting</span> <span class='gray2'>for</span> <span class='gray2'>plays</span><span class='gray2'>"</span>
    <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>plays</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>players</span><span class='gray2'>(</span><span class='gray2'>players</span> <span class='comment'>\</span><span class='comment'>\ </span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>receive</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:join</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span> <span class='gray2'>pid</span><span class='gray2'>}</span> <span class='gray2'>joined</span><span class='gray2'>"</span>
        <span class='gray2'>players</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>pid</span> <span class='gray2'>|</span> <span class='gray2'>players</span><span class='gray2'>]</span>
        <span class='keyword'>if</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray2'>)</span> <span class='keyword'><</span> <span class='gray2'>4</span> <span class='keyword'>do</span>
          <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>players</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray2'>)</span>
        <span class='keyword'>else</span>
          <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>everyone</span> <span class='gray2'>joined</span><span class='keyword'>!</span><span class='gray2'>"</span>
          <span class='gray2'>players</span>
        <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>shuffle</span> <span class='keyword'>do</span>
    <span style='color:yellow;'>:random</span><span class='gray'>.</span><span class='gray2'>seed</span><span class='gray2'>(</span><span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>now</span><span class='gray2'>)</span>
    <span class='gray2'>deck</span> <span class='keyword'>=</span> <span class='gray2'>for</span> <span class='gray2'>suit</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>~</span><span class='gray2'>w</span><span class='gray2'>(</span><span class='gray2'>Hearts</span> <span class='gray2'>Diamonds</span> <span class='gray2'>Clubs</span> <span class='gray2'>Spades</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>face</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>6</span><span class='gray'>,</span> <span class='gray2'>7</span><span class='gray'>,</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>9</span><span class='gray'>,</span> <span class='gray2'>10</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>J</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Q</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>K</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>A</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray'>,</span>
              <span class='keyword'>do:</span> <span class='gray2'>{</span><span class='gray2'>suit</span><span class='gray'>,</span> <span class='gray2'>face</span><span class='gray2'>}</span>
    <span class='defFunction'>Enum.</span><span class='gray2'>shuffle</span><span class='gray2'>(</span><span class='gray2'>deck</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>deal</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>player</span> <span class='gray2'>|</span> <span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>players</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>card</span> <span class='gray2'>|</span> <span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>cards</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>send</span> <span class='gray2'>player</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:deal</span><span class='gray'>,</span> <span class='gray2'>card</span><span class='gray2'>}</span>
    <span class='gray2'>deal</span><span class='gray2'>(</span><span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>players</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>player</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>cards</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
  <span class='gray2'>defp</span> <span class='gray2'>deal</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span style='color:yellow;'>:ok</span>

  <span class='gray2'>defp</span> <span class='gray2'>signal</span><span class='gray2'>_</span><span class='gray2'>start</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='defFunction'>Enum.</span><span class='gray2'>each</span> <span class='gray2'>players</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>p</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>send</span><span class='gray2'>(</span><span class='gray2'>p</span><span class='gray'>,</span> <span style='color:yellow;'>:start</span><span class='gray2'>)</span> <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>plays</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>plays</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>plays</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>cards</span><span class='gray2'>_</span><span class='gray2'>played</span><span class='gray'>,</span> <span class='gray2'>tricks</span><span class='gray2'>_</span><span class='gray2'>played</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>tricks</span><span class='gray2'>_</span><span class='gray2'>played</span> <span class='keyword'><</span> <span class='gray2'>13</span> <span class='keyword'>do</span>
    <span class='keyword'>if</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>cards</span><span class='gray2'>_</span><span class='gray2'>played</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>tricks</span><span class='gray2'>_</span><span class='gray2'>played</span><span class='gray2'>}</span> <span class='gray2'>tricks</span> <span class='gray2'>played</span><span class='gray2'>"</span>
    <span class='gray2'>receive</span> <span class='keyword'>do</span>
      <span class='gray2'>action</span> <span class='keyword'>=</span> <span class='gray2'>{</span><span style='color:yellow;'>:play</span><span class='gray'>,</span> <span class='gray2'>card</span><span class='gray'>,</span> <span class='gray2'>player</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>broadcast</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>action</span><span class='gray2'>)</span>
        <span class='gray2'>cards</span><span class='gray2'>_</span><span class='gray2'>played</span> <span class='keyword'>=</span> <span class='gray2'>cards</span><span class='gray2'>_</span><span class='gray2'>played</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>player</span><span class='gray'>,</span> <span class='gray2'>card</span><span class='gray2'>}</span><span class='gray2'>]</span>
        <span class='keyword'>if</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>cards</span><span class='gray2'>_</span><span class='gray2'>played</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>4</span> <span class='keyword'>do</span>
          <span class='gray2'>{</span><span class='gray2'>winner</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>trick</span><span class='gray2'>_</span><span class='gray2'>winner</span><span class='gray2'>(</span><span class='gray2'>cards</span><span class='gray2'>_</span><span class='gray2'>played</span><span class='gray2'>)</span>
          <span class='gray2'>broadcast</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:trick</span><span class='gray'>,</span> <span class='gray2'>winner</span><span class='gray2'>}</span><span class='gray2'>)</span>
          <span class='keyword'>if</span> <span class='gray2'>tricks</span><span class='gray2'>_</span><span class='gray2'>played</span> <span class='keyword'><</span> <span class='gray2'>12</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>send</span> <span class='gray2'>winner</span><span class='gray'>,</span> <span style='color:yellow;'>:your</span><span class='gray2'>_</span><span class='gray2'>turn</span>
          <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>plays</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>tricks</span><span class='gray2'>_</span><span class='gray2'>played</span> <span class='gray2'>+</span> <span class='gray2'>1</span><span class='gray2'>)</span>
        <span class='keyword'>else</span>
          <span class='gray2'>players</span> <span class='keyword'>=</span> <span class='gray2'>reorder</span><span class='gray2'>_</span><span class='gray2'>players</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>player</span><span class='gray2'>)</span>
          <span class='gray2'>send</span> <span class='defFunction'>List.</span><span class='gray2'>first</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray2'>)</span><span class='gray'>,</span> <span style='color:yellow;'>:your</span><span class='gray2'>_</span><span class='gray2'>turn</span>
          <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>plays</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>cards</span><span class='gray2'>_</span><span class='gray2'>played</span><span class='gray'>,</span> <span class='gray2'>tricks</span><span class='gray2'>_</span><span class='gray2'>played</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>plays</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>13</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>broadcast</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span style='color:yellow;'>:end</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>trick</span><span class='functionName'>_</span><span class='functionName'>winner</span><span style='color:white;'>(</span><span class='parameter'><i>cards</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>played</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>=</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>first</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>card</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>|</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>rest</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>suit</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>first</span><span class='gray2'>_</span><span class='gray2'>card</span>
    <span class='keyword'>if</span> <span class='defFunction'>Enum.</span><span class='gray2'>any?</span><span class='gray2'>(</span><span class='gray2'>cards</span><span class='gray2'>_</span><span class='gray2'>played</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>s</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>s</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span> <span class='keyword'>end</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>sort</span><span class='gray2'>_</span><span class='gray2'>cards</span><span class='gray2'>(</span><span class='gray2'>cards</span><span class='gray2'>_</span><span class='gray2'>played</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>filter</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>s</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>s</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span> <span class='keyword'>end</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>first</span>
    <span class='keyword'>else</span>
      <span class='gray2'>sort</span><span class='gray2'>_</span><span class='gray2'>cards</span><span class='gray2'>(</span><span class='gray2'>cards</span><span class='gray2'>_</span><span class='gray2'>played</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>filter</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>s</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>s</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>suit</span> <span class='keyword'>end</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>first</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>sort</span><span class='gray2'>_</span><span class='gray2'>cards</span><span class='gray2'>(</span><span class='gray2'>cards</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='defFunction'>Enum.</span><span class='gray2'>sort</span> <span class='gray2'>cards</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>v1</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>v2</span><span class='gray2'>}</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='defFunction'>Dict.</span><span class='gray2'>get</span><span class='gray2'>(</span><span style='color:peru;'>@card</span><span class='gray2'>_</span><span class='gray2'>vals</span><span class='gray'>,</span> <span class='gray2'>v1</span><span class='gray'>,</span> <span class='gray2'>v1</span><span class='gray2'>)</span> <span class='keyword'>></span> <span class='defFunction'>Dict.</span><span class='gray2'>get</span><span class='gray2'>(</span><span style='color:peru;'>@card</span><span class='gray2'>_</span><span class='gray2'>vals</span><span class='gray'>,</span> <span class='gray2'>v2</span><span class='gray'>,</span> <span class='gray2'>v2</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>broadcast</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>action</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='defFunction'>Enum.</span><span class='gray2'>each</span> <span class='gray2'>players</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>p</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>send</span><span class='gray2'>(</span><span class='gray2'>p</span><span class='gray'>,</span> <span class='gray2'>action</span><span class='gray2'>)</span> <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>reorder</span><span class='gray2'>_</span><span class='gray2'>players</span><span class='gray2'>(</span><span class='gray2'>players</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>first</span> <span class='gray2'>|</span> <span class='gray2'>rest</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>player</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='keyword'>if</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>players</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>player</span> <span class='keyword'>do</span>
      <span class='gray2'>players</span>
    <span class='keyword'>else</span>
      <span class='gray2'>reorder</span><span class='gray2'>_</span><span class='gray2'>players</span><span class='gray2'>(</span><span class='gray2'>rest</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>first</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>player</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

<span class='keyword'>end</span>


<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Player</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Handle</span> <span class='gray2'>player</span> <span class='gray2'>state</span> <span class='gray2'>and</span> <span class='gray2'>card</span> <span class='gray2'>selection</span> <span class='gray2'>for</span> <span class='gray2'>plays</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Call</span> <span class='gray2'>this</span> <span class='gray2'>as</span> <span class='gray2'>the</span> <span class='gray2'>dealer</span> <span class='gray2'>to</span> <span class='gray2'>set</span> <span class='gray2'>up</span> <span class='gray2'>the</span> <span class='gray2'>game</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>start</span><span class='functionName'>_</span><span class='functionName'>game</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>dealer</span> <span class='keyword'>=</span> <span class='gray2'>spawn</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='gray2'>Dealer</span><span class='gray'>,</span> <span style='color:yellow;'>:start</span><span class='gray2'>_</span><span class='gray2'>game</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='gray2'>send</span> <span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:join</span><span class='gray'>,</span> <span class='gray2'>self</span><span class='gray2'>}</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>I</span> <span class='gray2'>am</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span> <span class='gray2'>self</span><span class='gray2'>}</span><span class='gray2'>"</span>
    <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>start</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Call</span> <span class='gray2'>this</span> <span class='gray2'>as</span> <span class='gray2'>a</span> <span class='gray2'>player</span> <span class='gray2'>to</span> <span class='gray2'>join</span> <span class='gray2'>an</span> <span class='gray2'>existing</span> <span class='gray2'>game</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>join</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>dealer</span> <span class='keyword'>=</span> <span style='color:yellow;'>:global</span><span class='gray'>.</span><span class='gray2'>whereis</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>(</span><span style='color:yellow;'>:dealer</span><span class='gray2'>)</span>
    <span class='gray2'>send</span> <span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:join</span><span class='gray'>,</span> <span class='gray2'>self</span><span class='gray2'>}</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>I</span> <span class='gray2'>am</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span> <span class='gray2'>self</span><span class='gray2'>}</span><span class='gray2'>"</span>
    <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>start</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>start</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>hand</span> <span class='comment'>\</span><span class='comment'>\ </span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>receive</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:deal</span><span class='gray'>,</span> <span class='gray2'>card</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>hand</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>card</span> <span class='gray2'>|</span> <span class='gray2'>hand</span><span class='gray2'>]</span>
        <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>start</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>hand</span><span class='gray2'>)</span>
      <span style='color:yellow;'>:start</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>play</span><span class='gray2'>_</span><span class='gray2'>2</span><span class='gray2'>_</span><span class='gray2'>of</span><span class='gray2'>_</span><span class='gray2'>clubs</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>hand</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>play</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>hand</span><span class='gray'>,</span> <span class='gray2'>card</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>send</span> <span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:play</span><span class='gray'>,</span> <span class='gray2'>card</span><span class='gray'>,</span> <span class='gray2'>self</span><span class='gray2'>}</span>
    <span class='defFunction'>List.</span><span class='gray2'>delete</span> <span class='gray2'>hand</span><span class='gray'>,</span> <span class='gray2'>card</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>play</span><span class='gray2'>_</span><span class='gray2'>2</span><span class='gray2'>_</span><span class='gray2'>of</span><span class='gray2'>_</span><span class='gray2'>clubs</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>hand</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='keyword'>if</span> <span class='gray2'>card</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>find</span> <span class='gray2'>hand</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>card</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>card</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>}</span> <span class='keyword'>end</span> <span class='keyword'>do</span>
      <span class='gray2'>hand</span> <span class='keyword'>=</span> <span class='gray2'>play</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>hand</span><span class='gray'>,</span> <span class='gray2'>card</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
    <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>play</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>hand</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>play</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>hand</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>receive</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:play</span><span class='gray'>,</span> <span class='gray2'>card</span><span class='gray'>,</span> <span class='gray2'>player</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span> <span class='gray2'>player</span><span class='gray2'>}</span> <span class='gray2'>played</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span> <span class='gray2'>card</span><span class='gray2'>}</span><span class='gray2'>"</span>
        <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>play</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>hand</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:trick</span><span class='gray'>,</span> <span class='gray2'>player</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span> <span class='gray2'>player</span><span class='gray2'>}</span> <span class='gray2'>won</span> <span class='gray2'>trick</span><span class='gray2'>"</span>
        <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>play</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>hand</span><span class='gray2'>)</span>
      <span style='color:yellow;'>:your</span><span class='gray2'>_</span><span class='gray2'>turn</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>hand</span> <span class='keyword'>=</span> <span class='gray2'>select</span><span class='gray2'>_</span><span class='gray2'>and</span><span class='gray2'>_</span><span class='gray2'>play</span><span class='gray2'>_</span><span class='gray2'>card</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>hand</span><span class='gray2'>)</span>
        <span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>play</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>hand</span><span class='gray2'>)</span>
      <span style='color:yellow;'>:end</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>game</span> <span class='gray2'>over</span><span class='keyword'>!</span><span class='gray2'>"</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>select</span><span class='gray2'>_</span><span class='gray2'>and</span><span class='gray2'>_</span><span class='gray2'>play</span><span class='gray2'>_</span><span class='gray2'>card</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>hand</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>show</span><span class='gray2'>_</span><span class='gray2'>hand</span><span class='gray2'>(</span><span class='gray2'>hand</span><span class='gray2'>)</span>
    <span class='keyword'>if</span> <span class='defFunction'>List.</span><span class='gray2'>first</span><span class='gray2'>(</span><span class='defFunction'>System.</span><span class='gray2'>argv</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>"</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>test</span><span class='gray2'>"</span> <span class='keyword'>do</span> <span class='comment'># TODO how to set debug mode based on args</span><span class='gray2'>?</span>
      <span class='gray2'>card</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>shuffle</span><span class='gray2'>(</span><span class='gray2'>hand</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>first</span>
    <span class='keyword'>else</span>
      <span class='gray2'>card</span> <span class='keyword'>=</span> <span class='gray2'>select</span><span class='gray2'>_</span><span class='gray2'>card</span><span class='gray2'>(</span><span class='gray2'>hand</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
    <span class='gray2'>play</span><span class='gray2'>(</span><span class='gray2'>dealer</span><span class='gray'>,</span> <span class='gray2'>hand</span><span class='gray'>,</span> <span class='gray2'>card</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>select</span><span class='gray2'>_</span><span class='gray2'>card</span><span class='gray2'>(</span><span class='gray2'>hand</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>try</span> <span class='keyword'>do</span>
      <span class='gray2'>number</span> <span class='keyword'>=</span> <span class='defFunction'>IO.</span><span class='gray2'>gets</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>Enter</span> <span class='gray2'>a</span> <span class='gray2'>card</span> <span class='gray2'>number</span> <span class='gray2'>to</span> <span class='gray2'>play:</span> <span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>String.</span><span class='gray2'>strip</span>
        <span class='keyword'>|></span> <span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>integer</span>
      <span class='gray2'>card</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>hand</span><span class='gray'>,</span> <span class='gray2'>number</span><span class='gray2'>-</span><span class='gray2'>1</span><span class='gray2'>)</span>
      <span class='gray2'>unless</span> <span class='gray2'>card</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>raise</span> <span class='gray2'>ArgumentError</span>
      <span class='gray2'>card</span>
    <span class='gray2'>rescue</span>
      <span class='gray2'>ArgumentError</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>Invalid</span> <span class='gray2'>entry</span><span class='gray2'>;</span> <span class='gray2'>try</span> <span class='gray2'>again</span><span class='gray'>.</span><span class='gray2'>"</span>
        <span class='gray2'>select</span><span class='gray2'>_</span><span class='gray2'>card</span><span class='gray2'>(</span><span class='gray2'>hand</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>show</span><span class='gray2'>_</span><span class='gray2'>hand</span><span class='gray2'>(</span><span class='gray2'>hand</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='defFunction'>Enum.</span><span class='gray2'>with</span><span class='gray2'>_</span><span class='gray2'>index</span><span class='gray2'>(</span><span class='gray2'>hand</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>each</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>suit</span><span class='gray'>,</span> <span class='gray2'>face</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>index</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>index</span><span class='gray2'>+</span><span class='gray2'>1</span><span class='gray2'>}</span><span class='gray'>.</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>face</span><span class='gray2'>}</span> <span class='gray2'>of</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>suit</span><span class='gray2'>}</span><span class='gray2'>"</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='keyword'>if</span> <span class='defFunction'>List.</span><span class='gray2'>first</span><span class='gray2'>(</span><span class='defFunction'>System.</span><span class='gray2'>argv</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>"</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>test</span><span class='gray2'>"</span> <span class='keyword'>do</span>
  <span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

  <span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>SpadesTest</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

    <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>trick</span> <span class='gray2'>winner</span> <span class='gray2'>in</span> <span class='gray2'>a</span> <span class='gray2'>single</span> <span class='gray2'>suit</span><span class='gray2'>"</span> <span class='keyword'>do</span>
      <span class='gray2'>hand</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray2'>]</span>
      <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>card</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Dealer.</span><span class='gray2'>trick</span><span class='gray2'>_</span><span class='gray2'>winner</span><span class='gray2'>(</span><span class='gray2'>hand</span><span class='gray2'>)</span>
      <span class='gray2'>assert</span> <span class='gray2'>card</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>

    <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>trick</span> <span class='gray2'>winner</span> <span class='gray2'>in</span> <span class='gray2'>a</span> <span class='gray2'>single</span> <span class='gray2'>suit</span> <span class='gray2'>with</span> <span class='gray2'>face</span> <span class='gray2'>cards</span><span class='gray2'>"</span> <span class='keyword'>do</span>
      <span class='gray2'>hand</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>J</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>A</span><span class='gray2'>"</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray2'>]</span>
      <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>card</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Dealer.</span><span class='gray2'>trick</span><span class='gray2'>_</span><span class='gray2'>winner</span><span class='gray2'>(</span><span class='gray2'>hand</span><span class='gray2'>)</span>
      <span class='gray2'>assert</span> <span class='gray2'>card</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>A</span><span class='gray2'>"</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>

    <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>trick</span> <span class='gray2'>winner</span> <span class='gray2'>with</span> <span class='gray2'>irrelevant</span> <span class='gray2'>suit</span><span class='gray2'>"</span> <span class='keyword'>do</span>
      <span class='gray2'>hand</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Hearts</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray2'>]</span>
      <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>card</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Dealer.</span><span class='gray2'>trick</span><span class='gray2'>_</span><span class='gray2'>winner</span><span class='gray2'>(</span><span class='gray2'>hand</span><span class='gray2'>)</span>
      <span class='gray2'>assert</span> <span class='gray2'>card</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>

    <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>trick</span> <span class='gray2'>winner</span> <span class='gray2'>with</span> <span class='gray2'>one</span> <span class='gray2'>spade</span><span class='gray2'>"</span> <span class='keyword'>do</span>
      <span class='gray2'>hand</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Clubs</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray2'>]</span>
      <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>card</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Dealer.</span><span class='gray2'>trick</span><span class='gray2'>_</span><span class='gray2'>winner</span><span class='gray2'>(</span><span class='gray2'>hand</span><span class='gray2'>)</span>
      <span class='gray2'>assert</span> <span class='gray2'>card</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>

    <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>trick</span> <span class='gray2'>winner</span> <span class='gray2'>with</span> <span class='gray2'>all</span> <span class='gray2'>spades</span><span class='gray2'>"</span> <span class='keyword'>do</span>
      <span class='gray2'>hand</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>}</span><span class='gray2'>}</span><span class='gray2'>]</span>
      <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>card</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Dealer.</span><span class='gray2'>trick</span><span class='gray2'>_</span><span class='gray2'>winner</span><span class='gray2'>(</span><span class='gray2'>hand</span><span class='gray2'>)</span>
      <span class='gray2'>assert</span> <span class='gray2'>card</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>"</span><span class='gray2'>Spades</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>

    <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>setup</span><span class='gray2'>"</span> <span class='keyword'>do</span>
      <span class='gray2'>dealer</span> <span class='keyword'>=</span> <span class='gray2'>spawn</span><span class='gray2'>_</span><span class='gray2'>monitor</span> <span class='gray2'>Player</span><span class='gray'>,</span> <span style='color:yellow;'>:start</span><span class='gray2'>_</span><span class='gray2'>game</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span>
      <span style='color:yellow;'>:timer</span><span class='gray'>.</span><span class='gray2'>sleep</span><span class='gray2'>(</span><span class='gray2'>100</span><span class='gray2'>)</span> <span class='comment'># TODO why is this necessary</span><span class='gray2'>?</span>
      <span class='gray2'>two</span>    <span class='keyword'>=</span> <span class='gray2'>spawn</span> <span class='gray2'>Player</span><span class='gray'>,</span> <span style='color:yellow;'>:join</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span>
      <span class='gray2'>three</span>  <span class='keyword'>=</span> <span class='gray2'>spawn</span> <span class='gray2'>Player</span><span class='gray'>,</span> <span style='color:yellow;'>:join</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span>
      <span class='gray2'>four</span>   <span class='keyword'>=</span> <span class='gray2'>spawn</span> <span class='gray2'>Player</span><span class='gray'>,</span> <span style='color:yellow;'>:join</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span>
      <span class='gray2'>wait</span>
    <span class='keyword'>end</span>

    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>wait</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>receive</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span><span style='color:yellow;'>:DOWN</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:yellow;'>:quit</span>
        <span class='gray2'>msg</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>inspect</span> <span class='gray2'>msg</span>
          <span class='gray2'>wait</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

<span class='keyword'>end</span>
</pre>