 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>State</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
  
    <span class='comment'># Holds the state for the ElixirScript compiler</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>start</span><span class='functionName'>_</span><span class='functionName'>link</span><span style='color:white;'>(</span><span class='parameter'><i>compiler</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>opts</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>%</span><span class='gray2'>{</span>
          <span class='gray2'>modules:</span> <span class='defFunction'>Keyword.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules:</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span>
          <span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>memory</span><span class='gray2'>_</span><span class='gray2'>modules:</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span>
          <span class='gray2'>compiler</span><span class='gray2'>_</span><span class='gray2'>opts:</span> <span class='gray2'>compiler</span><span class='gray2'>_</span><span class='gray2'>opts</span>
        <span class='gray2'>}</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>stop</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>stop</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>get</span><span class='functionName'>_</span><span class='functionName'>module</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>put</span><span class='functionName'>_</span><span class='functionName'>module</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>value</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>update</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>value</span> <span class='keyword'>=</span>
          <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>value</span><span class='gray'>,</span> <span style='color:yellow;'>:used</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
          <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>new</span><span class='gray2'>(</span><span style='color:yellow;'>:used</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
  
        <span class='gray2'>modules</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray2'>)</span>
        <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>state</span> <span class='gray2'>|</span> <span class='gray2'>modules:</span> <span class='gray2'>modules</span><span class='gray2'>}</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>put</span><span class='functionName'>_</span><span class='functionName'>used</span><span class='functionName'>_</span><span class='functionName'>module</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>used</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>update</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span>
  
        <span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>modules</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:used</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
        <span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>modules</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>uniq</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>module</span> <span class='gray2'>|</span> <span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>]</span><span class='gray2'>)</span>
  
        <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:used</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>used</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>)</span>
        <span class='gray2'>modules</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>)</span>
  
        <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>state</span> <span class='gray2'>|</span> <span class='gray2'>modules:</span> <span class='gray2'>modules</span><span class='gray2'>}</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>has</span><span class='functionName'>_</span><span class='functionName'>used?</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>func</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span>
        <span class='gray2'>used</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:used</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
  
        <span class='defFunction'>Enum.</span><span class='gray2'>find</span><span class='gray2'>(</span><span class='gray2'>used</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>x</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>x</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>func</span> <span class='keyword'>end</span><span class='gray2'>)</span> <span class='keyword'>!</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>put</span><span class='functionName'>_</span><span class='functionName'>used</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>function</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>arity</i></span><span class='parameter'><i>}</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>=</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>func</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>update</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span>
  
        <span class='gray2'>used</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:used</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
        <span class='gray2'>used</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>func</span> <span class='gray2'>|</span> <span class='gray2'>used</span><span class='gray2'>]</span>
  
        <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:used</span><span class='gray'>,</span> <span class='gray2'>used</span><span class='gray2'>)</span>
        <span class='gray2'>modules</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>)</span>
  
        <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>state</span> <span class='gray2'>|</span> <span class='gray2'>modules:</span> <span class='gray2'>modules</span><span class='gray2'>}</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>put</span><span class='functionName'>_</span><span class='functionName'>javascript</span><span class='functionName'>_</span><span class='functionName'>module</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>path</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>update</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>,</span> <span style='color:yellow;'>:js</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
        <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>]</span>
        <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>state</span> <span class='gray2'>|</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules:</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>}</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>put</span><span class='functionName'>_</span><span class='functionName'>diagnostic</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>diagnostic</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>update</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span>
  
        <span class='keyword'>if</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span> <span class='keyword'>do</span>
          <span class='gray2'>diagnostics</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:diagnostics</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
          <span class='gray2'>diagnostics</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>diagnostic</span> <span class='gray2'>|</span> <span class='gray2'>diagnostics</span><span class='gray2'>]</span>
  
          <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray'>,</span> <span style='color:yellow;'>:diagnostics</span><span class='gray'>,</span> <span class='gray2'>diagnostics</span><span class='gray2'>)</span>
          <span class='gray2'>modules</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>)</span>
  
          <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>state</span> <span class='gray2'>|</span> <span class='gray2'>modules:</span> <span class='gray2'>modules</span><span class='gray2'>}</span>
        <span class='keyword'>else</span>
          <span class='gray2'>state</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>list</span><span class='functionName'>_</span><span class='functionName'>javascript</span><span class='functionName'>_</span><span class='functionName'>modules</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span>
        <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>module</span>
        <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>js</span><span class='functionName'>_</span><span class='functionName'>modules</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>global</span><span class='functionName'>_</span><span class='functionName'>module</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>result</span> <span class='keyword'>=</span>
          <span class='defFunction'>Enum.</span><span class='gray2'>find</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>mod</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>mod</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>module</span> <span class='gray2'>and</span> <span class='gray2'>path</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span> <span class='keyword'>end</span><span class='gray2'>)</span>
  
        <span class='keyword'>if</span> <span class='gray2'>result</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='keyword'>do:</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray'>,</span> <span class='gray2'>else:</span> <span style='color:darkcyan;'><i>true</i></span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>get</span><span class='functionName'>_</span><span class='functionName'>global</span><span class='functionName'>_</span><span class='functionName'>module</span><span class='functionName'>_</span><span class='functionName'>name</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>result</span> <span class='keyword'>=</span>
          <span class='defFunction'>Enum.</span><span class='gray2'>find</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>mod</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>mod</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>module</span> <span class='gray2'>and</span> <span class='gray2'>path</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span> <span class='keyword'>end</span><span class='gray2'>)</span>
  
        <span class='keyword'>if</span> <span class='gray2'>result</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='keyword'>do:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>else:</span> <span class='gray2'>elem</span><span class='gray2'>(</span><span class='gray2'>result</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>remove</span><span class='functionName'>_</span><span class='functionName'>unused</span><span class='functionName'>_</span><span class='functionName'>functions</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>compiler</span><span class='gray2'>_</span><span class='gray2'>opts</span><span class='gray'>.</span><span class='gray2'>remove</span><span class='gray2'>_</span><span class='gray2'>unused</span><span class='gray2'>_</span><span class='gray2'>functions</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>get</span><span class='functionName'>_</span><span class='functionName'>js</span><span class='functionName'>_</span><span class='functionName'>module</span><span class='functionName'>_</span><span class='functionName'>name</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span>
          <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>modules</span>
          <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>find</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>m</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>module</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>m</span> <span class='keyword'>end</span><span class='gray2'>)</span>
  
        <span class='gray2'>name</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>list</span><span class='functionName'>_</span><span class='functionName'>modules</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>modules</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>get</span><span class='functionName'>_</span><span class='functionName'>in</span><span class='functionName'>_</span><span class='functionName'>memory</span><span class='functionName'>_</span><span class='functionName'>module</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>memory</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>get</span><span class='functionName'>_</span><span class='functionName'>in</span><span class='functionName'>_</span><span class='functionName'>memory</span><span class='functionName'>_</span><span class='functionName'>modules</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>memory</span><span class='gray2'>_</span><span class='gray2'>modules</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>put</span><span class='functionName'>_</span><span class='functionName'>in</span><span class='functionName'>_</span><span class='functionName'>memory</span><span class='functionName'>_</span><span class='functionName'>module</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>beam</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>update</span><span class='gray2'>(</span><span class='gray2'>pid</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>memory</span><span class='gray2'>_</span><span class='gray2'>modules</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>,</span> <span style='color:yellow;'>:in</span><span class='gray2'>_</span><span class='gray2'>memory</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
        <span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>memory</span><span class='gray2'>_</span><span class='gray2'>modules</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>memory</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>beam</span><span class='gray2'>)</span>
        <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>state</span> <span class='gray2'>|</span> <span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>memory</span><span class='gray2'>_</span><span class='gray2'>modules:</span> <span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>memory</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>}</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>