 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Fib</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Lazy</span> <span class='gray2'>Fibonacci</span> <span class='gray2'>Sequence</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>FibVal</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>defstruct</span> <span class='gray2'>val:</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>next:</span> <span class='gray2'>1</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Return</span> <span class='gray2'>a</span> <span class='gray2'>lazy</span> <span class='gray2'>sequence</span> <span class='gray2'>of</span> <span class='defFunction'>FibVals.</span>

    <span class='gray2'>To</span> <span class='gray2'>get</span> <span class='gray2'>the</span> <span class='gray2'>values</span><span class='gray'>,</span> <span class='keyword'>use</span> <span class='gray2'>map</span> <span class='gray2'>&</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>val</span><span class='gray2'>)</span>

      <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Fib.</span><span class='gray2'>fib</span> <span class='keyword'>|></span> <span class='defFunction'>Stream.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>val</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>take</span><span class='gray2'>(</span><span class='gray2'>10</span><span class='gray2'>)</span>
      <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>13</span><span class='gray'>,</span> <span class='gray2'>21</span><span class='gray'>,</span> <span class='gray2'>34</span><span class='gray2'>]</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>fib</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='defFunction'>Stream.</span><span class='gray2'>iterate</span> <span class='gray2'>%</span><span class='gray2'>FibVal</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>%</span><span class='gray2'>FibVal</span><span class='gray2'>{</span><span class='gray2'>val:</span> <span class='gray2'>val</span><span class='gray'>,</span> <span class='gray2'>next:</span> <span class='gray2'>next</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='gray2'>%</span><span class='gray2'>FibVal</span><span class='gray2'>{</span><span class='gray2'>val:</span> <span class='gray2'>next</span><span class='gray'>,</span> <span class='gray2'>next:</span> <span class='gray2'>val</span> <span class='gray2'>+</span> <span class='gray2'>next</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Return</span> <span class='gray2'>a</span> <span class='gray2'>lazy</span> <span class='gray2'>sequence</span> <span class='gray2'>of</span> <span class='gray2'>Fibonacci</span> <span class='gray2'>numbers</span>

    <span class='gray2'>This</span> <span class='gray2'>one</span> <span class='gray2'>is</span> <span class='gray2'>better</span> <span class='gray2'>as</span> <span class='gray2'>it</span> <span class='gray2'>returns</span> <span class='gray2'>the</span> <span class='gray2'>actual</span> <span class='gray2'>integer</span> <span class='gray2'>value</span>
    <span class='gray2'>and</span> <span class='gray2'>doesn</span><span class='gray2'>'</span><span class='gray2'>t</span> <span class='keyword'>use</span> <span class='gray2'>FibVal</span><span class='gray'>,</span> <span class='gray2'>thanks</span> <span class='gray2'>to</span> <span class='defFunction'>Stream.</span><span class='gray2'>unfold</span><span class='gray2'>/</span><span class='gray2'>2</span>

      <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Fib.</span><span class='gray2'>fib2</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>take</span><span class='gray2'>(</span><span class='gray2'>10</span><span class='gray2'>)</span>
      <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>13</span><span class='gray'>,</span> <span class='gray2'>21</span><span class='gray'>,</span> <span class='gray2'>34</span><span class='gray2'>]</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>fib2</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='defFunction'>Stream.</span><span class='gray2'>unfold</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>a</span><span class='gray'>,</span> <span class='gray2'>b</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>{</span><span class='gray2'>a</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>b</span><span class='gray'>,</span> <span class='gray2'>a</span> <span class='gray2'>+</span> <span class='gray2'>b</span><span class='gray2'>}</span><span class='gray2'>}</span> <span class='keyword'>end</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>FibTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>fib</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>fib</span> <span class='keyword'>=</span> <span class='defFunction'>Fib.</span><span class='gray2'>fib</span> <span class='keyword'>|></span> <span class='defFunction'>Stream.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>val</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>take</span><span class='gray2'>(</span><span class='gray2'>10</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>fib</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>13</span><span class='gray'>,</span> <span class='gray2'>21</span><span class='gray'>,</span> <span class='gray2'>34</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>fib2</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>fib</span> <span class='keyword'>=</span> <span class='defFunction'>Fib.</span><span class='gray2'>fib2</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>take</span><span class='gray2'>(</span><span class='gray2'>10</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>fib</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>13</span><span class='gray'>,</span> <span class='gray2'>21</span><span class='gray'>,</span> <span class='gray2'>34</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>
</pre>