 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Test.</span><span class='functionName'>Callbacks</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Defines</span> <span class='defFunction'>ElixirScript.</span><span class='gray2'>Test</span> <span class='gray2'>callbacks</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Called</span> <span class='gray2'>before</span> <span class='gray2'>all</span> <span class='gray2'>tests</span> <span class='gray2'>are</span> <span class='gray2'>run</span> <span class='gray2'>in</span> <span class='gray2'>a</span> <span class='gray2'>test</span> <span class='gray2'>file</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>setup</span><span class='gray2'>_</span><span class='gray2'>all</span><span class='gray2'>(</span><span class='gray2'>context</span> <span class='comment'>\</span><span class='comment'>\ quote</span><span class='gray2'>(</span><span class='keyword'>do:</span> <span class='gray2'>_</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>contents</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>setup</span><span class='gray2'>(</span><span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>contents</span><span class='gray'>,</span> <span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>elixirscript</span><span class='gray2'>_</span><span class='gray2'>test</span><span class='gray2'>_</span><span class='gray2'>setup</span><span class='gray2'>_</span><span class='gray2'>all</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Called</span> <span class='gray2'>before</span> <span class='gray2'>each</span> <span class='gray2'>test</span> <span class='gray2'>is</span> <span class='gray2'>run</span> <span class='gray2'>in</span> <span class='gray2'>a</span> <span class='gray2'>test</span> <span class='gray2'>file</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>setup</span><span class='gray2'>(</span><span class='gray2'>context</span> <span class='comment'>\</span><span class='comment'>\ quote</span><span class='gray2'>(</span><span class='keyword'>do:</span> <span class='gray2'>_</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>contents</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>setup</span><span class='gray2'>(</span><span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>contents</span><span class='gray'>,</span> <span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>elixirscript</span><span class='gray2'>_</span><span class='gray2'>test</span><span class='gray2'>_</span><span class='gray2'>setup</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>setup</span><span class='gray2'>(</span><span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>contents</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>contents</span> <span class='keyword'>=</span>
      <span class='gray2'>case</span> <span class='gray2'>contents</span> <span class='keyword'>do</span>
        <span class='gray2'>[</span><span class='keyword'>do:</span> <span class='gray2'>block</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>quote</span> <span class='keyword'>do</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>block</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>quote</span> <span class='keyword'>do</span>
            <span class='gray2'>try</span><span class='gray2'>(</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>contents</span><span class='gray2'>)</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>context</span> <span class='keyword'>=</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>context</span><span class='gray2'>)</span>
      <span class='gray2'>contents</span> <span class='keyword'>=</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>contents</span><span class='gray'>,</span> <span class='gray2'>unquote:</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray2'>)</span>
  
      <span class='gray2'>quote</span> <span class='gray2'>bind</span><span class='gray2'>_</span><span class='gray2'>quoted:</span> <span class='gray2'>[</span><span class='gray2'>context:</span> <span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>contents:</span> <span class='gray2'>contents</span><span class='gray'>,</span> <span class='gray2'>name:</span> <span class='gray2'>name</span><span class='gray2'>]</span> <span class='keyword'>do</span>
        <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span style='color:white;'>(</span><span class='parameter'><i>unquote</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>context</i></span><span style='color:white;'>)</span><span class='functionName'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
          <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>contents</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Called</span> <span class='gray2'>after</span> <span class='gray2'>all</span> <span class='gray2'>tests</span> <span class='gray2'>are</span> <span class='gray2'>run</span> <span class='gray2'>in</span> <span class='gray2'>a</span> <span class='gray2'>test</span> <span class='gray2'>file</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>teardown</span><span class='gray2'>_</span><span class='gray2'>all</span><span class='gray2'>(</span><span class='gray2'>context</span> <span class='comment'>\</span><span class='comment'>\ quote</span><span class='gray2'>(</span><span class='keyword'>do:</span> <span class='gray2'>_</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>contents</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>teardown</span><span class='gray2'>(</span><span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>contents</span><span class='gray'>,</span> <span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>elixirscript</span><span class='gray2'>_</span><span class='gray2'>test</span><span class='gray2'>_</span><span class='gray2'>teardown</span><span class='gray2'>_</span><span class='gray2'>all</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Called</span> <span class='gray2'>after</span> <span class='gray2'>each</span> <span class='gray2'>test</span> <span class='gray2'>is</span> <span class='gray2'>run</span> <span class='gray2'>in</span> <span class='gray2'>a</span> <span class='gray2'>test</span> <span class='gray2'>file</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>teardown</span><span class='gray2'>(</span><span class='gray2'>context</span> <span class='comment'>\</span><span class='comment'>\ quote</span><span class='gray2'>(</span><span class='keyword'>do:</span> <span class='gray2'>_</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>contents</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>teardown</span><span class='gray2'>(</span><span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>contents</span><span class='gray'>,</span> <span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>elixirscript</span><span class='gray2'>_</span><span class='gray2'>test</span><span class='gray2'>_</span><span class='gray2'>teardown</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>teardown</span><span class='gray2'>(</span><span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>contents</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>contents</span> <span class='keyword'>=</span>
      <span class='gray2'>case</span> <span class='gray2'>contents</span> <span class='keyword'>do</span>
        <span class='gray2'>[</span><span class='keyword'>do:</span> <span class='gray2'>block</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>quote</span> <span class='keyword'>do</span>
            <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>block</span><span class='gray2'>)</span>
            <span style='color:yellow;'>:ok</span>
          <span class='keyword'>end</span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>quote</span> <span class='keyword'>do</span>
            <span class='gray2'>try</span><span class='gray2'>(</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>contents</span><span class='gray2'>)</span><span class='gray2'>)</span>
            <span style='color:yellow;'>:ok</span>
          <span class='keyword'>end</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>context</span> <span class='keyword'>=</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>context</span><span class='gray2'>)</span>
      <span class='gray2'>contents</span> <span class='keyword'>=</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>contents</span><span class='gray'>,</span> <span class='gray2'>unquote:</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray2'>)</span>
  
      <span class='gray2'>quote</span> <span class='gray2'>bind</span><span class='gray2'>_</span><span class='gray2'>quoted:</span> <span class='gray2'>[</span><span class='gray2'>context:</span> <span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>contents:</span> <span class='gray2'>contents</span><span class='gray'>,</span> <span class='gray2'>name:</span> <span class='gray2'>name</span><span class='gray2'>]</span> <span class='keyword'>do</span>
        <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span style='color:white;'>(</span><span class='parameter'><i>unquote</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>context</i></span><span style='color:white;'>)</span><span class='functionName'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
          <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>contents</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Defines</span> <span class='gray2'>a</span> <span class='gray2'>test</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>defmacro</span> <span class='gray2'>test</span><span class='gray2'>(</span><span class='gray2'>message</span><span class='gray'>,</span> <span class='gray2'>context</span> <span class='comment'>\</span><span class='comment'>\ quote</span><span class='gray2'>(</span><span class='keyword'>do:</span> <span class='gray2'>_</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>contents</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>contents</span> <span class='keyword'>=</span>
        <span class='gray2'>case</span> <span class='gray2'>contents</span> <span class='keyword'>do</span>
          <span class='gray2'>[</span><span class='keyword'>do:</span> <span class='gray2'>block</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>quote</span> <span class='keyword'>do</span>
              <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>block</span><span class='gray2'>)</span>
              <span style='color:yellow;'>:ok</span>
            <span class='keyword'>end</span>
          <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>quote</span> <span class='keyword'>do</span>
              <span class='gray2'>try</span><span class='gray2'>(</span><span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>contents</span><span class='gray2'>)</span><span class='gray2'>)</span>
              <span style='color:yellow;'>:ok</span>
            <span class='keyword'>end</span>
        <span class='keyword'>end</span>
  
      <span class='gray2'>context</span> <span class='keyword'>=</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>context</span><span class='gray2'>)</span>
      <span class='gray2'>contents</span> <span class='keyword'>=</span> <span class='defFunction'>Macro.</span><span class='gray2'>escape</span><span class='gray2'>(</span><span class='gray2'>contents</span><span class='gray'>,</span> <span class='gray2'>unquote:</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray2'>)</span>
      <span class='gray2'>name</span> <span class='keyword'>=</span> <span class='gray2'>message</span>
      <span class='keyword'>|></span> <span class='defFunction'>String.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>"</span> <span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>String.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='gray2'>[</span><span class='gray2'>^</span><span class='gray2'>A</span><span class='gray2'>-</span><span class='gray2'>Za</span><span class='gray2'>-</span><span class='gray2'>z0</span><span class='gray2'>-</span><span class='gray2'>9</span><span class='gray2'>]</span><span class='gray2'>/</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>)</span>
  
      <span class='gray2'>name</span> <span class='keyword'>=</span> <span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>elixirscript</span><span class='gray2'>_</span><span class='gray2'>test</span><span class='gray2'>_</span><span class='gray2'>case</span><span class='gray2'>_</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray2'>}</span><span class='gray2'>"</span><span class='gray2'>)</span>
  
      <span class='gray2'>quote</span> <span class='gray2'>bind</span><span class='gray2'>_</span><span class='gray2'>quoted:</span> <span class='gray2'>[</span><span class='gray2'>context:</span> <span class='gray2'>context</span><span class='gray'>,</span> <span class='gray2'>contents:</span> <span class='gray2'>contents</span><span class='gray'>,</span> <span class='gray2'>message:</span> <span class='gray2'>message</span><span class='gray'>,</span> <span class='gray2'>name:</span> <span class='gray2'>name</span><span class='gray2'>]</span> <span class='keyword'>do</span>
        <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span style='color:white;'>(</span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
          <span class='gray2'>%</span><span class='gray2'>{</span>
            <span class='gray2'>message:</span> <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>message</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>test:</span> <span class='keyword'>fn</span><span class='gray2'>(</span><span class='gray2'>context</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>unquote</span><span class='gray2'>(</span><span class='gray2'>contents</span><span class='gray2'>)</span> <span class='keyword'>end</span>
          <span class='gray2'>}</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>