 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>SudokuSolver</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Solves</span> <span class='gray2'>9</span><span class='gray2'>x9</span> <span class='gray2'>Sudoku</span> <span class='gray2'>puzzles</span><span class='gray'>,</span> <span class='gray2'>Peter</span> <span class='gray2'>Norvig</span> <span class='gray2'>style</span><span class='gray'>.</span>

  <span class='gray2'>http:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>norvig</span><span class='gray'>.</span><span class='gray2'>com</span><span class='gray2'>/</span><span class='gray2'>sudoku</span><span class='gray'>.</span><span class='gray2'>html</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span style='color:peru;'>@size</span> <span class='gray2'>9</span>
  <span style='color:peru;'>@rows</span> <span class='gray2'>'</span><span class='gray2'>ABCDEFGHI</span><span class='gray2'>'</span>
  <span style='color:peru;'>@cols</span> <span class='gray2'>'</span><span class='gray2'>123456789</span><span class='gray2'>'</span>

  <span class='gray2'>import</span> <span class='gray2'>Enum</span>

  <span class='comment'># used to cache all squares</span><span class='gray'>,</span> <span class='gray2'>units</span><span class='gray'>,</span> <span class='gray2'>and</span> <span class='gray2'>peer</span> <span class='gray2'>relationships</span>
  <span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Board</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>defstruct</span> <span class='gray2'>squares:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>units:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>peers:</span> <span style='color:darkcyan;'><i>nil</i></span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>cross</span><span style='color:white;'>(</span><span class='parameter'><i>list</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>a</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>list</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>b</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>for</span> <span class='gray2'>a</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>a</span><span class='gray'>,</span> <span class='gray2'>b</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>b</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>[</span><span class='gray2'>a</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>b</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>Return</span> <span class='gray2'>all</span> <span class='gray2'>squares</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>squares</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='gray2'>cross</span><span class='gray2'>(</span><span style='color:peru;'>@rows</span><span class='gray'>,</span> <span style='color:peru;'>@cols</span><span class='gray2'>)</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>All</span> <span class='gray2'>squares</span> <span class='gray2'>divided</span> <span class='gray2'>by</span> <span class='gray2'>row</span><span class='gray'>,</span> <span class='gray2'>column</span><span class='gray'>,</span> <span class='gray2'>and</span> <span class='gray2'>box</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unit</span><span class='functionName'>_</span><span class='functionName'>list</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>(</span><span class='gray2'>for</span> <span class='gray2'>c</span> <span class='keyword'><</span><span class='gray2'>-</span> <span style='color:peru;'>@cols</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>cross</span><span class='gray2'>(</span><span style='color:peru;'>@rows</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>c</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='gray2'>+</span><span class='gray2'>+</span>
    <span class='gray2'>(</span><span class='gray2'>for</span> <span class='gray2'>r</span> <span class='keyword'><</span><span class='gray2'>-</span> <span style='color:peru;'>@rows</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>cross</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>r</span><span class='gray2'>]</span><span class='gray'>,</span> <span style='color:peru;'>@cols</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='gray2'>+</span><span class='gray2'>+</span>
    <span class='gray2'>(</span><span class='gray2'>for</span> <span class='gray2'>rs</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>chunk</span><span class='gray2'>_</span><span class='gray2'>every</span><span class='gray2'>(</span><span style='color:peru;'>@rows</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>cs</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>chunk</span><span class='gray2'>_</span><span class='gray2'>every</span><span class='gray2'>(</span><span style='color:peru;'>@cols</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>cross</span><span class='gray2'>(</span><span class='gray2'>rs</span><span class='gray'>,</span> <span class='gray2'>cs</span><span class='gray2'>)</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>All</span> <span class='gray2'>squares</span> <span class='gray2'>from</span> <span class='gray2'>unit</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray'>,</span> <span class='gray2'>organized</span> <span class='gray2'>in</span> <span class='gray2'>a</span> <span class='gray2'>Map</span> <span class='gray2'>with</span> <span class='gray2'>each</span> <span class='gray2'>square</span> <span class='gray2'>as</span> <span class='gray2'>key</span><span class='gray'>.</span>

     <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='defFunction'>SudokuSolver.</span><span class='gray2'>units</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C2</span><span class='gray2'>'</span><span class='gray2'>)</span>
     <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>'</span><span class='gray2'>A2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>B2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>D2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>E2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>F2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>G2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>H2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>I2</span><span class='gray2'>'</span><span class='gray2'>]</span><span class='gray'>,</span>
      <span class='gray2'>[</span><span class='gray2'>'</span><span class='gray2'>C1</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C3</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C4</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C5</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C6</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C7</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C8</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C9</span><span class='gray2'>'</span><span class='gray2'>]</span><span class='gray'>,</span>
      <span class='gray2'>[</span><span class='gray2'>'</span><span class='gray2'>A1</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>A2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>A3</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>B1</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>B2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>B3</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C1</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C3</span><span class='gray2'>'</span><span class='gray2'>]</span><span class='gray2'>]</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>units</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>ul</span> <span class='keyword'>=</span> <span class='gray2'>unit</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='gray2'>list</span> <span class='keyword'>=</span> <span class='gray2'>for</span> <span class='gray2'>s</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>squares</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>{</span><span class='gray2'>s</span><span class='gray'>,</span> <span class='gray2'>(</span><span class='gray2'>for</span> <span class='gray2'>u</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>ul</span><span class='gray'>,</span> <span class='gray2'>s</span> <span class='gray2'>in</span> <span class='gray2'>u</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>u</span><span class='gray2'>)</span><span class='gray2'>}</span>
    <span class='defFunction'>Enum.</span><span class='gray2'>into</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray'>,</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Like</span> <span class='gray2'>units</span><span class='gray2'>/</span><span class='gray2'>0</span> <span class='gray2'>above</span><span class='gray'>,</span> <span class='gray2'>returning</span> <span class='gray2'>a</span> <span class='gray2'>Map</span><span class='gray'>,</span> <span class='gray2'>but</span> <span class='gray2'>not</span> <span class='gray2'>including</span> <span class='gray2'>the</span> <span class='gray2'>key</span> <span class='gray2'>itself</span><span class='gray'>.</span>

     <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='defFunction'>SudokuSolver.</span><span class='gray2'>peers</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C2</span><span class='gray2'>'</span><span class='gray2'>)</span>
     <span class='defFunction'>MapSet.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>'</span><span class='gray2'>A2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>B2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>D2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>E2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>F2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>G2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>H2</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>I2</span><span class='gray2'>'</span><span class='gray'>,</span>
                  <span class='gray2'>'</span><span class='gray2'>C1</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C3</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C4</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C5</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C6</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C7</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C8</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>C9</span><span class='gray2'>'</span><span class='gray'>,</span>
                  <span class='gray2'>'</span><span class='gray2'>A1</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>A3</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>B1</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>B3</span><span class='gray2'>'</span><span class='gray2'>]</span><span class='gray2'>)</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>peers</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>squares</span> <span class='keyword'>=</span> <span class='gray2'>cross</span><span class='gray2'>(</span><span style='color:peru;'>@rows</span><span class='gray'>,</span> <span style='color:peru;'>@cols</span><span class='gray2'>)</span>
    <span class='gray2'>u</span> <span class='keyword'>=</span> <span class='gray2'>units</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='gray2'>list</span> <span class='keyword'>=</span> <span class='gray2'>for</span> <span class='gray2'>s</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>squares</span> <span class='keyword'>do</span>
      <span class='gray2'>all</span> <span class='keyword'>=</span> <span class='gray2'>u</span> <span class='keyword'>|></span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>s</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='gray2'>concat</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>into</span><span class='gray2'>(</span><span class='defFunction'>MapSet.</span><span class='gray2'>new</span><span class='gray2'>)</span>
      <span class='gray2'>me</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>s</span><span class='gray2'>]</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>into</span><span class='gray2'>(</span><span class='defFunction'>MapSet.</span><span class='gray2'>new</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span class='gray2'>s</span><span class='gray'>,</span> <span class='defFunction'>MapSet.</span><span class='gray2'>difference</span><span class='gray2'>(</span><span class='gray2'>all</span><span class='gray'>,</span> <span class='gray2'>me</span><span class='gray2'>)</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
    <span class='defFunction'>Enum.</span><span class='gray2'>into</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray'>,</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Convert</span> <span class='gray2'>grid</span> <span class='gray2'>to</span> <span class='gray2'>a</span> <span class='gray2'>Map</span> <span class='gray2'>of</span> <span class='gray2'>possible</span> <span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>square:</span> <span class='gray2'>digits</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>or</span>
  <span class='gray2'>return</span> <span style='color:darkcyan;'><i>false</i></span> <span class='keyword'>if</span> <span class='gray2'>a</span> <span class='gray2'>contradiction</span> <span class='gray2'>is</span> <span class='gray2'>detected</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>parse</span><span class='functionName'>_</span><span class='functionName'>grid</span><span style='color:white;'>(</span><span class='parameter'><i>grid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>board</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='comment'># To start</span><span class='gray'>,</span> <span class='gray2'>every</span> <span class='gray2'>square</span> <span class='gray2'>can</span> <span class='gray2'>be</span> <span class='gray2'>any</span> <span class='gray2'>digit</span><span class='gray2'>;</span> <span class='gray2'>then</span> <span class='gray2'>assign</span> <span class='gray2'>values</span> <span class='gray2'>from</span> <span class='gray2'>the</span> <span class='gray2'>grid</span><span class='gray'>.</span>
    <span class='gray2'>values</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>into</span><span class='gray2'>(</span><span class='gray2'>(</span><span class='gray2'>for</span> <span class='gray2'>s</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>board</span><span class='gray'>.</span><span class='gray2'>squares</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>{</span><span class='gray2'>s</span><span class='gray'>,</span> <span style='color:peru;'>@cols</span><span class='gray2'>}</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray2'>)</span>
    <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>parse</span><span class='gray2'>_</span><span class='gray2'>grid</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='defFunction'>Map.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>grid</span><span class='gray2'>_</span><span class='gray2'>values</span><span class='gray2'>(</span><span class='gray2'>grid</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>board</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>parse</span><span class='gray2'>_</span><span class='gray2'>grid</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>square</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>rest</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>board</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>values</span> <span class='keyword'>=</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>parse</span><span class='gray2'>_</span><span class='gray2'>grid</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>rest</span><span class='gray'>,</span> <span class='gray2'>board</span><span class='gray2'>)</span>
    <span class='keyword'>if</span> <span class='gray2'>value</span> <span class='gray2'>in</span> <span class='gray2'>'</span><span class='gray2'>0</span><span class='gray'>.</span><span class='gray2'>'</span> <span class='keyword'>do</span>
      <span class='gray2'>values</span>
    <span class='keyword'>else</span>
      <span class='gray2'>assign</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>square</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray'>,</span> <span class='gray2'>board</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>
  <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>parse</span><span class='gray2'>_</span><span class='gray2'>grid</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>values</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Convert</span> <span class='gray2'>grid</span> <span class='gray2'>into</span> <span class='gray2'>a</span> <span class='gray2'>Map</span> <span class='gray2'>of</span> <span class='gray2'>{</span><span class='gray2'>square:</span> <span class='gray2'>char</span><span class='gray2'>}</span> <span class='gray2'>with</span> <span class='gray2'>'</span><span class='gray2'>0</span><span class='gray2'>'</span> <span class='gray2'>or</span> <span class='gray2'>'</span><span class='gray'>.</span><span class='gray2'>'</span> <span class='gray2'>for</span> <span class='gray2'>empties</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>grid</span><span class='functionName'>_</span><span class='functionName'>values</span><span style='color:white;'>(</span><span class='parameter'><i>grid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>chars</span> <span class='keyword'>=</span> <span class='gray2'>for</span> <span class='gray2'>c</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>grid</span><span class='gray'>,</span> <span class='gray2'>c</span> <span class='gray2'>in</span> <span style='color:peru;'>@cols</span> <span class='gray2'>or</span> <span class='gray2'>c</span> <span class='gray2'>in</span> <span class='gray2'>'</span><span class='gray2'>0</span><span class='gray'>.</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>c</span>
    <span class='gray2'>unless</span> <span class='gray2'>count</span><span class='gray2'>(</span><span class='gray2'>chars</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>81</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>raise</span><span class='gray2'>(</span><span class='gray2'>'</span><span class='gray2'>error</span><span class='gray2'>'</span><span class='gray2'>)</span>
    <span class='defFunction'>Enum.</span><span class='gray2'>into</span><span class='gray2'>(</span><span class='gray2'>zip</span><span class='gray2'>(</span><span class='gray2'>squares</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>chars</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>}</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Eliminate</span> <span class='gray2'>all</span> <span class='gray2'>the</span> <span class='gray2'>other</span> <span class='gray2'>values</span> <span class='gray2'>(</span><span class='gray2'>except</span> <span class='gray2'>d</span><span class='gray2'>)</span> <span class='gray2'>from</span> <span class='gray2'>values</span><span class='gray2'>[</span><span class='gray2'>s</span><span class='gray2'>]</span> <span class='gray2'>and</span> <span class='gray2'>propagate</span><span class='gray'>.</span>
  <span class='gray2'>Return</span> <span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>except</span> <span class='gray2'>return</span> <span style='color:darkcyan;'><i>false</i></span> <span class='keyword'>if</span> <span class='gray2'>a</span> <span class='gray2'>contradiction</span> <span class='gray2'>is</span> <span class='gray2'>detected</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>assign</span><span style='color:white;'>(</span><span class='parameter'><i>values</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>s</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>d</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>board</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>values</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>s</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>d</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='gray2'>p</span> <span class='keyword'>=</span> <span class='defFunction'>MapSet.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray'>.</span><span class='gray2'>peers</span><span class='gray'>,</span> <span class='gray2'>s</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='gray2'>eliminate</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>p</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>d</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>board</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Eliminate</span> <span class='gray2'>values</span> <span class='gray2'>from</span> <span class='gray2'>given</span> <span class='gray2'>squares</span> <span class='gray2'>and</span> <span class='gray2'>propagate</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>eliminate</span><span style='color:white;'>(</span><span class='parameter'><i>values</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>squares</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>vals</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>to</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>remove</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>board</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>reduce</span><span class='gray2'>_</span><span class='keyword'>if</span><span class='gray2'>_</span><span class='gray2'>truthy</span> <span class='gray2'>squares</span><span class='gray'>,</span> <span class='gray2'>values</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>square</span><span class='gray'>,</span> <span class='gray2'>values</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='gray2'>eliminate</span><span class='gray2'>_</span><span class='gray2'>vals</span><span class='gray2'>_</span><span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>square</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>square</span><span class='gray'>,</span> <span class='gray2'>vals</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>remove</span><span class='gray'>,</span> <span class='gray2'>board</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='comment'># Remove value</span><span class='gray2'>(</span><span class='gray2'>s</span><span class='gray2'>)</span> <span class='gray2'>from</span> <span class='gray2'>a</span> <span class='gray2'>square</span><span class='gray'>,</span> <span class='gray2'>then:</span>
  <span class='comment'># </span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray2'>)</span> <span class='gray2'>If</span> <span class='gray2'>a</span> <span class='gray2'>square</span> <span class='gray2'>s</span> <span class='gray2'>is</span> <span class='gray2'>reduced</span> <span class='gray2'>to</span> <span class='gray2'>one</span> <span class='gray2'>value</span><span class='gray'>,</span> <span class='gray2'>then</span> <span class='gray2'>eliminate</span> <span class='gray2'>it</span> <span class='gray2'>from</span> <span class='gray2'>the</span> <span class='gray2'>peers</span><span class='gray'>.</span>
  <span class='comment'># </span><span class='gray2'>(</span><span class='gray2'>2</span><span class='gray2'>)</span> <span class='gray2'>If</span> <span class='gray2'>a</span> <span class='gray2'>unit</span> <span class='gray2'>u</span> <span class='gray2'>is</span> <span class='gray2'>reduced</span> <span class='gray2'>to</span> <span class='gray2'>only</span> <span class='gray2'>one</span> <span class='gray2'>place</span> <span class='gray2'>for</span> <span class='gray2'>a</span> <span class='gray2'>value</span> <span class='gray2'>d</span><span class='gray'>,</span> <span class='gray2'>then</span> <span class='gray2'>put</span> <span class='gray2'>it</span> <span class='gray2'>there</span><span class='gray'>.</span>
  <span class='gray2'>defp</span> <span class='gray2'>eliminate</span><span class='gray2'>_</span><span class='gray2'>vals</span><span class='gray2'>_</span><span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>square</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>square</span><span class='gray'>,</span> <span class='gray2'>vals</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>remove</span><span class='gray'>,</span> <span class='gray2'>board</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>vals</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>square</span><span class='gray2'>)</span>
    <span class='keyword'>if</span> <span class='defFunction'>MapSet.</span><span class='gray2'>intersection</span><span class='gray2'>(</span><span class='defFunction'>Enum.</span><span class='gray2'>into</span><span class='gray2'>(</span><span class='gray2'>vals</span><span class='gray'>,</span> <span class='defFunction'>MapSet.</span><span class='gray2'>new</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='defFunction'>Enum.</span><span class='gray2'>into</span><span class='gray2'>(</span><span class='gray2'>vals</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>remove</span><span class='gray'>,</span> <span class='defFunction'>MapSet.</span><span class='gray2'>new</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='gray2'>any?</span> <span class='keyword'>do</span>
      <span class='gray2'>vals</span> <span class='keyword'>=</span> <span class='gray2'>reduce</span> <span class='gray2'>vals</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>remove</span><span class='gray'>,</span> <span class='gray2'>vals</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>val</span><span class='gray'>,</span> <span class='gray2'>vals</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>List.</span><span class='gray2'>delete</span><span class='gray2'>(</span><span class='gray2'>vals</span><span class='gray'>,</span> <span class='gray2'>val</span><span class='gray2'>)</span> <span class='keyword'>end</span>
      <span class='keyword'>if</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>vals</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>0</span> <span class='keyword'>do</span>
        <span class='comment'># contradiction</span><span class='gray'>,</span> <span class='gray2'>removed</span> <span class='gray2'>last</span> <span class='gray2'>value</span>
        <span style='color:darkcyan;'><i>false</i></span>
      <span class='keyword'>else</span>
        <span class='gray2'>values</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>square</span><span class='gray'>,</span> <span class='gray2'>vals</span><span class='gray2'>)</span>
        <span class='gray2'>values</span> <span class='keyword'>=</span> <span class='keyword'>if</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>vals</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>1</span> <span class='keyword'>do</span>
          <span class='comment'># eliminate value</span><span class='gray2'>(</span><span class='gray2'>s</span><span class='gray2'>)</span> <span class='gray2'>from</span> <span class='gray2'>the</span> <span class='gray2'>peers</span><span class='gray'>.</span>
          <span class='gray2'>eliminate</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='defFunction'>MapSet.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray'>.</span><span class='gray2'>peers</span><span class='gray'>,</span> <span class='gray2'>square</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>vals</span><span class='gray'>,</span> <span class='gray2'>board</span><span class='gray2'>)</span>
        <span class='keyword'>else</span>
          <span class='gray2'>values</span>
        <span class='keyword'>end</span>
        <span class='comment'># eliminate value</span><span class='gray2'>(</span><span class='gray2'>s</span><span class='gray2'>)</span> <span class='gray2'>from</span> <span class='gray2'>units</span>
        <span class='gray2'>eliminate</span><span class='gray2'>_</span><span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>units</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray'>.</span><span class='gray2'>units</span><span class='gray'>,</span> <span class='gray2'>square</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>vals</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>remove</span><span class='gray'>,</span> <span class='gray2'>board</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>else</span>
      <span class='gray2'>values</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='comment'># If a unit u is reduced to only one place for a value d</span><span class='gray'>,</span> <span class='gray2'>then</span> <span class='gray2'>put</span> <span class='gray2'>it</span> <span class='gray2'>there</span><span class='gray'>.</span>
  <span class='gray2'>defp</span> <span class='gray2'>eliminate</span><span class='gray2'>_</span><span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>units</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>units</span><span class='gray'>,</span> <span class='gray2'>vals</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>remove</span><span class='gray'>,</span> <span class='gray2'>board</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>reduce</span><span class='gray2'>_</span><span class='keyword'>if</span><span class='gray2'>_</span><span class='gray2'>truthy</span> <span class='gray2'>units</span><span class='gray'>,</span> <span class='gray2'>values</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>unit</span><span class='gray'>,</span> <span class='gray2'>values</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='gray2'>reduce</span><span class='gray2'>_</span><span class='keyword'>if</span><span class='gray2'>_</span><span class='gray2'>truthy</span> <span class='gray2'>vals</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>remove</span><span class='gray'>,</span> <span class='gray2'>values</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>val</span><span class='gray'>,</span> <span class='gray2'>values</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>dplaces</span> <span class='keyword'>=</span> <span class='gray2'>for</span> <span class='gray2'>s</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>unit</span><span class='gray'>,</span> <span class='gray2'>val</span> <span class='gray2'>in</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>s</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>s</span>
        <span class='gray2'>case</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>dplaces</span><span class='gray2'>)</span> <span class='keyword'>do</span>
          <span class='gray2'>0</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>false</i></span>                                      <span class='comment'># contradiction</span><span class='gray2'>:</span> <span class='gray2'>no</span> <span class='gray2'>place</span> <span class='gray2'>for</span> <span class='gray2'>this</span> <span class='gray2'>value</span>
          <span class='gray2'>1</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>assign</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>dplaces</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>val</span><span class='gray'>,</span> <span class='gray2'>board</span><span class='gray2'>)</span> <span class='comment'># d can only be in one place in unit</span><span class='gray2'>;</span> <span class='gray2'>assign</span> <span class='gray2'>it</span> <span class='gray2'>there</span>
          <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>values</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='comment'># Similar to Enum</span><span class='gray'>.</span><span class='gray2'>reduce</span><span class='gray2'>/</span><span class='gray2'>3</span> <span class='gray2'>except</span> <span class='gray2'>it</span> <span class='gray2'>won</span><span class='gray2'>'</span><span class='gray2'>t</span> <span class='gray2'>continue</span> <span class='gray2'>to</span> <span class='gray2'>call</span> <span class='gray2'>the</span> <span class='gray2'>work</span> <span class='gray2'>function</span>
  <span class='comment'># if the accumulator becomes false or nil</span><span class='gray'>.</span>
  <span class='gray2'>defp</span> <span class='gray2'>reduce</span><span class='gray2'>_</span><span class='keyword'>if</span><span class='gray2'>_</span><span class='gray2'>truthy</span><span class='gray2'>(</span><span class='gray2'>coll</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray'>,</span> <span class='gray2'>fun</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>reduce</span> <span class='gray2'>coll</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>i</span><span class='gray'>,</span> <span class='gray2'>a</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='gray2'>a</span> <span style='color:crimson;'>&&</span> <span class='gray2'>fun</span><span class='gray'>.</span><span class='gray2'>(</span><span class='gray2'>i</span><span class='gray'>,</span> <span class='gray2'>a</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Given</span> <span class='gray2'>a</span> <span class='gray2'>puzzle</span> <span class='gray2'>char</span> <span class='gray2'>list</span><span class='gray'>,</span> <span class='gray2'>find</span> <span class='gray2'>the</span> <span class='gray2'>solution</span> <span class='gray2'>and</span> <span class='gray2'>return</span> <span class='gray2'>as</span> <span class='gray2'>a</span> <span class='gray2'>char</span> <span class='gray2'>list</span><span class='gray'>.</span>

  <span class='gray2'>Use</span> <span class='gray2'>display</span><span class='gray2'>/</span><span class='gray2'>1</span> <span class='gray2'>to</span> <span class='gray2'>print</span> <span class='gray2'>the</span> <span class='gray2'>grid</span> <span class='gray2'>as</span> <span class='gray2'>a</span> <span class='gray2'>square</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>solve</span><span style='color:white;'>(</span><span class='parameter'><i>grid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>board</span> <span class='keyword'>=</span> <span class='gray2'>%</span><span class='gray2'>Board</span><span class='gray2'>{</span><span class='gray2'>squares:</span> <span class='gray2'>squares</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>units:</span> <span class='gray2'>units</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>peers:</span> <span class='gray2'>peers</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>}</span>
    <span class='gray2'>grid</span>
      <span class='keyword'>|></span> <span class='gray2'>parse</span><span class='gray2'>_</span><span class='gray2'>grid</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>search</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>flatten</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Flatten</span> <span class='gray2'>a</span> <span class='gray2'>values</span> <span class='gray2'>Map</span> <span class='gray2'>back</span> <span class='gray2'>into</span> <span class='gray2'>a</span> <span class='gray2'>single</span> <span class='gray2'>char</span> <span class='gray2'>list</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>flatten</span><span style='color:white;'>(</span><span class='parameter'><i>values</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>board</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>board</span><span class='gray'>.</span><span class='gray2'>squares</span>
      <span class='keyword'>|></span> <span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>s</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>s</span><span class='gray2'>)</span> <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>concat</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Using</span> <span class='gray2'>depth</span><span class='gray2'>-</span><span class='gray2'>first</span> <span class='gray2'>search</span> <span class='gray2'>and</span> <span class='gray2'>propagation</span><span class='gray'>,</span> <span class='gray2'>try</span> <span class='gray2'>all</span> <span class='gray2'>possible</span> <span class='gray2'>values</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>search</span><span style='color:white;'>(</span><span class='parameter'><i>false</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span style='color:darkcyan;'><i>false</i></span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>search</span><span style='color:white;'>(</span><span class='parameter'><i>values</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>board</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>if</span> <span class='gray2'>all?</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray'>.</span><span class='gray2'>squares</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>s</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>count</span><span class='gray2'>(</span><span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>s</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>1</span> <span class='keyword'>end</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>values</span> <span class='comment'># solved</span><span class='keyword'>!</span>
    <span class='keyword'>else</span>
      <span class='comment'># Chose the unfilled square s with the fewest possibilities</span>
      <span class='gray2'>{</span><span class='gray2'>square</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>count</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray'>.</span><span class='gray2'>squares</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>count</span><span class='gray2'>(</span><span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>1</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>}</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='gray2'>filter</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>c</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>c</span> <span class='keyword'>></span> <span class='gray2'>1</span> <span class='keyword'>end</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='gray2'>sort</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>c1</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>c2</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>c1</span> <span class='keyword'><</span> <span class='gray2'>c2</span> <span class='keyword'>end</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>first</span>
      <span class='gray2'>find</span><span class='gray2'>_</span><span class='gray2'>value</span> <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>square</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>d</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>assign</span><span class='gray2'>(</span><span class='gray2'>values</span><span class='gray'>,</span> <span class='gray2'>square</span><span class='gray'>,</span> <span class='gray2'>d</span><span class='gray'>,</span> <span class='gray2'>board</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='gray2'>search</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Display</span> <span class='gray2'>these</span> <span class='gray2'>values</span> <span class='gray2'>as</span> <span class='gray2'>a</span> <span class='gray2'>2</span><span class='gray2'>-</span><span class='gray2'>D</span> <span class='gray2'>grid</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>display</span><span style='color:white;'>(</span><span class='parameter'><i>grid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>chunk</span><span class='gray2'>_</span><span class='gray2'>every</span><span class='gray2'>(</span><span class='gray2'>grid</span><span class='gray'>,</span> <span style='color:peru;'>@size</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>row</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>chunk</span><span class='gray2'>_</span><span class='gray2'>every</span><span class='gray2'>(</span><span class='gray2'>row</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>"</span> <span class='gray2'>"</span><span class='gray2'>)</span> <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='comment'>\n</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>IO.</span><span class='gray2'>puts</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>SudokuSolverTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

  <span class='gray2'>import</span> <span class='gray2'>SudokuSolver</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>print</span><span style='color:white;'>(</span><span class='parameter'><i>grid</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>solved</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>puzzle</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>"</span>
    <span class='gray2'>display</span><span class='gray2'>(</span><span class='gray2'>grid</span><span class='gray2'>)</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>solved</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>-</span><span class='gray2'>"</span>
    <span class='gray2'>display</span><span class='gray2'>(</span><span class='gray2'>solved</span><span class='gray2'>)</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='comment'>\n</span><span class='gray2'>"</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>solve</span> <span class='gray2'>easy</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>grid1</span> <span class='keyword'>=</span> <span class='gray2'>'</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>3</span><span class='gray'>.</span><span class='gray2'>2</span><span class='gray'>.</span><span class='gray2'>6</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>9</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>3</span><span class='gray'>.</span><span class='gray2'>5</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>18</span><span class='gray'>.</span><span class='gray2'>64</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>81</span><span class='gray'>.</span><span class='gray2'>29</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>7</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>8</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>67</span><span class='gray'>.</span><span class='gray2'>82</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>26</span><span class='gray'>.</span><span class='gray2'>95</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>8</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>2</span><span class='gray'>.</span><span class='gray2'>3</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>9</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>5</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>3</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>'</span>
    <span class='gray2'>solved</span> <span class='keyword'>=</span> <span class='gray2'>solve</span><span class='gray2'>(</span><span class='gray2'>grid1</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>solved</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>'</span><span class='gray2'>483921657967345821251876493548132976729564138136798245372689514814253769695417382</span><span class='gray2'>'</span>
    <span class='gray2'>print</span><span class='gray2'>(</span><span class='gray2'>grid1</span><span class='gray'>,</span> <span class='gray2'>solved</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>solve</span> <span class='gray2'>hard</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>grid2</span> <span class='keyword'>=</span> <span class='gray2'>'</span><span class='gray2'>4</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>8</span><span class='gray'>.</span><span class='gray2'>5</span><span class='gray'>.</span><span class='gray2'>3</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>7</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>2</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>6</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>8</span><span class='gray'>.</span><span class='gray2'>4</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>6</span><span class='gray'>.</span><span class='gray2'>3</span><span class='gray'>.</span><span class='gray2'>7</span><span class='gray'>.</span><span class='gray2'>5</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>2</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>4</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>'</span>
    <span class='gray2'>solved</span> <span class='keyword'>=</span> <span class='gray2'>solve</span><span class='gray2'>(</span><span class='gray2'>grid2</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>solved</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>'</span><span class='gray2'>417369825632158947958724316825437169791586432346912758289643571573291684164875293</span><span class='gray2'>'</span>
    <span class='gray2'>print</span><span class='gray2'>(</span><span class='gray2'>grid2</span><span class='gray'>,</span> <span class='gray2'>solved</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>
</pre>