 <link rel='stylesheet' href='../css/styles.css'><pre><span class='defFunction'>Code.</span><span class='gray2'>load</span><span class='gray2'>_</span><span class='gray2'>file</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray'>.</span><span class='gray2'>/</span><span class='gray2'>10</span><span class='gray2'>-</span><span class='gray2'>sudoku</span><span class='gray2'>-</span><span class='gray2'>board</span><span class='gray'>.</span><span class='gray2'>exs</span><span class='gray2'>"</span><span class='gray2'>)</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>SudokuSolver</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Brute</span> <span class='gray2'>force</span> <span class='gray2'>solve</span> <span class='gray2'>a</span> <span class='gray2'>Sudoku</span> <span class='gray2'>puzzle</span><span class='gray'>.</span>

  <span class='gray2'>TODO</span> <span class='gray2'>this</span> <span class='gray2'>is</span> <span class='gray2'>not</span> <span class='gray2'>a</span> <span class='gray2'>feasible</span> <span class='gray2'>approach</span> <span class='gray2'>for</span> <span class='gray2'>a</span> <span class='gray2'>9</span><span class='gray2'>x9</span> <span class='gray2'>board</span> <span class='gray2'>since</span> <span class='gray2'>it</span> <span class='gray2'>generates</span> <span class='gray2'>too</span> <span class='gray2'>many</span> <span class='gray2'>combinations</span><span class='gray'>.</span>
  <span class='gray2'>I</span> <span class='gray2'>will</span> <span class='gray2'>be</span> <span class='gray2'>working</span> <span class='gray2'>on</span> <span class='gray2'>a</span> <span class='gray2'>better</span> <span class='gray2'>solution</span> <span class='gray2'>soon</span><span class='gray'>.</span>

  <span class='gray2'>This</span> <span class='gray2'>module</span> <span class='gray2'>does</span> <span class='gray2'>not</span> <span class='gray2'>concern</span> <span class='gray2'>itself</span> <span class='gray2'>with</span> <span class='gray2'>input</span><span class='gray2'>/</span><span class='gray2'>output</span> <span class='gray2'>-</span><span class='gray2'>-</span> <span class='gray2'>it</span><span class='gray2'>'</span><span class='gray2'>s</span> <span class='gray2'>up</span> <span class='gray2'>to</span> <span class='gray2'>you</span> <span class='gray2'>to</span> <span class='gray2'>feed</span>
  <span class='gray2'>it</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>lists</span> <span class='gray2'>that</span> <span class='gray2'>represents</span> <span class='gray2'>the</span> <span class='gray2'>board</span><span class='gray'>,</span> <span class='gray2'>where</span> <span class='gray2'>`</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>`</span> <span class='gray2'>is</span> <span class='gray2'>used</span> <span class='gray2'>to</span> <span class='gray2'>indicate</span> <span class='gray2'>a</span> <span class='gray2'>blank</span><span class='gray'>.</span>

  <span class='gray2'>Here</span> <span class='gray2'>is</span> <span class='gray2'>a</span> <span class='gray2'>very</span> <span class='gray2'>small</span> <span class='gray2'>board</span> <span class='gray2'>to</span> <span class='gray2'>be</span> <span class='gray2'>solved:</span>

    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='gray2'>board</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>3</span>  <span class='gray2'>]</span><span class='gray'>,</span>
                  <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>2</span>  <span class='gray2'>]</span><span class='gray'>,</span>
                  <span class='gray2'>[</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>]</span><span class='gray2'>]</span>

  <span class='gray2'>The</span> <span class='gray2'>solve</span><span class='gray2'>/</span><span class='gray2'>1</span> <span class='gray2'>method</span> <span class='gray2'>accepts</span> <span class='gray2'>the</span> <span class='gray2'>board</span> <span class='gray2'>and</span> <span class='gray2'>returns</span> <span class='gray2'>it</span> <span class='gray2'>solved:</span>

    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>SudokuSolver.</span><span class='gray2'>solve</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span>
    <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>]</span><span class='gray'>,</span>
     <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>]</span><span class='gray'>,</span>
     <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>]</span>

  <span class='gray2'>The</span> <span class='gray2'>way</span> <span class='gray2'>it</span> <span class='gray2'>works</span> <span class='gray2'>is</span> <span class='gray2'>by</span> <span class='gray2'>first</span> <span class='gray2'>determining</span> <span class='gray2'>possible</span> <span class='gray2'>solutions</span><span class='gray'>.</span> <span class='gray2'>Each</span> <span class='gray2'>solution</span> <span class='gray2'>is</span> <span class='gray2'>determined</span>
  <span class='gray2'>by</span> <span class='gray2'>first</span> <span class='gray2'>building</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>non</span><span class='gray2'>-</span><span class='gray2'>used</span> <span class='gray2'>numbers</span> <span class='gray2'>for</span> <span class='gray2'>each</span> <span class='gray2'>row</span><span class='gray'>,</span> <span class='gray2'>e</span><span class='gray'>.</span><span class='gray2'>g</span><span class='gray'>.</span> <span class='gray2'>in</span> <span class='gray2'>the</span> <span class='gray2'>sample</span> <span class='gray2'>board</span>
  <span class='gray2'>above</span><span class='gray'>,</span> <span class='gray2'>the</span> <span class='gray2'>missing</span> <span class='gray2'>number</span> <span class='gray2'>in</span> <span class='gray2'>the</span> <span class='gray2'>first</span> <span class='gray2'>row</span> <span class='gray2'>is</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>second</span> <span class='gray2'>row</span> <span class='gray2'>is</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>and</span> <span class='gray2'>third</span> <span class='gray2'>row</span> <span class='gray2'>is</span> <span class='gray2'>1</span> <span class='gray2'>and</span> <span class='gray2'>2</span><span class='gray'>.</span>

  <span class='gray2'>Then</span><span class='gray'>,</span> <span class='gray2'>these</span> <span class='gray2'>"</span><span class='gray2'>possibles</span><span class='gray2'>"</span> <span class='gray2'>are</span> <span class='gray2'>combined</span> <span class='gray2'>to</span> <span class='gray2'>find</span> <span class='gray2'>possible</span> <span class='gray2'>solutions</span><span class='gray'>.</span> <span class='gray2'>For</span> <span class='gray2'>the</span> <span class='gray2'>sample</span> <span class='gray2'>board</span> <span class='gray2'>above</span><span class='gray'>,</span>
  <span class='gray2'>possible</span> <span class='gray2'>solutions</span> <span class='gray2'>are:</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>]</span> <span class='gray2'>and</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>.</span>

  <span class='gray2'>From</span> <span class='gray2'>there</span><span class='gray'>,</span> <span class='gray2'>we</span> <span class='gray2'>simply</span> <span class='gray2'>brute</span> <span class='gray2'>force</span> <span class='gray2'>check</span> <span class='gray2'>each</span> <span class='gray2'>solution</span> <span class='gray2'>against</span> <span class='gray2'>the</span> <span class='gray2'>board</span> <span class='gray2'>to</span> <span class='gray2'>see</span> <span class='keyword'>if</span> <span class='gray2'>it</span><span class='gray2'>'</span><span class='gray2'>s</span> <span class='gray2'>solved</span><span class='gray'>.</span>

  <span class='gray2'>In</span> <span class='gray2'>effect</span><span class='gray'>,</span> <span class='gray2'>we</span> <span class='gray2'>are</span> <span class='gray2'>using</span> <span class='gray2'>logic</span> <span class='gray2'>to</span> <span class='gray2'>find</span> <span class='gray2'>possible</span> <span class='gray2'>solutions</span> <span class='gray2'>that</span> <span class='gray2'>work</span> <span class='gray2'>for</span> <span class='gray2'>each</span> <span class='gray2'>*</span><span class='gray2'>row</span><span class='gray2'>*</span><span class='gray'>,</span> <span class='gray2'>then</span> <span class='gray2'>we</span>
  <span class='keyword'>use</span> <span class='gray2'>brute</span> <span class='gray2'>force</span> <span class='gray2'>to</span> <span class='gray2'>check</span> <span class='gray2'>the</span> <span class='gray2'>solutions</span> <span class='gray2'>against</span> <span class='gray2'>each</span> <span class='gray2'>*</span><span class='gray2'>column</span><span class='gray2'>*</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span class='gray2'>import</span> <span class='gray2'>Enum</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Given</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>lists</span> <span class='gray2'>(</span><span class='gray2'>a</span> <span class='gray2'>square</span><span class='gray2'>)</span> <span class='gray2'>containing</span> <span class='gray2'>some</span> <span class='gray2'>numbers</span> <span class='gray2'>(</span><span class='gray2'>which</span> <span class='gray2'>represents</span> <span class='gray2'>a</span> <span class='gray2'>Sudoku</span> <span class='gray2'>board</span><span class='gray2'>)</span><span class='gray'>,</span>
  <span class='gray2'>and</span> <span class='gray2'>containing</span> <span class='gray2'>nils</span> <span class='gray2'>where</span> <span class='gray2'>blanks</span> <span class='gray2'>are</span><span class='gray'>,</span> <span class='gray2'>return</span> <span class='gray2'>a</span> <span class='gray2'>square</span> <span class='gray2'>with</span> <span class='gray2'>all</span> <span class='gray2'>numbers</span> <span class='gray2'>filled</span> <span class='gray2'>in</span><span class='gray'>.</span>

  <span class='comment'>#</span><span class='comment'># Example</span>

    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='gray2'>board</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>3</span>  <span class='gray2'>]</span><span class='gray'>,</span>
                  <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>2</span>  <span class='gray2'>]</span><span class='gray'>,</span>
                  <span class='gray2'>[</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>]</span><span class='gray2'>]</span>
    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>SudokuSolver.</span><span class='gray2'>solve</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span>
    <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>]</span><span class='gray'>,</span>
     <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>]</span><span class='gray'>,</span>
     <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>]</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>solve</span><span style='color:white;'>(</span><span class='parameter'><i>board</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>board</span>
      <span class='keyword'>|></span> <span class='gray2'>solutions</span>
      <span class='keyword'>|></span> <span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>s</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>apply</span><span class='gray2'>_</span><span class='gray2'>solution</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray'>,</span> <span class='gray2'>s</span><span class='gray2'>)</span> <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>find</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>b</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>SudokuBoard.</span><span class='gray2'>solved?</span><span class='gray2'>(</span><span class='gray2'>b</span><span class='gray2'>)</span> <span class='keyword'>end</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Given</span> <span class='gray2'>a</span> <span class='gray2'>board</span> <span class='gray2'>and</span> <span class='gray2'>a</span> <span class='gray2'>solution</span><span class='gray'>,</span> <span class='gray2'>insert</span> <span class='gray2'>the</span> <span class='gray2'>values</span> <span class='gray2'>from</span> <span class='gray2'>the</span> <span class='gray2'>solution</span>
  <span class='gray2'>into</span> <span class='gray2'>the</span> <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>spots</span> <span class='gray2'>in</span> <span class='gray2'>the</span> <span class='gray2'>board</span><span class='gray'>.</span>

  <span class='gray2'>TODO</span> <span class='gray2'>I</span><span class='gray2'>'</span><span class='gray2'>m</span> <span class='gray2'>not</span> <span class='gray2'>happy</span> <span class='gray2'>with</span> <span class='gray2'>how</span> <span class='gray2'>this</span> <span class='gray2'>method</span> <span class='gray2'>turned</span> <span class='gray2'>out</span><span class='gray'>.</span>
  <span class='gray2'>It</span> <span class='gray2'>seems</span> <span class='gray2'>inefficient</span> <span class='gray2'>to</span> <span class='gray2'>flatten</span> <span class='gray2'>and</span> <span class='gray2'>reconstitute</span> <span class='gray2'>the</span> <span class='gray2'>board</span> <span class='gray2'>on</span> <span class='gray2'>each</span> <span class='gray2'>iteration</span><span class='gray'>.</span>

  <span class='comment'>#</span><span class='comment'># Example</span>

    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='gray2'>board</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>]</span><span class='gray'>,</span>
                  <span class='gray2'>[</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>1</span>  <span class='gray2'>]</span><span class='gray2'>]</span>
    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>SudokuSolver.</span><span class='gray2'>apply</span><span class='gray2'>_</span><span class='gray2'>solution</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>]</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>apply</span><span class='functionName'>_</span><span class='functionName'>solution</span><span style='color:white;'>(</span><span class='parameter'><i>board</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>first</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>|</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>rest</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>size</span> <span class='keyword'>=</span> <span class='gray2'>count</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span>
    <span class='gray2'>board</span> <span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>flatten</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span>
    <span class='gray2'>pos</span> <span class='keyword'>=</span> <span class='gray2'>find</span><span class='gray2'>_</span><span class='gray2'>index</span> <span class='gray2'>board</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>col</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>col</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span> <span class='keyword'>end</span>
    <span class='defFunction'>List.</span><span class='gray2'>replace</span><span class='gray2'>_</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray'>,</span> <span class='gray2'>pos</span><span class='gray'>,</span> <span class='gray2'>first</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>chunk</span><span class='gray2'>_</span><span class='gray2'>every</span><span class='gray2'>(</span><span class='gray2'>size</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>apply</span><span class='gray2'>_</span><span class='gray2'>solution</span><span class='gray2'>(</span><span class='gray2'>rest</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>apply</span><span class='functionName'>_</span><span class='functionName'>solution</span><span style='color:white;'>(</span><span class='parameter'><i>board</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='gray2'>board</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Returns</span> <span class='gray2'>possible</span> <span class='gray2'>combinations</span> <span class='gray2'>for</span> <span class='gray2'>solving</span> <span class='gray2'>the</span> <span class='gray2'>board</span><span class='gray'>.</span>

  <span class='comment'>#</span><span class='comment'># Example</span>

    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='gray2'>board</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>3</span>  <span class='gray2'>]</span><span class='gray'>,</span>
                  <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>2</span>  <span class='gray2'>]</span><span class='gray'>,</span>
                  <span class='gray2'>[</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>]</span><span class='gray2'>]</span>
    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>SudokuSolver.</span><span class='gray2'>solutions</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span>
    <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>]</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>solutions</span><span style='color:white;'>(</span><span class='parameter'><i>board</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>possibles</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='gray2'>combinations</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='gray2'>possibles</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>row</span> <span class='gray2'>|</span> <span class='gray2'>rest</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>possible</span> <span class='keyword'>=</span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>count</span><span class='gray2'>(</span><span class='gray2'>row</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='gray2'>-</span> <span class='gray2'>row</span>
    <span class='gray2'>[</span><span class='gray2'>possible</span> <span class='gray2'>|</span> <span class='gray2'>possibles</span><span class='gray2'>(</span><span class='gray2'>rest</span><span class='gray2'>)</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>
  <span class='gray2'>defp</span> <span class='gray2'>possibles</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>[</span><span class='gray2'>]</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Given</span> <span class='gray2'>a</span> <span class='gray2'>list</span> <span class='gray2'>of</span> <span class='gray2'>possibilities</span> <span class='gray2'>for</span> <span class='gray2'>each</span> <span class='gray2'>row</span><span class='gray'>,</span> <span class='gray2'>return</span> <span class='gray2'>all</span> <span class='gray2'>possible</span> <span class='gray2'>combinations</span><span class='gray'>.</span>

  <span class='comment'>#</span><span class='comment'># Example</span>

    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>SudokuSolver.</span><span class='gray2'>combinations</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>]</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>]</span><span class='gray2'>]</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>combinations</span><span style='color:white;'>(</span><span class='parameter'><i>[</i></span><span class='parameter'><i>list</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>|</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>rest</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>crest</span> <span class='keyword'>=</span> <span class='gray2'>combinations</span><span class='gray2'>(</span><span class='gray2'>rest</span><span class='gray2'>)</span>
    <span class='gray2'>for</span> <span class='gray2'>p</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>permutations</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>r</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>crest</span> <span class='keyword'>do</span>
      <span class='defFunction'>List.</span><span class='gray2'>flatten</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>p</span> <span class='gray2'>|</span> <span class='gray2'>r</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>combinations</span><span style='color:white;'>(</span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>]</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Return</span> <span class='gray2'>all</span> <span class='gray2'>possible</span> <span class='gray2'>permuations</span> <span class='gray2'>of</span> <span class='gray2'>a</span> <span class='gray2'>list</span><span class='gray'>.</span>

  <span class='comment'>#</span><span class='comment'># Example</span>

    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>SudokuSolver.</span><span class='gray2'>permutations</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span><span class='gray2'>2</span><span class='gray'>,</span><span class='gray2'>3</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span><span class='gray2'>2</span><span class='gray'>,</span><span class='gray2'>3</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span><span class='gray2'>3</span><span class='gray'>,</span><span class='gray2'>2</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span><span class='gray2'>1</span><span class='gray'>,</span><span class='gray2'>3</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span><span class='gray2'>3</span><span class='gray'>,</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray'>,</span><span class='gray2'>1</span><span class='gray'>,</span><span class='gray2'>2</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray'>,</span><span class='gray2'>2</span><span class='gray'>,</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>]</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='comment'># http</span><span class='gray2'>:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>whileonefork</span><span class='gray'>.</span><span class='gray2'>blogspot</span><span class='gray'>.</span><span class='gray2'>com</span><span class='gray2'>/</span><span class='gray2'>2010</span><span class='gray2'>/</span><span class='gray2'>11</span><span class='gray2'>/</span><span class='gray2'>erlang</span><span class='gray2'>-</span><span class='gray2'>so</span><span class='gray2'>-</span><span class='gray2'>awesome</span><span class='gray2'>-</span><span class='gray2'>it</span><span class='gray2'>-</span><span class='gray2'>makes</span><span class='gray2'>-</span><span class='gray2'>my</span><span class='gray2'>-</span><span class='gray2'>brain</span><span class='gray'>.</span><span class='gray2'>html</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>permutations</span><span style='color:white;'>(</span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>]</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>permutations</span><span style='color:white;'>(</span><span class='parameter'><i>list</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>for</span> <span class='gray2'>h</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>list</span><span class='gray'>,</span> <span class='gray2'>t</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>permutations</span><span class='gray2'>(</span><span class='gray2'>list</span> <span class='gray2'>-</span><span class='gray2'>-</span> <span class='gray2'>[</span><span class='gray2'>h</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>[</span><span class='gray2'>h</span> <span class='gray2'>|</span> <span class='gray2'>t</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>SudokuSolverTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

  <span class='gray2'>import</span> <span class='gray2'>SudokuSolver</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>correct</span> <span class='gray2'>behavior</span> <span class='gray2'>of</span> <span class='gray2'>combinations</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='gray2'>combinations</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='gray2'>combinations</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='gray2'>combinations</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>]</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>]</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>solves</span> <span class='gray2'>a</span> <span class='gray2'>small</span> <span class='gray2'>board</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>board</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>3</span>  <span class='gray2'>]</span><span class='gray'>,</span>
             <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>2</span>  <span class='gray2'>]</span><span class='gray'>,</span>
             <span class='gray2'>[</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>]</span><span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='gray2'>solve</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>]</span><span class='gray'>,</span>
                            <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>]</span><span class='gray'>,</span>
                            <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>returns</span> <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>on</span> <span class='gray2'>unsolvable</span> <span class='gray2'>board</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>board</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>3</span>  <span class='gray2'>]</span><span class='gray'>,</span>
             <span class='gray2'>[</span><span class='gray2'>3</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>2</span>  <span class='gray2'>]</span><span class='gray'>,</span>
             <span class='gray2'>[</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span>   <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>]</span><span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='gray2'>solve</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:darkcyan;'><i>nil</i></span>
  <span class='keyword'>end</span>

<span class='keyword'>end</span>
</pre>