 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>SudokuBoard</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>Functions</span> <span class='gray2'>to</span> <span class='gray2'>interrogate</span> <span class='gray2'>a</span> <span class='gray2'>board</span><span class='gray'>.</span><span class='gray2'>"</span>

  <span class='gray2'>import</span> <span class='gray2'>Enum</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>Returns</span> <span style='color:darkcyan;'><i>true</i></span> <span class='keyword'>if</span> <span class='gray2'>the</span> <span class='gray2'>board</span> <span class='gray2'>is</span> <span class='gray2'>solved</span><span class='gray'>.</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>solved?</span><span style='color:white;'>(</span><span class='parameter'><i>board</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>rows</span><span class='gray2'>_</span><span class='gray2'>solved?</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span> <span class='gray2'>and</span> <span class='gray2'>cols</span><span class='gray2'>_</span><span class='gray2'>solved?</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>Returns</span> <span style='color:darkcyan;'><i>true</i></span> <span class='keyword'>if</span> <span class='gray2'>all</span> <span class='gray2'>rows</span> <span class='gray2'>are</span> <span class='gray2'>solved</span><span class='gray'>.</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>rows</span><span class='functionName'>_</span><span class='functionName'>solved?</span><span style='color:white;'>(</span><span class='parameter'><i>[</i></span><span class='parameter'><i>row</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>|</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>rest</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>max</span> <span class='keyword'>=</span> <span class='gray2'>count</span><span class='gray2'>(</span><span class='gray2'>row</span><span class='gray2'>)</span>
    <span class='gray2'>sort</span><span class='gray2'>(</span><span class='gray2'>row</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>max</span><span class='gray2'>)</span> <span class='gray2'>and</span> <span class='gray2'>rows</span><span class='gray2'>_</span><span class='gray2'>solved?</span><span class='gray2'>(</span><span class='gray2'>rest</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>rows</span><span class='functionName'>_</span><span class='functionName'>solved?</span><span style='color:white;'>(</span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span style='color:darkcyan;'><i>true</i></span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>Returns</span> <span style='color:darkcyan;'><i>true</i></span> <span class='keyword'>if</span> <span class='gray2'>all</span> <span class='gray2'>columns</span> <span class='gray2'>are</span> <span class='gray2'>solved</span><span class='gray'>.</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>cols</span><span class='functionName'>_</span><span class='functionName'>solved?</span><span style='color:white;'>(</span><span class='parameter'><i>board</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>cols</span><span class='gray2'>_</span><span class='gray2'>solved?</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray'>,</span> <span class='gray2'>count</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span><span class='gray2'>-</span><span class='gray2'>1</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>cols</span><span class='gray2'>_</span><span class='gray2'>solved?</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray'>,</span> <span class='gray2'>index</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>index</span> <span class='keyword'>></span><span class='keyword'>=</span> <span class='gray2'>0</span> <span class='keyword'>do</span>
    <span class='gray2'>max</span> <span class='keyword'>=</span> <span class='gray2'>count</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span>
    <span class='gray2'>col</span> <span class='keyword'>=</span> <span class='gray2'>map</span> <span class='gray2'>board</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>row</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>row</span><span class='gray'>,</span> <span class='gray2'>index</span><span class='gray2'>)</span> <span class='keyword'>end</span>
    <span class='gray2'>sort</span><span class='gray2'>(</span><span class='gray2'>col</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>max</span><span class='gray2'>)</span> <span class='gray2'>and</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>cols</span><span class='gray2'>_</span><span class='gray2'>solved?</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray'>,</span> <span class='gray2'>index</span><span class='gray2'>-</span><span class='gray2'>1</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
  <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>cols</span><span class='gray2'>_</span><span class='gray2'>solved?</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>-</span><span class='gray2'>1</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span style='color:darkcyan;'><i>true</i></span>
<span class='keyword'>end</span>

<span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>SudokuBoardTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

  <span class='gray2'>import</span> <span class='gray2'>SudokuBoard</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>solved?</span> <span class='gray2'>on</span> <span class='gray2'>solved</span> <span class='gray2'>board</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>board</span> <span class='keyword'>=</span> <span class='gray2'>[</span>
      <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>]</span><span class='gray'>,</span>
      <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span>
    <span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='gray2'>solved?</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>solved?</span> <span class='gray2'>on</span> <span class='gray2'>incorrectly</span> <span class='gray2'>solved</span> <span class='gray2'>board</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>board</span> <span class='keyword'>=</span> <span class='gray2'>[</span>
      <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span>
      <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span>
    <span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='gray2'>not</span> <span class='gray2'>solved?</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span>
    <span class='gray2'>board</span> <span class='keyword'>=</span> <span class='gray2'>[</span>
      <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span>
      <span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span>
    <span class='gray2'>]</span>
    <span class='gray2'>assert</span> <span class='gray2'>not</span> <span class='gray2'>solved?</span><span class='gray2'>(</span><span class='gray2'>board</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>
</pre>