 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'># The goal here is to learn </span><span class='gray2'>(</span><span class='gray2'>a</span> <span class='gray2'>tiny</span> <span class='gray2'>bit</span><span class='gray2'>)</span> <span class='gray2'>about</span> <span class='gray2'>the</span> <span class='gray2'>Supervisor</span>
<span class='comment'># We simply fire up the server from exercise 18 and restart it on failure</span><span class='gray'>.</span>

<span class='defFunction'>Code.</span><span class='gray2'>load</span><span class='gray2'>_</span><span class='gray2'>file</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray'>.</span><span class='gray2'>/</span><span class='gray2'>18</span><span class='gray2'>-</span><span class='gray2'>gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>exs</span><span class='gray2'>"</span><span class='gray2'>)</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>PrimeFactorsServer.</span><span class='functionName'>Sup</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='gray2'>Supervisor</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>start</span><span class='functionName'>_</span><span class='functionName'>link</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:yellow;'>:supervisor</span><span class='gray'>.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>init</span><span style='color:white;'>(</span><span class='parameter'><i>_</i></span><span class='parameter'><i>opts</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>tree</span> <span class='keyword'>=</span> <span class='gray2'>[</span> <span class='gray2'>worker</span><span class='gray2'>(</span><span class='gray2'>PrimeFactorsServer</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='gray2'>]</span>
    <span class='gray2'>supervise</span><span class='gray2'>(</span><span class='gray2'>tree</span><span class='gray'>,</span> <span class='gray2'>strategy:</span> <span style='color:yellow;'>:one</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>one</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>


<span class='comment'># to use</span><span class='gray2'>:</span>
<span class='comment'># iex 19</span><span class='gray2'>-</span><span class='gray2'>supervisor</span><span class='gray'>.</span><span class='gray2'>exs</span>
<span class='comment'># iex</span><span class='keyword'>></span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>PrimeFactorsServer.</span><span class='defFunction'>Sup.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span>
<span class='comment'>#</span>
<span class='comment'># iex</span><span class='keyword'>></span> <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>call</span><span class='gray2'>(</span><span style='color:yellow;'>:prime</span><span class='gray2'>_</span><span class='gray2'>factors</span><span class='gray'>,</span> <span class='gray2'>100</span><span class='gray2'>)</span>
<span class='comment'># </span><span class='gray2'>[</span><span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>]</span>
<span class='comment'>#</span>
<span class='comment'># iex</span><span class='keyword'>></span> <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>call</span><span class='gray2'>(</span><span style='color:yellow;'>:prime</span><span class='gray2'>_</span><span class='gray2'>factors</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>a</span><span class='gray2'>"</span><span class='gray2'>)</span>
<span class='comment'># </span><span class='keyword'>=</span><span class='gray2'>ERROR</span> <span class='gray2'>REPORT</span><span class='keyword'>=</span><span class='keyword'>=</span><span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>30</span><span class='gray2'>-</span><span class='gray2'>Dec</span><span class='gray2'>-</span><span class='gray2'>2013</span><span class='gray2'>:</span><span style='color:yellow;'>:22</span><span style='color:yellow;'>:54</span><span style='color:yellow;'>:42</span> <span class='keyword'>=</span><span class='keyword'>=</span><span class='keyword'>=</span>
<span class='comment'># </span><span class='gray2'>*</span><span class='gray2'>*</span> <span class='gray2'>Generic</span> <span class='gray2'>server</span> <span class='gray2'>prime</span><span class='gray2'>_</span><span class='gray2'>factors</span> <span class='gray2'>terminating</span>
<span class='comment'># </span><span class='gray2'>*</span><span class='gray2'>*</span> <span class='gray2'>Last</span> <span class='gray2'>message</span> <span class='gray2'>in</span> <span class='gray2'>was</span> <span class='keyword'><</span><span class='keyword'><</span><span class='gray2'>"</span><span class='gray2'>a</span><span class='gray2'>"</span><span class='keyword'>></span><span class='keyword'>></span>
<span class='comment'># </span><span class='gray2'>*</span><span class='gray2'>*</span> <span class='gray2'>When</span> <span class='gray2'>Server</span> <span class='gray2'>state</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>]</span>
<span class='comment'># </span><span class='gray2'>*</span><span class='gray2'>*</span> <span class='gray2'>Reason</span> <span class='gray2'>for</span> <span class='gray2'>termination</span> <span class='keyword'>=</span><span class='keyword'>=</span>
<span class='comment'># </span><span class='gray2'>*</span><span class='gray2'>*</span> <span class='gray2'>{</span><span class='gray2'>badarg</span><span class='gray'>,</span>
<span class='comment'># </span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span>
<span class='comment'># </span><span class='gray2'>*</span><span class='gray2'>*</span> <span class='gray2'>(</span><span class='gray2'>exit</span><span class='gray2'>)</span> <span class='gray2'>{</span><span class='gray2'>{</span><span style='color:yellow;'>:badarg</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>{</span><span style='color:yellow;'>:math</span><span class='gray'>,</span> <span style='color:yellow;'>:sqrt</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>a</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>PrimeFactors</span><span class='gray'>,</span> <span style='color:yellow;'>:prime</span><span class='gray2'>?</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>file:</span> <span class='gray2'>'</span><span class='gray2'>/</span><span class='gray2'>tim</span><span class='gray2'>/</span><span class='gray2'>pp</span><span class='gray2'>/</span><span class='gray2'>30</span><span class='gray2'>-</span><span class='gray2'>days</span><span class='gray2'>-</span><span class='gray2'>of</span><span class='gray2'>-</span><span class='gray2'>elixir</span><span class='gray2'>/</span><span class='gray2'>18</span><span class='gray2'>-</span><span class='gray2'>gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>exs</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>16</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>PrimeFactors</span><span class='gray'>,</span> <span style='color:yellow;'>:prime</span><span class='gray2'>_</span><span class='gray2'>factors</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>file:</span> <span class='gray2'>'</span><span class='gray2'>/</span><span class='gray2'>tim</span><span class='gray2'>/</span><span class='gray2'>pp</span><span class='gray2'>/</span><span class='gray2'>30</span><span class='gray2'>-</span><span class='gray2'>days</span><span class='gray2'>-</span><span class='gray2'>of</span><span class='gray2'>-</span><span class='gray2'>elixir</span><span class='gray2'>/</span><span class='gray2'>18</span><span class='gray2'>-</span><span class='gray2'>gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>exs</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>4</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>PrimeFactorsServer</span><span class='gray'>,</span> <span style='color:yellow;'>:handle</span><span class='gray2'>_</span><span class='gray2'>call</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>file:</span> <span class='gray2'>'</span><span class='gray2'>/</span><span class='gray2'>tim</span><span class='gray2'>/</span><span class='gray2'>pp</span><span class='gray2'>/</span><span class='gray2'>30</span><span class='gray2'>-</span><span class='gray2'>days</span><span class='gray2'>-</span><span class='gray2'>of</span><span class='gray2'>-</span><span class='gray2'>elixir</span><span class='gray2'>/</span><span class='gray2'>18</span><span class='gray2'>-</span><span class='gray2'>gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>exs</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>49</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>,</span> <span style='color:yellow;'>:handle</span><span class='gray2'>_</span><span class='gray2'>msg</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>file:</span> <span class='gray2'>'</span><span class='gray2'>gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>erl</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>585</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:proc</span><span class='gray2'>_</span><span class='gray2'>lib</span><span class='gray'>,</span> <span style='color:yellow;'>:init</span><span class='gray2'>_</span><span class='gray2'>p</span><span class='gray2'>_</span><span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>apply</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>file:</span> <span class='gray2'>'</span><span class='gray2'>proc</span><span class='gray2'>_</span><span class='gray2'>lib</span><span class='gray'>.</span><span class='gray2'>erl</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>line:</span> <span class='gray2'>239</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>,</span> <span style='color:yellow;'>:call</span><span class='gray'>,</span> <span class='gray2'>[</span><span style='color:yellow;'>:prime</span><span class='gray2'>_</span><span class='gray2'>factors</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>a</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>}</span>
<span class='comment'>#     gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>erl:180:</span> <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>call</span><span class='gray2'>/</span><span class='gray2'>2</span>
<span class='comment'>#</span>
<span class='comment'># iex</span><span class='keyword'>></span> <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>server</span><span class='gray'>.</span><span class='gray2'>call</span><span class='gray2'>(</span><span style='color:yellow;'>:prime</span><span class='gray2'>_</span><span class='gray2'>factors</span><span class='gray'>,</span> <span class='gray2'>8</span><span class='gray2'>)</span>
<span class='comment'># </span><span class='gray2'>[</span><span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>]</span>
</pre>