 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Translate.</span><span class='functionName'>Helpers</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>J</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>symbol</span><span style='color:white;'>(</span><span class='parameter'><i>value</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>call</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>Symbol</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>for</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>literal</span><span class='gray2'>(</span><span class='gray2'>value</span><span class='gray2'>)</span><span class='gray2'>]</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>new</span><span style='color:white;'>(</span><span class='parameter'><i>callee</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>arguments</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>new</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
        <span class='gray2'>callee</span><span class='gray'>,</span>
        <span class='gray2'>arguments</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>call</span><span style='color:white;'>(</span><span class='parameter'><i>callee</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>arguments</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>call</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
        <span class='gray2'>callee</span><span class='gray'>,</span>
        <span class='gray2'>arguments</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>arrow</span><span class='functionName'>_</span><span class='functionName'>function</span><span style='color:white;'>(</span><span class='parameter'><i>params</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>body</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>arrow</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
        <span class='gray2'>params</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span>
        <span class='gray2'>body</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>function</span><span style='color:white;'>(</span><span class='parameter'><i>%</i></span><span class='parameter'><i>ESTree.</i></span><span class='parameter'><i>Identifier</i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>}</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>=</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>params</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>body</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>declaration</span><span class='gray2'>(</span>
        <span class='gray2'>name</span><span class='gray'>,</span>
        <span class='gray2'>params</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span>
        <span class='gray2'>body</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>function</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>params</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>body</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>binary</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>function</span><span class='gray2'>(</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>function</span><span style='color:white;'>(</span><span class='parameter'><i>params</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>body</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
        <span class='gray2'>params</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span>
        <span class='gray2'>body</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>core</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>ElixirScript</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>Core</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>core</span><span class='functionName'>_</span><span class='functionName'>module</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
        <span class='gray2'>core</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>tuple</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>core</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>Tuple</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>bitstring</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>core</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>BitString</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>patterns</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>core</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>Patterns</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>functions</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>core</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>Functions</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>special</span><span class='functionName'>_</span><span class='functionName'>forms</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>core</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>SpecialForms</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>declare</span><span style='color:white;'>(</span><span class='parameter'><i>%</i></span><span class='parameter'><i>ESTree.</i></span><span class='parameter'><i>Identifier</i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>}</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>=</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>value</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>declarator</span> <span class='keyword'>=</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>variable</span><span class='gray2'>_</span><span class='gray2'>declarator</span><span class='gray2'>(</span>
        <span class='gray2'>name</span><span class='gray'>,</span>
        <span class='gray2'>value</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>variable</span><span class='gray2'>_</span><span class='gray2'>declaration</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>declarator</span><span class='gray2'>]</span><span class='gray'>,</span> <span style='color:yellow;'>:const</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>declare</span><span style='color:white;'>(</span><span class='parameter'><i>names</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>value</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>list</span><span style='color:white;'>(</span><span class='parameter'><i>names</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>declarator</span> <span class='keyword'>=</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>variable</span><span class='gray2'>_</span><span class='gray2'>declarator</span><span class='gray2'>(</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>names</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>value</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>variable</span><span class='gray2'>_</span><span class='gray2'>declaration</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>declarator</span><span class='gray2'>]</span><span class='gray'>,</span> <span style='color:yellow;'>:const</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>declare</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>value</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>binary</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>declare</span><span class='gray2'>(</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>declare</span><span class='functionName'>_</span><span class='functionName'>let</span><span style='color:white;'>(</span><span class='parameter'><i>names</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>value</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>list</span><span style='color:white;'>(</span><span class='parameter'><i>names</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>declarator</span> <span class='keyword'>=</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>variable</span><span class='gray2'>_</span><span class='gray2'>declarator</span><span class='gray2'>(</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>pattern</span><span class='gray2'>(</span><span class='gray2'>names</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>value</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>variable</span><span class='gray2'>_</span><span class='gray2'>declaration</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>declarator</span><span class='gray2'>]</span><span class='gray'>,</span> <span style='color:yellow;'>:let</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>declare</span><span class='functionName'>_</span><span class='functionName'>let</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>value</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>declarator</span> <span class='keyword'>=</span> <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>variable</span><span class='gray2'>_</span><span class='gray2'>declarator</span><span class='gray2'>(</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>value</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>variable</span><span class='gray2'>_</span><span class='gray2'>declaration</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>declarator</span><span class='gray2'>]</span><span class='gray'>,</span> <span style='color:yellow;'>:let</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>assign</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>value</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>assignment</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
        <span class='gray2'>:</span><span class='keyword'>=</span><span class='gray'>,</span>
        <span class='gray2'>name</span><span class='gray'>,</span>
        <span class='gray2'>value</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
  <span class='keyword'>end</span></pre>