 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Translate.</span><span class='functionName'>Forms.</span><span class='functionName'>For</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
  
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>JS</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>{</span><span class='gray2'>Form</span><span class='gray'>,</span> <span class='gray2'>Clause</span><span class='gray'>,</span> <span class='gray2'>Helpers</span><span class='gray2'>}</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Forms.</span><span class='gray2'>Pattern</span>
  
   <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='atomo'>:for</span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>generators</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>args</span> <span class='keyword'>=</span> <span class='gray2'>handle</span><span class='gray2'>_</span><span class='gray2'>args</span><span class='gray2'>(</span><span class='gray2'>generators</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>generators</span> <span class='keyword'>=</span> <span class='defFunction'>JS.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray'>.</span><span class='gray2'>generators</span><span class='gray2'>)</span>
  
      <span class='gray2'>into</span> <span class='keyword'>=</span> <span class='gray2'>args</span><span class='gray'>.</span><span class='gray2'>into</span> <span class='gray2'>|</span><span class='gray2'>|</span> <span class='defFunction'>JS.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='gray2'>filter</span> <span class='keyword'>=</span> <span class='gray2'>args</span><span class='gray'>.</span><span class='gray2'>filter</span> <span class='gray2'>|</span><span class='gray2'>|</span> <span class='defFunction'>Helpers.</span><span class='gray2'>arrow</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='defFunction'>JS.</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='defFunction'>JS.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span style='color:darkcyan;'><i>true</i></span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='gray2'>fun</span> <span class='keyword'>=</span> <span class='gray2'>args</span><span class='gray'>.</span><span class='gray2'>fun</span>
  
  
      <span class='gray2'>expression</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span class='defFunction'>JS.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
          <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>clause</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='defFunction'>JS.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray'>.</span><span class='gray2'>patterns</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>fun</span><span class='gray'>,</span> <span class='gray2'>filter</span><span class='gray2'>]</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>collectable</span> <span class='keyword'>=</span> <span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>Collectable</span><span class='gray2'>"</span><span class='gray2'>)</span>
  
      <span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span class='defFunction'>JS.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
          <span class='defFunction'>Helpers.</span><span class='gray2'>special</span><span class='gray2'>_</span><span class='gray2'>forms</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>[</span><span class='gray2'>expression</span><span class='gray'>,</span> <span class='gray2'>generators</span><span class='gray'>,</span> <span class='gray2'>collectable</span><span class='gray'>,</span> <span class='gray2'>into</span><span class='gray2'>]</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>handle</span><span class='gray2'>_</span><span class='gray2'>args</span><span class='gray2'>(</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>generators:</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>args:</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>filter:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>fun:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>into:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>patterns:</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>handle</span><span class='gray2'>_</span><span class='gray2'>args</span><span class='gray2'>(</span><span class='gray2'>generators</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>generators</span><span class='gray'>,</span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>generators:</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>args:</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>filter:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>fun:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>into:</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>patterns:</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='keyword'>fn</span>
  
        <span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span style='color:crimson;'><<></span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span class='gray2'>bs</span><span class='gray2'>_</span><span class='gray2'>parts</span><span class='gray'>,</span> <span class='gray2'>collection</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>_</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='keyword'>fn</span>
                                                                <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>:</span><span class='gray2'>:</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
                                                                  <span class='gray2'>{</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
                                                                <span class='gray2'>{</span><span class='gray2'>:</span><span class='keyword'><</span><span class='gray2'>-</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>var</span><span class='gray'>,</span> <span class='gray2'>collection</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
                                                                  <span class='gray2'>{</span><span class='gray2'>var</span><span class='gray'>,</span> <span class='gray2'>collection</span><span class='gray2'>}</span>
                                                                <span class='keyword'>end</span><span class='gray2'>)</span>
  
        <span class='gray2'>{</span><span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Pattern.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>:</span><span style='color:crimson;'><<></span><span class='keyword'>></span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>bs</span><span class='gray2'>_</span><span class='gray2'>parts</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span>
  
        <span class='gray2'>gen</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
          <span class='defFunction'>JS.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
            <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
            <span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>bitstring</span><span class='gray2'>_</span><span class='gray2'>generator</span><span class='gray2'>"</span><span class='gray2'>)</span>
          <span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>[</span><span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>patterns</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>collection</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>]</span>
        <span class='gray2'>)</span>
  
        <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>state</span> <span class='gray2'>|</span> <span class='gray2'>generators:</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>generators</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>gen</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>args:</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>args</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>patterns:</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>patterns</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>patterns</span><span class='gray2'>}</span>
  
        <span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='keyword'><</span><span class='gray2'>-</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>identifier</span><span class='gray'>,</span> <span class='gray2'>enum</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span><span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Pattern.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>identifier</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span>
  
          <span class='gray2'>gen</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
            <span class='defFunction'>JS.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
              <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>generator</span><span class='gray2'>"</span><span class='gray2'>)</span>
            <span class='gray2'>)</span><span class='gray'>,</span>
            <span class='gray2'>[</span><span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>patterns</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>enum</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>]</span>
          <span class='gray2'>)</span>
  
          <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>state</span> <span class='gray2'>|</span> <span class='gray2'>generators:</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>generators</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>gen</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>args:</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>args</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>patterns:</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>patterns</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>patterns</span><span class='gray2'>}</span>
        <span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>into:</span> <span class='gray2'>expression</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>state</span> <span class='gray2'>|</span> <span class='gray2'>into:</span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>expression</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>}</span>
  
        <span class='gray2'>(</span><span class='gray2'>[</span><span class='keyword'>do:</span> <span class='gray2'>expression2</span><span class='gray'>,</span> <span class='gray2'>into:</span> <span class='gray2'>expression</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>fun</span> <span class='keyword'>=</span> <span class='gray2'>create</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>expression2</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span>
  
          <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>state</span> <span class='gray2'>|</span> <span class='gray2'>into:</span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>expression</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>fun:</span> <span class='gray2'>fun</span><span class='gray2'>}</span>
  
        <span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>into:</span> <span class='gray2'>expression</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>expression2</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>fun</span> <span class='keyword'>=</span> <span class='gray2'>create</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>expression2</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span>
  
          <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>state</span> <span class='gray2'>|</span> <span class='gray2'>into:</span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>expression</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>fun:</span> <span class='gray2'>fun</span><span class='gray2'>}</span>
  
        <span class='gray2'>(</span><span class='gray2'>[</span><span class='keyword'>do:</span> <span class='gray2'>expression</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>fun</span> <span class='keyword'>=</span> <span class='gray2'>create</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>expression</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span>
  
          <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>state</span> <span class='gray2'>|</span> <span class='gray2'>fun:</span> <span class='gray2'>fun</span><span class='gray2'>}</span>
        <span class='gray2'>(</span><span class='gray2'>filter</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>fun</span> <span class='keyword'>=</span> <span class='gray2'>create</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>filter</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span>
  
          <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>state</span> <span class='gray2'>|</span> <span class='gray2'>filter:</span> <span class='gray2'>fun</span><span class='gray2'>}</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
  
    <span class='gray2'>defp</span> <span class='gray2'>create</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='gray2'>ast</span>
      <span class='keyword'>|></span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Function.</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>elem</span><span class='gray2'>(</span><span class='gray2'>0</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Clause.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>statement</span>
  
      <span class='defFunction'>Helpers.</span><span class='gray2'>arrow</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>(</span>
        <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>args</span><span class='gray'>,</span>
        <span class='defFunction'>JS.</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>ast</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>