 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Tracker</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>alias</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span>
  
    <span class='gray2'>defstruct</span> <span class='gray2'>total:</span> <span class='gray2'>0</span><span class='gray'>,</span>
              <span class='gray2'>koans:</span> <span class='defFunction'>MapSet.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>visited</span><span class='gray2'>_</span><span class='gray2'>modules:</span> <span class='defFunction'>MapSet.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
              <span class='gray2'>on</span><span class='gray2'>_</span><span class='gray2'>complete:</span> <span style='color:yellow;'>:noop</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>start</span><span class='functionName'>_</span><span class='functionName'>link</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>%</span><span class='gray2'>Tracker</span><span class='gray2'>{</span><span class='gray2'>}</span> <span class='keyword'>end</span><span class='gray'>,</span> <span class='gray2'>name:</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>notify</span><span class='functionName'>_</span><span class='functionName'>on</span><span class='functionName'>_</span><span class='functionName'>complete</span><span style='color:white;'>(</span><span class='parameter'><i>pid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>update</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>state</span> <span class='gray2'>|</span> <span class='gray2'>on</span><span class='gray2'>_</span><span class='gray2'>complete:</span> <span class='gray2'>pid</span><span class='gray2'>}</span> <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>set</span><span class='functionName'>_</span><span class='functionName'>total</span><span style='color:white;'>(</span><span class='parameter'><i>modules</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>total</span> <span class='keyword'>=</span>
        <span class='gray2'>modules</span>
        <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>flat</span><span class='gray2'>_</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>&</span> <span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>.</span><span class='gray2'>all</span><span class='gray2'>_</span><span class='gray2'>koans</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>count</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
      <span class='defFunction'>Agent.</span><span class='gray2'>update</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>%</span><span class='gray2'>Tracker</span><span class='gray2'>{</span><span class='gray2'>total:</span> <span class='gray2'>total</span><span class='gray2'>}</span> <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>completed</span><span style='color:white;'>(</span><span class='parameter'><i>module</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>koan</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Agent.</span><span class='gray2'>update</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>mark</span><span class='gray2'>_</span><span class='gray2'>koan</span><span class='gray2'>_</span><span class='gray2'>completed</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>koan</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
      <span class='keyword'>if</span> <span class='gray2'>complete?</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='defFunction'>Agent.</span><span class='gray2'>cast</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>state</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>send</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>on</span><span class='gray2'>_</span><span class='gray2'>complete</span><span class='gray'>,</span> <span class='gray2'>{</span><span class='gray2'>self</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span> <span style='color:yellow;'>:complete</span><span class='gray2'>}</span><span class='gray2'>)</span>
          <span class='gray2'>state</span>
        <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>wait</span><span class='functionName'>_</span><span class='functionName'>until</span><span class='functionName'>_</span><span class='functionName'>complete</span><span style='color:white;'>(</span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>pid</span> <span class='keyword'>=</span> <span class='defFunction'>Process.</span><span class='gray2'>whereis</span><span class='gray2'>(</span><span class='gray2'>Tracker</span><span class='gray2'>)</span>
  
      <span class='gray2'>receive</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span><span class='gray2'>^</span><span class='gray2'>pid</span><span class='gray'>,</span> <span style='color:yellow;'>:complete</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:yellow;'>:ok</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>mark</span><span class='gray2'>_</span><span class='gray2'>koan</span><span class='gray2'>_</span><span class='gray2'>completed</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray'>,</span> <span class='gray2'>koan</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>%</span><span class='gray2'>{</span>
        <span class='gray2'>state</span>
        <span class='gray2'>|</span> <span class='gray2'>koans:</span> <span class='defFunction'>MapSet.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>koans</span><span class='gray'>,</span> <span class='gray2'>koan</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>visited</span><span class='gray2'>_</span><span class='gray2'>modules:</span> <span class='defFunction'>MapSet.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>visited</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray'>,</span> <span class='gray2'>module</span><span class='gray2'>)</span>
      <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>visited</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>summarize</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>[</span><span style='color:yellow;'>:visited</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>complete?</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>%</span><span class='gray2'>{</span><span class='gray2'>total:</span> <span class='gray2'>total</span><span class='gray'>,</span> <span class='gray2'>current:</span> <span class='gray2'>completed</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>summarize</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='gray2'>total</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>completed</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>summarize</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>state</span> <span class='keyword'>=</span> <span class='defFunction'>Agent.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>&</span> <span class='gray2'>&</span><span class='gray2'>1</span><span class='gray2'>)</span>
  
      <span class='gray2'>%</span><span class='gray2'>{</span>
        <span class='gray2'>total:</span> <span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>total</span><span class='gray'>,</span>
        <span class='gray2'>current:</span> <span class='defFunction'>MapSet.</span><span class='gray2'>size</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>koans</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>visited</span><span class='gray2'>_</span><span class='gray2'>modules:</span> <span class='defFunction'>MapSet.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>.</span><span class='gray2'>visited</span><span class='gray2'>_</span><span class='gray2'>modules</span><span class='gray2'>)</span>
      <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>