 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Edeliver</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
      <span class='gray2'>Execute</span> <span class='gray2'>edeliver</span> <span class='gray2'>tasks</span> <span class='gray2'>on</span> <span class='gray2'>the</span> <span class='gray2'>production</span> <span class='gray2'>/</span> <span class='gray2'>staging</span> <span class='gray2'>nodes</span><span class='gray'>.</span>
      <span class='gray2'>This</span> <span class='gray2'>internal</span> <span class='gray2'>module</span> <span class='gray2'>provides</span> <span class='gray2'>functions</span> <span class='gray2'>on</span> <span class='gray2'>the</span> <span class='gray2'>nodes</span> <span class='gray2'>which</span> <span class='gray2'>are</span>
      <span class='gray2'>used</span> <span class='gray2'>by</span> <span class='gray2'>some</span> <span class='gray2'>edeliver</span> <span class='gray2'>tasks</span> <span class='gray2'>e</span><span class='gray'>.</span><span class='gray2'>g</span><span class='gray'>.</span> <span class='gray2'>to</span> <span class='gray2'>get</span> <span class='gray2'>the</span> <span class='gray2'>running</span> <span class='gray2'>release</span> <span class='gray2'>version</span>
      <span class='gray2'>(</span><span class='gray2'>`</span><span class='gray2'>edeliver</span> <span class='gray2'>version</span><span class='gray2'>`</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>show</span> <span class='gray2'>the</span> <span class='gray2'>pending</span> <span class='gray2'>migrations</span>
      <span class='gray2'>(</span><span class='gray2'>`</span><span class='gray2'>edeliver</span> <span class='gray2'>show</span> <span class='gray2'>migrations</span><span class='gray2'>`</span><span class='gray2'>)</span> <span class='gray2'>or</span> <span class='gray2'>install</span> <span class='gray2'>pending</span> <span class='gray2'>migrations</span>
      <span class='gray2'>(</span><span class='gray2'>`</span><span class='gray2'>edeliver</span> <span class='gray2'>migrate</span><span class='gray2'>`</span><span class='gray2'>)</span><span class='gray'>.</span>
      <span class='gray2'>In</span> <span class='gray2'>addition</span> <span class='gray2'>it</span> <span class='gray2'>represents</span> <span class='gray2'>the</span> <span class='gray2'>edeliver</span> <span class='gray2'>application</span> <span class='gray2'>callback</span> <span class='gray2'>module</span>
      <span class='gray2'>and</span> <span class='gray2'>starts</span> <span class='gray2'>a</span> <span class='gray2'>process</span> <span class='gray2'>registered</span> <span class='gray2'>locally</span> <span class='gray2'>as</span> <span class='gray2'>`</span><span class='gray2'>Edeliver</span><span class='gray2'>`</span> <span class='gray2'>whichs</span> <span class='gray2'>onliest</span>
      <span class='gray2'>purpose</span> <span class='gray2'>is</span> <span class='gray2'>to</span> <span class='gray2'>be</span> <span class='gray2'>able</span> <span class='gray2'>to</span> <span class='gray2'>detect</span> <span class='gray2'>whether</span> <span class='gray2'>the</span> <span class='gray2'>release</span> <span class='gray2'>was</span> <span class='gray2'>successfully</span>
      <span class='gray2'>started</span><span class='gray'>.</span> <span class='gray2'>This</span> <span class='gray2'>requires</span> <span class='gray2'>to</span> <span class='gray2'>start</span> <span class='gray2'>edeliver</span> <span class='gray2'>as</span> <span class='gray2'>last</span> <span class='gray2'>application</span> <span class='gray2'>in</span> <span class='gray2'>the</span>
      <span class='gray2'>release</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>use</span> <span class='gray2'>Application</span>
    <span class='keyword'>use</span> <span class='gray2'>GenServer</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
      <span class='gray2'>Starts</span> <span class='gray2'>the</span> <span class='gray2'>edeliver</span> <span class='gray2'>application</span>
      <span class='gray2'>including</span> <span class='gray2'>the</span> <span class='gray2'>`</span><span class='defFunction'>Edeliver.</span><span class='gray2'>Supervisor</span><span class='gray2'>`</span> <span class='gray2'>process</span> <span class='gray2'>supervising</span> <span class='gray2'>the</span>
      <span class='gray2'>`</span><span class='gray2'>Edeliver</span><span class='gray2'>`</span> <span class='gray2'>generic</span> <span class='gray2'>server</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>start</span><span class='gray2'>(</span><span class='gray2'>term</span><span class='gray'>,</span> <span class='gray2'>term</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>start</span><span style='color:white;'>(</span><span class='parameter'><i>_</i></span><span class='parameter'><i>type</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>args</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>import</span> <span class='defFunction'>Supervisor.</span><span class='gray2'>Spec</span><span class='gray'>,</span> <span class='gray2'>warn:</span> <span style='color:darkcyan;'><i>false</i></span>
      <span class='gray2'>children</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>worker</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>name:</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray2'>]</span>
      <span class='gray2'>options</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>strategy:</span> <span style='color:yellow;'>:one</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>_</span><span class='gray2'>one</span><span class='gray'>,</span> <span class='gray2'>name:</span> <span class='defFunction'>Edeliver.</span><span class='gray2'>Supervisor</span><span class='gray2'>]</span>
      <span class='defFunction'>Supervisor.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='gray2'>children</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>Starts</span> <span class='gray2'>this</span> <span class='gray2'>gen</span><span class='gray2'>-</span><span class='gray2'>server</span> <span class='gray2'>registered</span> <span class='gray2'>locally</span> <span class='gray2'>as</span> <span class='gray2'>`</span><span class='gray2'>Edeliver</span><span class='gray2'>`</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>start</span><span class='functionName'>_</span><span class='functionName'>link</span><span style='color:white;'>(</span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='keyword'>do:</span> <span class='defFunction'>GenServer.</span><span class='gray2'>start</span><span class='gray2'>_</span><span class='gray2'>link</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>name:</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>)</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
      <span class='gray2'>Runs</span> <span class='gray2'>the</span> <span class='gray2'>edeliver</span> <span class='gray2'>command</span> <span class='gray2'>on</span> <span class='gray2'>the</span> <span class='gray2'>erlang</span> <span class='gray2'>node</span>
      <span class='gray2'>started</span> <span class='gray2'>as:</span>
      <span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>`</span>
      <span class='gray2'>bin</span><span class='gray2'>/</span><span class='gray2'>$</span><span class='gray2'>APP</span> <span class='gray2'>rpc</span> <span class='gray2'>'</span><span class='defFunction'>Elixir.</span><span class='defFunction'>Edeliver.</span><span class='gray2'>run</span><span class='gray2'>_</span><span class='gray2'>command</span><span class='gray2'>(</span><span class='gray2'>'</span><span class='gray2'>[</span><span class='gray2'>command</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='comment'>\</span><span class='gray2'>"</span><span class='gray2'>$</span><span class='gray2'>APP</span><span class='comment'>\</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>arguments</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray2'>'</span>
      <span class='gray2'>`</span><span class='gray2'>`</span><span class='gray2'>`</span>
      <span class='gray2'>The</span> <span class='gray2'>first</span> <span class='gray2'>argument</span> <span class='gray2'>must</span> <span class='gray2'>be</span> <span class='gray2'>the</span> <span class='gray2'>name</span> <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>command</span><span class='gray'>,</span> <span class='gray2'>the</span> <span class='gray2'>second</span> <span class='gray2'>argument</span> <span class='gray2'>the</span>
      <span class='gray2'>name</span>  <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>main</span> <span class='gray2'>application</span> <span class='gray2'>and</span> <span class='gray2'>all</span> <span class='gray2'>further</span> <span class='gray2'>arguments</span> <span class='gray2'>are</span> <span class='gray2'>passed</span> <span class='gray2'>to</span> <span class='gray2'>the</span>
      <span class='gray2'>function</span> <span class='gray2'>thats</span> <span class='gray2'>name</span> <span class='gray2'>is</span> <span class='gray2'>equal</span> <span class='gray2'>to</span> <span class='gray2'>the</span> <span class='gray2'>command</span> <span class='gray2'>name</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>run</span><span class='gray2'>_</span><span class='gray2'>command</span><span class='gray2'>(</span><span class='gray2'>args::</span><span class='gray2'>[</span><span class='gray2'>term</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>no</span><span class='gray2'>_</span><span class='gray2'>return</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>run</span><span class='functionName'>_</span><span class='functionName'>command</span><span style='color:white;'>(</span><span class='parameter'><i>[</i></span><span class='atomo'>:monitor</span><span class='parameter'><i>_</i></span><span class='parameter'><i>startup</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>progress</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>application</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='atomo'>:verbose</span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span style='color:yellow;'>:error</span><span class='gray2'>_</span><span class='gray2'>logger</span><span class='gray'>.</span><span class='gray2'>add</span><span class='gray2'>_</span><span class='gray2'>report</span><span class='gray2'>_</span><span class='gray2'>handler</span> <span class='defFunction'>Edeliver.</span><span class='gray2'>StartupProgress</span>
      <span class='gray2'>monitor</span><span class='gray2'>_</span><span class='gray2'>startup</span><span class='gray2'>_</span><span class='gray2'>progress</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>)</span>
      <span style='color:yellow;'>:error</span><span class='gray2'>_</span><span class='gray2'>logger</span><span class='gray'>.</span><span class='gray2'>delete</span><span class='gray2'>_</span><span class='gray2'>report</span><span class='gray2'>_</span><span class='gray2'>handler</span> <span class='defFunction'>Edeliver.</span><span class='gray2'>StartupProgress</span>
    <span class='keyword'>end</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>run</span><span class='functionName'>_</span><span class='functionName'>command</span><span style='color:white;'>(</span><span class='parameter'><i>[</i></span><span class='atomo'>:monitor</span><span class='parameter'><i>_</i></span><span class='parameter'><i>startup</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>progress</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>application</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>name</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>|</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>monitor</span><span class='gray2'>_</span><span class='gray2'>startup</span><span class='gray2'>_</span><span class='gray2'>progress</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>run</span><span class='functionName'>_</span><span class='functionName'>command</span><span style='color:white;'>(</span><span class='parameter'><i>[</i></span><span class='parameter'><i>command</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>application</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>name</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>|</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>arguments</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>atom</span><span style='color:white;'>(</span><span class='parameter'><i>command</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span> <span class='keyword'>=</span> <span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>)</span>
      <span class='gray2'>{</span><span class='gray2'>^</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>description</span><span class='gray'>,</span> <span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>version</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:application</span><span class='gray'>.</span><span class='gray2'>which</span><span class='gray2'>_</span><span class='gray2'>applications</span> <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>keyfind</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>)</span>
      <span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>version</span> <span class='keyword'>=</span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span> <span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>version</span>
      <span class='gray2'>apply</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>command</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>version</span> <span class='gray2'>|</span> <span class='gray2'>arguments</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
      <span class='gray2'>Waits</span> <span class='gray2'>until</span> <span class='gray2'>the</span> <span class='gray2'>edeliver</span> <span class='gray2'>application</span> <span class='gray2'>is</span> <span class='gray2'>started</span><span class='gray'>.</span>
      <span class='gray2'>If</span> <span class='gray2'>the</span> <span class='gray2'>edeliver</span> <span class='gray2'>application</span> <span class='gray2'>is</span> <span class='gray2'>added</span> <span class='gray2'>as</span> <span class='gray2'>last</span> <span class='gray2'>application</span> <span class='gray2'>in</span> <span class='gray2'>the</span> <span class='gray2'>`</span><span style='color:yellow;'>:applications</span><span class='gray2'>`</span> <span class='gray2'>section</span> <span class='gray2'>of</span>
      <span class='gray2'>the</span> <span class='gray2'>`</span><span class='gray2'>application</span><span class='gray2'>/</span><span class='gray2'>0</span><span class='gray2'>`</span> <span class='gray2'>fun</span> <span class='gray2'>in</span> <span class='gray2'>the</span> <span class='gray2'>`</span><span class='gray2'>mix</span><span class='gray'>.</span><span class='gray2'>exs</span><span class='gray2'>`</span> <span class='gray2'>this</span> <span class='gray2'>waits</span> <span class='gray2'>until</span> <span class='gray2'>all</span> <span class='gray2'>applications</span> <span class='gray2'>are</span> <span class='gray2'>started</span><span class='gray'>.</span>
      <span class='gray2'>This</span> <span class='gray2'>can</span> <span class='gray2'>be</span> <span class='gray2'>used</span> <span class='gray2'>as</span> <span class='gray2'>rpc</span> <span class='gray2'>call</span> <span class='gray2'>after</span> <span class='gray2'>running</span> <span class='gray2'>the</span> <span class='gray2'>asynchronous</span> <span class='gray2'>`</span><span class='gray2'>bin</span><span class='gray2'>/</span><span class='gray2'>$</span><span class='gray2'>APP</span> <span class='gray2'>start</span><span class='gray2'>`</span> <span class='gray2'>command</span> <span class='gray2'>to</span>
      <span class='gray2'>wait</span> <span class='gray2'>until</span> <span class='gray2'>all</span> <span class='gray2'>applications</span> <span class='gray2'>started</span> <span class='gray2'>and</span> <span class='gray2'>then</span> <span class='gray2'>return</span> <span class='gray2'>`</span><span class='gray2'>ok</span><span class='gray2'>`</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>monitor</span><span class='gray2'>_</span><span class='gray2'>startup</span><span class='gray2'>_</span><span class='gray2'>progress</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name::atom</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span style='color:yellow;'>:ok</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>monitor</span><span class='functionName'>_</span><span class='functionName'>startup</span><span class='functionName'>_</span><span class='functionName'>progress</span><span style='color:white;'>(</span><span class='parameter'><i>application</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>edeliver</span><span class='gray2'>_</span><span class='gray2'>pid</span> <span class='keyword'>=</span> <span class='defFunction'>Process.</span><span class='gray2'>whereis</span> <span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span>
      <span class='keyword'>if</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>pid</span><span class='gray2'>(</span><span class='gray2'>edeliver</span><span class='gray2'>_</span><span class='gray2'>pid</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span style='color:yellow;'>:ok</span>
      <span class='keyword'>else</span>
        <span class='gray2'>receive</span> <span class='keyword'>do</span> <span class='gray2'>after</span> <span class='gray2'>500</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:yellow;'>:ok</span> <span class='keyword'>end</span>
        <span class='gray2'>monitor</span><span class='gray2'>_</span><span class='gray2'>startup</span><span class='gray2'>_</span><span class='gray2'>progress</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
      <span class='gray2'>Returns</span> <span class='gray2'>the</span> <span class='gray2'>running</span> <span class='gray2'>release</span> <span class='gray2'>version</span>
      <span class='gray2'>which</span> <span class='gray2'>is</span> <span class='gray2'>either</span> <span class='gray2'>the</span> <span class='gray2'>`</span><span style='color:yellow;'>:current</span><span class='gray2'>`</span> <span class='gray2'>version</span> <span class='gray2'>or</span> <span class='gray2'>the</span> <span class='gray2'>`</span><span style='color:yellow;'>:permanent</span><span class='gray2'>`</span> <span class='gray2'>version</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>release</span><span class='gray2'>_</span><span class='gray2'>version</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name::atom</span><span class='gray'>,</span> <span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>version::String</span><span class='gray'>.</span><span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='defFunction'>String.</span><span class='gray2'>t</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>release</span><span class='functionName'>_</span><span class='functionName'>version</span><span style='color:white;'>(</span><span class='parameter'><i>application</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>application</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>version</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ nil</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>releases</span> <span class='keyword'>=</span> <span style='color:yellow;'>:release</span><span class='gray2'>_</span><span class='gray2'>handler</span><span class='gray'>.</span><span class='gray2'>which</span><span class='gray2'>_</span><span class='gray2'>releases</span>
      <span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span> <span class='keyword'>=</span> <span class='defFunction'>Atom.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>charlist</span> <span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span>
      <span class='gray2'>case</span> <span class='gray2'>(</span><span class='gray2'>for</span> <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>version</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>apps</span><span class='gray'>,</span> <span class='gray2'>status</span><span class='gray2'>}</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>releases</span><span class='gray'>,</span> <span class='gray2'>status</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:yellow;'>:current</span> <span class='gray2'>and</span> <span class='gray2'>name</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>version</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>[</span><span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>version</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>version</span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>case</span> <span class='gray2'>(</span><span class='gray2'>for</span> <span class='gray2'>{</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>version</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>apps</span><span class='gray'>,</span> <span class='gray2'>status</span><span class='gray2'>}</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>releases</span><span class='gray'>,</span> <span class='gray2'>status</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:yellow;'>:permanent</span> <span class='gray2'>and</span> <span class='gray2'>name</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>version</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>do</span>
            <span class='gray2'>[</span><span class='gray2'>permanent</span><span class='gray2'>_</span><span class='gray2'>version</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>charlist</span><span class='gray2'>(</span><span class='gray2'>permanent</span><span class='gray2'>_</span><span class='gray2'>version</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
      <span class='gray2'>Prints</span> <span class='gray2'>the</span> <span class='gray2'>pending</span> <span class='gray2'>ecto</span> <span class='gray2'>migrations</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>list</span><span class='functionName'>_</span><span class='functionName'>pending</span><span class='functionName'>_</span><span class='functionName'>migrations</span><span style='color:white;'>(</span><span class='parameter'><i>application</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>application</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>version</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>ecto</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>repository</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ </i></span><span class='parameter'><i>'</i></span><span class='parameter'><i>'</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>repository</span> <span class='keyword'>=</span> <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span><span class='gray2'>)</span>
      <span class='gray2'>migrator</span> <span class='keyword'>=</span> <span class='defFunction'>Ecto.</span><span class='gray2'>Migrator</span>
      <span class='gray2'>versions</span> <span class='keyword'>=</span> <span class='gray2'>migrator</span><span class='gray'>.</span><span class='gray2'>migrated</span><span class='gray2'>_</span><span class='gray2'>versions</span><span class='gray2'>(</span><span class='gray2'>repository</span><span class='gray2'>)</span>
      <span class='gray2'>pending</span><span class='gray2'>_</span><span class='gray2'>migrations</span> <span class='keyword'>=</span> <span class='gray2'>migrations</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>(</span><span class='gray2'>migrations</span><span class='gray2'>_</span><span class='gray2'>dir</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>version</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>filter</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>version</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>file</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>not</span> <span class='gray2'>(</span><span class='gray2'>version</span> <span class='gray2'>in</span> <span class='gray2'>versions</span><span class='gray2'>)</span> <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>version</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>file</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>{</span><span class='gray2'>version</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>}</span> <span class='keyword'>end</span><span class='gray2'>)</span>
      <span class='gray2'>pending</span><span class='gray2'>_</span><span class='gray2'>migrations</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>each</span><span class='gray2'>(</span><span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>version</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>warning</span> <span class='gray2'>"</span><span class='gray2'>pending:</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray2'>}</span> <span class='gray2'>(</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>version</span><span class='gray2'>}</span><span class='gray2'>)</span><span class='gray2'>"</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
      <span class='gray2'>Runs</span> <span class='gray2'>the</span> <span class='gray2'>pending</span> <span class='gray2'>ecto</span> <span class='gray2'>migrations</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>migrate</span><span style='color:white;'>(</span><span class='parameter'><i>application</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>application</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>version</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>ecto</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>repository</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>direction</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>migration</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>version</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ </i></span><span class='atomo'>:all</span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>atom</span><span style='color:white;'>(</span><span class='parameter'><i>direction</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>options</span> <span class='keyword'>=</span> <span class='keyword'>if</span> <span class='gray2'>migration</span><span class='gray2'>_</span><span class='gray2'>version</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:yellow;'>:all</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>[</span><span class='gray2'>all:</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>else:</span> <span class='gray2'>[</span><span class='gray2'>to:</span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>migration</span><span class='gray2'>_</span><span class='gray2'>version</span><span class='gray2'>)</span><span class='gray2'>]</span>
      <span class='gray2'>migrator</span> <span class='keyword'>=</span> <span class='defFunction'>Ecto.</span><span class='gray2'>Migrator</span>
      <span class='gray2'>migrator</span><span class='gray'>.</span><span class='gray2'>run</span><span class='gray2'>(</span><span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>migrations</span><span class='gray2'>_</span><span class='gray2'>dir</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>version</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>direction</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
      <span class='gray2'>Returns</span> <span class='gray2'>the</span> <span class='gray2'>current</span> <span class='gray2'>directory</span> <span class='gray2'>containing</span> <span class='gray2'>the</span> <span class='gray2'>ecto</span> <span class='gray2'>migrations</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>migrations</span><span class='functionName'>_</span><span class='functionName'>dir</span><span style='color:white;'>(</span><span class='parameter'><i>application</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>application</i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>version</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='comment'># use priv dir from installed version</span>
      <span class='gray2'>lib</span><span class='gray2'>_</span><span class='gray2'>dir</span> <span class='keyword'>=</span> <span style='color:yellow;'>:code</span><span class='gray'>.</span><span class='gray2'>priv</span><span class='gray2'>_</span><span class='gray2'>dir</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span> <span class='keyword'>|></span> <span class='defFunction'>Path.</span><span class='gray2'>dirname</span> <span class='keyword'>|></span> <span class='defFunction'>Path.</span><span class='gray2'>dirname</span>
      <span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>with</span><span class='gray2'>_</span><span class='gray2'>version</span> <span class='keyword'>=</span> <span class='gray2'>"</span><span class='comment'>#</span><span class='gray2'>{</span><span class='defFunction'>Atom.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray2'>}</span><span class='gray2'>-</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>version</span><span class='gray2'>}</span><span class='gray2'>"</span>
      <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>lib</span><span class='gray2'>_</span><span class='gray2'>dir</span><span class='gray'>,</span> <span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>with</span><span class='gray2'>_</span><span class='gray2'>version</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>priv</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>repo</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>migrations</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>init</span><span style='color:white;'>(</span><span class='parameter'><i>args</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>args</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>_</span><span class='gray2'>|</span><span class='gray2'>_</span><span class='gray2'>]</span> <span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='comment'># repository name was passed as ECTO</span><span class='gray2'>_</span><span class='gray2'>REPOSITORY</span> <span class='gray2'>env</span> <span class='gray2'>by</span> <span class='gray2'>the</span> <span class='gray2'>erlang</span><span class='gray2'>-</span><span class='gray2'>node</span><span class='gray2'>-</span><span class='gray2'>execute</span> <span class='gray2'>rpc</span> <span class='gray2'>call</span>
      <span class='defFunction'>List.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>atom</span> <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span>
    <span class='keyword'>end</span>
    <span class='gray2'>defp</span> <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='defFunction'>System.</span><span class='gray2'>get</span><span class='gray2'>_</span><span class='gray2'>env</span> <span class='gray2'>"</span><span class='gray2'>ECTO</span><span class='gray2'>_</span><span class='gray2'>REPOSITORY</span><span class='gray2'>"</span> <span class='keyword'>do</span> <span class='comment'># ECTO</span><span class='gray2'>_</span><span class='gray2'>REPOSITORY</span> <span class='gray2'>env</span> <span class='gray2'>was</span> <span class='gray2'>set</span> <span class='gray2'>when</span> <span class='gray2'>the</span> <span class='gray2'>node</span> <span class='gray2'>was</span> <span class='gray2'>started</span>
        <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span> <span class='keyword'>=</span> <span class='keyword'><</span><span class='keyword'><</span><span class='gray2'>_</span><span class='gray'>,</span><span class='gray2'>_</span><span class='gray2'>:</span><span style='color:yellow;'>:binary</span><span class='keyword'>></span><span class='keyword'>></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span><span class='gray2'>_</span><span class='gray2'>module</span> <span class='keyword'>=</span> <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span> <span class='keyword'>|></span> <span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>charlist</span> <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>atom</span>
          <span class='keyword'>if</span> <span class='gray2'>maybe</span><span class='gray2'>_</span><span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repo?</span><span class='gray2'>(</span><span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
            <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span><span class='gray2'>_</span><span class='gray2'>module</span>
          <span class='keyword'>else</span>
            <span class='gray2'>error</span><span class='keyword'>!</span> <span class='gray2'>"</span><span class='gray2'>Module</span> <span class='gray2'>'</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>}</span><span class='gray2'>'</span> <span class='gray2'>is</span> <span class='gray2'>not</span> <span class='gray2'>an</span> <span class='gray2'>ecto</span> <span class='gray2'>repository</span><span class='gray'>.</span><span class='comment'>\n    Please set the correct repository module in the edeliver config as ECTO</span><span class='gray2'>_</span><span class='gray2'>REPOSITORY</span> <span class='gray2'>env</span><span class='comment'>\n    or remove that value to use autodetection of that module</span><span class='gray'>.</span><span class='gray2'>"</span>
          <span class='keyword'>end</span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>case</span> <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repos</span><span class='gray2'>_</span><span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>config</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>)</span> <span class='keyword'>do</span>
            <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span><span class='gray2'>_</span><span class='gray2'>module</span>
            <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>modules</span> <span class='keyword'>=</span><span class='gray2'>[</span><span class='gray2'>_</span><span class='gray2'>|</span><span class='gray2'>_</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>error</span><span class='keyword'>!</span> <span class='gray2'>"</span><span class='gray2'>Found</span> <span class='gray2'>several</span> <span class='gray2'>ecto</span> <span class='gray2'>repository</span> <span class='gray2'>modules</span> <span class='gray2'>(</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span> <span class='gray2'>modules</span><span class='gray2'>}</span><span class='gray2'>)</span><span class='gray'>.</span><span class='comment'>\n    Please specify the repository to use in the edeliver config as ECTO</span><span class='gray2'>_</span><span class='gray2'>REPOSITORY</span> <span class='gray2'>env</span><span class='gray'>.</span><span class='gray2'>"</span>
            <span style='color:yellow;'>:error</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>case</span> <span class='defFunction'>Enum.</span><span class='gray2'>filter</span><span class='gray2'>(</span><span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>loaded</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>1</span><span class='gray2'>_</span><span class='gray2'>0</span><span class='gray2'>_</span><span class='gray2'>repo?</span><span class='gray2'>/</span><span class='gray2'>1</span><span class='gray2'>)</span> <span class='keyword'>do</span>
                <span class='gray2'>[</span><span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repository</span><span class='gray2'>_</span><span class='gray2'>module</span>
                <span class='gray2'>[</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>error</span><span class='keyword'>!</span> <span class='gray2'>"</span><span class='gray2'>No</span> <span class='gray2'>ecto</span> <span class='gray2'>repository</span> <span class='gray2'>module</span> <span class='gray2'>found</span><span class='gray'>.</span><span class='comment'>\n    Please specify the repository in the edeliver config as ECTO</span><span class='gray2'>_</span><span class='gray2'>REPOSITORY</span> <span class='gray2'>env</span><span class='gray'>.</span><span class='gray2'>"</span>
                <span class='gray2'>modules</span> <span class='keyword'>=</span><span class='gray2'>[</span><span class='gray2'>_</span><span class='gray2'>|</span><span class='gray2'>_</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>error</span><span class='keyword'>!</span> <span class='gray2'>"</span><span class='gray2'>Found</span> <span class='gray2'>several</span> <span class='gray2'>ecto</span> <span class='gray2'>repository</span> <span class='gray2'>modules</span> <span class='gray2'>(</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>inspect</span> <span class='gray2'>modules</span><span class='gray2'>}</span><span class='gray2'>)</span><span class='gray'>.</span><span class='comment'>\n    Please specify the repository to use in the edeliver config as ECTO</span><span class='gray2'>_</span><span class='gray2'>REPOSITORY</span> <span class='gray2'>env</span><span class='gray'>.</span><span class='gray2'>"</span>
              <span class='keyword'>end</span>
          <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repos</span><span class='gray2'>_</span><span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>config</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Application.</span><span class='gray2'>fetch</span><span class='gray2'>_</span><span class='gray2'>env</span><span class='gray2'>(</span><span class='gray2'>application</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span style='color:yellow;'>:ecto</span><span class='gray2'>_</span><span class='gray2'>repos</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>maybe</span><span class='gray2'>_</span><span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>repo?</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='keyword'>if</span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>loaded</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>exports</span> <span class='keyword'>=</span> <span class='gray2'>module</span><span class='gray'>.</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span style='color:yellow;'>:exports</span><span class='gray2'>)</span>
        <span class='comment'># </span><span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>adapter</span><span class='gray2'>_</span><span class='gray2'>_</span> <span class='gray2'>for</span> <span class='gray2'>ecto</span> <span class='gray2'>versions</span> <span class='keyword'>></span><span class='keyword'>=</span> <span class='gray2'>2</span><span class='gray'>.</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>repo</span><span class='gray2'>_</span><span class='gray2'>_</span> <span class='gray2'>for</span> <span class='gray2'>ecto</span> <span class='gray2'>versions</span> <span class='keyword'><</span> <span class='gray2'>2</span><span class='gray'>.</span><span class='gray2'>0</span>
        <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>exports</span><span class='gray'>,</span> <span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>adapter</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>)</span> <span class='gray2'>|</span><span class='gray2'>|</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>exports</span><span class='gray'>,</span> <span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>repo</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray2'>)</span>
      <span class='keyword'>else</span>
        <span style='color:darkcyan;'><i>false</i></span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>ecto</span><span class='gray2'>_</span><span class='gray2'>1</span><span class='gray2'>_</span><span class='gray2'>0</span><span class='gray2'>_</span><span class='gray2'>repo?</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='keyword'>if</span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>loaded</span><span class='gray2'>(</span><span class='gray2'>module</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>module</span><span class='gray'>.</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span style='color:yellow;'>:exports</span><span class='gray2'>)</span>
        <span class='keyword'>|></span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>:</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>repo</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray2'>)</span>
      <span class='keyword'>else</span>
        <span style='color:darkcyan;'><i>false</i></span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='comment'># taken from https</span><span class='gray2'>:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>github</span><span class='gray'>.</span><span class='gray2'>com</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>-</span><span class='gray2'>lang</span><span class='gray2'>/</span><span class='gray2'>ecto</span><span class='gray2'>/</span><span class='gray2'>blob</span><span class='gray2'>/</span><span class='gray2'>master</span><span class='gray2'>/</span><span class='gray2'>lib</span><span class='gray2'>/</span><span class='gray2'>ecto</span><span class='gray2'>/</span><span class='gray2'>migrator</span><span class='gray'>.</span><span class='gray2'>ex</span><span class='comment'>#L183</span>
    <span class='gray2'>defp</span> <span class='gray2'>migrations</span><span class='gray2'>_</span><span class='gray2'>for</span><span class='gray2'>(</span><span class='gray2'>directory</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>query</span> <span class='keyword'>=</span> <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>directory</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>*</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='gray2'>for</span> <span class='gray2'>entry</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='defFunction'>Path.</span><span class='gray2'>wildcard</span><span class='gray2'>(</span><span class='gray2'>query</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>info</span> <span class='keyword'>=</span> <span class='gray2'>extract</span><span class='gray2'>_</span><span class='gray2'>migration</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>entry</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='keyword'>do:</span> <span class='gray2'>info</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>extract</span><span class='gray2'>_</span><span class='gray2'>migration</span><span class='gray2'>_</span><span class='gray2'>info</span><span class='gray2'>(</span><span class='gray2'>file</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>base</span> <span class='keyword'>=</span> <span class='defFunction'>Path.</span><span class='gray2'>basename</span><span class='gray2'>(</span><span class='gray2'>file</span><span class='gray2'>)</span>
      <span class='gray2'>ext</span>  <span class='keyword'>=</span> <span class='defFunction'>Path.</span><span class='gray2'>extname</span><span class='gray2'>(</span><span class='gray2'>base</span><span class='gray2'>)</span>
      <span class='gray2'>case</span> <span class='defFunction'>Integer.</span><span class='gray2'>parse</span><span class='gray2'>(</span><span class='defFunction'>Path.</span><span class='gray2'>rootname</span><span class='gray2'>(</span><span class='gray2'>base</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span><span class='gray2'>integer</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>_</span><span class='gray2'>"</span> <span class='keyword'><</span><span class='keyword'>></span> <span class='gray2'>name</span><span class='gray2'>}</span> <span class='gray2'>when</span> <span class='gray2'>ext</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>"</span><span class='gray'>.</span><span class='gray2'>exs</span><span class='gray2'>"</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>{</span><span class='gray2'>integer</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>file</span><span class='gray2'>}</span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>nil</i></span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='comment'># defp info</span><span class='gray2'>(</span><span class='gray2'>message</span><span class='gray2'>)</span><span class='gray'>,</span>    <span class='keyword'>do:</span> <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='keyword'>=</span><span class='keyword'>=</span><span class='keyword'>></span> <span class='comment'>#</span><span class='gray2'>{</span><span class='defFunction'>IO.</span><span class='defFunction'>ANSI.</span><span class='gray2'>green</span><span class='gray2'>}</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>message</span><span class='gray2'>}</span><span class='comment'>#</span><span class='gray2'>{</span><span class='defFunction'>IO.</span><span class='defFunction'>ANSI.</span><span class='gray2'>reset</span><span class='gray2'>}</span><span class='gray2'>"</span>
    <span class='gray2'>defp</span> <span class='gray2'>warning</span><span class='gray2'>(</span><span class='gray2'>message</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='keyword'>=</span><span class='keyword'>=</span><span class='keyword'>></span> <span class='comment'>#</span><span class='gray2'>{</span><span class='defFunction'>IO.</span><span class='defFunction'>ANSI.</span><span class='gray2'>yellow</span><span class='gray2'>}</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>message</span><span class='gray2'>}</span><span class='comment'>#</span><span class='gray2'>{</span><span class='defFunction'>IO.</span><span class='defFunction'>ANSI.</span><span class='gray2'>reset</span><span class='gray2'>}</span><span class='gray2'>"</span>
    <span class='gray2'>defp</span> <span class='gray2'>error</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>message</span><span class='gray2'>)</span> <span class='keyword'>do</span>
       <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='keyword'>=</span><span class='keyword'>=</span><span class='keyword'>></span> <span class='comment'>#</span><span class='gray2'>{</span><span class='defFunction'>IO.</span><span class='defFunction'>ANSI.</span><span class='gray2'>red</span><span class='gray2'>}</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>message</span><span class='gray2'>}</span><span class='comment'>#</span><span class='gray2'>{</span><span class='defFunction'>IO.</span><span class='defFunction'>ANSI.</span><span class='gray2'>reset</span><span class='gray2'>}</span><span class='gray2'>"</span>
       <span class='gray2'>throw</span> <span class='gray2'>"</span><span class='gray2'>error</span><span class='gray2'>"</span>
    <span class='keyword'>end</span>
  
  
  <span class='keyword'>end</span></pre>