 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Translate.</span><span class='functionName'>Forms.</span><span class='functionName'>Bitstring</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>JS</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>Helpers</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>Form</span>
  
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i><<></i></span><span class='parameter'><i>></i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>elements</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>new</span><span class='gray2'>(</span>
          <span class='defFunction'>Helpers.</span><span class='gray2'>bitstring</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>elements</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='gray2'>)</span>
  
      <span class='gray2'>{</span> <span class='gray2'>js</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span class='functionName'>_</span><span class='functionName'>element</span><span style='color:white;'>(</span><span class='parameter'><i>element</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>number</span><span style='color:white;'>(</span><span class='parameter'><i>element</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:integer</span><span class='gray'>,</span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>element</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>}</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span class='functionName'>_</span><span class='functionName'>element</span><span style='color:white;'>(</span><span class='parameter'><i>element</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>binary</span><span style='color:white;'>(</span><span class='parameter'><i>element</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:binary</span><span class='gray'>,</span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>element</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>}</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span class='functionName'>_</span><span class='functionName'>element</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i><<></i></span><span class='parameter'><i>></i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>}</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>=</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>ast</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>ast</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span class='functionName'>_</span><span class='functionName'>element</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>:</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>element</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>type</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='parameter'><i>}</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>type</span><span class='functionName'> </span><span class='functionName'>in</span><span class='functionName'> </span><span class='functionName'>[</span><span class='functionName'>:integer</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>:float</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>:bitstring</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>:bits</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>:binary</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>:bytes</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>:utf8</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>:utf16</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>:utf32</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>:signed</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>:unsigned</span><span class='functionName'>]</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>translate</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>element</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>}</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span class='functionName'>_</span><span class='functionName'>element</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>:</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>element</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>type</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>params</i></span><span class='parameter'><i>}</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>type</span><span class='functionName'> </span><span class='functionName'>in</span><span class='functionName'> </span><span class='functionName'>[</span><span class='functionName'>:size</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>:unit</span><span class='functionName'>]</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>translate</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>element</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>translate</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>}</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span class='functionName'>_</span><span class='functionName'>element</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>:</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>element</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>*</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>size</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>unit</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>size</span><span class='gray2'>_</span><span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:size</span><span class='gray'>,</span> <span class='gray2'>translate</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>element</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>translate</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>size</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>)</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:unit</span><span class='gray'>,</span> <span class='gray2'>size</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>translate</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>unit</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span class='functionName'>_</span><span class='functionName'>element</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>:</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>element</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>-</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>types</i></span><span class='parameter'><i>}</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>handle</span><span class='gray2'>_</span><span class='gray2'>type</span><span class='gray2'>_</span><span class='gray2'>adjectives</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>-</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>types</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>translate</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>element</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span class='functionName'>_</span><span class='functionName'>element</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>:</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>element</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>size</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:size</span><span class='gray'>,</span> <span class='gray2'>translate</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>element</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>translate</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>size</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span class='functionName'>_</span><span class='functionName'>element</span><span style='color:white;'>(</span><span class='parameter'><i>element</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:binary</span><span class='gray'>,</span> <span class='gray2'>translate</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>element</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>}</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>translate</span><span class='functionName'>_</span><span class='functionName'>element</span><span style='color:white;'>(</span><span class='parameter'><i>ElixirScript.</i></span><span class='parameter'><i>Translate.</i></span><span class='parameter'><i>Forms.</i></span><span class='parameter'><i>Pattern.</i></span><span class='parameter'><i>Patterns</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>JS.</span><span class='gray2'>object</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='defFunction'>JS.</span><span class='gray2'>property</span><span class='gray2'>(</span>
                                        <span class='defFunction'>JS.</span><span class='gray2'>literal</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>value</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray'>,</span>
                                        <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Forms.</span><span class='defFunction'>Pattern.</span><span class='defFunction'>Patterns.</span><span class='gray2'>parameter</span><span class='gray2'>(</span><span class='gray2'>)</span>
                             <span class='gray2'>)</span>
                           <span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>translate</span><span class='functionName'>_</span><span class='functionName'>element</span><span style='color:white;'>(</span><span class='parameter'><i>element</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>element</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>handle</span><span class='gray2'>_</span><span class='gray2'>type</span><span class='gray2'>_</span><span class='gray2'>adjectives</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>-</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>types</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>types</span><span class='gray'>,</span> <span class='gray2'>ast</span><span class='gray'>,</span> <span class='keyword'>fn</span><span class='gray2'>(</span><span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>case</span> <span class='gray2'>type</span> <span class='keyword'>do</span>
          <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>-</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>sub</span><span class='gray2'>_</span><span class='gray2'>types</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>handle</span><span class='gray2'>_</span><span class='gray2'>type</span><span class='gray2'>_</span><span class='gray2'>adjectives</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>-</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>sub</span><span class='gray2'>_</span><span class='gray2'>types</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
          <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>*</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>size</span><span class='gray'>,</span> <span class='gray2'>unit</span><span class='gray2'>]</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='gray2'>size</span><span class='gray2'>_</span><span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:size</span><span class='gray'>,</span> <span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>size</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>)</span>
            <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>{</span><span style='color:yellow;'>:unit</span><span class='gray'>,</span> <span class='gray2'>size</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>unit</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray2'>)</span>
          <span class='gray2'>{</span><span class='gray2'>the</span><span class='gray2'>_</span><span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>}</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>the</span><span class='gray2'>_</span><span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray'>,</span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>}</span><span class='gray2'>)</span>
          <span class='gray2'>{</span><span class='gray2'>the</span><span class='gray2'>_</span><span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>the</span><span class='gray2'>_</span><span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>current</span><span class='gray2'>_</span><span class='gray2'>ast</span><span class='gray2'>}</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>ast</span><span class='gray2'>}</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span class='defFunction'>JS.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
          <span class='defFunction'>Helpers.</span><span class='gray2'>bitstring</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>type</span><span class='gray2'>)</span>
        <span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>[</span>
          <span class='gray2'>ast</span>
        <span class='gray2'>]</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>element</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>type</span><span class='gray'>,</span> <span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray2'>}</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span class='defFunction'>JS.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
          <span class='defFunction'>Helpers.</span><span class='gray2'>bitstring</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='defFunction'>JS.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>type</span><span class='gray2'>)</span>
        <span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>[</span>
          <span class='gray2'>ast</span>
        <span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>params</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>make</span><span class='functionName'>_</span><span class='functionName'>interpolated</span><span class='functionName'>_</span><span class='functionName'>string</span><span style='color:white;'>(</span><span class='parameter'><i>elements</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>translated</span><span class='gray2'>_</span><span class='gray2'>elements</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>elements</span><span class='gray'>,</span> <span class='keyword'>fn</span><span class='gray2'>(</span><span class='gray2'>x</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>case</span> <span class='gray2'>x</span> <span class='keyword'>do</span>
          <span class='gray2'>elem</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>binary</span><span class='gray2'>(</span><span class='gray2'>elem</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>elem</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
          <span class='gray2'>{</span><span class='gray2'>:</span><span class='gray2'>:</span><span class='gray2'>:</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>data</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
            <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>data</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>result</span> <span class='keyword'>=</span> <span class='gray2'>case</span> <span class='gray2'>translated</span><span class='gray2'>_</span><span class='gray2'>elements</span> <span class='keyword'>do</span>
        <span class='gray2'>[</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>JS.</span><span class='gray2'>literal</span><span class='gray2'>(</span><span class='gray2'>'</span><span class='gray2'>'</span><span class='gray2'>)</span>
        <span class='gray2'>[</span><span class='gray2'>_</span><span class='gray2'>]</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>interpolated</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>translated</span><span class='gray2'>_</span><span class='gray2'>elements</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='gray2'>elements</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>interpolated</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>tl</span><span class='gray2'>(</span><span class='gray2'>elements</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>elements</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>{</span><span class='gray2'>result</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>interpolated</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>ast</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>ast</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>interpolated</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>elements</span><span class='gray'>,</span> <span class='gray2'>ast</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='defFunction'>JS.</span><span class='gray2'>binary</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
        <span class='gray2'>:</span><span class='gray2'>+</span><span class='gray'>,</span>
        <span class='gray2'>ast</span><span class='gray'>,</span>
        <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>make</span><span class='gray2'>_</span><span class='gray2'>interpolated</span><span class='gray2'>_</span><span class='gray2'>string</span><span class='gray2'>(</span><span class='gray2'>tl</span><span class='gray2'>(</span><span class='gray2'>elements</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>elements</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
  <span class='keyword'>end</span></pre>