 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'># http</span><span class='gray2'>:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>elixir</span><span class='gray2'>-</span><span class='gray2'>lang</span><span class='gray'>.</span><span class='gray2'>org</span><span class='gray2'>/</span><span class='gray2'>getting</span><span class='gray2'>-</span><span class='gray2'>started</span><span class='gray2'>/</span><span class='gray2'>mix</span><span class='gray2'>-</span><span class='gray2'>otp</span><span class='gray2'>/</span><span class='gray2'>introduction</span><span class='gray2'>-</span><span class='gray2'>to</span><span class='gray2'>-</span><span class='gray2'>mix</span><span class='gray'>.</span><span class='gray2'>html</span>
<span class='comment'># https</span><span class='gray2'>:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>hexdocs</span><span class='gray'>.</span><span class='gray2'>pm</span><span class='gray2'>/</span><span class='gray2'>ex</span><span class='gray2'>_</span><span class='gray2'>unit</span><span class='gray2'>/</span><span class='defFunction'>ExUnit.</span><span class='gray2'>html</span>

<span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>                                <span class='comment'># set up the test runner</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>MyTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>                           <span class='comment'># use requires a module and sets up macros</span><span class='gray2'>;</span> <span class='gray2'>will</span> <span class='gray2'>explore</span> <span class='gray2'>more</span> <span class='gray2'>later</span>

  <span class='gray2'>test</span> <span class='gray2'>'</span><span class='gray2'>simple</span> <span class='gray2'>test</span><span class='gray2'>'</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span> <span class='gray2'>1</span> <span class='gray2'>+</span> <span class='gray2'>1</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>2</span>
    <span class='comment'>#assert 1 </span><span class='gray2'>+</span> <span class='gray2'>1</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>3</span>                      <span class='comment'># Elixir is smart</span><span class='keyword'>!</span> <span class='gray2'>No</span> <span class='gray2'>need</span> <span class='gray2'>for</span> <span class='gray2'>assert</span><span class='gray2'>_</span><span class='gray2'>equal</span><span class='gray'>,</span> <span class='gray2'>assert</span><span class='gray2'>_</span><span class='gray2'>gte</span><span class='gray'>,</span> <span class='gray2'>etc</span><span class='gray'>.</span>
                                            <span class='comment'># And we still get great failure messages</span><span class='gray'>,</span> <span class='gray2'>yipee</span><span class='keyword'>!</span>
                                            <span class='comment'># 1</span><span class='gray2'>)</span> <span class='gray2'>test</span><span class='gray2'>_</span><span class='gray2'>assert</span> <span class='gray2'>(</span><span class='gray2'>MyTest</span><span class='gray2'>)</span>
                                            <span class='comment'>#    </span><span class='gray2'>*</span><span class='gray2'>*</span> <span class='gray2'>(</span><span class='defFunction'>ExUnit.</span><span class='gray2'>ExpectationError</span><span class='gray2'>)</span>
                                            <span class='comment'>#                 expected</span><span class='gray2'>:</span> <span class='gray2'>2</span>
                                            <span class='comment'>#      to be equal to </span><span class='gray2'>(</span><span class='keyword'>=</span><span class='keyword'>=</span><span class='gray2'>)</span><span class='gray2'>:</span> <span class='gray2'>3</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>refute</span> <span class='gray2'>is</span> <span class='gray2'>opposite</span> <span class='gray2'>of</span> <span class='gray2'>assert</span><span class='gray2'>"</span> <span class='keyword'>do</span>    <span class='comment'># test macro accepts string as test name</span>
    <span class='gray2'>refute</span> <span class='gray2'>1</span> <span class='gray2'>+</span> <span class='gray2'>1</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>3</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span style='color:yellow;'>:assert</span><span class='gray2'>_</span><span class='gray2'>raise</span> <span class='keyword'>do</span>                     <span class='comment'># test macro also accepts an atom</span>
    <span class='gray2'>assert</span><span class='gray2'>_</span><span class='gray2'>raise</span> <span class='gray2'>ArithmeticError</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='gray2'>1</span> <span class='gray2'>+</span> <span class='gray2'>"</span><span class='gray2'>x</span><span class='gray2'>"</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>assert</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>delta</span> <span class='gray2'>asserts</span> <span class='gray2'>that</span> <span class='gray2'>val1</span> <span class='gray2'>and</span> <span class='gray2'>val2</span> <span class='gray2'>differ</span> <span class='gray2'>by</span> <span class='gray2'>less</span> <span class='gray2'>than</span> <span class='gray2'>delta</span><span class='gray'>.</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>assert</span><span class='gray2'>_</span><span class='gray2'>in</span><span class='gray2'>_</span><span class='gray2'>delta</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='comment'># actual</span>
                    <span class='gray2'>5</span><span class='gray'>,</span> <span class='comment'># expected</span>
                    <span class='gray2'>6</span>  <span class='comment'># delta</span>
  <span class='keyword'>end</span>

<span class='keyword'>end</span>
</pre>