 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Mix.</span><span class='functionName'>Tasks.</span><span class='functionName'>Meditate</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>use</span> <span class='defFunction'>Mix.</span><span class='gray2'>Task</span>
  
    <span style='color:peru;'>@shortdoc</span> <span class='gray2'>"</span><span class='gray2'>Start</span> <span class='gray2'>the</span> <span class='gray2'>koans</span><span class='gray2'>"</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>run</span><span style='color:white;'>(</span><span class='parameter'><i>args</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='defFunction'>Application.</span><span class='gray2'>ensure</span><span class='gray2'>_</span><span class='gray2'>all</span><span class='gray2'>_</span><span class='gray2'>started</span><span class='gray2'>(</span><span style='color:yellow;'>:elixir</span><span class='gray2'>_</span><span class='gray2'>koans</span><span class='gray2'>)</span>
      <span class='defFunction'>Code.</span><span class='gray2'>compiler</span><span class='gray2'>_</span><span class='gray2'>options</span><span class='gray2'>(</span><span class='gray2'>ignore</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>_</span><span class='gray2'>conflict:</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span class='gray2'>parsed</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>OptionParser.</span><span class='gray2'>parse</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray'>,</span> <span class='gray2'>switches:</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
  
      <span class='gray2'>modules</span> <span class='keyword'>=</span>
        <span class='gray2'>parsed</span>
        <span class='keyword'>|></span> <span class='gray2'>initial</span><span class='gray2'>_</span><span class='gray2'>module</span>
        <span class='keyword'>|></span> <span class='gray2'>ok?</span>
        <span class='keyword'>|></span> <span class='defFunction'>Runner.</span><span class='gray2'>modules</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>run</span><span class='gray2'>(</span><span class='gray2'>)</span>
  
      <span class='defFunction'>Tracker.</span><span class='gray2'>set</span><span class='gray2'>_</span><span class='gray2'>total</span><span class='gray2'>(</span><span class='gray2'>modules</span><span class='gray2'>)</span>
      <span class='defFunction'>Tracker.</span><span class='gray2'>notify</span><span class='gray2'>_</span><span class='gray2'>on</span><span class='gray2'>_</span><span class='gray2'>complete</span><span class='gray2'>(</span><span class='gray2'>self</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span>
  
      <span class='gray2'>set</span><span class='gray2'>_</span><span class='gray2'>clear</span><span class='gray2'>_</span><span class='gray2'>screen</span><span class='gray2'>(</span><span class='gray2'>parsed</span><span class='gray2'>)</span>
      <span class='defFunction'>Runner.</span><span class='gray2'>run</span><span class='gray2'>(</span><span class='gray2'>modules</span><span class='gray2'>)</span>
  
      <span class='defFunction'>Tracker.</span><span class='gray2'>wait</span><span class='gray2'>_</span><span class='gray2'>until</span><span class='gray2'>_</span><span class='gray2'>complete</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='defFunction'>Display.</span><span class='gray2'>congratulate</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>initial</span><span class='gray2'>_</span><span class='gray2'>module</span><span class='gray2'>(</span><span class='gray2'>parsed</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>name</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>parsed</span><span class='gray'>,</span> <span style='color:yellow;'>:koan</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>Equalities</span><span class='gray2'>"</span><span class='gray2'>)</span>
      <span class='defFunction'>String.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>atom</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='defFunction'>Elixir.</span><span class='gray2'>"</span> <span class='keyword'><</span><span class='keyword'>></span> <span class='gray2'>name</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>set</span><span class='gray2'>_</span><span class='gray2'>clear</span><span class='gray2'>_</span><span class='gray2'>screen</span><span class='gray2'>(</span><span class='gray2'>parsed</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='keyword'>if</span> <span class='defFunction'>Keyword.</span><span class='gray2'>has</span><span class='gray2'>_</span><span class='gray2'>key?</span><span class='gray2'>(</span><span class='gray2'>parsed</span><span class='gray'>,</span> <span style='color:yellow;'>:no</span><span class='gray2'>_</span><span class='gray2'>clear</span><span class='gray2'>_</span><span class='gray2'>screen</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='defFunction'>Display.</span><span class='gray2'>disable</span><span class='gray2'>_</span><span class='gray2'>clear</span><span class='gray2'>(</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>ok?</span><span class='gray2'>(</span><span class='gray2'>koan</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='keyword'>if</span> <span class='defFunction'>Runner.</span><span class='gray2'>koan?</span><span class='gray2'>(</span><span class='gray2'>koan</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>koan</span>
      <span class='keyword'>else</span>
        <span class='defFunction'>Display.</span><span class='gray2'>invalid</span><span class='gray2'>_</span><span class='gray2'>koan</span><span class='gray2'>(</span><span class='gray2'>koan</span><span class='gray'>,</span> <span class='defFunction'>Runner.</span><span class='gray2'>modules</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray2'>)</span>
        <span class='gray2'>exit</span><span class='gray2'>(</span><span style='color:yellow;'>:normal</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>