 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'>#            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE</span>
<span class='comment'>#                    Version 2</span><span class='gray'>,</span> <span class='gray2'>December</span> <span class='gray2'>2004</span>
<span class='comment'>#</span>
<span class='comment'>#            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE</span>
<span class='comment'>#   TERMS AND CONDITIONS FOR COPYING</span><span class='gray'>,</span> <span class='gray2'>DISTRIBUTION</span> <span class='gray2'>AND</span> <span class='gray2'>MODIFICATION</span>
<span class='comment'>#</span>
<span class='comment'>#  0</span><span class='gray'>.</span> <span class='gray2'>You</span> <span class='gray2'>just</span> <span class='gray2'>DO</span> <span class='gray2'>WHAT</span> <span class='gray2'>THE</span> <span class='gray2'>FUCK</span> <span class='gray2'>YOU</span> <span class='gray2'>WANT</span> <span class='defFunction'>TO.</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Socket.</span><span class='functionName'>SOCKS</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>use</span> <span class='defFunction'>Socket.</span><span class='gray2'>Helpers</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>connect</span><span style='color:white;'>(</span><span class='parameter'><i>to</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>through</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>options</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>[</span><span class='gray2'>address</span><span class='gray'>,</span> <span class='gray2'>port</span> <span class='gray2'>|</span> <span class='gray2'>auth</span><span class='gray2'>]</span> <span class='keyword'>=</span> <span class='gray2'>through</span> <span class='keyword'>|></span> <span class='defFunction'>Tuple.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span>
  
      <span class='gray2'>with</span> <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>socket</span> <span class='gray2'>}</span> <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>pre</span><span class='gray2'>(</span><span class='gray2'>address</span><span class='gray'>,</span> <span class='gray2'>port</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>)</span><span class='gray'>,</span>
           <span style='color:yellow;'>:ok</span>             <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>handshake</span><span class='gray2'>(</span><span class='gray2'>socket</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>[</span><span style='color:yellow;'>:version</span><span class='gray2'>]</span> <span class='gray2'>|</span><span class='gray2'>|</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>auth</span> <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>tuple</span><span class='gray'>,</span> <span class='gray2'>to</span><span class='gray2'>)</span><span class='gray'>,</span>
           <span style='color:yellow;'>:ok</span>             <span class='keyword'><</span><span class='gray2'>-</span> <span class='gray2'>post</span><span class='gray2'>(</span><span class='gray2'>socket</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>)</span>
      <span class='keyword'>do</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>socket</span> <span class='gray2'>}</span>
      <span class='keyword'>else</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defbang</span> <span class='gray2'>connect</span><span class='gray2'>(</span><span class='gray2'>to</span><span class='gray'>,</span> <span class='gray2'>through</span><span class='gray2'>)</span>
    <span class='gray2'>defbang</span> <span class='gray2'>connect</span><span class='gray2'>(</span><span class='gray2'>to</span><span class='gray'>,</span> <span class='gray2'>through</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>)</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>pre</span><span class='gray2'>(</span><span class='gray2'>address</span><span class='gray'>,</span> <span class='gray2'>port</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>options</span> <span class='keyword'>=</span> <span class='keyword'>if</span> <span class='gray2'>options</span><span class='gray2'>[</span><span style='color:yellow;'>:mode</span><span class='gray2'>]</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:yellow;'>:active</span> <span class='gray2'>|</span><span class='gray2'>|</span> <span class='gray2'>options</span><span class='gray2'>[</span><span style='color:yellow;'>:mode</span><span class='gray2'>]</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:yellow;'>:once</span> <span class='keyword'>do</span>
        <span class='gray2'>options</span>
          <span class='keyword'>|></span> <span class='defFunction'>Keyword.</span><span class='gray2'>put</span><span class='gray2'>(</span><span style='color:yellow;'>:mode</span><span class='gray'>,</span> <span style='color:yellow;'>:passive</span><span class='gray2'>)</span>
      <span class='keyword'>else</span>
        <span class='gray2'>options</span>
      <span class='keyword'>end</span>
  
      <span class='defFunction'>Socket.</span><span class='defFunction'>TCP.</span><span class='gray2'>connect</span><span class='gray2'>(</span><span class='gray2'>address</span><span class='gray'>,</span> <span class='gray2'>port</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>handshake</span><span class='gray2'>(</span><span class='gray2'>socket</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray'>,</span> <span class='gray2'>auth</span><span class='gray'>,</span> <span class='gray2'>{</span> <span class='gray2'>address</span><span class='gray'>,</span> <span class='gray2'>port</span> <span class='gray2'>}</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>user</span> <span class='keyword'>=</span> <span class='keyword'>if</span> <span class='gray2'>tuple</span><span class='gray2'>_</span><span class='gray2'>size</span><span class='gray2'>(</span><span class='gray2'>auth</span><span class='gray2'>)</span> <span class='keyword'>></span><span class='keyword'>=</span> <span class='gray2'>1</span> <span class='keyword'>do</span>
        <span class='gray2'>auth</span> <span class='keyword'>|></span> <span class='gray2'>elem</span><span class='gray2'>(</span><span class='gray2'>0</span><span class='gray2'>)</span>
      <span class='keyword'>else</span>
        <span class='gray2'>"</span><span class='gray2'>"</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>case</span> <span class='defFunction'>Socket.</span><span class='defFunction'>Address.</span><span class='gray2'>parse</span><span class='gray2'>(</span><span class='gray2'>address</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='gray2'>{</span> <span class='gray2'>a</span><span class='gray'>,</span> <span class='gray2'>b</span><span class='gray'>,</span> <span class='gray2'>c</span><span class='gray'>,</span> <span class='gray2'>d</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>case</span> <span class='gray2'>socket</span> <span class='keyword'>|></span> <span class='defFunction'>Socket.</span><span class='defFunction'>Stream.</span><span class='gray2'>send</span><span class='gray2'>(</span><span class='keyword'><</span><span class='keyword'><</span>
            <span class='comment'># version</span>
            <span class='gray2'>0</span><span class='gray2'>x04</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span>
  
            <span class='comment'># make a stream TCP connection</span>
            <span class='gray2'>0</span><span class='gray2'>x01</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span>
  
            <span class='comment'># port in network byte order</span>
            <span class='gray2'>port</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>big</span><span class='gray2'>-</span><span class='gray2'>size</span><span class='gray2'>(</span><span class='gray2'>16</span><span class='gray2'>)</span><span class='gray'>,</span>
  
            <span class='comment'># IP address in network byte order</span>
            <span class='gray2'>a</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span>
            <span class='gray2'>b</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span>
            <span class='gray2'>c</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span>
            <span class='gray2'>d</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span>
  
            <span class='comment'># user name followed by NULL</span>
            <span class='gray2'>user</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>binary</span><span class='gray'>,</span>
            <span class='gray2'>0</span><span class='gray2'>x00</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span> <span class='keyword'>></span><span class='keyword'>></span><span class='gray2'>)</span>
          <span class='keyword'>do</span>
            <span style='color:yellow;'>:ok</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>response</span><span class='gray2'>(</span><span class='gray2'>socket</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>)</span>
  
            <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span>
          <span class='keyword'>end</span>
  
        <span style='color:darkcyan;'><i>nil</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>case</span> <span class='gray2'>socket</span> <span class='keyword'>|></span> <span class='defFunction'>Socket.</span><span class='defFunction'>Stream.</span><span class='gray2'>send</span><span class='gray2'>(</span><span class='keyword'><</span><span class='keyword'><</span>
            <span class='comment'># version</span>
            <span class='gray2'>0</span><span class='gray2'>x04</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span>
  
            <span class='comment'># make a stream TCP connection</span>
            <span class='gray2'>0</span><span class='gray2'>x01</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span>
  
            <span class='comment'># port in network byte order</span>
            <span class='gray2'>port</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>big</span><span class='gray2'>-</span><span class='gray2'>size</span><span class='gray2'>(</span><span class='gray2'>16</span><span class='gray2'>)</span><span class='gray'>,</span>
  
            <span class='comment'># invalid IP address</span>
            <span class='gray2'>0</span><span class='gray2'>x00</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span>
            <span class='gray2'>0</span><span class='gray2'>x00</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span>
            <span class='gray2'>0</span><span class='gray2'>x00</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span>
            <span class='gray2'>0</span><span class='gray2'>xff</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span>
  
            <span class='comment'># user name followed by NULL</span>
            <span class='gray2'>user</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>binary</span><span class='gray'>,</span>
            <span class='gray2'>0</span><span class='gray2'>x00</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span>
  
            <span class='comment'># host followed by NULL</span>
            <span class='gray2'>address</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>binary</span><span class='gray'>,</span>
            <span class='gray2'>0</span><span class='gray2'>x00</span>    <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span> <span class='keyword'>></span><span class='keyword'>></span><span class='gray2'>)</span>
          <span class='keyword'>do</span>
            <span style='color:yellow;'>:ok</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>response</span><span class='gray2'>(</span><span class='gray2'>socket</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>)</span>
  
            <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span><span class='gray2'>}</span>
          <span class='keyword'>end</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>handshake</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>socket</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>auth</span><span class='gray'>,</span> <span class='gray2'>{</span> <span class='gray2'>_</span><span class='gray2'>address</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>port</span> <span class='gray2'>}</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:hue</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>response</span><span class='gray2'>(</span><span class='gray2'>socket</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='gray2'>socket</span> <span class='keyword'>|></span> <span class='defFunction'>Socket.</span><span class='defFunction'>Stream.</span><span class='gray2'>recv</span><span class='gray2'>(</span><span class='gray2'>8</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span class='comment'># request granted</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='keyword'><</span><span class='keyword'><</span> <span class='gray2'>0</span><span class='gray2'>x00</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>x5a</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>16</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>32</span> <span class='keyword'>></span><span class='keyword'>></span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:yellow;'>:ok</span>
  
        <span class='comment'># request rejected or failed</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='keyword'><</span><span class='keyword'><</span> <span class='gray2'>0</span><span class='gray2'>x00</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>x5b</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>16</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>32</span> <span class='keyword'>></span><span class='keyword'>></span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:rejected</span> <span class='gray2'>}</span>
  
        <span class='comment'># request failed because client is not running identd </span><span class='gray2'>(</span><span class='gray2'>or</span> <span class='gray2'>not</span>
        <span class='comment'># reachable from the server</span><span class='gray2'>)</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='keyword'><</span><span class='keyword'><</span> <span class='gray2'>0</span><span class='gray2'>x00</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>x5c</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>16</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>32</span> <span class='keyword'>></span><span class='keyword'>></span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:unreachable</span> <span class='gray2'>}</span>
  
        <span class='comment'># request failed because client</span><span class='gray2'>'</span><span class='gray2'>s</span> <span class='gray2'>identd</span> <span class='gray2'>could</span> <span class='gray2'>not</span> <span class='gray2'>confirm</span> <span class='gray2'>the</span>
        <span class='comment'># user ID string in the request</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='keyword'><</span><span class='keyword'><</span> <span class='gray2'>0</span><span class='gray2'>x00</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>x5d</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>8</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>16</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>32</span> <span class='keyword'>></span><span class='keyword'>></span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:unauthorized</span> <span class='gray2'>}</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='gray2'>reason</span> <span class='gray2'>}</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>response</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>socket</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:hue</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>post</span><span class='gray2'>(</span><span class='gray2'>socket</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>cond</span> <span class='keyword'>do</span>
        <span class='gray2'>options</span><span class='gray2'>[</span><span style='color:yellow;'>:mode</span><span class='gray2'>]</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:yellow;'>:active</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>socket</span> <span class='keyword'>|></span> <span class='defFunction'>Socket.</span><span class='gray2'>active</span>
  
        <span class='gray2'>options</span><span class='gray2'>[</span><span style='color:yellow;'>:mode</span><span class='gray2'>]</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span style='color:yellow;'>:once</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>socket</span> <span class='keyword'>|></span> <span class='defFunction'>Socket.</span><span class='gray2'>active</span><span class='gray2'>(</span><span style='color:yellow;'>:once</span><span class='gray2'>)</span>
  
        <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:yellow;'>:ok</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>