 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'># persistent bit</span><span class='gray2'>-</span><span class='gray2'>partitioned</span> <span class='gray2'>vector</span> <span class='gray2'>trie</span>
<span class='comment'># http</span><span class='gray2'>:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>hypirion</span><span class='gray'>.</span><span class='gray2'>com</span><span class='gray2'>/</span><span class='gray2'>musings</span><span class='gray2'>/</span><span class='gray2'>understanding</span><span class='gray2'>-</span><span class='gray2'>persistent</span><span class='gray2'>-</span><span class='gray2'>vector</span><span class='gray2'>-</span><span class='gray2'>pt</span><span class='gray2'>-</span><span class='gray2'>1</span> <span class='gray2'>(</span><span class='gray2'>and</span> <span class='gray2'>part</span> <span class='gray2'>2</span><span class='gray2'>)</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Vector</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='gray2'>import</span> <span class='gray2'>Bitwise</span>

  <span style='color:peru;'>@bits</span> <span class='gray2'>2</span>
  <span style='color:peru;'>@width</span> <span class='gray2'>1</span> <span style='color:crimson;'><<<</span> <span style='color:peru;'>@bits</span> <span class='comment'># 4</span><span class='gray2'>-</span><span class='gray2'>way</span> <span class='gray2'>branching</span>
  <span style='color:peru;'>@mask</span> <span style='color:peru;'>@width</span> <span class='gray2'>-</span> <span class='gray2'>1</span>

  <span class='gray2'>require</span> <span class='gray2'>Record</span>
  <span class='defFunction'>Record.</span><span class='gray2'>defrecordp</span> <span style='color:yellow;'>:vec</span><span class='gray'>,</span> <span class='gray2'>Vector</span><span class='gray'>,</span> <span class='gray2'>size:</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>depth:</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>tree:</span> <span class='gray2'>[</span><span class='gray2'>]</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Builds</span> <span class='gray2'>a</span> <span class='gray2'>new</span> <span class='gray2'>empty</span> <span class='gray2'>vector</span><span class='gray'>.</span>

    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Vector.</span><span class='gray2'>new</span>
    <span class='gray2'>{</span><span class='gray2'>Vector</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>}</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>new</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>vec</span><span class='gray2'>(</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Builds</span> <span class='gray2'>a</span> <span class='gray2'>new</span> <span class='gray2'>vector</span> <span class='gray2'>from</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>list</span><span class='gray'>.</span>

    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Vector.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>tim</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>jen</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='gray2'>{</span><span class='gray2'>Vector</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>tim</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>jen</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>}</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>new</span><span style='color:white;'>(</span><span class='parameter'><i>list</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>depth</span> <span class='keyword'>=</span> <span class='gray2'>round</span><span class='gray2'>(</span><span class='defFunction'>Float.</span><span class='gray2'>ceil</span><span class='gray2'>(</span><span class='gray2'>length</span><span class='gray2'>(</span><span class='defFunction'>Integer.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>char</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>(</span><span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray2'>)</span> <span class='gray2'>-</span> <span class='gray2'>1</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='gray2'>/</span> <span style='color:peru;'>@bits</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='gray2'>vec</span><span class='gray2'>(</span><span class='gray2'>size:</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>depth:</span> <span class='gray2'>depth</span><span class='gray'>,</span> <span class='gray2'>tree:</span> <span class='gray2'>tree</span><span class='gray2'>_</span><span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray'>,</span> <span class='gray2'>depth</span><span class='gray2'>)</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Get</span> <span class='gray2'>the</span> <span class='gray2'>size</span> <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>vector</span><span class='gray'>.</span>

    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='gray2'>v</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Vector.</span><span class='gray2'>size</span><span class='gray2'>(</span><span class='gray2'>v</span><span class='gray2'>)</span>
    <span class='gray2'>3</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>size</span><span style='color:white;'>(</span><span class='parameter'><i>vec</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>size:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>size</i></span><span style='color:white;'>)</span><span class='functionName'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>size</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Gets</span> <span class='gray2'>the</span> <span class='gray2'>value</span> <span class='gray2'>from</span> <span class='gray2'>the</span> <span class='gray2'>vector</span> <span class='gray2'>at</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>index</span><span class='gray'>.</span>

     <span class='gray2'>iex</span><span class='keyword'>></span> <span class='gray2'>v</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>tim</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>jen</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>mac</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>kai</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>)</span>
     <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Vector.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>v</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray2'>)</span>
     <span class='gray2'>"</span><span class='gray2'>mac</span><span class='gray2'>"</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>get</span><span style='color:white;'>(</span><span class='parameter'><i>vec</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>depth:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>depth</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>tree:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>tree</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>index</span><span class='functionName'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>tree</span><span class='gray'>,</span> <span class='gray2'>key</span><span class='gray2'>(</span><span class='gray2'>index</span><span class='gray'>,</span> <span class='gray2'>depth</span><span class='gray2'>)</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Puts</span> <span class='gray2'>the</span> <span class='gray2'>value</span> <span class='gray2'>in</span> <span class='gray2'>a</span> <span class='gray2'>vector</span> <span class='gray2'>at</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>index</span><span class='gray'>.</span>

     <span class='gray2'>iex</span><span class='keyword'>></span> <span class='gray2'>v</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>new</span>
     <span class='gray2'>iex</span><span class='keyword'>></span> <span class='gray2'>v</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>v</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>tim</span><span class='gray2'>"</span><span class='gray2'>)</span>
     <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Vector.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>v</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray2'>)</span>
     <span class='gray2'>"</span><span class='gray2'>tim</span><span class='gray2'>"</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>put</span><span style='color:white;'>(</span><span class='parameter'><i>vec</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>size:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>size</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>depth:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>depth</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>tree:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>tree</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>index</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>value</span><span class='functionName'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>if</span> <span class='gray2'>index</span> <span class='keyword'>></span> <span class='gray2'>size</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>raise</span> <span class='gray2'>"</span><span class='gray2'>index</span> <span class='gray2'>too</span> <span class='gray2'>large</span><span class='gray2'>"</span>
    <span class='keyword'>if</span> <span class='gray2'>index</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>size</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>size</span> <span class='keyword'>=</span> <span class='gray2'>index</span> <span class='gray2'>+</span> <span class='gray2'>1</span>
    <span class='comment'># grow tree</span>
    <span class='keyword'>if</span> <span class='gray2'>size</span> <span class='keyword'>></span> <span class='gray2'>depth</span> <span class='gray2'>*</span> <span style='color:peru;'>@width</span> <span class='keyword'>do</span>
      <span class='gray2'>depth</span> <span class='keyword'>=</span> <span class='gray2'>depth</span> <span class='gray2'>+</span> <span class='gray2'>1</span>
      <span class='gray2'>tree</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>tree</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
    <span class='comment'># attach node</span>
    <span class='gray2'>tree</span> <span class='keyword'>=</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>put</span> <span class='gray2'>tree</span><span class='gray'>,</span> <span class='gray2'>key</span><span class='gray2'>(</span><span class='gray2'>index</span><span class='gray'>,</span> <span class='gray2'>depth</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>value</span>
    <span class='gray2'>vec</span><span class='gray2'>(</span><span class='gray2'>size:</span> <span class='gray2'>size</span><span class='gray'>,</span> <span class='gray2'>depth:</span> <span class='gray2'>depth</span><span class='gray'>,</span> <span class='gray2'>tree:</span> <span class='gray2'>tree</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='gray2'>Given</span> <span class='gray2'>a</span> <span class='gray2'>vector</span><span class='gray'>,</span> <span class='gray2'>an</span> <span class='gray2'>accumulator</span><span class='gray'>,</span> <span class='gray2'>and</span> <span class='gray2'>a</span> <span class='gray2'>function</span><span class='gray'>,</span> <span class='gray2'>iterate</span> <span class='gray2'>over</span>
  <span class='gray2'>each</span> <span class='gray2'>item</span> <span class='gray2'>in</span> <span class='gray2'>the</span> <span class='gray2'>vector</span> <span class='gray2'>passing</span> <span class='gray2'>the</span> <span class='gray2'>item</span> <span class='gray2'>and</span> <span class='gray2'>the</span> <span class='gray2'>accumulator</span>
  <span class='gray2'>to</span> <span class='gray2'>the</span> <span class='gray2'>function</span><span class='gray'>.</span> <span class='gray2'>The</span> <span class='gray2'>function</span> <span class='gray2'>should</span> <span class='gray2'>return</span> <span class='gray2'>the</span> <span class='gray2'>modified</span>
  <span class='gray2'>accumulator</span><span class='gray'>.</span>

    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='gray2'>v</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span><span class='gray2'>2</span><span class='gray'>,</span><span class='gray2'>3</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='gray2'>iex</span><span class='keyword'>></span> <span class='defFunction'>Vector.</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>v</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>2</span> <span class='gray2'>+</span> <span class='gray2'>&</span><span class='gray2'>1</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='gray2'>6</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>reduce</span><span style='color:white;'>(</span><span class='parameter'><i>vec</i></span><span class='parameter'><i>(</i></span><span class='parameter'><i>size:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>size</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>depth:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>depth</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>tree:</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>tree</i></span><span style='color:white;'>)</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>acc</span><span class='functionName'>,</span><span class='functionName'> </span><span class='functionName'>fun</span><span class='functionName'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>reduce</span> <span class='gray2'>tree</span><span class='gray'>,</span> <span class='gray2'>depth</span><span class='gray2'>-</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>size</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray'>,</span> <span class='gray2'>fun</span>
  <span class='keyword'>end</span>

  <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>depth</span><span class='gray'>,</span> <span class='gray2'>size</span><span class='gray'>,</span> <span class='gray2'>index</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray'>,</span> <span class='gray2'>fun</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>depth</span> <span class='keyword'>></span> <span class='gray2'>0</span> <span class='gray2'>and</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span> <span class='defFunction'>Enum.</span><span class='gray2'>with</span><span class='gray2'>_</span><span class='gray2'>index</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>{</span><span class='gray2'>n</span><span class='gray'>,</span> <span class='gray2'>i</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>acc</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>reduce</span> <span class='gray2'>n</span><span class='gray'>,</span> <span class='gray2'>depth</span><span class='gray2'>-</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>size</span><span class='gray'>,</span> <span class='gray2'>index</span> <span class='gray2'>+</span> <span class='gray2'>(</span><span class='gray2'>i</span> <span class='gray2'>*</span> <span style='color:peru;'>@width</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray'>,</span> <span class='gray2'>fun</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>
  <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>size</span><span class='gray'>,</span> <span class='gray2'>index</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray'>,</span> <span class='gray2'>fun</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>is</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span> <span class='defFunction'>Enum.</span><span class='gray2'>slice</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>.</span><span class='gray'>.</span><span class='gray2'>(</span><span class='gray2'>size</span><span class='gray2'>-</span><span class='gray2'>index</span><span class='gray2'>-</span><span class='gray2'>1</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray'>,</span> <span class='gray2'>fun</span>
  <span class='keyword'>end</span>
  <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>acc</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>acc</span>

  <span class='gray2'>defp</span> <span class='gray2'>key</span><span class='gray2'>(</span><span class='gray2'>index</span><span class='gray'>,</span> <span class='gray2'>depth</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>depth</span> <span class='keyword'>></span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>key</span><span class='gray2'>(</span><span class='gray2'>index</span><span class='gray'>,</span> <span class='gray2'>depth</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
  <span class='gray2'>defp</span> <span class='gray2'>key</span><span class='gray2'>(</span><span class='gray2'>index</span><span class='gray'>,</span> <span class='gray2'>depth</span><span class='gray'>,</span> <span class='gray2'>indeces</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>depth</span> <span class='keyword'>></span> <span class='gray2'>0</span> <span class='keyword'>do</span>
    <span class='gray2'>level</span> <span class='keyword'>=</span> <span class='gray2'>(</span><span class='gray2'>depth</span> <span class='gray2'>-</span> <span class='gray2'>1</span><span class='gray2'>)</span> <span class='gray2'>*</span> <span style='color:peru;'>@bits</span>
    <span class='gray2'>indeces</span> <span class='keyword'>=</span> <span class='gray2'>indeces</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>[</span><span class='gray2'>(</span><span class='gray2'>index</span> <span style='color:crimson;'>>>></span> <span class='gray2'>level</span><span class='gray2'>)</span> <span style='color:crimson;'>&&&</span> <span style='color:peru;'>@mask</span><span class='gray2'>]</span>
    <span class='gray2'>key</span><span class='gray2'>(</span><span class='gray2'>index</span><span class='gray'>,</span> <span class='gray2'>depth</span> <span class='gray2'>-</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>indeces</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
  <span class='gray2'>defp</span> <span class='gray2'>key</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>indeces</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>indeces</span>

  <span class='gray2'>defp</span> <span class='gray2'>tree</span><span class='gray2'>_</span><span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray'>,</span> <span class='gray2'>depth</span><span class='gray2'>)</span> <span class='gray2'>when</span> <span class='gray2'>depth</span> <span class='keyword'>></span> <span class='gray2'>1</span> <span class='keyword'>do</span>
    <span class='gray2'>list</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>chunk</span><span class='gray2'>(</span><span style='color:peru;'>@width</span><span class='gray'>,</span> <span style='color:peru;'>@width</span><span class='gray'>,</span> <span class='defFunction'>List.</span><span class='gray2'>duplicate</span><span class='gray2'>(</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span style='color:peru;'>@width</span><span class='gray2'>)</span><span class='gray2'>)</span>
      <span class='keyword'>|></span> <span class='gray2'>tree</span><span class='gray2'>_</span><span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>depth</span> <span class='gray2'>-</span> <span class='gray2'>1</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
  <span class='gray2'>defp</span> <span class='gray2'>tree</span><span class='gray2'>_</span><span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>list</span>

  <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>idx</span> <span class='gray2'>|</span> <span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>key</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>node</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>idx</span><span class='gray2'>)</span>
    <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>key</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>
  <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>node</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>node</span>

  <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>tree</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>idx</span> <span class='gray2'>|</span> <span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>key</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray2'>)</span> <span class='keyword'>do</span>
    <span class='gray2'>rest</span> <span class='keyword'>=</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>tree</span><span class='gray'>,</span> <span class='gray2'>idx</span><span class='gray2'>)</span> <span class='gray2'>|</span><span class='gray2'>|</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>rest</span><span class='gray2'>_</span><span class='gray2'>key</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray2'>)</span>
    <span class='keyword'>if</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>tree</span><span class='gray2'>)</span> <span class='keyword'><</span><span class='keyword'>=</span> <span class='gray2'>idx</span> <span class='keyword'>do</span> <span class='comment'># expand this node</span>
      <span class='gray2'>tree</span> <span class='keyword'>=</span> <span class='gray2'>tree</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='defFunction'>List.</span><span class='gray2'>duplicate</span><span class='gray2'>(</span><span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span class='gray2'>idx</span> <span class='gray2'>-</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>tree</span><span class='gray2'>)</span> <span class='gray2'>+</span> <span class='gray2'>1</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
    <span class='defFunction'>List.</span><span class='gray2'>replace</span><span class='gray2'>_</span><span class='gray2'>at</span> <span class='gray2'>tree</span><span class='gray'>,</span> <span class='gray2'>idx</span><span class='gray'>,</span> <span class='gray2'>rest</span>
  <span class='keyword'>end</span>
  <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>value</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='keyword'>do:</span> <span class='gray2'>value</span>
<span class='keyword'>end</span>

<span class='defFunction'>ExUnit.</span><span class='gray2'>start</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>VectorTest</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span class='keyword'>use</span> <span class='defFunction'>ExUnit.</span><span class='gray2'>Case</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>put</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>v</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>new</span>
    <span class='gray2'>v</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>v</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>first</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>v</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>Vector</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>first</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='gray2'>v</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>v</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>second</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>v</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>Vector</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>first</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>second</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='gray2'>v</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>v</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>third</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>v</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>Vector</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>first</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>second</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>third</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='gray2'>v</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>v</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>fourth</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>v</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>Vector</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>first</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>second</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>third</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>fourth</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='gray2'>v</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>v</span><span class='gray'>,</span> <span class='gray2'>4</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>fifth</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>v</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>Vector</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>first</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>second</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>third</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>fourth</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>fifth</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='gray2'>v</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>v</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>third</span> <span class='gray2'>changed</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>v</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>Vector</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>first</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>second</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>third</span> <span class='gray2'>changed</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>fourth</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>"</span><span class='gray2'>fifth</span><span class='gray2'>"</span><span class='gray2'>]</span><span class='gray2'>]</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>new</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>v</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='defFunction'>List.</span><span class='gray2'>duplicate</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>v</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>Vector</span><span class='gray'>,</span> <span class='gray2'>5</span><span class='gray'>,</span> <span class='gray2'>2</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray'>,</span> <span style='color:darkcyan;'><i>nil</i></span><span class='gray2'>]</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='gray2'>v</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='defFunction'>List.</span><span class='gray2'>duplicate</span><span class='gray2'>(</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>64</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>v</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>{</span><span class='gray2'>Vector</span><span class='gray'>,</span> <span class='gray2'>64</span><span class='gray'>,</span> <span class='gray2'>3</span><span class='gray'>,</span> <span class='gray2'>[</span>
      <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>]</span><span class='gray'>,</span>
      <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>]</span><span class='gray'>,</span>
      <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>]</span><span class='gray'>,</span>
      <span class='gray2'>[</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray'>,</span> <span class='gray2'>1</span><span class='gray2'>]</span><span class='gray2'>]</span>
    <span class='gray2'>]</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>reduce</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>v</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>1</span><span class='gray'>,</span><span class='gray2'>2</span><span class='gray'>,</span><span class='gray2'>3</span><span class='gray'>,</span><span class='gray2'>4</span><span class='gray'>,</span><span class='gray2'>5</span><span class='gray'>,</span><span class='gray2'>6</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='gray2'>sum</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>reduce</span><span class='gray2'>(</span><span class='gray2'>v</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>&</span><span class='gray2'>(</span><span class='gray2'>&</span><span class='gray2'>1</span> <span class='gray2'>+</span> <span class='gray2'>&</span><span class='gray2'>2</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='gray2'>assert</span> <span class='gray2'>sum</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>21</span>
  <span class='keyword'>end</span>

  <span style='color:peru;'>@size</span> <span class='gray2'>100</span><span class='gray2'>_</span><span class='gray2'>0</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>creation</span> <span class='gray2'>speed</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:timer</span><span class='gray'>.</span><span class='gray2'>tc</span> <span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='defFunction'>List.</span><span class='gray2'>duplicate</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>foo</span><span class='gray2'>"</span><span class='gray'>,</span> <span style='color:peru;'>@size</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>List</span> <span class='gray2'>creation</span> <span class='gray2'>took</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray2'>}</span> <span class='gray2'>microsecs</span><span class='gray2'>"</span> <span class='comment'># 2</span><span class='gray'>,</span><span class='gray2'>815</span> <span class='gray2'>microsecs</span>
    <span class='gray2'>list</span> <span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>duplicate</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>foo</span><span class='gray2'>"</span><span class='gray'>,</span> <span style='color:peru;'>@size</span><span class='gray2'>)</span>
    <span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:timer</span><span class='gray'>.</span><span class='gray2'>tc</span> <span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='defFunction'>Vector.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>Vector</span> <span class='gray2'>creation</span> <span class='gray2'>took</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray2'>}</span> <span class='gray2'>microsecs</span><span class='gray2'>"</span> <span class='comment'># 18</span><span class='gray'>,</span><span class='gray2'>996</span> <span class='gray2'>microsecs</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>iteration</span> <span class='gray2'>speed</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>list</span> <span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>duplicate</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>foo</span><span class='gray2'>"</span><span class='gray'>,</span> <span style='color:peru;'>@size</span><span class='gray2'>)</span>
    <span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:timer</span><span class='gray'>.</span><span class='gray2'>tc</span> <span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='defFunction'>Enum.</span><span class='gray2'>reduce</span> <span class='gray2'>list</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>count</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>count</span> <span class='gray2'>+</span> <span class='gray2'>1</span> <span class='keyword'>end</span>
    <span class='keyword'>end</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>List</span> <span class='gray2'>traversal</span> <span class='gray2'>took</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray2'>}</span> <span class='gray2'>microsecs</span><span class='gray2'>"</span> <span class='comment'># 1</span><span class='gray'>,</span><span class='gray2'>605</span> <span class='gray2'>microsecs</span>
    <span class='gray2'>list</span> <span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>duplicate</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>foo</span><span class='gray2'>"</span><span class='gray'>,</span> <span style='color:peru;'>@size</span><span class='gray2'>)</span>
    <span class='gray2'>vector</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray2'>)</span>
    <span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:timer</span><span class='gray'>.</span><span class='gray2'>tc</span> <span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='defFunction'>Vector.</span><span class='gray2'>reduce</span> <span class='gray2'>vector</span><span class='gray'>,</span> <span class='gray2'>0</span><span class='gray'>,</span> <span class='keyword'>fn</span> <span class='gray2'>_</span><span class='gray'>,</span> <span class='gray2'>count</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>count</span> <span class='gray2'>+</span> <span class='gray2'>1</span> <span class='keyword'>end</span>
    <span class='keyword'>end</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>Vector</span> <span class='gray2'>traversal</span> <span class='gray2'>took</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray2'>}</span> <span class='gray2'>microsecs</span><span class='gray2'>"</span> <span class='comment'># 13</span><span class='gray'>,</span><span class='gray2'>372</span> <span class='gray2'>microsecs</span>
  <span class='keyword'>end</span>

  <span class='gray2'>test</span> <span class='gray2'>"</span><span class='gray2'>access</span> <span class='gray2'>speed</span><span class='gray2'>"</span> <span class='keyword'>do</span>
    <span class='gray2'>list</span> <span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>duplicate</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>foo</span><span class='gray2'>"</span><span class='gray'>,</span> <span style='color:peru;'>@size</span><span class='gray2'>)</span>
    <span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:timer</span><span class='gray'>.</span><span class='gray2'>tc</span> <span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='gray2'>assert</span> <span class='defFunction'>Enum.</span><span class='gray2'>at</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray'>,</span> <span style='color:peru;'>@size</span><span class='gray2'>-</span><span class='gray2'>1</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>"</span><span class='gray2'>foo</span><span class='gray2'>"</span>
    <span class='keyword'>end</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>List</span> <span class='gray2'>access</span> <span class='gray2'>took</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray2'>}</span> <span class='gray2'>microsecs</span><span class='gray2'>"</span> <span class='comment'># 997 microsecs</span>
    <span class='gray2'>list</span> <span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>duplicate</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>foo</span><span class='gray2'>"</span><span class='gray'>,</span> <span style='color:peru;'>@size</span><span class='gray2'>)</span>
    <span class='gray2'>vector</span> <span class='keyword'>=</span> <span class='defFunction'>Vector.</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>list</span><span class='gray2'>)</span>
    <span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:timer</span><span class='gray'>.</span><span class='gray2'>tc</span> <span class='keyword'>fn</span> <span class='gray2'>-</span><span class='keyword'>></span>
      <span class='gray2'>assert</span> <span class='defFunction'>Vector.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>vector</span><span class='gray'>,</span> <span style='color:peru;'>@size</span><span class='gray2'>-</span><span class='gray2'>1</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>"</span><span class='gray2'>foo</span><span class='gray2'>"</span>
    <span class='keyword'>end</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>Vector</span> <span class='gray2'>access</span> <span class='gray2'>took</span> <span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>microsecs</span><span class='gray2'>}</span> <span class='gray2'>microsecs</span><span class='gray2'>"</span> <span class='comment'># 3 microsecs</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>
</pre>