 <link rel='stylesheet' href='../css/styles.css'><pre><span class='comment'>#            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE</span>
<span class='comment'>#                    Version 2</span><span class='gray'>,</span> <span class='gray2'>December</span> <span class='gray2'>2004</span>
<span class='comment'>#</span>
<span class='comment'>#            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE</span>
<span class='comment'>#   TERMS AND CONDITIONS FOR COPYING</span><span class='gray'>,</span> <span class='gray2'>DISTRIBUTION</span> <span class='gray2'>AND</span> <span class='gray2'>MODIFICATION</span>
<span class='comment'>#</span>
<span class='comment'>#  0</span><span class='gray'>.</span> <span class='gray2'>You</span> <span class='gray2'>just</span> <span class='gray2'>DO</span> <span class='gray2'>WHAT</span> <span class='gray2'>THE</span> <span class='gray2'>FUCK</span> <span class='gray2'>YOU</span> <span class='gray2'>WANT</span> <span class='defFunction'>TO.</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Socket.</span><span class='functionName'>UDP</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>This</span> <span class='gray2'>module</span> <span class='gray2'>wraps</span> <span class='gray2'>a</span> <span class='gray2'>UDP</span> <span class='gray2'>socket</span> <span class='gray2'>using</span> <span class='gray2'>`</span><span class='gray2'>gen</span><span class='gray2'>_</span><span class='gray2'>udp</span><span class='gray2'>`</span><span class='gray'>.</span>
    <span class='comment'>#</span><span class='comment'># Options</span>
    <span class='gray2'>When</span> <span class='gray2'>creating</span> <span class='gray2'>a</span> <span class='gray2'>socket</span> <span class='gray2'>you</span> <span class='gray2'>can</span> <span class='gray2'>pass</span> <span class='gray2'>a</span> <span class='gray2'>series</span> <span class='gray2'>of</span> <span class='gray2'>options</span> <span class='gray2'>to</span> <span class='keyword'>use</span> <span class='gray2'>for</span> <span class='gray2'>it</span><span class='gray'>.</span>
    <span class='gray2'>*</span> <span class='gray2'>`</span><span style='color:yellow;'>:as</span><span class='gray2'>`</span> <span class='gray2'>sets</span> <span class='gray2'>the</span> <span class='gray2'>kind</span> <span class='gray2'>of</span> <span class='gray2'>value</span> <span class='gray2'>returned</span> <span class='gray2'>by</span> <span class='gray2'>recv</span><span class='gray'>,</span> <span class='gray2'>either</span> <span class='gray2'>`</span><span style='color:yellow;'>:binary</span><span class='gray2'>`</span> <span class='gray2'>or</span> <span class='gray2'>`</span><span style='color:yellow;'>:list</span><span class='gray2'>`</span><span class='gray'>,</span>
      <span class='gray2'>the</span> <span class='gray2'>default</span> <span class='gray2'>is</span> <span class='gray2'>`</span><span style='color:yellow;'>:binary</span><span class='gray2'>`</span><span class='gray'>.</span>
    <span class='gray2'>*</span> <span class='gray2'>`</span><span style='color:yellow;'>:mode</span><span class='gray2'>`</span> <span class='gray2'>can</span> <span class='gray2'>be</span> <span class='gray2'>either</span> <span class='gray2'>`</span><span style='color:yellow;'>:passive</span><span class='gray2'>`</span> <span class='gray2'>or</span> <span class='gray2'>`</span><span style='color:yellow;'>:active</span><span class='gray2'>`</span><span class='gray'>,</span> <span class='gray2'>default</span> <span class='gray2'>is</span> <span class='gray2'>`</span><span style='color:yellow;'>:passive</span><span class='gray2'>`</span>
    <span class='gray2'>*</span> <span class='gray2'>`</span><span style='color:yellow;'>:local</span><span class='gray2'>`</span> <span class='gray2'>must</span> <span class='gray2'>be</span> <span class='gray2'>a</span> <span class='gray2'>keyword</span> <span class='gray2'>list</span>
      <span class='gray2'>-</span> <span class='gray2'>`</span><span style='color:yellow;'>:address</span><span class='gray2'>`</span> <span class='gray2'>the</span> <span class='gray2'>local</span> <span class='gray2'>address</span> <span class='gray2'>to</span> <span class='keyword'>use</span>
      <span class='gray2'>-</span> <span class='gray2'>`</span><span style='color:yellow;'>:fd</span><span class='gray2'>`</span> <span class='gray2'>an</span> <span class='gray2'>already</span> <span class='gray2'>opened</span> <span class='gray2'>file</span> <span class='gray2'>descriptor</span> <span class='gray2'>to</span> <span class='keyword'>use</span>
    <span class='gray2'>*</span> <span class='gray2'>`</span><span style='color:yellow;'>:version</span><span class='gray2'>`</span> <span class='gray2'>sets</span> <span class='gray2'>the</span> <span class='gray2'>IP</span> <span class='gray2'>version</span> <span class='gray2'>to</span> <span class='keyword'>use</span>
    <span class='gray2'>*</span> <span class='gray2'>`</span><span style='color:yellow;'>:broadcast</span><span class='gray2'>`</span> <span class='gray2'>enables</span> <span class='gray2'>broadcast</span> <span class='gray2'>sending</span>
    <span class='comment'>#</span><span class='comment'># Examples</span>
        <span class='gray2'>server</span> <span class='keyword'>=</span> <span class='defFunction'>Socket.</span><span class='defFunction'>UDP.</span><span class='gray2'>open</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>1337</span><span class='gray2'>)</span>
        <span class='gray2'>{</span> <span class='gray2'>data</span><span class='gray'>,</span> <span class='gray2'>client</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>server</span> <span class='keyword'>|></span> <span class='defFunction'>Socket.</span><span class='defFunction'>Datagram.</span><span class='gray2'>recv</span><span class='keyword'>!</span>
        <span class='gray2'>server</span> <span class='keyword'>|></span> <span class='defFunction'>Socket.</span><span class='defFunction'>Datagram.</span><span class='gray2'>send</span><span class='keyword'>!</span> <span class='gray2'>data</span><span class='gray'>,</span> <span class='gray2'>client</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  
    <span style='color:peru;'>@type</span> <span class='gray2'>t</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>port</span>
  
    <span class='keyword'>use</span> <span class='defFunction'>Socket.</span><span class='gray2'>Helpers</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Create</span> <span class='gray2'>a</span> <span class='gray2'>UDP</span> <span class='gray2'>socket</span> <span class='gray2'>listening</span> <span class='gray2'>on</span> <span class='gray2'>an</span> <span class='gray2'>OS</span> <span class='gray2'>chosen</span> <span class='gray2'>port</span><span class='gray'>,</span> <span class='keyword'>use</span> <span class='gray2'>`</span><span class='gray2'>local</span><span class='gray2'>`</span> <span class='gray2'>to</span> <span class='gray2'>know</span> <span class='gray2'>the</span>
    <span class='gray2'>port</span> <span class='gray2'>it</span> <span class='gray2'>was</span> <span class='gray2'>bound</span> <span class='gray2'>on</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>open</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>t</span> <span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='defFunction'>Error.</span><span class='gray2'>t</span> <span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>open</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>open</span><span class='gray2'>(</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Create</span> <span class='gray2'>a</span> <span class='gray2'>UDP</span> <span class='gray2'>socket</span> <span class='gray2'>listening</span> <span class='gray2'>on</span> <span class='gray2'>an</span> <span class='gray2'>OS</span> <span class='gray2'>chosen</span> <span class='gray2'>port</span><span class='gray'>,</span> <span class='keyword'>use</span> <span class='gray2'>`</span><span class='gray2'>local</span><span class='gray2'>`</span> <span class='gray2'>to</span> <span class='gray2'>know</span> <span class='gray2'>the</span>
    <span class='gray2'>port</span> <span class='gray2'>it</span> <span class='gray2'>was</span> <span class='gray2'>bound</span> <span class='gray2'>on</span><span class='gray'>,</span> <span class='gray2'>raising</span> <span class='keyword'>if</span> <span class='gray2'>an</span> <span class='gray2'>error</span> <span class='gray2'>occurs</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>open</span><span class='keyword'>!</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>t</span> <span class='gray2'>|</span> <span class='gray2'>no</span><span class='gray2'>_</span><span class='gray2'>return</span>
    <span class='gray2'>defbang</span> <span class='gray2'>open</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Create</span> <span class='gray2'>a</span> <span class='gray2'>UDP</span> <span class='gray2'>socket</span> <span class='gray2'>listening</span> <span class='gray2'>on</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>port</span> <span class='gray2'>or</span> <span class='gray2'>using</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>options</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>open</span><span class='gray2'>(</span><span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>port</span><span class='gray2'>_</span><span class='gray2'>number</span> <span class='gray2'>|</span> <span class='defFunction'>Keyword.</span><span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>t</span> <span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='defFunction'>Error.</span><span class='gray2'>t</span> <span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>open</span><span style='color:white;'>(</span><span class='parameter'><i>port</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>port</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>integer</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>open</span><span class='gray2'>(</span><span class='gray2'>port</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>open</span><span style='color:white;'>(</span><span class='parameter'><i>options</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>options</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>list</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>open</span><span class='gray2'>(</span><span class='gray2'>0</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Create</span> <span class='gray2'>a</span> <span class='gray2'>UDP</span> <span class='gray2'>socket</span> <span class='gray2'>listening</span> <span class='gray2'>on</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>port</span> <span class='gray2'>or</span> <span class='gray2'>using</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>options</span><span class='gray'>,</span>
    <span class='gray2'>raising</span> <span class='keyword'>if</span> <span class='gray2'>an</span> <span class='gray2'>error</span> <span class='gray2'>occurs</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>open</span><span class='keyword'>!</span><span class='gray2'>(</span><span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>port</span><span class='gray2'>_</span><span class='gray2'>number</span> <span class='gray2'>|</span> <span class='defFunction'>Keyword.</span><span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>t</span> <span class='gray2'>|</span> <span class='gray2'>no</span><span class='gray2'>_</span><span class='gray2'>return</span>
    <span class='gray2'>defbang</span> <span class='gray2'>open</span><span class='gray2'>(</span><span class='gray2'>port</span><span class='gray2'>_</span><span class='gray2'>or</span><span class='gray2'>_</span><span class='gray2'>options</span><span class='gray2'>)</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Create</span> <span class='gray2'>a</span> <span class='gray2'>UDP</span> <span class='gray2'>socket</span> <span class='gray2'>listening</span> <span class='gray2'>on</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>port</span> <span class='gray2'>and</span> <span class='gray2'>using</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>options</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>open</span><span class='gray2'>(</span><span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>port</span><span class='gray2'>_</span><span class='gray2'>number</span><span class='gray'>,</span> <span class='defFunction'>Keyword.</span><span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>{</span> <span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>t</span> <span class='gray2'>}</span> <span class='gray2'>|</span> <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='defFunction'>Error.</span><span class='gray2'>t</span> <span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>open</span><span style='color:white;'>(</span><span class='parameter'><i>port</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>options</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>options</span> <span class='keyword'>=</span> <span class='defFunction'>Keyword.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>new</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span style='color:yellow;'>:mode</span><span class='gray'>,</span> <span style='color:yellow;'>:passive</span><span class='gray2'>)</span>
  
      <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>udp</span><span class='gray'>.</span><span class='gray2'>open</span><span class='gray2'>(</span><span class='gray2'>port</span><span class='gray'>,</span> <span class='gray2'>arguments</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Create</span> <span class='gray2'>a</span> <span class='gray2'>UDP</span> <span class='gray2'>socket</span> <span class='gray2'>listening</span> <span class='gray2'>on</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>port</span> <span class='gray2'>and</span> <span class='gray2'>using</span> <span class='gray2'>the</span> <span class='gray2'>given</span> <span class='gray2'>options</span><span class='gray'>,</span>
    <span class='gray2'>raising</span> <span class='keyword'>if</span> <span class='gray2'>an</span> <span class='gray2'>error</span> <span class='gray2'>occurs</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>open</span><span class='keyword'>!</span><span class='gray2'>(</span><span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>port</span><span class='gray2'>_</span><span class='gray2'>number</span><span class='gray'>,</span> <span class='defFunction'>Keyword.</span><span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>t</span> <span class='gray2'>|</span> <span class='gray2'>no</span><span class='gray2'>_</span><span class='gray2'>return</span>
    <span class='gray2'>defbang</span> <span class='gray2'>open</span><span class='gray2'>(</span><span class='gray2'>port</span><span class='gray'>,</span> <span class='gray2'>options</span><span class='gray2'>)</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Set</span> <span class='gray2'>the</span> <span class='gray2'>process</span> <span class='gray2'>which</span> <span class='gray2'>will</span> <span class='gray2'>receive</span> <span class='gray2'>the</span> <span class='gray2'>messages</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>process</span><span class='gray2'>(</span><span class='gray2'>t</span> <span class='gray2'>|</span> <span class='gray2'>port</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span style='color:yellow;'>:ok</span> <span class='gray2'>|</span> <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span style='color:yellow;'>:closed</span> <span class='gray2'>|</span> <span style='color:yellow;'>:not</span><span class='gray2'>_</span><span class='gray2'>owner</span> <span class='gray2'>|</span> <span class='defFunction'>Error.</span><span class='gray2'>t</span> <span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>process</span><span style='color:white;'>(</span><span class='parameter'><i>socket</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>pid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>socket</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>port</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span style='color:yellow;'>:gen</span><span class='gray2'>_</span><span class='gray2'>udp</span><span class='gray'>.</span><span class='gray2'>controlling</span><span class='gray2'>_</span><span class='gray2'>process</span><span class='gray2'>(</span><span class='gray2'>socket</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Set</span> <span class='gray2'>the</span> <span class='gray2'>process</span> <span class='gray2'>which</span> <span class='gray2'>will</span> <span class='gray2'>receive</span> <span class='gray2'>the</span> <span class='gray2'>messages</span><span class='gray'>,</span> <span class='gray2'>raising</span> <span class='keyword'>if</span> <span class='gray2'>an</span> <span class='gray2'>error</span> <span class='gray2'>occurs</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>process</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>t</span> <span class='gray2'>|</span> <span class='gray2'>port</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span style='color:yellow;'>:ok</span> <span class='gray2'>|</span> <span class='gray2'>no</span><span class='gray2'>_</span><span class='gray2'>return</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>process</span><span class='functionName'>!</span><span style='color:white;'>(</span><span class='parameter'><i>socket</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>pid</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>case</span> <span class='gray2'>process</span><span class='gray2'>(</span><span class='gray2'>socket</span><span class='gray'>,</span> <span class='gray2'>pid</span><span class='gray2'>)</span> <span class='keyword'>do</span>
        <span style='color:yellow;'>:ok</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span style='color:yellow;'>:ok</span>
  
        <span style='color:yellow;'>:closed</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>raise</span> <span class='gray2'>RuntimeError</span><span class='gray'>,</span> <span class='gray2'>message:</span> <span class='gray2'>"</span><span class='gray2'>the</span> <span class='gray2'>socket</span> <span class='gray2'>is</span> <span class='gray2'>closed</span><span class='gray2'>"</span>
  
        <span style='color:yellow;'>:not</span><span class='gray2'>_</span><span class='gray2'>owner</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>raise</span> <span class='gray2'>RuntimeError</span><span class='gray'>,</span> <span class='gray2'>message:</span> <span class='gray2'>"</span><span class='gray2'>the</span> <span class='gray2'>current</span> <span class='gray2'>process</span> <span class='gray2'>isn</span><span class='gray2'>'</span><span class='gray2'>t</span> <span class='gray2'>the</span> <span class='gray2'>owner</span><span class='gray2'>"</span>
  
        <span class='gray2'>code</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>raise</span> <span class='defFunction'>Socket.</span><span class='gray2'>Error</span><span class='gray'>,</span> <span class='gray2'>reason:</span> <span class='gray2'>code</span>
      <span class='keyword'>end</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Set</span> <span class='gray2'>options</span> <span class='gray2'>of</span> <span class='gray2'>the</span> <span class='gray2'>socket</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>options</span><span class='gray2'>(</span><span class='gray2'>t</span><span class='gray'>,</span> <span class='defFunction'>Keyword.</span><span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span style='color:yellow;'>:ok</span> <span class='gray2'>|</span> <span class='gray2'>{</span> <span style='color:yellow;'>:error</span><span class='gray'>,</span> <span class='defFunction'>Error.</span><span class='gray2'>t</span> <span class='gray2'>}</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>options</span><span style='color:white;'>(</span><span class='parameter'><i>socket</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>opts</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='functionName'>when</span><span class='functionName'> </span><span class='functionName'>socket</span><span class='functionName'> </span><span class='functionName'>|></span><span class='functionName'> </span><span class='functionName'>is</span><span class='functionName'>_</span><span class='functionName'>port</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>setopts</span><span class='gray2'>(</span><span class='gray2'>socket</span><span class='gray'>,</span> <span class='gray2'>arguments</span><span class='gray2'>(</span><span class='gray2'>opts</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Convert</span> <span class='gray2'>UDP</span> <span class='gray2'>options</span> <span class='gray2'>to</span> <span class='gray2'>`</span><span style='color:yellow;'>:inet</span><span class='gray'>.</span><span class='gray2'>setopts</span><span class='gray2'>`</span> <span class='gray2'>compatible</span> <span class='gray2'>arguments</span><span class='gray'>.</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span style='color:peru;'>@spec</span> <span class='gray2'>arguments</span><span class='gray2'>(</span><span class='defFunction'>Keyword.</span><span class='gray2'>t</span><span class='gray2'>)</span> <span class='gray2'>:</span><span class='gray2'>:</span> <span class='gray2'>list</span>
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>arguments</span><span style='color:white;'>(</span><span class='parameter'><i>options</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>options</span> <span class='keyword'>=</span> <span class='gray2'>options</span>
        <span class='keyword'>|></span> <span class='defFunction'>Keyword.</span><span class='gray2'>put</span><span class='gray2'>_</span><span class='gray2'>new</span><span class='gray2'>(</span><span style='color:yellow;'>:as</span><span class='gray'>,</span> <span style='color:yellow;'>:binary</span><span class='gray2'>)</span>
  
      <span class='gray2'>options</span> <span class='keyword'>=</span> <span class='defFunction'>Enum.</span><span class='gray2'>group</span><span class='gray2'>_</span><span class='gray2'>by</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span class='keyword'>fn</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:as</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>}</span>         <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>true</i></span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:local</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>}</span>      <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>true</i></span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:version</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>}</span>    <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>true</i></span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:broadcast</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>}</span>  <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>true</i></span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:multicast</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>}</span>  <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>true</i></span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:membership</span><span class='gray'>,</span> <span class='gray2'>_</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>true</i></span>
        <span class='gray2'>_</span>                  <span class='gray2'>-</span><span class='keyword'>></span> <span style='color:darkcyan;'><i>false</i></span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span> <span class='gray2'>local</span><span class='gray'>,</span> <span class='gray2'>global</span> <span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>{</span>
        <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span><span class='gray'>,</span>
        <span class='defFunction'>Map.</span><span class='gray2'>get</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>false</i></span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='gray2'>}</span>
  
      <span class='defFunction'>Socket.</span><span class='gray2'>arguments</span><span class='gray2'>(</span><span class='gray2'>global</span><span class='gray2'>)</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='defFunction'>Enum.</span><span class='gray2'>flat</span><span class='gray2'>_</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>local</span><span class='gray'>,</span> <span class='keyword'>fn</span>
        <span class='gray2'>{</span> <span style='color:yellow;'>:as</span><span class='gray'>,</span> <span style='color:yellow;'>:binary</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>[</span><span style='color:yellow;'>:binary</span><span class='gray2'>]</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:as</span><span class='gray'>,</span> <span style='color:yellow;'>:list</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>[</span><span style='color:yellow;'>:list</span><span class='gray2'>]</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:local</span><span class='gray'>,</span> <span class='gray2'>options</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>Enum.</span><span class='gray2'>flat</span><span class='gray2'>_</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span class='keyword'>fn</span>
            <span class='gray2'>{</span> <span style='color:yellow;'>:address</span><span class='gray'>,</span> <span class='gray2'>address</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>[</span><span class='gray2'>{</span> <span style='color:yellow;'>:ip</span><span class='gray'>,</span> <span class='defFunction'>Socket.</span><span class='defFunction'>Address.</span><span class='gray2'>parse</span><span class='gray2'>(</span><span class='gray2'>address</span><span class='gray2'>)</span> <span class='gray2'>}</span><span class='gray2'>]</span>
  
            <span class='gray2'>{</span> <span style='color:yellow;'>:fd</span><span class='gray'>,</span> <span class='gray2'>fd</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>[</span><span class='gray2'>{</span> <span style='color:yellow;'>:fd</span><span class='gray'>,</span> <span class='gray2'>fd</span> <span class='gray2'>}</span><span class='gray2'>]</span>
          <span class='keyword'>end</span><span class='gray2'>)</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:version</span><span class='gray'>,</span> <span class='gray2'>4</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>[</span><span style='color:yellow;'>:inet</span><span class='gray2'>]</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:version</span><span class='gray'>,</span> <span class='gray2'>6</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>[</span><span style='color:yellow;'>:inet6</span><span class='gray2'>]</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:broadcast</span><span class='gray'>,</span> <span class='gray2'>broadcast</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>[</span><span class='gray2'>{</span> <span style='color:yellow;'>:broadcast</span><span class='gray'>,</span> <span class='gray2'>broadcast</span> <span class='gray2'>}</span><span class='gray2'>]</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:multicast</span><span class='gray'>,</span> <span class='gray2'>options</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='defFunction'>Enum.</span><span class='gray2'>flat</span><span class='gray2'>_</span><span class='gray2'>map</span><span class='gray2'>(</span><span class='gray2'>options</span><span class='gray'>,</span> <span class='keyword'>fn</span>
            <span class='gray2'>{</span> <span style='color:yellow;'>:address</span><span class='gray'>,</span> <span class='gray2'>address</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>[</span><span class='gray2'>{</span> <span style='color:yellow;'>:multicast</span><span class='gray2'>_</span><span class='keyword'>if</span><span class='gray'>,</span> <span class='defFunction'>Socket.</span><span class='defFunction'>Address.</span><span class='gray2'>parse</span><span class='gray2'>(</span><span class='gray2'>address</span><span class='gray2'>)</span> <span class='gray2'>}</span><span class='gray2'>]</span>
  
            <span class='gray2'>{</span> <span style='color:yellow;'>:loop</span><span class='gray'>,</span> <span class='gray2'>loop</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>[</span><span class='gray2'>{</span> <span style='color:yellow;'>:multicast</span><span class='gray2'>_</span><span class='gray2'>loop</span><span class='gray'>,</span> <span class='gray2'>loop</span> <span class='gray2'>}</span><span class='gray2'>]</span>
  
            <span class='gray2'>{</span> <span style='color:yellow;'>:ttl</span><span class='gray'>,</span> <span class='gray2'>ttl</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
              <span class='gray2'>[</span><span class='gray2'>{</span> <span style='color:yellow;'>:multicast</span><span class='gray2'>_</span><span class='gray2'>ttl</span><span class='gray'>,</span> <span class='gray2'>ttl</span> <span class='gray2'>}</span><span class='gray2'>]</span>
          <span class='keyword'>end</span><span class='gray2'>)</span>
  
        <span class='gray2'>{</span> <span style='color:yellow;'>:membership</span><span class='gray'>,</span> <span class='gray2'>membership</span> <span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>[</span><span class='gray2'>{</span> <span style='color:yellow;'>:add</span><span class='gray2'>_</span><span class='gray2'>membership</span><span class='gray'>,</span> <span class='gray2'>membership</span> <span class='gray2'>}</span><span class='gray2'>]</span>
      <span class='keyword'>end</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>