 <link rel='stylesheet' href='../css/styles.css'><pre><span class='gray2'>require</span> <span class='gray2'>IEx</span>
<span class='gray2'>require</span> <span class='gray2'>Record</span>

<span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>Wiki</span><span class='functionName'> </span><span class='keyword'>do</span>
  <span style='color:peru;'>@moduledoc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>A</span> <span class='gray2'>very</span> <span class='gray2'>simple</span> <span class='gray2'>wiki</span><span class='gray'>.</span>
    <span class='gray2'>CamelCase</span> <span class='gray2'>words</span> <span class='gray2'>are</span> <span class='gray2'>auto</span><span class='gray2'>-</span><span class='gray2'>linked</span><span class='gray'>.</span>
    <span class='gray2'>Pages</span> <span class='gray2'>are</span> <span class='gray2'>stored</span> <span class='gray2'>in</span> <span class='gray2'>the</span> <span class='gray2'>support</span><span class='gray2'>/</span><span class='gray2'>wiki</span> <span class='gray2'>directory</span><span class='gray'>.</span>

    <span class='gray2'>To</span> <span class='gray2'>run:</span>

    <span class='gray2'>$</span> <span class='gray2'>iex</span> <span class='gray2'>21</span><span class='gray2'>-</span><span class='gray2'>wiki</span><span class='gray'>.</span><span class='gray2'>exs</span>

    <span class='gray'>.</span><span class='gray'>.</span><span class='gray'>.</span> <span class='gray2'>then</span> <span class='gray2'>point</span> <span class='gray2'>your</span> <span class='gray2'>browser</span> <span class='gray2'>to</span> <span class='gray2'>http:</span><span class='gray2'>/</span><span class='gray2'>/</span><span class='gray2'>localhost:3000</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>

  <span class='defFunction'>Record.</span><span class='gray2'>defrecord</span> <span style='color:yellow;'>:mod</span><span class='gray'>,</span> <span class='defFunction'>Record.</span><span class='gray2'>extract</span><span class='gray2'>(</span><span style='color:yellow;'>:mod</span><span class='gray'>,</span> <span class='gray2'>from</span><span class='gray2'>_</span><span class='gray2'>lib:</span> <span class='gray2'>"</span><span class='gray2'>inets</span><span class='gray2'>/</span><span class='gray2'>include</span><span class='gray2'>/</span><span class='gray2'>httpd</span><span class='gray'>.</span><span class='gray2'>hrl</span><span class='gray2'>"</span><span class='gray2'>)</span>

  <span style='color:peru;'>@page</span><span class='gray2'>_</span><span class='gray2'>name</span> <span class='gray2'>"</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>A</span><span class='gray2'>-</span><span class='gray2'>Z</span><span class='gray2'>]</span><span class='gray2'>[</span><span class='gray2'>a</span><span class='gray2'>-</span><span class='gray2'>z0</span><span class='gray2'>-</span><span class='gray2'>9</span><span class='gray2'>]</span><span class='gray2'>+</span><span class='gray2'>)</span><span class='gray2'>{</span><span class='gray2'>2</span><span class='gray'>,</span><span class='gray2'>}</span><span class='gray2'>"</span>
  <span style='color:peru;'>@valid</span><span class='gray2'>_</span><span class='gray2'>page</span><span class='gray2'>_</span><span class='gray2'>name</span> <span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='gray2'>^</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>A</span><span class='gray2'>-</span><span class='gray2'>Z</span><span class='gray2'>]</span><span class='gray2'>[</span><span class='gray2'>a</span><span class='gray2'>-</span><span class='gray2'>z0</span><span class='gray2'>-</span><span class='gray2'>9</span><span class='gray2'>]</span><span class='gray2'>+</span><span class='gray2'>)</span><span class='gray2'>{</span><span class='gray2'>2</span><span class='gray'>,</span><span class='gray2'>}</span><span class='gray2'>$</span><span class='gray2'>/</span>
  <span style='color:peru;'>@edit</span><span class='gray2'>_</span><span class='gray2'>path</span> <span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='gray2'>^</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>A</span><span class='gray2'>-</span><span class='gray2'>Z</span><span class='gray2'>]</span><span class='gray2'>[</span><span class='gray2'>a</span><span class='gray2'>-</span><span class='gray2'>z0</span><span class='gray2'>-</span><span class='gray2'>9</span><span class='gray2'>]</span><span class='gray2'>+</span><span class='gray2'>)</span><span class='gray2'>{</span><span class='gray2'>2</span><span class='gray'>,</span><span class='gray2'>}</span><span class='comment'>\</span><span class='gray2'>/</span><span class='gray2'>edit</span><span class='gray2'>$</span><span class='gray2'>/</span>

  <span style='color:peru;'>@doc</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
    <span class='gray2'>Start</span> <span class='gray2'>the</span> <span class='gray2'>inets</span> <span class='gray2'>server</span><span class='gray'>.</span>
  <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>run</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:yellow;'>:inets</span><span class='gray'>.</span><span class='gray2'>start</span><span class='gray2'>(</span><span class='gray2'>)</span>
    <span class='gray2'>options</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>server</span><span class='gray2'>_</span><span class='gray2'>name:</span> <span class='gray2'>'</span><span class='gray2'>foo</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>server</span><span class='gray2'>_</span><span class='gray2'>root:</span> <span class='gray2'>'</span><span class='gray2'>/</span><span class='gray2'>tmp</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>document</span><span class='gray2'>_</span><span class='gray2'>root:</span> <span class='gray2'>'</span><span class='gray2'>/</span><span class='gray2'>tmp</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>port:</span> <span class='gray2'>3000</span><span class='gray'>,</span> <span class='gray2'>modules:</span> <span class='gray2'>[</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>MODULE</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>]</span><span class='gray2'>]</span>
    <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>pid</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span style='color:yellow;'>:inets</span><span class='gray'>.</span><span class='gray2'>start</span> <span style='color:yellow;'>:httpd</span><span class='gray'>,</span> <span class='gray2'>options</span>
    <span class='defFunction'>IO.</span><span class='gray2'>puts</span> <span class='gray2'>"</span><span class='gray2'>running</span> <span class='gray2'>on</span> <span class='gray2'>port</span> <span class='gray2'>3000</span><span class='gray2'>"</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>unquote</span><span style='color:white;'>(</span><span class='atomo'>:do</span><span style='color:white;'>)</span><span style='color:white;'>(</span><span class='parameter'><i>data</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>[</span><span class='gray2'>_</span><span class='gray2'>slash</span> <span class='gray2'>|</span> <span class='gray2'>name</span><span class='gray2'>]</span> <span class='keyword'>=</span> <span class='gray2'>mod</span><span class='gray2'>(</span><span class='gray2'>data</span><span class='gray'>,</span> <span style='color:yellow;'>:request</span><span class='gray2'>_</span><span class='gray2'>uri</span><span class='gray2'>)</span>

    <span class='gray2'>cond</span> <span class='keyword'>do</span>
      <span class='gray2'>name</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>'</span><span class='gray2'>'</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>redirect</span><span class='gray2'>(</span><span class='gray2'>'</span><span class='gray2'>/</span><span class='gray2'>HomePage</span><span class='gray2'>'</span><span class='gray2'>)</span>
      <span class='defFunction'>Regex.</span><span class='gray2'>match?</span><span class='gray2'>(</span><span style='color:peru;'>@valid</span><span class='gray2'>_</span><span class='gray2'>page</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray'>,</span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>bitstring</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>case</span> <span class='gray2'>mod</span><span class='gray2'>(</span><span class='gray2'>data</span><span class='gray'>,</span> <span style='color:yellow;'>:method</span><span class='gray2'>)</span> <span class='keyword'>do</span>
          <span class='gray2'>'</span><span class='gray2'>GET</span><span class='gray2'>'</span>  <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>render</span><span class='gray2'>_</span><span class='gray2'>page</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span>
          <span class='gray2'>'</span><span class='gray2'>POST</span><span class='gray2'>'</span> <span class='gray2'>-</span><span class='keyword'>></span> <span class='gray2'>save</span><span class='gray2'>_</span><span class='gray2'>page</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>data</span><span class='gray2'>)</span><span class='gray2'>;</span> <span class='gray2'>redirect</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span>
        <span class='keyword'>end</span>
      <span class='defFunction'>Regex.</span><span class='gray2'>match?</span><span class='gray2'>(</span><span style='color:peru;'>@edit</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray'>,</span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>bitstring</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray2'>)</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>name</span> <span class='keyword'>=</span> <span class='defFunction'>Regex.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='comment'>\</span><span class='gray2'>/</span><span class='gray2'>edit</span><span class='gray2'>$</span><span class='gray2'>/</span><span class='gray'>,</span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>list</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>bitstring</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='gray2'>render</span><span class='gray2'>_</span><span class='gray2'>page</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray'>,</span> <span style='color:yellow;'>:edit</span><span class='gray2'>)</span>
      <span style='color:darkcyan;'><i>true</i></span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>response</span><span class='gray2'>(</span><span class='gray2'>404</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>bad</span> <span class='gray2'>path</span><span class='gray2'>'</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>redirect</span><span style='color:white;'>(</span><span class='parameter'><i>path</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>code</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ 302</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>body</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>'</span><span class='gray2'>redirecting</span> <span class='gray2'>you</span> <span class='gray2'>to</span> <span class='keyword'><</span><span class='gray2'>a</span> <span class='gray2'>href</span><span class='keyword'>=</span><span class='gray2'>"</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='gray2'>"</span><span class='keyword'>></span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>path</span><span class='gray'>,</span> <span class='gray2'>'</span><span class='keyword'><</span><span class='gray2'>/</span><span class='gray2'>a</span><span class='keyword'>></span><span class='gray2'>'</span><span class='gray2'>]</span>
    <span class='gray2'>response</span> <span class='gray2'>code</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>location:</span> <span class='gray2'>path</span><span class='gray2'>]</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>render</span><span class='functionName'>_</span><span class='functionName'>page</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>action</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ </i></span><span class='atomo'>:show</span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>case</span> <span class='gray2'>{</span><span class='gray2'>action</span><span class='gray'>,</span> <span class='defFunction'>File.</span><span class='gray2'>read</span><span class='gray2'>(</span><span class='gray2'>page</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>}</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:edit</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>response</span> <span class='gray2'>200</span><span class='gray'>,</span> <span class='gray2'>edit</span><span class='gray2'>_</span><span class='gray2'>page</span><span class='gray2'>_</span><span class='gray2'>form</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>bitstring</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span>
      <span class='gray2'>{</span><span style='color:yellow;'>:show</span><span class='gray'>,</span> <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>response</span> <span class='gray2'>200</span><span class='gray'>,</span> <span class='gray2'>body</span> <span class='keyword'>|></span> <span class='gray2'>format</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>bitstring</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span>
      <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
        <span class='gray2'>response</span> <span class='gray2'>404</span><span class='gray'>,</span> <span class='gray2'>edit</span><span class='gray2'>_</span><span class='gray2'>page</span><span class='gray2'>_</span><span class='gray2'>form</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span style='color:yellow;'>:erlang</span><span class='gray'>.</span><span class='gray2'>bitstring</span><span class='gray2'>_</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>list</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>format</span><span style='color:white;'>(</span><span class='parameter'><i>content</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>content</span>
      <span class='keyword'>|></span> <span class='gray2'>sanitize</span>
      <span class='keyword'>|></span> <span class='gray2'>breakify</span>
      <span class='keyword'>|></span> <span class='gray2'>linkify</span>
      <span class='keyword'>|></span> <span class='gray2'>layoutify</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>sanitize</span><span style='color:white;'>(</span><span class='parameter'><i>content</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>content</span> <span class='keyword'>=</span> <span class='defFunction'>Regex.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='gray2'>&</span><span class='gray2'>/</span><span class='gray'>,</span> <span class='gray2'>content</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='comment'>\</span><span class='comment'>\</span><span class='gray2'>&</span><span class='gray2'>amp</span><span class='gray2'>;</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='gray2'>content</span> <span class='keyword'>=</span> <span class='defFunction'>Regex.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='keyword'><</span><span class='gray2'>/</span><span class='gray'>,</span> <span class='gray2'>content</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='comment'>\</span><span class='comment'>\</span><span class='gray2'>&</span><span class='gray2'>lt</span><span class='gray2'>;</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='gray2'>content</span> <span class='keyword'>=</span> <span class='defFunction'>Regex.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='keyword'>></span><span class='gray2'>/</span><span class='gray'>,</span> <span class='gray2'>content</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='comment'>\</span><span class='comment'>\</span><span class='gray2'>&</span><span class='gray2'>gt</span><span class='gray2'>;</span><span class='gray2'>"</span><span class='gray2'>)</span>
    <span class='gray2'>content</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>breakify</span><span style='color:white;'>(</span><span class='parameter'><i>content</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='defFunction'>Regex.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>~</span><span class='gray2'>r</span><span class='gray2'>/</span><span class='comment'>\r</span><span class='gray2'>?</span><span class='comment'>\n</span><span class='gray2'>/</span><span class='gray'>,</span> <span class='gray2'>content</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='keyword'><</span><span class='gray2'>br</span><span class='keyword'>></span><span class='gray2'>"</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>linkify</span><span style='color:white;'>(</span><span class='parameter'><i>content</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>{</span><span style='color:yellow;'>:ok</span><span class='gray'>,</span> <span class='gray2'>regex</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Regex.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span style='color:peru;'>@page</span><span class='gray2'>_</span><span class='gray2'>name</span><span class='gray2'>)</span>
    <span class='defFunction'>Regex.</span><span class='gray2'>replace</span><span class='gray2'>(</span><span class='gray2'>regex</span><span class='gray'>,</span> <span class='gray2'>content</span><span class='gray'>,</span> <span class='gray2'>"</span><span class='keyword'><</span><span class='gray2'>a</span> <span class='gray2'>href</span><span class='keyword'>=</span><span class='gray2'>'</span><span class='gray2'>/</span><span class='comment'>\</span><span class='comment'>\0</span><span class='gray2'>'</span><span class='keyword'>></span><span class='comment'>\</span><span class='comment'>\0</span><span class='keyword'><</span><span class='gray2'>/</span><span class='gray2'>a</span><span class='keyword'>></span><span class='gray2'>"</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>layoutify</span><span style='color:white;'>(</span><span class='parameter'><i>content</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
      <span class='keyword'><</span><span class='gray2'>style</span><span class='keyword'>></span><span class='gray2'>nav</span> <span class='gray2'>{</span> <span class='gray2'>margin</span><span class='gray2'>-</span><span class='gray2'>bottom:</span> <span class='gray2'>25</span><span class='gray2'>px</span><span class='gray2'>;</span> <span class='gray2'>}</span><span class='keyword'><</span><span class='gray2'>/</span><span class='gray2'>style</span><span class='keyword'>></span>
      <span class='keyword'><</span><span class='gray2'>nav</span><span class='keyword'>></span><span class='keyword'><</span><span class='gray2'>a</span> <span class='gray2'>href</span><span class='keyword'>=</span><span class='gray2'>'</span><span class='gray2'>/</span><span class='gray2'>HomePage</span><span class='gray2'>'</span><span class='keyword'>></span><span class='gray2'>HomePage</span><span class='keyword'><</span><span class='gray2'>/</span><span class='gray2'>a</span><span class='keyword'>></span> <span class='gray2'>|</span> <span class='keyword'><</span><span class='gray2'>a</span> <span class='gray2'>href</span><span class='keyword'>=</span><span class='gray2'>'</span><span class='gray2'>/</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray2'>}</span><span class='gray2'>/</span><span class='gray2'>edit</span><span class='gray2'>'</span><span class='keyword'>></span><span class='gray2'>edit</span><span class='keyword'><</span><span class='gray2'>/</span><span class='gray2'>a</span><span class='keyword'>></span><span class='keyword'><</span><span class='gray2'>/</span><span class='gray2'>nav</span><span class='keyword'>></span>
      <span class='keyword'><</span><span class='gray2'>section</span><span class='keyword'>></span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>content</span><span class='gray2'>}</span><span class='keyword'><</span><span class='gray2'>/</span><span class='gray2'>section</span><span class='keyword'>></span>
    <span class='gray2'>"</span><span class='gray2'>"</span><span class='gray2'>"</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>page</span><span class='functionName'>_</span><span class='functionName'>path</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='defFunction'>Path.</span><span class='gray2'>join</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>support</span><span class='gray2'>/</span><span class='gray2'>wiki</span><span class='gray2'>"</span><span class='gray'>,</span> <span class='gray2'>name</span><span class='gray2'>)</span> <span class='keyword'>|></span> <span class='defFunction'>Path.</span><span class='gray2'>expand</span><span class='gray2'>(</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>DIR</span><span class='gray2'>_</span><span class='gray2'>_</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>save</span><span class='functionName'>_</span><span class='functionName'>page</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>data</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>[</span><span class='gray2'>{</span><span class='gray2'>'</span><span class='gray2'>content</span><span class='gray2'>'</span><span class='gray'>,</span> <span class='gray2'>content</span><span class='gray2'>}</span><span class='gray2'>]</span> <span class='keyword'>=</span> <span style='color:yellow;'>:httpd</span><span class='gray'>.</span><span class='gray2'>parse</span><span class='gray2'>_</span><span class='gray2'>query</span><span class='gray2'>(</span><span class='gray2'>mod</span><span class='gray2'>(</span><span class='gray2'>data</span><span class='gray'>,</span> <span style='color:yellow;'>:entity</span><span class='gray2'>_</span><span class='gray2'>body</span><span class='gray2'>)</span><span class='gray2'>)</span>
    <span class='defFunction'>File.</span><span class='gray2'>write</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>page</span><span class='gray2'>_</span><span class='gray2'>path</span><span class='gray2'>(</span><span class='gray2'>name</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>content</span><span class='gray2'>)</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>edit</span><span class='functionName'>_</span><span class='functionName'>page</span><span class='functionName'>_</span><span class='functionName'>form</span><span style='color:white;'>(</span><span class='parameter'><i>name</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>content</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ </i></span><span class='parameter'><i>"</i></span><span class='parameter'><i>"</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>"</span><span class='keyword'><</span><span class='gray2'>form</span> <span class='gray2'>action</span><span class='keyword'>=</span><span class='gray2'>'</span><span class='gray2'>/</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray2'>}</span><span class='gray2'>'</span> <span class='gray2'>method</span><span class='keyword'>=</span><span class='gray2'>'</span><span class='gray2'>post</span><span class='gray2'>'</span><span class='keyword'>></span><span class='keyword'><</span><span class='gray2'>textarea</span> <span class='gray2'>name</span><span class='keyword'>=</span><span class='gray2'>'</span><span class='gray2'>content</span><span class='gray2'>'</span> <span class='gray2'>rows</span><span class='keyword'>=</span><span class='gray2'>'</span><span class='gray2'>25</span><span class='gray2'>'</span> <span class='gray2'>cols</span><span class='keyword'>=</span><span class='gray2'>'</span><span class='gray2'>80</span><span class='gray2'>'</span><span class='keyword'>></span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>content</span><span class='gray2'>}</span><span class='keyword'><</span><span class='gray2'>/</span><span class='gray2'>textarea</span><span class='keyword'>></span><span class='keyword'><</span><span class='gray2'>br</span><span class='keyword'>></span><span class='keyword'><</span><span class='gray2'>button</span><span class='keyword'>></span><span class='gray2'>Save</span><span class='keyword'><</span><span class='gray2'>/</span><span class='gray2'>button</span><span class='keyword'>></span><span class='keyword'><</span><span class='gray2'>a</span> <span class='gray2'>href</span><span class='keyword'>=</span><span class='gray2'>'</span><span class='gray2'>/</span><span class='comment'>#</span><span class='gray2'>{</span><span class='gray2'>name</span><span class='gray2'>}</span><span class='gray2'>'</span><span class='keyword'>></span><span class='gray2'>cancel</span><span class='keyword'><</span><span class='gray2'>/</span><span class='gray2'>a</span><span class='keyword'>></span><span class='keyword'><</span><span class='gray2'>/</span><span class='gray2'>form</span><span class='keyword'>></span><span class='gray2'>"</span>
  <span class='keyword'>end</span>

  <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>response</span><span style='color:white;'>(</span><span class='parameter'><i>code</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>body</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>headers</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>\</i></span><span class='parameter'><i>\ </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>]</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span class='gray2'>headers</span> <span class='keyword'>=</span> <span class='gray2'>[</span><span class='gray2'>code:</span> <span class='gray2'>code</span><span class='gray'>,</span> <span class='gray2'>content</span><span class='gray2'>_</span><span class='gray2'>length:</span> <span class='defFunction'>Integer.</span><span class='gray2'>to</span><span class='gray2'>_</span><span class='gray2'>char</span><span class='gray2'>_</span><span class='gray2'>list</span><span class='gray2'>(</span><span class='defFunction'>IO.</span><span class='gray2'>iodata</span><span class='gray2'>_</span><span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>headers</span>
    <span class='gray2'>{</span><span style='color:yellow;'>:proceed</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>response:</span> <span class='gray2'>{</span><span style='color:yellow;'>:response</span><span class='gray'>,</span> <span class='gray2'>headers</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span><span class='gray2'>]</span><span class='gray2'>}</span>
  <span class='keyword'>end</span>
<span class='keyword'>end</span>

<span class='defFunction'>Wiki.</span><span class='gray2'>run</span>
</pre>