 <link rel='stylesheet' href='../css/styles.css'><pre><span class='keyword'>defmodule</span><span class='functionName'> </span><span class='functionName'>ElixirScript.</span><span class='functionName'>Translate.</span><span class='functionName'>Clause</span><span class='functionName'> </span><span class='keyword'>do</span>
    <span style='color:peru;'>@moduledoc</span> <span style='color:darkcyan;'><i>false</i></span>
  
    <span class='comment'># Handles translation of all of the clause ASTs</span>
  
    <span class='gray2'>alias</span> <span class='defFunction'>ESTree.</span><span class='defFunction'>Tools.</span><span class='gray2'>Builder</span><span class='gray'>,</span> <span class='gray2'>as:</span> <span class='gray2'>J</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>Helpers</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>Form</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='defFunction'>Forms.</span><span class='gray2'>Pattern</span>
    <span class='gray2'>alias</span> <span class='defFunction'>ElixirScript.</span><span class='defFunction'>Translate.</span><span class='gray2'>Function</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>args</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>guards</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>body</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>{</span><span class='gray2'>patterns</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Pattern.</span><span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>args</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
      <span class='gray2'>guard</span> <span class='keyword'>=</span> <span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>guard</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>guards</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>{</span><span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>_</span><span class='gray2'>state</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='defFunction'>Function.</span><span class='gray2'>compile</span><span class='gray2'>_</span><span class='gray2'>block</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>body</span> <span class='keyword'>=</span> <span class='gray2'>body</span>
      <span class='keyword'>|></span> <span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>statement</span>
      <span class='keyword'>|></span> <span class='defFunction'>Function.</span><span class='gray2'>update</span><span class='gray2'>_</span><span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>call</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='gray2'>ast</span> <span class='keyword'>=</span> <span class='defFunction'>Helpers.</span><span class='gray2'>call</span><span class='gray2'>(</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>member</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span>
          <span class='defFunction'>Helpers.</span><span class='gray2'>patterns</span><span class='gray2'>(</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>clause</span><span class='gray2'>"</span><span class='gray2'>)</span>
        <span class='gray2'>)</span><span class='gray'>,</span>
        <span class='gray2'>[</span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>patterns</span><span class='gray2'>)</span><span class='gray'>,</span>
          <span class='defFunction'>Helpers.</span><span class='gray2'>arrow</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>(</span>
            <span class='gray2'>params</span><span class='gray'>,</span>
            <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>body</span><span class='gray2'>)</span>
          <span class='gray2'>)</span><span class='gray'>,</span>
          <span class='gray2'>guard</span>
        <span class='gray2'>]</span>
      <span class='gray2'>)</span>
  
      <span class='gray2'>{</span> <span class='gray2'>ast</span><span class='gray'>,</span> <span class='gray2'>state</span> <span class='gray2'>}</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>-</i></span><span class='parameter'><i>></i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>{</i></span><span class='atomo'>:when</span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>params</i></span><span class='parameter'><i>}</i></span><span class='parameter'><i>]</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>body</i></span><span class='parameter'><i> </i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>guards</span> <span class='keyword'>=</span> <span class='defFunction'>List.</span><span class='gray2'>last</span><span class='gray2'>(</span><span class='gray2'>params</span><span class='gray2'>)</span>
      <span class='gray2'>params</span> <span class='keyword'>=</span> <span class='gray2'>params</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span> <span class='keyword'>|></span> <span class='gray2'>tl</span> <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span>
  
      <span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>guards</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span style='color:white;'>(</span><span class='parameter'><i>{</i></span><span class='parameter'><i>:</i></span><span class='parameter'><i>-</i></span><span class='parameter'><i>></i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>_</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>[</i></span><span class='parameter'><i>params</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>body</i></span><span class='parameter'><i>]</i></span><span class='parameter'><i>}</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>compile</span><span class='gray2'>(</span><span class='gray2'>{</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>params</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>body</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>state</span><span class='gray2'>)</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>return</span><span class='functionName'>_</span><span class='functionName'>last</span><span class='functionName'>_</span><span class='functionName'>statement</span><span style='color:white;'>(</span><span class='parameter'><i>body</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>body</span>
      <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span>
      <span class='keyword'>|></span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>statement</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>%</span><span class='defFunction'>ESTree.</span><span class='gray2'>ThrowStatement</span><span class='gray2'>{</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>ast</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>[</span><span class='gray2'>ast</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>%</span><span class='defFunction'>ESTree.</span><span class='gray2'>VariableDeclaration</span><span class='gray2'>{</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>head</span> <span class='gray2'>|</span> <span class='gray2'>tail</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>declaration</span> <span class='keyword'>=</span> <span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>head</span><span class='gray'>.</span><span class='gray2'>declarations</span><span class='gray2'>)</span><span class='gray'>.</span><span class='gray2'>id</span>
  
      <span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span> <span class='keyword'>=</span> <span class='gray2'>case</span> <span class='gray2'>declaration</span> <span class='keyword'>do</span>
        <span class='gray2'>%</span><span class='defFunction'>ESTree.</span><span class='gray2'>ArrayPattern</span><span class='gray2'>{</span><span class='gray2'>elements:</span> <span class='gray2'>elements</span><span class='gray2'>}</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='keyword'>if</span> <span class='gray2'>length</span><span class='gray2'>(</span><span class='gray2'>elements</span><span class='gray2'>)</span> <span class='keyword'>=</span><span class='keyword'>=</span> <span class='gray2'>1</span> <span class='keyword'>do</span>
            <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>hd</span><span class='gray2'>(</span><span class='gray2'>declaration</span><span class='gray'>.</span><span class='gray2'>elements</span><span class='gray2'>)</span><span class='gray2'>)</span>
          <span class='keyword'>else</span>
            <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>array</span><span class='gray2'>_</span><span class='gray2'>expression</span><span class='gray2'>(</span><span class='gray2'>declaration</span><span class='gray'>.</span><span class='gray2'>elements</span><span class='gray2'>)</span><span class='gray2'>)</span>
          <span class='keyword'>end</span>
        <span class='gray2'>_</span> <span class='gray2'>-</span><span class='keyword'>></span>
          <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>declaration</span><span class='gray2'>)</span>
      <span class='keyword'>end</span>
  
      <span class='gray2'>[</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray'>,</span> <span class='gray2'>head</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>tail</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>head</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>head</span><span class='gray2'>)</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>%</span><span class='defFunction'>ESTree.</span><span class='gray2'>ThrowStatement</span><span class='gray2'>{</span><span class='gray2'>}</span> <span class='keyword'>=</span> <span class='gray2'>head</span> <span class='gray2'>|</span> <span class='gray2'>tail</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>[</span><span class='gray2'>head</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>tail</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>head</span> <span class='gray2'>|</span> <span class='gray2'>tail</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>head</span><span class='gray2'>)</span><span class='gray2'>]</span> <span class='gray2'>+</span><span class='gray2'>+</span> <span class='gray2'>tail</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='keyword'>do</span><span class='gray2'>_</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>last</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>[</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>identifier</span><span class='gray2'>(</span><span class='gray2'>"</span><span class='gray2'>null</span><span class='gray2'>"</span><span class='gray2'>)</span><span class='gray2'>)</span><span class='gray2'>]</span>
    <span class='keyword'>end</span>
  
    <span class='keyword'>def</span><span class='functionName'> </span><span class='functionName'>compile</span><span class='functionName'>_</span><span class='functionName'>guard</span><span style='color:white;'>(</span><span class='parameter'><i>params</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>guards</i></span><span class='gray'><i> , </i></span><span class='parameter'><i> </i></span><span class='parameter'><i>state</i></span><span style='color:white;'>)</span><span class='functionName'> </span><span class='keyword'>do</span>
      <span class='gray2'>state</span> <span class='keyword'>=</span> <span class='defFunction'>Map.</span><span class='gray2'>put</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray'>,</span> <span style='color:yellow;'>:in</span><span class='gray2'>_</span><span class='gray2'>guard</span><span class='gray'>,</span> <span style='color:darkcyan;'><i>true</i></span><span class='gray2'>)</span>
  
      <span class='gray2'>guards</span> <span class='keyword'>=</span> <span class='gray2'>guards</span>
      <span class='keyword'>|></span> <span class='defFunction'>List.</span><span class='gray2'>wrap</span>
      <span class='keyword'>|></span> <span class='defFunction'>Enum.</span><span class='gray2'>reverse</span>
      <span class='keyword'>|></span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>guards</span>
      <span class='keyword'>|></span> <span class='defFunction'>Form.</span><span class='gray2'>compile</span><span class='keyword'>!</span><span class='gray2'>(</span><span class='gray2'>state</span><span class='gray2'>)</span>
  
      <span class='defFunction'>Helpers.</span><span class='gray2'>arrow</span><span class='gray2'>_</span><span class='gray2'>function</span><span class='gray2'>(</span>
        <span class='gray2'>params</span><span class='gray'>,</span>
        <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>block</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>[</span>
              <span class='gray2'>J</span><span class='gray'>.</span><span class='gray2'>return</span><span class='gray2'>_</span><span class='gray2'>statement</span><span class='gray2'>(</span><span class='gray2'>guards</span><span class='gray2'>)</span>
            <span class='gray2'>]</span><span class='gray2'>)</span>
      <span class='gray2'>)</span>
  
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>guards</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span style='color:darkcyan;'><i>true</i></span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>guards</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>guard</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>guard</span>
    <span class='keyword'>end</span>
  
    <span class='gray2'>defp</span> <span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>guards</span><span class='gray2'>(</span><span class='gray2'>[</span><span class='gray2'>head</span> <span class='gray2'>|</span> <span class='gray2'>tail</span><span class='gray2'>]</span><span class='gray2'>)</span> <span class='keyword'>do</span>
      <span class='gray2'>{</span><span class='gray2'>{</span><span class='gray2'>:</span><span class='gray'>.</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span style='color:yellow;'>:erlang</span><span class='gray'>,</span> <span style='color:yellow;'>:orelse</span><span class='gray2'>]</span><span class='gray2'>}</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>]</span><span class='gray'>,</span> <span class='gray2'>[</span><span class='gray2'>process</span><span class='gray2'>_</span><span class='gray2'>guards</span><span class='gray2'>(</span><span class='gray2'>tail</span><span class='gray2'>)</span><span class='gray'>,</span> <span class='gray2'>head</span><span class='gray2'>]</span><span class='gray2'>}</span>
    <span class='keyword'>end</span>
  <span class='keyword'>end</span></pre>